<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#ctx.servletContext.getAttribute('version')}">
<head>
    <!-- META -->
    <link th:replace="html-commons/meta :: fg-meta"/>
    <!-- END META -->
    <!-- CSS FILES -->
    <link th:replace="html-commons/css :: fg-css"/>

    <style>
        .space-right{
            padding: 2% 3% 0 3%;
        }
        .td-min{
            font-size: 40px;
            text-align: center;
        }
        .td-min-h{
            margin-top:2%
        }
        .close {
            color: #f2594a !important;
            opacity: 2 !important;
        }
    </style>

    <!-- END CSS FILES -->
</head>
<body class="desktop-detected pace-done mobile-view-activated smart-style-2">

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="space-right">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min"> <a href="javascript:void(0)"><i class="fa fa-cloud-upload"></i></a></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min-h"><button id="btnVideos" type="button" class="btn btn-info">Vídeos</button> </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min-h"><button id="btnAudios" type="button" class="btn btn-light">Audios</button></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min-h"><button id="btnTextos" type="button" class="btn btn-light">Textos</button></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min-h"><button id="btnAdd" type="button" class="btn btn-success">Agregar Texto</button></div>
                    </div>
                </div>
                <div class="space-right">
                    <div id="registroTexto" class="row" style="padding-bottom: 3%;">

                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label>Titulo</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <input id="tTitulo" type="text" class="form-control"></input>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <button id="btnAgregar" type="button"  data-loading-text="Procesando..." class="btn btn-info">Agregar</button>
                            </div>
                            <br/><br/>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label>Descripción</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <textarea id="tDescripcion" class="form-control"></textarea>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <button id="btnCancelar" type="button"  data-loading-text="Procesando..." class="btn btn-info">Cancelar</button>
                            </div>
                    </div>
                    <div class="row">
                     <table class="table table-wrap">
                         <thead>
                         <th></th>
                         <th>#</th>
                         <th id="thTitulo"></th>
                         <th id="thTitulo2">Nombre</th>
                         <th></th>
                         </thead>
                         <tbody id="tbVideoAudio">

                         </tbody>
                     </table>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<input type="hidden" id="userSession" value="" />
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/perfect-sb/perfect-scrollbar.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/summernote/summernote.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/bootstrap-slider/bootstrap-slider.min.js}+'?'+${version}"></script>
<script th:src="@{/js/bootbox.min.js}+'?'+${version}"></script>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>
<script th:src="@{/js/misfavoritos.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("#registroTexto").hide();
    });

    /*]]>*/
</script>

</body>
</html>