<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/distribucion-mercado.css}+'?'+${version}">

    <style>
        #indicadorCirculo1,#indicadorCirculo3{
            color: #d6ff58 !important;
        }
        #indicadorCirculo2,#indicadorCirculo4{
            color: #cf3239 !important;
        }

    </style>
</head>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>
<div id="main-content">
    <div id="wrapper">
        <div>
            <header>
                <div class="text-center">
                    <button class="navbar-toggle only_mobile" onclick="showMenuMobile()"><img class="svg" th:src="@{/img/iconos/icon_hamburger.svg}+'?'+${version}"></button><a class="only_mobile" href="index.html"><img class="logo" th:src="@{/img/logo.png}+'?'+${version}" alt=""></a>
                    <h4 class="user">
                        <img class="svg"  th:src="@{/img/iconos/icon_perfil.svg}+'?'+${version}"><span class="user-full-name"></span><span id="TipoRutina">&nbsp</span></h4>
                </div>
                <br>
            </header>

                <div class="container">
                    <div class="distr-mercado">
                        <section th:if="${perfilValue}">

                        <h4 class="graph-title"> PORCENTAJE DE DISTRIBUCIÓN DE CLIENTES POR SEXO Y EDAD </h4>
                        </section>

                        <div th:unless="${perfilValue}">
                            <h4 class="graph-title">PORCENTAJE DE DISTRIBUCIÓN DE MERCADO POR SEXO Y EDAD</h4>
                        </div>

                        <section id="consolidado" style="visibility: hidden">

                        <div class="container-fluid">
                            <div class="row">
                             <div class="col-md-6">
                                <div class="distribucion-edad">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                          <div class="graph">
                                            <strong> MUJERES </strong> <strong class="fem-porc">  76% </strong>

                                            <canvas id="GraficoDistribucionMujer" height="170" width="170"></canvas>

                                            <p> EDAD PROMEDIO</p>
                                            <p class="fem-age-prom"> 37 AÑOS</p>
                                          </div>
                                        </div>

                                        <div class="col-md-6 col-xs-6">

                                          <div class="graph-porc fem-graph">
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem " th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/> </div> <div class="col-xs-3"> <p class="fem-range-porc">0% </p> </div>  <div class="col-xs-7 pad-0"> <p>(18-24 edad)</p></div> </div>
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>  </div> <div class="col-xs-3"><p class="fem-range-porc">0% </p>  </div>  <div class="col-xs-7 pad-0"><p>(25-29 edad)</p> </div> </div>
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>  </div> <div class="col-xs-3"><p class="fem-range-porc">0% </p>  </div>  <div class="col-xs-7 pad-0"><p>(30-39 edad)</p> </div> </div>
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>  </div> <div class="col-xs-3"><p class="fem-range-porc">0% </p>  </div>  <div class="col-xs-7 pad-0"><p>(40-49 edad)</p> </div> </div>
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>  </div> <div class="col-xs-3"><p class="fem-range-porc">0% </p>  </div>  <div class="col-xs-7 pad-0"><p>(50-59 edad)</p> </div> </div>
                                            <div> <div class="col-xs-2 ds-block"> <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>  </div> <div class="col-xs-3"><p class="fem-range-porc">0% </p>  </div>  <div class="col-xs-7 pad-0"><p>(60 - a más)</p> </div> </div>
                                          </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                             <div class="col-md-6">
                                 <div class="distribucion-edad">
                                     <div class="row">



                                         <div class="col-md-6 col-xs-6">

                                            <div class="graph">
                                             <strong> HOMBRES </strong> <strong class="masc-porc"> 56% </strong>
                                             <canvas id="GraficoDistribucionHombre" height="170" width="170"></canvas>

                                             <p> EDAD PROMEDIO</p>
                                             <p class="masc-age-prom"> </p>
                                            </div>
                                         </div>

                                         <div class="col-md-6 col-xs-6">
                                            <div class="graph-porc masc-graph">

                                                <div> <div class="col-xs-2 ds-block">  <img class="svg masc " th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/> </div> <div class="col-xs-3"> <p class="masc-range-porc">0%</p> </div> <div class="col-xs-7 pad-0"><p>(18-24 edad)</p></div> </div>
                                                <div> <div class="col-xs-2 ds-block"> <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>   </div> <div class="col-xs-3"> <p class="masc-range-porc">0% </p></div> <div class="col-xs-7 pad-0"><p>(25-29 edad)</p></div> </div>
                                                <div> <div class="col-xs-2 ds-block"> <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>   </div> <div class="col-xs-3"> <p class="masc-range-porc">0% </p></div> <div class="col-xs-7 pad-0"><p>(30-39 edad)</p></div> </div>
                                                <div> <div class="col-xs-2 ds-block"> <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>   </div> <div class="col-xs-3"> <p class="masc-range-porc">0%</p> </div> <div class="col-xs-7 pad-0"><p>(40-49 edad)</p></div> </div>
                                                <div> <div class="col-xs-2 ds-block"> <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>   </div> <div class="col-xs-3"> <p class="masc-range-porc">0%</p> </div> <div class="col-xs-7 pad-0"><p>(50-59 edad)</p></div> </div>
                                                <div> <div class="col-xs-2 ds-block"> <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>   </div> <div class="col-xs-3"> <p class="masc-range-porc">0%</p> </div> <div class="col-xs-7 pad-0"><p>(60 - a más)</p></div>  </div>

                                            </div>

                                         </div>

                                     </div>

                                 </div>

                             </div>

                            </div>

                            <div class="row div-graf-row-2" >

                              <div class="col-md-6">

                               <div class="row dv-distr-dpto">

                                 <div>
                                   <p class="distr-dpto-title"> DISTRIBUCIÓN DEL MERCADO POR LOCALIZACIÓN</p>
                                   <img class="svg mapa" th:src="@{/img/iconos-trainers/icon_mapa_peru.svg}+'?'+${version}"/>
                                 </div>
                                   <div class="col-md-12">

                                    <ul class="checks text-center" style="display: block;">
                                       <li>
                                            <label class="chk-content">DISTRITAL
                                              <input type="radio" class="radio" name="cbTipoLocalizacion" value="1" checked="checked"><span class="checkmark"></span>
                                            </label>
                                       </li>
                                       <li>
                                            <label class="chk-content">NACIONAL
                                             <input type="radio" class="radio" name="cbTipoLocalizacion" value="2"><span class="checkmark"></span>
                                            </label>
                                       </li>
                                    </ul>
                                 <div class="graph-distr-departamento">
                                   <canvas id="graficoDistribucionLocalizacion" height="650"></canvas>
                                 </div>
                               </div>



                               </div>

                              </div>

                                 <div class="col-md-6 separador-col">

                                       <div class="row dv-servicios">

                                        <p class="tipo-servicio-title"> SERVICIOS MÁS SOLICITADOS </p>

                                          <div class="col-md-12">
                                            <div class ="servicios-graph">
                                             <div class="tipo-servicio-porc">
                                                <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>
                                                <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>
                                             </div>
                                             <canvas id="GraficoServiciosUsados" width="600" height="450"></canvas>

                                             </div>
                                          </div>

                                        </div>


                                    <hr class="hr-servicios">

                                  <div class="row">
                                    <div class="canal-venta">

                                 <p class="canal-venta-title"> CANALES DE VENTAS MÁS USADOS</p>

                                     <div class="col-md-4">
                                        <div class="nombre-canal">


                                        </div>
                                     </div>

                                     <div class="col-md-5">
                                      <div class ="canal-graph">
                                       <canvas id="GraficoCanalesUsados" width="220" height="263"></canvas>

                                      </div>
                                     </div>
                                      <div class="col-md-3" style="padding-right: unset;">
                                          <div class ="canal-porc-sexo">
                                            <div class="col-md-6">
                                                <img class="svg fem" th:src="@{/img/iconos-trainers/icon_female_body.svg}+'?'+${version}"/>
                                                <div class="canal-porc-fem">



                                                </div>
                                            </div>

                                            <div class="col-md-6 fx-pad-porc-sexo">
                                              <img class="svg masc" th:src="@{/img/iconos-trainers/icon_male_body.svg}+'?'+${version}"/>
                                                <div class="canal-porc-masc">


                                                </div>

                                            </div>
                                          </div>
                                      </div>
                                 </div>
                               </div>
                              </div>

                              </div>




                            </div>


                            <div class="row dv-ventas-servicios ">

                               <h4 class="graph-title"> VENTAS DE SERVICIO POR TEMPORADA</h4>
                                 <div class="select-year">
                                     <select id="graphYearFilter" name="graph-year"> </select>
                                 </div>

                                <div id="chart-legends"></div>

                                 <div class="graph-servicio-temporada">
                                  <canvas id="GraficoVentasServicioTemporada" width="1050" height="400"></canvas>
                                 </div>

                            </div>



                            <div class="row">

                               <div class="dv-cond-fisica">
                                   <h4 class="graph-title text-center"> NIVEL DE CONDICIÓN FÍSICA</h4>

                                   <div class="col-md-6">
                                     <div class="row fem">
                                       <div class="col-md-4">
                                           <p class="cond-fisica-title"> BÁSICO</p>
                                           <p class="cond-fisica-porc"> 55%</p>
                                           <canvas id="GraficoCondFisFemBas" height="120" width="148"></canvas>
                                       </div>

                                       <div class="col-md-4">
                                           <p class="cond-fisica-title"> MEDIO </p>
                                           <p class="cond-fisica-porc"> 55%</p>
                                           <canvas id="GraficoCondFisFemMed" height="120" width="148"></canvas>
                                       </div>

                                        <div class="col-md-4">
                                            <p class="cond-fisica-title"> AVANZADO </p>
                                            <p class="cond-fisica-porc"> 55%</p>
                                            <canvas id="GraficoCondFisFemAvanz" height="120" width="148"></canvas>
                                        </div>


                                     </div>
                                   </div>
                                    <div class="col-md-6">

                                       <div class="row masc">
                                           <div class="col-md-4">
                                               <p class="cond-fisica-title"> BÁSICO </p>
                                               <p class="cond-fisica-porc"> 55%</p>
                                               <canvas id="GraficoCondFisMascBas" height="120" width="148"></canvas>
                                           </div>

                                           <div class="col-md-4">
                                               <p class="cond-fisica-title">  MEDIO </p>
                                               <p class="cond-fisica-porc"> 55%</p>
                                               <canvas id="GraficoCondFisMascMed" height="120" width="148"></canvas>
                                           </div>

                                           <div class="col-md-4">
                                               <p class="cond-fisica-title"> AVANZADO </p>
                                               <p class="cond-fisica-porc"> 55%</p>
                                               <canvas id="GraficoCondFisMascAvanz" height="120" width="148"></canvas>
                                           </div>


                                       </div>

                                    </div>
                                   </div>
                            </div>

                            <div class="row">
                              <div class="dv-vistas">
                                  <h5 class="text-center"> CANTIDAD DE VISTAS EN LA PLATAFORMA : <strong> 36747 </strong> </h5>
                              </div>
                            </div>

                        </section>


                    </div>

                  </div>
        </div>
    </div>

</div>




<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<!-- CUSTOM NOTIFICATION -->

<script th:src="@{/js/jquery.knob.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/chartjs/chart.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/chartjs/chartjs-plugin-datalabels.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/underscore/underscore.js}+'?'+${version}"></script>
<script th:inline="javascript" th:src="@{/js/distribucion_mercado.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var perfil = /*[[${perfilValue}]]*/ 0;
    /*]]>*/
</script>


</body>

</html>
