<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#ctx.servletContext.getAttribute('version')}">
<head>
    <!-- META -->
    <link th:replace="html-commons/meta :: fg-meta"/>
    <!-- END META -->
    <!-- CSS FILES -->
    <link th:replace="html-commons/css :: fg-css"/>
    <!-- END CSS FILES -->
</head>
<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }
    .margin-o-bottom-5{
        margin-bottom: 5px !important;
    }

    .barra-indic-porc{
        border: 2px solid #c7e2ca;
        border-radius: 0 15px 15px 0;
    }

    .title-region{
        color: #303030 !important;
        font-weight: bold;
    }

    .txt-color-white{
        color: white !important;
    }
</style>
<body class="desktop-detected pace-done mobile-view-activated smart-style-2">

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->
<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa-file-sound-o fa-fw"></i>
                                    Gestión
                                    <span>>
											<b>Estadísticas</b>
										</span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="#" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list" style="background: url(/img/fondo_graphs.png);padding: 20px">
                    <h1 class="text-center" style="padding-bottom: 25px">% DISTRIBUCIÓN DEL MERCADO POR LOCALIZACIÓN</h1>
                    <div class="col col-sm-12" style="padding-bottom: 20px">
                        <div class="col-sm-6 text-center">
                            <a href="#" style="margin-right: 55px">Regional</a>
                            <a href="#" style="border-bottom: 4px solid #73f194">Nacional</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="chartdiv"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Lima: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 145px;background-color: rgba(229, 170, 152, 1)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">30.45 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Callao: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 90px;background-color: rgba(229, 170, 152, 0.9)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">15.55 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Arequipa: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 76px;background-color: rgba(229, 170, 152, 0.8)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">  14.29 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Tacna: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 62px !important;background-color: rgba(229, 170, 152, 0.7)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">12.56 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Cajamarca: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 52px !important;background-color: rgba(229, 170, 152, 0.6)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">10.45 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Piura: </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 42px !important;background-color: rgba(229, 170, 152, 0.5)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">8.23 %</div>
                        </div>
                        <div class="col-sm-12 margin-o-bottom-5">
                            <div class="col-sm-4 text-right title-region txt-color-white">Cusco:</div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 barra-indic-porc" style="height: 20px;width: 26px !important;background-color: rgba(229, 170, 152, 0.4)"></div>
                            </div>
                            <div class="col-sm-2 txt-color-blueDark" style="font-weight: bold;">6.23 %</div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h1 class="text-center" style="padding-bottom: 25px">VENTAS DE SERVICIOS POR TEMPORADA</h1>
                    <div class="col col-sm-12" style="padding-bottom: 20px">
                        <div class="col-sm-6 text-left">
                            <a href="#" style="margin-right: 35px">2016</a>
                            <a href="#" style="margin-right: 35px">2017</a>
                            <a href="#" style="margin-right: 35px">2018</a>
                            <a href="#" style="border-bottom: 4px solid #73f194">2019</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <canvas id="GraficoTemporada" width="1000px" height="350" th:style="'background:url(' + @{/img/fondo_graphs.png} + ');'"></canvas>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h1 class="text-center" style="padding-bottom: 25px">% CANALES DE VENTAS MÁS USADOS</h1>
                    <div class="col-md-12">
                        <canvas id="GraficoCanalesUsados" width="1000px" height="350" th:style="'background:url(' + @{/img/fondo_graphs.png} + ');'"></canvas>
                    </div>
                </div>
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- MODALS -->
<!-- END MODALS -->
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->

<script th:replace="html-commons/js :: fg-js"/>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<!--<script src="https://www.amcharts.com/lib/version/4.1.9/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.1.9/charts.js"></script>
<script src="https://www.amcharts.com/lib/version/4.1.9/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/version/4.1.9/lang/de_DE.js"></script>-->
<script src="https://www.amcharts.com/lib/4/geodata/region/usa/caLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/peruHigh.js"></script>
<script th:src="@{/js/plugin/chartjs/chart.min.js}+'?'+${version}"></script>

<script th:src="@{/js/amcharts-map/peruHigh.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $yelmo = {};

    $(function () {

        pageSetUp();

        graficoMapaPeru();
        graficoBarraVentaServiciosTemporada();
        graficoCanalesUsados();

    });

    function graficoMapaPeru(){

        // Create map instance
        var chart = am4core.create("chartdiv", am4maps.MapChart);

        // Set map definition
        chart.geodata = am4geodata_peruHigh;
        chart.geodata.features.map((v,i) => v.properties.fill = "rgba(229, 170, 152, 0."+(i == 0 ? 2 : i)*1+")");
        console.log(chart.geodata.features);

        // Set projection
        chart.projection = new am4maps.projections.Miller();

        // Create map polygon series
        var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

        // Exclude Antartica
        /*polygonSeries.exclude = ["PE-LOR"];*/

        // Make map load polygon (like country names) data from GeoJSON
        polygonSeries.useGeodata = true;

        polygonSeries.data = [{
            "id": "PE-LIM",
            "selected": true,
            "customData": 1900,
            "fill": am4core.color("#F05C5C"),
            "cantidad": 1000
        },
            {
                "id": "PE-ARE",
                "selected": true,
                "customData": 1900,
                "fill": am4core.color("#F05C5C"),
                "cantidad": 2000
            }];
        // Configure series
        var polygonTemplate = polygonSeries.mapPolygons.template;
        polygonTemplate.tooltipText = "{name}: {cantidad}";
        polygonTemplate.propertyFields.fill = "fill";
    }

    function graficoBarraVentaServiciosTemporada(){
        var ctx = document.getElementById("GraficoTemporada").getContext("2d");

        var data = {
            labels: ["ENE", "FEB", "MAR", "ABR", "MAY", "JUN", "JUL", "AGO", "SET", "OCT", "NOV", "DIC"],
            datasets: [
                {
                    label: "Hombres",
                    backgroundColor: "#a6fb00",
                    data: [123, 167, 123, 167, 123, 167, 123, 167, 123, 167, 123, 167]
                }, {
                    label: "Mujeres",
                    backgroundColor: "#cf3239",
                    data: [144, 80, 144, 80, 144, 80, 144, 80, 144, 80, 144, 80]
                }
            ]
        };

        const myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }],
                    xAxes: [{
                        barThickness : 20
                    }]
                },
                hover:{
                    mode: 'nearest',
                    intersect: true
                }
            }
        });

        Chart.elements.Rectangle.prototype.draw = function() {

            var ctx = this._chart.ctx;
            var vm = this._view;
            var left, right, top, bottom, signX, signY, borderSkipped, radius;
            var borderWidth = vm.borderWidth;
            // Set Radius Here
            // If radius is large enough to cause drawing errors a max radius is imposed
            var cornerRadius = 20;

            if (!vm.horizontal) {
                // bar
                left = vm.x - vm.width / 2;
                right = vm.x + vm.width / 2;
                top = vm.y;
                bottom = vm.base;
                signX = 1;
                signY = bottom > top? 1: -1;
                borderSkipped = vm.borderSkipped || 'bottom';
            } else {
                // horizontal bar
                left = vm.base;
                right = vm.x;
                top = vm.y - vm.height / 2;
                bottom = vm.y + vm.height / 2;
                signX = right > left? 1: -1;
                signY = 1;
                borderSkipped = vm.borderSkipped || 'left';
            }

            // Canvas doesn't allow us to stroke inside the width so we can
            // adjust the sizes to fit if we're setting a stroke on the line
            if (borderWidth) {
                // borderWidth shold be less than bar width and bar height.
                var barSize = Math.min(Math.abs(left - right), Math.abs(top - bottom));
                borderWidth = borderWidth > barSize? barSize: borderWidth;
                var halfStroke = borderWidth / 2;
                // Adjust borderWidth when bar top position is near vm.base(zero).
                var borderLeft = left + (borderSkipped !== 'left'? halfStroke * signX: 0);
                var borderRight = right + (borderSkipped !== 'right'? -halfStroke * signX: 0);
                var borderTop = top + (borderSkipped !== 'top'? halfStroke * signY: 0);
                var borderBottom = bottom + (borderSkipped !== 'bottom'? -halfStroke * signY: 0);
                // not become a vertical line?
                if (borderLeft !== borderRight) {
                    top = borderTop;
                    bottom = borderBottom;
                }
                // not become a horizontal line?
                if (borderTop !== borderBottom) {
                    left = borderLeft;
                    right = borderRight;
                }
            }

            ctx.beginPath();
            ctx.fillStyle = vm.backgroundColor;
            ctx.strokeStyle = vm.borderColor;
            ctx.lineWidth = borderWidth;

            // Corner points, from bottom-left to bottom-right clockwise
            // | 1 2 |
            // | 0 3 |
            //bottom = bottom + 20;
            var corners = [
                [left, bottom],
                [left, top],
                [right, top],
                [right, bottom]
            ];

            // Find first (starting) corner with fallback to 'bottom'
            var borders = ['bottom', 'left', 'top', 'right'];
            var startCorner = borders.indexOf(borderSkipped, 0);
            if (startCorner === -1) {
                startCorner = 0;
            }

            function cornerAt(index) {
                return corners[(startCorner + index) % 4];
            }

            // Draw rectangle from 'startCorner'
            var corner = cornerAt(0);
            ctx.moveTo(corner[0], corner[1]);

            for (var i = 1; i < 4; i++) {
                corner = cornerAt(i);
                nextCornerId = i+1;
                if(nextCornerId == 4){
                    nextCornerId = 0
                }

                nextCorner = cornerAt(nextCornerId);

                width = corners[2][0] - corners[1][0];
                height = corners[0][1] - corners[1][1];
                x = corners[1][0];
                y = corners[1][1];

                var radius = cornerRadius;

                // Fix radius being too large
                if(radius > height/2){
                    radius = height/2;
                }if(radius > width/2){
                    radius = width/2;
                }

                if(!vm.horizontal){
                    ctx.moveTo(x + radius, y);
                    ctx.lineTo(x + width - radius, y);
                    ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
                    ctx.lineTo(x + width, y + height);
                    ctx.quadraticCurveTo(x + width, y + height, x + width, y + height);
                    ctx.lineTo(x, y + height);
                    ctx.quadraticCurveTo(x, y + height, x, y + height);
                    ctx.lineTo(x, y + radius);
                    ctx.quadraticCurveTo(x, y, x + radius, y);
                }else{
                    ctx.moveTo(x + radius, y);
                    ctx.lineTo(x + width - radius, y);
                    ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
                    ctx.lineTo(x + width, y + height - radius);
                    ctx.quadraticCurveTo(x + width, y + height, x + width - radius, y + height);
                    ctx.lineTo(x, y + height);
                    ctx.quadraticCurveTo(x, y + height, x, y + height);
                    ctx.lineTo(x, y);
                    ctx.quadraticCurveTo(x, y, x, y);
                }
            }

            ctx.fill();
            if (borderWidth) {
                ctx.stroke();
            }
        };

    }

    function graficoCanalesUsados(){
        //GraficoCanalesUsados
        var ctx = document.getElementById("GraficoCanalesUsados").getContext("2d");
        var data = {
            labels: [
                "Por recomendación",
                "Vía correo",
                "Google",
                "Facebook",
                "Twitter",
                "Instagram",
                "Otro"
            ],
            datasets: [
                {
                    label: "Hombres",
                    data: [100, 75, 50, 25, 15, 10, 5],
                    backgroundColor: "#a6fb00"
                },
                {
                    label: "Mujeres",
                    data: [5, 10, 15, 25, 50, 75, 100],
                    backgroundColor: "#cf3239"
                }]
        };

        const myBarChartHoriz = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                    yAxes: [{
                        barThickness : 20
                    }]
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                tooltips: {
                    mode: 'nearest'
                }

            }
        });
    }
    /*]]>*/
</script>

</body>

</html>
