<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
</head>
<body class="desktop-detected pace-done mobile-view-activated smart-style-1">

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->
<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa-file-sound-o fa-fw"></i>
                                    Gestión
                                    <span>>
											<b>Audio</b>
										</span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="#" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list">
                    <div class="col-sm-12">
                        <div id="accordion" class="panel-group">
                            <form id="frm_busqueda">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-1  control-label-left"
                                               for="txtFiltro"><b>Nombre:</b></label>
                                        <div class="col-md-3">
                                            <input name="Filtro" id="txtFiltro" type="text"
                                                   class="form-control input-sm ignore" maxlength="50"
                                                   placeholder="Ingresa un nombre"/>
                                        </div>
                                        <label class="col-md-1 control-label-left"
                                               ><b>Estado:</b></label>
                                        <div class="col-md-2 mrg">
                                            <select name="Estado" id="Estado" class="form-control input-sm ignore">
                                                <option value="-1">-- Todos --</option>
                                                <option value="true">Activo</option>
                                                <option value="false">Inactivo</option>
                                            </select>
                                        </div>
                                        <label class="col-md-1 control-label-left"
                                              ><b>Tipo:</b></label>
                                        <div class="col-md-2 mrg">
                                            <select name="TipoAudio" id="TipoAudio"
                                                    class="form-control input-sm ignore">
                                                <option value="">-- Todos --</option>
                                                <option th:each="ta : ${lstTipoAudio}" th:value="${ta.id}"
                                                        th:text="${ta.nombre}"/>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="btnFiltrar" type="button" class="btn btn-primary"
                                                    title="Buscar"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table id="tblRegistros" data-mobile-responsive="true" class="">
                            <thead>
                            <tr>
                                <th data-field="id" data-halign="center" data-valign="middle" data-align="center"
                                    data-width="30" data-title="Código"></th>
                                <th data-field="nombre" data-formatter="linkFormatter" data-halign="left"
                                    data-valign="middle" data-align="left" data-title="Nombre"></th>
                                <th data-field="descripcion" data-halign="left" data-valign="middle" data-align="left"
                                    data-title="Descripcion"></th>
                                <th data-field="duracion" data-halign="left" data-valign="middle" data-align="left"
                                    data-title="Duración"></th>
                                <th data-field="tipoAudio.nombre" data-halign="left" data-valign="middle"
                                    data-align="left" data-width="120" data-title="Tipo"></th>
                                <th data-formatter="isActived" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="80" data-class="td-status" data-title="Estado"></th>
                                <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="120" data-title="Acciones"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" id="view_register">
                    <div class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                             data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-ge"></i> </span>
                                <!-- Tittle form -->
                                <h2><strong><span id="Operacion">Registrar</span></strong></h2>
                            </header>
                            <div>
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <form id="frm_registro" class="smart-form">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Nombre: </label>
                                                    <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                        <input id="Nombre" name="Nombre" type="text"
                                                               placeholder="Nombre" class="" maxlength="144"
                                                               autocomplete="off"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        <input id="Id" name="Id" type="hidden" value="0"/>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Audio: <span id="Archivo"
                                                                                      class="pull-right margin-right-5 hidden"><a
                                                            data-toggle="modal" data-target="#myModalAudio"
                                                            title="Reproducir" href="#"
                                                            onclick="reproducirAudioModal();" data-route=""><i
                                                            class="fa fa-play-circle fa-15x"></i></a></span></label>
                                                    <label class="input"><i class="icon-append fa fa-music"></i>
                                                        <input id="Audio" name="Audio" accept=".mp3" type="file"
                                                               class="form-control" data-show-preview="false"
                                                               data-language="es" data-show-upload="false"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        <div class="alert alert-success hidden" id="MsgEditarArchivo">
                                                            <em style="color: #666; font-weight: bold;">Seleccionar
                                                                archivo solo en caso se quiera reemplazar el actual</em>
                                                        </div>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="col col-sx-12 col-sm-12 col-md-12 col-lg-12">
                                                    <section class="">
                                                        <label class="label">Descripción: </label>
                                                        <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                            <input id="Descripcion" name="Descripcion" type="text"
                                                                   placeholder="Descripción" maxlength="255"
                                                                   required="required"/>
                                                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        </label>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Tipo: </label>
                                                    <label class="input">
                                                        <select id="TipoAudioId" name="TipoAudioId"
                                                                class="form-control">
                                                            <option value="">-- Seleccione --</option>
                                                            <option th:each="ta : ${lstTipoAudio}" th:value="${ta.id}"
                                                                    th:text="${ta.nombre}"/>
                                                        </select>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">Peso: </label>
                                                    <label class="input">
                                                        <input id="Peso" name="Peso" type="text" placeholder="Peso"
                                                               class="" maxlength="10" autocomplete="off"
                                                               readonly="readonly"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">Duracion: </label>
                                                    <label class="input">
                                                        <input id="Duracion" name="Duracion" type="text"
                                                               placeholder="Duración" class="" maxlength="8"
                                                               autocomplete="off" readonly="readonly"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <input type='checkbox' name="BgAudio" id="BgAudio"/><label
                                                        style="background-color: green;color: white;font-weight: bold;"
                                                        for="BgAudio">BG Verde</label>
                                                </section>
                                                <section class="col col-6">
                                                    <div class="inline-group">
                                                        <label class="label">Estado Inicial: </label>
                                                        <label class="radio">
                                                            <input type="radio" id="FlagActivo" name="FlagActivo"
                                                                   checked="checked"/>
                                                            <i></i>Activo</label>
                                                        <label class="radio">
                                                            <input type="radio" id="FlagActivoOff" name="FlagActivo"/>
                                                            <i></i>Inactivo</label>
                                                    </div>
                                                </section>
                                                <audio id="Tiempo"></audio>
                                            </div>
                                        </fieldset>
                                        <footer class="">
                                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar
                                            </button>
                                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- MODALS -->
<!-- MODAL REPRODUCCION DE AUDIO -->
<div class="modal fade" id="myModalAudio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
            <div class="text-align-center" style="padding-top: 200px;">
                <audio id="someaud" controls="" controlsList="nodownload" autoplay="" width="100%" height="100%">
                    <source id="AudioReproduccion" src="" type="audio/mpeg"/>
                </audio>
            </div>
        </div>
    </div>
</div>
<!-- FINAL MODAL REPRODUCCION DE AUDIO -->
<!-- END MODALS -->
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->

<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<div id="shortcut">
    <ul>
        <li>
            <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i
                    class="fa fa-envelope fa-4x"></i> <span>Mail <span
                    class="label pull-right bg-color-darken">14</span></span> </span> </a>
        </li>
        <li>
            <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i
                    class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
        </li>
        <li>
            <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i
                    class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i
                    class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span>
            </a>
        </li>
        <li>
            <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i
                    class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i
                    class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>

<!-- END SHORTCUT AREA -->

<script th:replace="html-commons/js :: fg-js"/>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var $table = $('#tblRegistros');
    var $index = $('#Id');

    $(function () {

        pageSetUp();
        listarRegistros();
        subirAudioChangeEvent();

        //V A L I D A T E
        validarRegistros();

        $("#btnNuevo").click(function () {
            $('#Operacion').text('Registrar');
            $('#Archivo').addClass('hidden');
            $('#MsgEditarArchivo').addClass('hidden');
            irRegistro();
        });

        $("#btnGuardar").click(function () {
            registro();
        });

        $("#btnCancelar").click(function () {
            irListado($index);
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $('#Tiempo').on('canplaythrough', function (e) {
            document.getElementById('Duracion').value = String(Math.round(e.currentTarget.duration)).toHHMMSS();
        });

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });
    });

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {

            $table.bootstrapTable('destroy');
            var dataRpta;

            var comodin = $("#txtFiltro").val();
            var estado = $("#Estado").val();
            var tipoAudio = $('#TipoAudio').val();

            if (comodin == null || comodin == "") {
                comodin = "0";
            }
            if (estado == null) {
                estado = "-1";
            }
            if (tipoAudio == null || tipoAudio == "") {
                tipoAudio = "0";
            }
            //Dem
            $table.bootstrapTable({
                url: _ctx + 'gestion/audio/obtenerListado/' + comodin + '/' + estado + '/' + tipoAudio,
                pagination: true,
                sidePagination: 'client',
                pageSize: 10,
                onLoadSuccess: d => {
                },
                onLoadError: function (xhr, ajaxOptions, thrownError) {
                    exception(xhr);
                },
            });
        }
    }

    function registro() {
        if ($("#frm_registro").valid()) {
            var params = getFormData($('#frm_registro'));
            params.flagActivo = $('#FlagActivo').is(':checked');

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/audio/agregar',
                dataType: "json",
                data: params,
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-9") {
                            $.smallBox({
                                content: "<i> La operación ha fallado debido a que el nombre de cliente ya existe en el sistema...</i>",
                                timeout: 4500,
                                color: "alert",
                            });
                        }
                        if (params.id > 0) {
                            $.smallBox({
                                content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",
                            });
                        }
                        subirAudio(data, params.id);
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    limpiarBusqueda();
                }
            });
        }
    }

    function editar(id) {
        irRegistro();
        $('#MsgEditarArchivo').removeClass('hidden');
        $('#Operacion').text('Actualizar');
        var param = new Object();
        param.id = id;

        $("#load_pace").show();
        $.ajax({
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: _ctx + 'gestion/audio/obtener',
            dataType: "json",
            data: param,
            success: function (data, textStatus) {
                if (textStatus == "success") {
                    $("#Id").val(data.id);
                    $("#TipoAudioId").val(data.tipoAudio.id);
                    $("#Nombre").val(data.nombre);
                    $("#Descripcion").val(data.descripcion);
                    $("#Duracion").val(data.duracion);
                    $("#Peso").val(data.peso);
                    data.flagActivo === true ?
                        $('#FlagActivo').prop('checked', true)
                        :
                        $('#FlagActivoOff').prop('checked', true);

                    $('#MsgEditarArchivo').attr('display', '');
                    $('#Archivo').attr('data-route', data.rutaWeb);
                    $('#Archivo').removeClass('hidden');
                }
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {
                limpiarBusqueda();
            }
        });
    }

    function subirAudio(id, initId) {
        var audio = $("#Audio").get(0);

        var files = audio.files;
        if (files[0] != null) {

            var data = new FormData();
            data.append("audio", audio.files[0]);
            data.append("audioId", id);

            $.ajax({
                type: 'POST',
                url: _ctx + 'gestion/audio/upload',
                data: data,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', progress, false);
                    }
                    return myXhr;
                },
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-99") {
                            $.smallBox({content: "El archivo no ha podido ser guardado debido a que excede los límites permitidos de la aplicación, que son 5MB en caso sea un solo archivo y si son más de 2, como máximo en conjunto no deben exceder a 10MB. Para mayor información comunicarse con el administrador."});
                        }
                        if (initId <= 0)
                            $.smallBox({});
                        else
                            $.smallBox({content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",});
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    listarRegistros();
                    irListado($index);
                }
            });
        } else {
            irListado($index);
            listarRegistros();
        }
    }

    function desactivar(id, ix) {
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        $.SmartMessageBox({
            title: '<i class="fa fa-exclamation-triangle" style="color: yellow"></i> RUNFIT',
            content: "<br/>¿Quieres activar o desactivar el registro?",
            buttons: '[No][Si]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "Si") {
                var params = {};
                params.id = id;
                params.flagActivo = actualStatus == "Activo" ? false : true;

                $.ajax({
                    type: 'PUT',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    url: _ctx + 'gestion/audio/desactivar',
                    dataType: "json",
                    data: params,
                    success: function (data, textStatus) {
                        if (textStatus == "success") {
                            $.smallBox({
                                content: "<i> Se actualizó el registro...</i>",
                            });

                            actualStatus == "Activo" ?
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-danger">Inactivo</span>'
                                :
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        exception(xhr);
                    },
                    complete: function (data) {
                        limpiarBusqueda();
                    }
                });
            } else {
            }
        })
    }

    function goPlayAudio(id) {

        $yourAudio = $('#yourAudio' + id);
        var $ctrl = $('#audioControl' + id);

        if ($ctrl.attr('class') == "fa fa-play-circle fa-2x") {
            $ctrl.attr('class', 'fa fa-pause fa-2x');
            $yourAudio[0].play();
        }
        else if ($ctrl.attr('class') == "fa fa-pause fa-2x") {
            $ctrl.attr('class', 'fa fa-play-circle fa-2x');
            $yourAudio[0].pause();
        }

        $yourAudio.on('ended', function () {
            $ctrl.attr('class', 'fa fa-play-circle fa-2x');
        })

    }

    function subirAudioChangeEvent() {

        $("#Audio").change(function () {
            //submit the form here
            var file;
            if ((file = this.files[0])) {
                var obUrl;
                //check file extension for audio/video type
                if (file.name.match(/\.(avi|mp3|mp4|mpeg|ogg|mpeg4|mpg|wmv)$/i)) {
                    objUrl = URL.createObjectURL(file);
                    document.getElementById('Tiempo').setAttribute('src', objUrl);
                    $('#Peso').val(formatBytes(file.size, 2));
                }
            }
        });
    }

    function linkFormatter(value, row, index) {
        return `<a href="javascript:void(0);" onclick="javascript:editar(${row.id})" title="Editar">${row.nombre}</a>`;
    }


    function Opciones(value, row, index) {
        var opciones = `<a href='#' onclick='javascript:desactivar(${row.id},${index});' title='Actualizar estado'><i class='fa fa-refresh fa-2x'></i></a> &nbsp
		                			 <audio src='/workout/media/audio${row.rutaWeb}' style='display:none;' id='yourAudio${row.id}' preload='none' controls='controls'></audio><a href='#' title='Reproducir audio'><span onclick='javascript:goPlayAudio(${row.id})' id='audioControl${row.id}' class='fa fa-play-circle fa-2x'></span></a> &nbsp
		                			 <a href='/workout/media/audio/gt${row.rutaWeb}' title='Descargar audio'><i class='fa fa-download fa-2x'></i></a> &nbsp`;
        return opciones;
    }

    function reproducirAudioModal() {
        let route = $('#Archivo').attr('data-route');
        $('#AudioReproduccion').get(0).src = `${_ctx}workout/media/audio${route}`;
        $("#AudioReproduccion").parent().get(0).load();
    }

    function isActived(value, row, index) {
        if (row.flagActivo) {
            return '<span class="label label-success">Activo</span>';
        } else {
            return '<span class="label label-danger">Inactivo</span>';
        }
    }

    $.validator.addMethod("extension", function (value, element, param) {
        param = typeof param === "string" ? param.replace(/,/g, "|") : "mp3";
        return this.optional(element) || value.match(new RegExp("\\.(" + param + ")$", "i"));
    }, $.validator.format("Solo se permiten archivos mp3"));

    function validarRegistros() {
        $("#frm_registro").validate({
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                Nombre: {
                    required: true,
                    maxlength: $("#Nombre").prop("maxlength"),
                },
                Audio: {
                    required: () => {
                        return $('#Id').val() > 0 ? false : true;
                    },
                    extension: "mp3",
                },
                Peso: {
                    required: true,
                },
                TipoAudioId: {
                    required: true,
                    digits: true,
                }
            },
            messages: {
                Nombre: {
                    required: "El campo es obligatorio",
                    maxlength: $.validator.format("Este campo debe de tener como máximo {0} caracteres.")
                },
                Descripcion: {
                    required: "El campo es obligatorio",
                    maxlength: $.validator.format("Este campo debe de tener como máximo {0} caracteres.")
                },
                Audio: {
                    required: "La subida del audio es obligatorio",
                },
                Peso: {
                    required: "Adjunte el audio y el campo se llenará",
                },
                TipoAudioId: {
                    required: "El campo es obligatorio",
                    digits: "Seleccione un tipo de audio válido",
                }
            },
            submitHandler: function () {
                registro();
            }
        });
    }
    /*]]>*/
</script>

</body>

</html>
