<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
</head>

<body class="desktop-detected pace-done mobile-view-activated smart-style-2">
<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa fa-book fa-fw "></i>
                                    Gestión
                                    <span>><b>Categoría Ejercicios</b>
                                    </span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="#" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list">
                    <div class="col-sm-12">
                        <div id="accordion" class="panel-group">
                            <form id="frm_busqueda">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-1  control-label-left"
                                               for="txtFiltro"><b>Nombre:</b></label>
                                        <div class="col-md-3">
                                            <input id="txtFiltro" type="text" placeholder="Búsqueda por nombre"
                                                   class="form-control"/></div>
                                        <label class="col-md-1 control-label-left"><b>Estado:</b></label>
                                        <div class="col-md-2 mrg">
                                            <select name="Estado" id="Estado" class="form-control input-sm ignore">
                                                <option value="-1"> -- Todos --</option>
                                                <option value="true">Activo</option>
                                                <option value="false">Inactivo</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <a id="btnFiltrar" href="#" class="btn btn-primary" title="Buscar"><i
                                                    class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table id="tblRegistros" data-mobile-responsive="true">
                            <thead>
                            <tr>
                                <th data-field="id" data-halign="center" data-valign="middle" data-align="center" data-width="20">
                                    Código
                                </th>
                                <th data-field="nombre" data-formatter="linkFormatter" data-halign="left"
                                    data-valign="middle" data-align="left">Nombre
                                </th>
                                <th data-formatter="isActived" data-halign="center" data-valign="middle"
                                    data-align="center" data-class="td-status" data-width="60">Estado
                                </th>
                                <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="120">Acciones
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" id="view_register">
                    <div class="col-sm-7 col-md-7 col-lg-7 sortable-grid ui-sortable">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                             data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-ge"></i> </span>
                                <!-- Tittle form -->
                                <h2><strong><span id="Operacion">Registrar</span></strong></h2>
                            </header>
                            <div>
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <form id="frm_registro" class="smart-form">
                                        <fieldset class="">
                                            <section class="">
                                                <label class="label">Nombre: </label>
                                                <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                    <input id="Nombre" name="Nombre" type="text" placeholder="Nombre"
                                                           class="" maxlength="30" autocomplete="off"/>
                                                    <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    <input id="Id" name="Id" type="hidden" value="0"/>
                                                    <input id="NombreMedia" type="hidden" value=""/>
                                                </label>
                                            </section>
                                            <section class="">
                                                <label class="label">Imagen: </label>
                                                <div class="input input-file">
                                                    <label class="input"><i class="icon-append fa fa-image"></i>
                                                        <input id="UploadImage" name="UploadImage" type="file"
                                                               accept=".jpg,.jpeg,.png" class="form-control"
                                                               data-show-preview="false" data-language="es"
                                                               data-show-upload="false"/>
                                                        <div class="alert alert-success hidden" id="MsgEditarArchivo">
                                                            <em style="color: #666; font-weight: bold;">Seleccionar
                                                                imagen solo en caso se quiera reemplazar la actual</em>
                                                        </div>
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="">
                                                <div class="inline-group">
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivo" name="FlagActivo"
                                                               checked="checked"/>
                                                        <i></i>Activo</label>
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivoOff" name="FlagActivo"/>
                                                        <i></i>Inactivo</label>
                                                </div>
                                            </section>
                                            <section class="text-align-center">

                                            </section>
                                        </fieldset>
                                        <footer class="">
                                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar
                                            </button>
                                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 text-align-center">
                        <img id="ImagenCategoria" align="middle" alt="Wildcard Image" src="/img/upload-empty.png"
                             class="img-thumbnail" width="85%" height="252"/>
                    </div>
                </div>
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- MODALS -->
<!-- MODAL VISUALIZACION IMAGEN-->
<div class="modal fade" id="myModalImagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-align-center">
                    <img id="ImagenVisualizacion" style="width: 100%;" src=""/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-circle" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
        </div>

    </div>
</div>
<!-- FINAL MODAL VISUALIZACION IMAGEN-->
<!-- END MODALS -->
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->

<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<div id="shortcut">
    <ul>
        <li>
            <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i
                    class="fa fa-envelope fa-4x"></i> <span>Mail <span
                    class="label pull-right bg-color-darken">14</span></span> </span> </a>
        </li>
        <li>
            <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i
                    class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
        </li>
        <li>
            <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i
                    class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i
                    class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span>
            </a>
        </li>
        <li>
            <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i
                    class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i
                    class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>
<!-- END SHORTCUT AREA -->
<script th:replace="html-commons/js :: fg-js"/>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var $table = $('#tblRegistros');
    var $index = $('#Id');

    $(function () {

        pageSetUp();
        listarRegistros();
        subirImagen();

        //V A L I D A T E
        validarRegistros();

        $("#btnNuevo").click(function () {
            $('#ImagenCategoria').attr('src',_ctx+'img/upload-empty.png');
            $('#Operacion').text('Registrar');
            $('#DescargarImagenFromForm').attr('hidden', 'hidden');
            $('#MsgEditarArchivo').addClass('hidden');
            irRegistro();
        });

        $("#btnGuardar").click(function () {
            registro();
        });

        $("#btnCancelar").click(function () {
            irListado($index);
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });

        $('#DescargarImagenFromForm').click(function () {
            var nameMedia = $('#NombreMedia').val();
            $('#DescargarImagenFromForm').attr('href', _ctx + `workout/media/image/categoria-ejercicio/gt/0/${nameMedia}`);
        });

    });

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {

            $table.bootstrapTable('destroy');

            var comodin = $("#txtFiltro").val();
            var estado = $("#Estado").val();

            if (comodin == null || comodin == "") {
                comodin = "0";
            }
            if (estado == null) {
                estado = "-1";
            }

            $table.bootstrapTable({
                url: _ctx + 'gestion/categoria-ejercicio/obtenerListado/' + comodin + '/' + estado,
                pagination: true,
                sidePagination: 'client',
                pageSize: 10,
                onLoadSuccess: d => {
                },
                onLoadError: function (xhr) {
                    exception(xhr);
                },
            });
        }
    }

    function registro() {
        if ($("#frm_registro").valid()) {
            var $btn = $("#btnGuardar");
            var params = getFormData($("#frm_registro"))
            params.flagActivo = $('#FlagActivo').is(':checked');

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/categoria-ejercicio/agregar',
                dataType: "json",
                data: params,
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        let res = getResponseCodeWithId(data);
                        if (ResponseCode.EX_NULL_POINTER == data) {
                            $.smallBox({color: "alert", content: "<i> La operación ha fallado, comunícarse con el administrador...</i>",});
                        } else if (res.code == "-2" || res.code == "-1") {//0: Codigo response | 1: Id del registro actualizado
                            addImage(data.split(',')[1], params.id);
                        }
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    limpiarBusqueda();
                }
            });
        }
    }

    function editar(id) {
        $('#Operacion').text('Actualizar');
        $('#MsgEditarArchivo').removeClass('hidden');
        irRegistro();
        var param = new Object();
        param.id = id;

        $.ajax({
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: _ctx + 'gestion/categoria-ejercicio/obtener',
            dataType: "json",
            data: param,
            success: function (data, textStatus) {
                if (textStatus == "success") {
                    $("#Id").val(data.id);
                    $("#Nombre").val(data.nombre);
                    data["flagActivo"] === true ?
                        $('#FlagActivo').prop('checked', true)
                        :
                        $('#FlagActivoOff').prop('checked', true);
                    //Previsualizando la imagen
                    $('#ImagenCategoria').attr('src', `${_ctx}workout/media/image/categoria-ejercicio/gt/1${data.rutaWeb}`);
                }
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {
                $('#DescargarImagenFromForm').removeAttr('hidden');
                limpiarBusqueda();
            }
        });
    }

    function desactivar(id, ix) {
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Workout Notification",
            content: "<br/>¿Quieres activar o desactivar el registro?",
            buttons: '[No][Si]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "Si") {
                var params = {};
                params.id = id;
                params.flagActivo = actualStatus == "Activo" ? false : true;

                $.ajax({
                    type: 'PUT',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    url: _ctx + 'gestion/categoria-ejercicio/desactivar',
                    dataType: "json",
                    data: params,
                    success: function (data, textStatus) {
                        if (textStatus == "success") {
                            $.smallBox({
                                content: "<i> Se actualizó el registro...</i>",
                            });

                            actualStatus == "Activo" ?
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-danger">Inactivo</span>'
                                :
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                        }
                    },
                    error: function (xhr) {
                        exception(xhr);
                    },
                    complete: function () {
                        limpiarBusqueda();
                    }
                });
            } else {
            }
        })
    }

    function visualizar(rutaWeb) {
        $('#ImagenVisualizacion').attr('src', _ctx + 'workout/media/image/categoria-ejercicio/gt/1/' + rutaWeb);
    }

    function addImage(categoriaId, initId) {
        var fileImagenCategoria = $("#UploadImage").get(0);

        var files = fileImagenCategoria.files;
        if (files[0] != null) {

            var data = new FormData();
            data.append("imagen", fileImagenCategoria.files[0]);
            data.append("categoriaId", categoriaId);

            $.ajax({
                type: 'POST',
                url: _ctx + 'gestion/categoria-ejercicio/upload/imagen',
                data: data,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', progress, false);
                    }
                    return myXhr;
                },
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-99") {
                            $.smallBox({content: "La imagen no ha podido ser guardado debido a que excede los límites permitidos de la aplicación, que son 5MB en caso sea un solo archivo y si son más de 2, como máximo en conjunto no deben exceder a 10MB. Para mayor información comunicarse con el administrador."});
                        }else if (initId <= 0)
                            $.smallBox({});
                        else
                            $.smallBox({content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",});
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    listarRegistros();
                    irListado($index);
                }
            });
        } else {
            if (initId > 0) {
                $.smallBox({content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",});
                listarRegistros();
                irListado($index);
            }
        }
        $('#ImagenCategoria').attr('src', _ctx + 'img/upload-empty.png');
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ImagenCategoria').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function subirImagen() {

        $("#UploadImage").change(function () {

            //submit the form here
            var file, img;
            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    //Previsualizar
                    readURL($("#UploadImage")[0]);
                };
                img.onerror = function () {
                    $('#UploadImage').val("");
                    $.smallBox({
                        content: "<i> No se ha seleccionado una imagen válida!</i>",
                        color: "#8a6d3b",
                        iconSmall: "fa fa-warning fa-2x fadeInRight animated",
                        timeout: 3500,
                    });
                };
                img.src = _URL.createObjectURL(file);
            }
        });
    }

    function linkFormatter(value, row) {
        return String('<a class="" href="#" onclick="javascript:editar(' + row.id + ')" title="Editar">' + row.nombre + '</a>', value);
    }

    function Opciones(value, row, index) {
        var opciones =
            `<a href='#' onclick='javascript:desactivar(${row.id},${index});' title='Actualizar estado'><i class='fa fa-refresh fa-2x'></i></a> &nbsp
		            		 <a href='#' data-toggle="modal" data-target="#myModalImagen" onclick='javascript:visualizar("${row.rutaWeb}");' title='Visualizar imagen'><i class='fa fa-eye fa-2x'></i></a> &nbsp
		            		 <a class='font-sx' href='/workout/media/image/categoria-ejercicio/gt/0${row.rutaWeb}' title='Descargar imagen'><i class='fa fa-download fa-2x'></i></a> &nbsp`;
        return opciones;
    }

    function isActived(value, row, index) {
        if (row.flagActivo) {
            return '<span class="label label-success">Activo</span>';
        } else {
            return '<span class="label label-danger">Inactivo</span>';
        }
    }

    function validarRegistros() {
        $("#frm_registro").validate({
            errorClass: errorClass,
            errorElement: errorElement,
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            ignore: ".ignore",
            rules: {
                Nombre: {
                    required: true,
                    maxlength: $("#Nombre").prop("maxlength"),
                },
                UploadImage: {
                    required: () => {
                        return $('#Id').val() > 0 ? false : true;
                    },
                },
            },
            messages: {
                Nombre: {
                    required: "El campo es obligatorio",
                    maxlength: $.validator.format("Este campo debe de tener como máximo {0} caracteres."),
                },
                UploadImage: {
                    required: "La subida de la imagen es obligatoria",
                }
            },
            submitHandler: function () {
            }
        });
    }

    /*]]>*/
</script>

</body>

</html>
