<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
</head>

<body class="desktop-detected pace-done mobile-view-activated smart-style-2">
<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa-file fa-fw"></i>
                                    Gestión
                                    <span>>
													<b>Documento</b>
												</span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="#" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list">
                    <div class="col-sm-12">
                        <div id="accordion" class="panel-group">
                            <form id="frm_busqueda">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-1  control-label-left"
                                               for="txtFiltro"><b>Nombre:</b></label>
                                        <div class="col-md-3">
                                            <input name="Filtro" id="txtFiltro" type="text"
                                                   class="form-control input-sm ignore" maxlength="24"
                                                   placeholder="Ingresa un nombre"/>
                                        </div>
                                        <label class="col-md-1 control-label-left"
                                               for="ddlEstado"><b>Estado:</b></label>
                                        <div class="col-md-2 mrg">
                                            <select name="Estado" id="Estado" class="form-control input-sm ignore">
                                                <option value="-1">-- Todos --</option>
                                                <option value="true">Activo</option>
                                                <option value="false">Inactivo</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="btnFiltrar" type="button" class="btn btn-primary"
                                                    title="Buscar"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table id="tblRegistros" data-mobile-responsive="true">
                            <thead>
                            <tr>
                                <th data-field="id" data-halign="center" data-valign="middle" data-align="center"
                                    data-width="20" data-title="Código"></th>
                                <th data-field="nombre" data-formatter="linkFormatter" data-halign="left"
                                    data-valign="middle" data-align="left" data-title="Nombre"></th>
                                <th data-field="peso" data-halign="left" data-valign="middle" data-align="left"
                                    data-title="Peso"></th>
                                <th data-formatter="isActived" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="60" data-class="td-status" data-title="Estado"></th>
                                <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="120" data-title="Acciones"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" id="view_register">
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                             data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-ge"></i> </span>
                                <!-- Tittle form -->
                                <h2><strong><span id="Operacion"></span></strong></h2>
                            </header>
                            <div>
                                <!-- widget content -->
                                <div class="widget-body no-padding ">
                                    <form id="frm_registro" class="smart-form">
                                        <fieldset class="">
                                            <section class="">
                                                <label class="label">Nombre: </label>
                                                <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                    <input id="Nombre" name="Nombre" type="text" placeholder="Nombre"
                                                           class="" maxlength="30" autocomplete="off"/>
                                                    <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    <input id="Id" name="Id" type="hidden" value="0"/>
                                                </label>
                                            </section>
                                            <section class="">
                                                <label class="label">Documento: <span id="Archivo"
                                                                                      class="pull-right margin-right-5 hidden"><a
                                                        data-toggle="modal" data-target="#myModalDocumento"
                                                        title="Visualizar" href="#"
                                                        onclick="visualizar('');" data-route=""><i
                                                        class="fa fa-file-pdf-o fa-15x txt-color-redLight"></i></a></span></label>
                                                <div class="input input-file">
                                                    <label class="input"><i class="icon-append fa fa-file"></i>
                                                        <input id="Documento" name="Documento" type="file" accept=".pdf"
                                                               class="form-control" data-show-preview="false"
                                                               data-language="es" data-show-upload="false"/>
                                                        <div class="alert alert-success hidden" id="MsgEditarArchivo">
                                                            <em style="color: #666; font-weight: bold;">Seleccionar
                                                                archivo solo en caso se quiera reemplazar el actual</em>
                                                        </div>
                                                    </label>
                                                </div>
                                            </section>
                                            <section class="">
                                                <label class="label">Peso: </label>
                                                <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                    <input id="Peso" name="Peso" type="text" maxlength="10"
                                                           class="form-control" data-show-preview="false"
                                                           data-language="es" data-show-upload="false"
                                                           readonly="readonly"/>
                                                </label>
                                            </section>
                                            <section class="">
                                                <div class="inline-group">
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivo" name="FlagActivo"
                                                               checked="checked"/>
                                                        <i></i>Activo</label>
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivoOff" name="FlagActivo"/>
                                                        <i></i>Inactivo</label>
                                                </div>
                                            </section>
                                            <section class="text-align-center">

                                            </section>
                                        </fieldset>
                                        <footer class="">
                                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar
                                            </button>
                                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODALS -->
                <!-- MODAL VISUALIZACION DE VIDEO -->
                <div class="modal fade" id="myModalDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" style="width: 90%;">
                        <div class="modal-content">
                            <div class="modal-body text-center"
                                 style="background: #2C3742; !important; max-width: 100%;" id="ObjetoDocumento">
                                <!-- OBJECT PDF -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FINAL MODAL VISUALIZACION DE VIDEO -->
                <!-- FIN MODALS -->
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var $table = $('#tblRegistros');
    var $index = $('#Id');

    $(function () {

        pageSetUp();
        listarRegistros();

        //V A L I D A T E
        validarRegistros();

        $("#btnNuevo").click(function () {
            $('#Operacion').text('Registrar');
            $('#Archivo').addClass('hidden');
            $('#MsgEditarArchivo').addClass('hidden');
            irRegistro();
        });

        $("#btnGuardar").click(function () {
            registro();
        });

        $("#btnCancelar").click(function () {
            irListado($index);
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $("#Documento").change(obtenerPesoArchivo);

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });

    });

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {
            $table.bootstrapTable('destroy');

            var comodin = $("#txtFiltro").val();
            var estado = $("#Estado").val();


            if (comodin == null || comodin == "") {
                comodin = "0";
            }
            if (estado == null) {
                estado = "-1";
            }

            $table.bootstrapTable({
                url: _ctx + 'gestion/documento/obtenerListado/' + comodin + '/' + estado,
                pagination: true,
                sidePagination: 'client',
                pageSize: 10,
                onLoadSuccess: function (data) {
                },
                onLoadError: function (xhr) {
                    exception(xhr);
                },
            });
        }
    }

    function registro() {
        if ($("#frm_registro").valid()) {
            var $btn = $("#btnGuardar");
            var params = getFormData($('#frm_registro'));
            params.flagActivo = $('#FlagActivo').is(':checked');

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/documento/agregar',
                dataType: "json",
                data: params,
                success: function (data, textStatus) {
                    if (params.id > 0) {
                        $.smallBox({
                            content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",
                        });
                    } else {
                    }
                    subirDocumento(data, params.id);
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    limpiarBusqueda();
                }
            });
        }
    }

    function editar(id) {
        irRegistro();
        $('#MsgEditarArchivo').removeClass('hidden');
        $('#Operacion').text('Actualizar');
        var param = new Object();
        param.id = id;

        $.ajax({
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: _ctx + 'gestion/documento/obtener',
            dataType: "json",
            data: param,
            success: function (data, textStatus) {
                if (textStatus == "success") {
                    $("#Id").val(data.id);
                    $("#Nombre").val(data.nombre);
                    $("#Descripcion").val(data.descripcion);
                    $("#Peso").val(data.peso);
                    data.flagActivo === true ?
                        $('#FlagActivo').prop('checked', true)
                        :
                        $('#FlagActivoOff').prop('checked', true);

                    $('#MsgEditarArchivo').attr('display', '');
                    $('#Archivo').attr('data-route', data.rutaWeb);
                    $('#Archivo').removeClass('hidden');
                }
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {
                limpiarBusqueda();
            }
        });
    }

    function desactivar(id, ix) {
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Notificación",
            content: "<br/>¿Quieres activar o desactivar el registro?",
            buttons: '[No][Si]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "Si") {
                var params = {};
                params.id = id;
                params.flagActivo = actualStatus == "Activo" ? false : true;

                $.ajax({
                    type: 'PUT',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    url: _ctx + 'gestion/documento/desactivar',
                    dataType: "json",
                    data: params,
                    success: function (data, textStatus) {
                        if (textStatus == "success") {
                            $.smallBox({
                                content: "<i> Se actualizó el registro...</i>",
                            });

                            actualStatus == "Activo" ?
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-danger">Inactivo</span>'
                                :
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                        }
                    },
                    error: function (xhr) {
                        exception(xhr);
                    },
                    complete: function () {
                        limpiarBusqueda();
                    }
                });
            } else {
            }
        })
    }

    function visualizar(rutaWeb) {
        $('#objDocumento').remove();
        var obj = $('<object/>', {
            id: 'objDocumento',
            type: 'application/pdf',
        });

        obj.css('height', '450px');
        obj.css('width', '100%');
        if(rutaWeb.length == 0)
            rutaWeb = $('#Archivo').attr('data-route')
        obj.attr('data', `${_ctx}workout/media/file/documento/gt/1${rutaWeb}`);
        var documento = $('<a/>', {
            href: `${_ctx}workout/media/file/documento/gt/1${rutaWeb}`
        });
        obj.append(documento);
        obj.appendTo($('#ObjetoDocumento'));
    }

    function subirDocumento(id, initId) {
        var documento = $("#Documento").get(0);

        var files = documento.files;
        if (files[0] != null) {

            var data = new FormData();
            data.append("documento", documento.files[0]);
            data.append("documentoId", id);

            $.ajax({
                type: 'POST',
                url: _ctx + 'gestion/documento/upload',
                data: data,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', progress, false);
                    }
                    return myXhr;
                },
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-99") {
                            $.smallBox({content: "El archivo no ha podido ser guardado debido a que excede los límites permitidos de la aplicación, que son 5MB en caso sea un solo archivo y si son más de 2, como máximo en conjunto no deben exceder a 10MB. Para mayor información comunicarse con el administrador."});
                        }
                        if (initId <= 0)
                            $.smallBox({});
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    listarRegistros();
                    irListado($index);
                }
            });
        }else {
            irListado($index);
            listarRegistros();
        }
    }

    function obtenerPesoArchivo() {
        //submit the form here
        var file;
        if ((file = this.files[0])) {
            $('#Peso').val(formatBytes(file.size, 2));
        }
    }

    function linkFormatter(value, row, index) {
        return String(`<a class='' href='#' onclick='editar(${row.id})' title='Editar'>${row.nombre}</a>`);
    }

    function Opciones(value, row, index) {
        var opciones =
            `<a href='#' onclick='javascript:desactivar(${row.id},${index});' title='Actualizar estado'><i class='fa fa-refresh fa-2x'></i></a> &nbsp
		            		 <a href='#' onclick='javascript:visualizar("${row.rutaWeb}");' data-toggle='modal' data-target='#myModalDocumento' title='Visualizar documento'><i class='fa fa-eye fa-2x'></i></a> &nbsp
		            		 <a class='font-sx' href='${_ctx}workout/media/file/documento/gt/0${row.rutaWeb}' title='Descargar documento'><i class='fa fa-download fa-2x'></i></a> &nbsp`;
        return opciones;
    }

    function isActived(value, row, index) {

        if (row.flagActivo) {
            return '<span class="label label-success">Activo</span>';
        } else {
            return '<span class="label label-danger">Inactivo</span>';
        }
    }

    function validarRegistros() {
        $("#frm_registro").validate({
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                Nombre: {
                    required: true,
                    maxlength: $("#Nombre").prop("maxlength"),
                },
                Documento: {
                    required: function () {
                        if ($('#Id').val() > 0) {
                            return false;
                        }
                        return true;
                    }
                },
                Peso: {
                    required: true,
                }
            },
            messages: {
                Nombre: {
                    required: "El campo es obligatorio",
                    maxlength: $.validator.format("Este campo debe de tener como máximo {0} caracteres.")
                },
                Documento: {
                    required: "La subida del documento es obligatoria",
                },
                Peso: {
                    required: "Adjunte el documento y el campo se llenará",
                }
            },
            submitHandler: function () {
                registro();
            }
        });
    }

    /*]]>*/
</script>

</body>

</html>
