<!DOCTYPE html>
<html lang="en-us"
	  xmlns:th="http://www.thymeleaf.org"
	  th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rf-rutina.css}+'?'+${version}"/>
</head>
<body class="desktop-detected pace-done mobile-view-activated smart-style-1">

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->
<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa-user fa-fw"></i>
                                    Gestión
                                    <span>>
											<b>Usuario</b>
										</span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="javascript:void(0)" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <form id="frm_busqueda">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-1  control-label-left" for="txtFiltro"><b>Nombre:</b></label>
                                    <div class="col-md-3">
                                        <input id="txtFiltro" type="text" placeholder="Búsqueda por nombre"
                                               class="form-control"/>
                                    </div>
                                    <label class="col-md-1 control-label-right"><b>Estado:</b></label>
                                    <div class="col-md-2 mrg">
                                        <select name="Estado" id="Estado" class="form-control input-sm ignore">
                                            <option value="-1"> -- Todos --</option>
                                            <option value="true">Activo</option>
                                            <option value="false">Inactivo</option>
                                        </select>
                                    </div>
                                    <label class="col-md-1 control-label-left"><b>Perfil:</b></label>
                                    <div class="col-md-2 mrg">
                                        <select name="Perfil" id="Perfil" class="form-control input-sm ignore">
                                            <option value="">-- Todos --</option>
                                            <option th:each="p : ${lstTipoUsuario}" th:value="${p.id}"
                                                    th:text="${p.nombre}"/>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <a id="btnFiltrar" href="#" class="btn btn-primary" title="Buscar"><i
                                                class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table id="tblRegistros" data-mobile-responsive="true">
                            <thead>
                            <tr>
                                <th data-field="id" data-halign="center" data-valign="middle" data-align="center"
                                    data-width="20" data-title="Código"></th>
                                <th data-field="nombreCompleto" data-formatter="linkFormatter" data-halign="left"
                                    data-valign="middle" data-align="left">Nombre
                                </th>
                                <th data-field="correo" data-halign="left" data-valign="middle" data-align="left"
                                    data-width="140">Correo
                                </th>
                                <th data-field="username" data-halign="left" data-valign="middle" data-align="left"
                                    data-width="120">Usuario
                                </th>
                                <th data-formatter="formatterTipoUsuario" data-halign="left" data-valign="middle"
                                    data-align="left" data-width="120">Perfil
                                </th>
                                <th data-field="fechaCreacion" data-halign="left" data-valign="middle"
                                    data-align="left">Fecha Creación
                                </th>
                                <th data-field="fechaUltimoAcceso" data-halign="left" data-valign="middle"
                                    data-align="left">Último Acceso
                                </th>
                                <th data-formatter="isActived" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="60" data-class="td-status">Estado
                                </th>
                                <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="90">Acciones
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" id="view_register">
                    <div class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                             data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-ge"></i> </span>
                                <!-- Tittle form -->
                                <h2><strong><span id="Operacion">Registrar</span></strong></h2>
                            </header>
                            <div>
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <form id="frm_registro" class="smart-form">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col col-sx-12 col-sm-12 col-md-12 col-lg-12">
                                                    <section class="">
                                                        <label class="label">Nombres<span class="req">*</span> </label>
                                                        <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                            <input id="Nombres" name="Nombres" type="text"
                                                                   placeholder="Nombres" class=""
                                                                   autocomplete="off"/>
                                                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                            <input id="Id" name="Id" type="hidden" value="0"/>
                                                        </label>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-sx-12 col-sm-12 col-md-12 col-lg-12">
                                                    <section class="">
                                                        <label class="label">Apellidos<span class="req">*</span> </label>
                                                        <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                            <input id="Apellidos" name="Apellidos" type="text"
                                                                   placeholder="Apellidos" class="" maxlength="24"
                                                                   autocomplete="off"/>
                                                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        </label>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label">Móvil<span class="req">*</span></label>
                                                    <label class="input"><i class="icon-append fa fa-mobile"></i>
                                                        <input id="Movil" name="Movil" type="text"
                                                               placeholder="Teléfono Móvil" maxlength="12"
                                                               required="required"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">Teléfono </label>
                                                    <label class="input"><i class="icon-append fa fa-phone"></i>
                                                        <input id="Telefono" name="Telefono" type="text"
                                                               placeholder="Teléfono Fijo" maxlength="12"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Correo Electrónico<span class="req">*</span> </label>
                                                    <div>
                                                        <i class="fa fa-check fa-15px i-checked-verified hidden"></i>
                                                        <i class="fa fa-spinner fa-spin fa-15px i-checked hidden"></i>
                                                        <label class="input"><i class="icon-append fa fa-envelope-o"></i>
                                                        <input id="Correo" name="Correo" type="text"
                                                               placeholder="Correo electrónico" class=""
                                                               maxlength="60"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        </label>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Tipo Documento<span class="req">*</span> </label>
                                                    <label class="input">
                                                        <select id="TipoDocumentoId" name="TipoDocumentoId" class="form-control">
                                                            <option value="">-- Seleccione --</option>
                                                            <option th:each="td : ${lstTipoDocumento}" th:value="${td.id}"
                                                                    th:text="${td.nombre}"/>
                                                        </select>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Número de Documento<span class="req">*</span> </label>
                                                    <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                        <input id="NumeroDocumento" name="NumeroDocumento" type="text"
                                                               placeholder="Número de documento" class="" maxlength="11"
                                                               autocomplete="off"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Nombre de usuario<span class="req">*</span> </label>
                                                    <div>
                                                        <i class="fa fa-check fa-15px i-checked-verified hidden"></i>
                                                        <i class="fa fa-spinner fa-spin fa-15px i-checked hidden"></i>
                                                        <label class="input"><i class="icon-append fa fa-user"></i>
                                                            <input id="Username" name="Username" type="text"
                                                                   placeholder="Nombre de cliente" class="" maxlength="60"
                                                                   autocomplete="off"/>

                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                        </label>
                                                    </div>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Perfil<span class="req">*</span> </label>
                                                    <label class="input">
                                                        <select id="PerfilId" name="PerfilId" class="form-control">
                                                            <option value="">-- Seleccione --</option>
                                                            <option th:each="p : ${lstTipoUsuario}" th:value="${p.id}"
                                                                    th:text="${p.nombre}"/>
                                                        </select>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row" id="PassUser">
                                                <section class="col col-6">
                                                    <label class="label margin txt-color">Contraseña<span class="req">*</span> </label>
                                                    <label class="input"><i class="icon-append fa fa-lock"></i>
                                                        <input id="Password" name="Password" type="password"
                                                               placeholder="Password" class="" maxlength="24"
                                                               autocomplete="off"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Confirmar Password<span class="req">*</span> </label>
                                                    <label class="input"><i class="icon-append fa fa-lock"></i>
                                                        <input id="CheckPassword" name="CheckPassword" type="password"
                                                               placeholder="Confirmar password" class=""
                                                               maxlength="24"/>
                                                        <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <!--<label class="label">Roles:</label>
                                                    <div class="col">
                                                        <div class="col col-4 padding-5"
                                                             th:each="r : ${lstRol}">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="checkbox"
                                                                       th:attr="data-id=${r.id}"/>
                                                                <i></i> <span
                                                                    th:text="${r.nombre}"></span></label>
                                                        </div>
                                                    </div>-->
                                                    <!--<div class="col txt-color-redLight">
                                                        <input type="hidden" name="CheckRoles"/>
                                                    </div>-->
                                                </section>
                                                <section class="col col-6">
                                                    <div class="inline-group">
                                                        <label class="label">Estado Inicial<span class="req">*</span> </label>
                                                        <label class="radio">
                                                            <input type="radio" id="FlagActivo" name="FlagActivo"
                                                                   checked="checked"/>
                                                            <i></i>Activo</label>
                                                        <label class="radio">
                                                            <input type="radio" id="FlagActivoOff" name="FlagActivo"/>
                                                            <i></i>Inactivo</label>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                        <footer class="">
                                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar
                                            </button>
                                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- MODAL CAMBIO DE CONTRASENA-->
<div class="modal fade" id="CambioContrasena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="">

            <form class="smart-form" id="frm_cambio">
                <h6 class="text-align-center txt-color-white padding-10" style="background: #a09071">Cambio de
                    contraseña</h6>
                <fieldset>
                    <section class="">
                        <label class="label">Nueva contraseña:</label>
                        <label class="input"><i class="icon-prepend fa fa-lock"></i>
                            <input id="NuevaPassword" name="NuevaPassword" type="password" maxlength="24"/>
                            <input id="DatosCambioPass" type="hidden"/>
                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                        </label>
                    </section>
                    <section class="">
                        <label class="label">Repetir contraseña:</label>
                        <label class="input"><i class="icon-prepend fa fa-lock"></i>
                            <input id="NuevaPasswordRe" name="NuevaPasswordRe" type="password" maxlength="24"/>
                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                        </label>
                    </section>
                    <section id="spCambio">
                    </section>
                </fieldset>
                <footer>
                    <button id="btnCambioContrasena" type="submit" class="btn btn-primary">Confirmar</button>
                </footer>
            </form>
        </div>
    </div>
</div>
<!-- FINAL MODAL CAMBIO DE CONTRASENA -->
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const body = document.querySelector('body');
    const frm = document.getElementById('frm_registro');
    const verifiedNames = [];
    var $table = $('#tblRegistros');
    var $index = $('#Id');

    $(function () {

        pageSetUp();
        listarRegistros();

        //V A L I D A T E
        validarRegistros();
        init();

        $("#btnNuevo").click(function () {//Debe respetarse el orden de ejecución para el correcto funcionamiento
            $('#Operacion').text('Registrar');
            $('#Username').removeAttr('readonly');
            $('#Correo').removeAttr('readonly');

            $('#PerfilId').removeAttr('style');
            $('#PassUser').css('display', '');
            irRegistro();
            $('.i-checked-verified').addClass('hidden');
            $('#frm_registro input').removeAttr('readonly');
            $('#frm_registro select').removeAttr('disabled');
            $('#btnGuardar').removeAttr('disabled');
            $('#PerfilId').val(1);
            $('#PerfilId').attr('disabled','disabled');

        });

        $("#btnGuardar").click(function () {
            registro();
        });

        $("#btnCambioContrasena").click(function () {
            confirmarCambio();
        });

        $("#btnCancelar").click(function () {
            $('#PerfilId').val("");
            $('#PerfilId').removeAttr('disabled');
            irListado($index);
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });

        modalsEventos();

    });

    function init(){
        body.addEventListener('focusout', bodyFocusOutEventListener);
    }

    function bodyFocusOutEventListener(e){
        const input = e.target;
        if(input.tagName === "INPUT"){

            if(input.type==="text") {
                input.value = input.value.trim().replace(/ +/g, " ");
            }

            if(input.name === "Correo"){
                input.value = input.value.trim().replace(/ +/g, "");
                if($(input).valid()){
                    if(!verifiedNames.includes(input.value)){
                        if(!input.readOnly){
                            validUniqueEmailOrUsernameOrNomPag(input, 'correo');
                        }
                    }
                }
            }
            if(input.name === "Username"){
                if($(input).valid()){
                    if(!verifiedNames.includes(input.value)){
                        if(!input.readOnly) {
                            validUniqueEmailOrUsernameOrNomPag(input, 'username');
                        }
                    }
                }
            }
        }

        if(input.tagName === "TEXTAREA"){
            input.value = input.value.trim();
        }
    }

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {

            $table.bootstrapTable('destroy');

            var comodin = $("#txtFiltro").val().trim();
            var estado = $("#Estado").val();
            var perfil = $("#Perfil").val();


            if (comodin == null || comodin == "") {
                comodin = "0";
            }

            if (estado == null) {
                estado = "-1";
            }

            if (perfil == null || perfil == "") {
                perfil = "0";
            }
            let entidad = perfil == "0" ? "usuario" : perfil == "2" ? "trainer" : perfil == "3" ? "cliente" : "administrador";
            perfil = entidad == "usuario" ? "" : perfil;
            $table.bootstrapTable({
                url: _ctx + 'gestion/'+entidad+'/obtenerListado/' + comodin + '/' + estado + '/' + perfil,
                pagination: true,
                sidePagination: 'server',
                pageSize: 10,
                onLoadSuccess: d => {
                },
                onLoadError: function (xhr) {
                    exception(xhr);
                },
            });
        }
    }

    function registro() {
        if ($(frm).valid()) {
            let params = getFormData($(frm));
            params.flagActivo = $('#FlagActivo').is(':checked');
            params.perfilId = $('#PerfilId').val();
            //Solo se podrá editar a los administradores
            const tipoUsuarioUrl = 'administrador';
            if(params.perfilId !=1){
                $.smallBox({color: 'alert', content: 'Por este medio solo puede registrar Administradores, elija del listado a un perfil Administrador'})
                return;
            }

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/'+tipoUsuarioUrl+'/agregar',
                dataType: "text",
                blockLoading: true,
                noOne: false,
                data: params,
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-150") {
                            $.smallBox({color: "alert", content: "<i> La operación ha fallado debido a que el nombre de cliente ya existe en el sistema...</i>",});
                        } else if (data == "-2") {
                            $.smallBox({content: "<i class='fa fa-child'></i> <i>Actualización exitosa...!</i>",});
                            irListado($index);
                            listarRegistros();
                        } else if(data.split(',')[0] == "-1"){
                            $.smallBox({});
                            irListado($index);
                            listarRegistros();
                        }
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    limpiarBusqueda();
                }
            });
        }
    }

    function editar(id, tp) {
        irRegistro();
        $('#Operacion').text('Actualizar');

        var params = new Object();
        params.id = id;
        params.tipoUsuario = tp === "Cliente" ? 3 : tp === "Trainer" ? 2 : 1;

        if(params.tipoUsuario != TipoUsuario.ADMINISTRADOR){
            $('#btnGuardar').attr('disabled', 'disabled');
            $('#frm_registro input').attr('readonly', 'readonly');
            $('#frm_registro select').attr('disabled', 'disabled');
        }else {
            $('#btnGuardar').removeAttr('disabled');
            $('#frm_registro input').removeAttr('readonly');
            $('#frm_registro select').removeAttr('disabled');
            $('#PerfilId').attr('disabled', 'disabled');
            $('#Username').attr('readonly', 'readonly');
            $('#Correo').attr('readonly', 'readonly');
        }
        $('#PerfilId').val(params.tipoUsuario);

        $.ajax({
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: _ctx + 'gestion/usuario/obtener',
            blockLoading: false,
            noOne: true,
            dataType: "json",
            data: params,
            success: function (data, textStatus) {
                if (textStatus == "success") {
                    $("#Id").val(data.id);
                    Array.from(document.querySelector('#PerfilId').options).forEach(e=>{
                        if(e.textContent === tp){
                            e.selected = "selected";
                        }
                    });

                    $("#TipoDocumentoId").val(data.tipoDocumento);
                    $("#Correo").val(data.correo);
                    $("#Movil").val(data.movil);
                    $("#Username").val(data.username);
                    $("#Apellidos").val(data.apellidos);
                    $("#NumeroDocumento").val(data.numeroDocumento);
                    $("#Telefono").val(data.telefono);
                    $("#Nombres").val(data.nombres);
                    /*data.roles.forEach(v=>{
                        Array.from($('.checkbox input[type="checkbox"]'))[v.id-1].click();//se le resta menos uno para igualarlo ya que el array comienza desde 0
                    })*/
                    data.flagActivo === true ?
                        $('#FlagActivo').prop('checked', true)
                        :
                        $('#FlagActivoOff').prop('checked', true);
                }
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {
                $('#PassUser').css('display', 'none');
                $('.i-checked-verified').addClass('hidden');
                limpiarBusqueda();
            }
        });
    }

    function desactivar(id, ix, username, tipoUsu) {
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Notificación",
            content: "<br/>¿Quieres activar o desactivar el registro?",
            buttons: '[No][Si]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "Si") {
                var params = {};
                params.id = id;
                params.flagActivo = actualStatus == "Activo" ? false : true;
                params.username = username;
                params.tipoUsuario = tipoUsu === "Administrador" ? 1 : tipoUsu === "Trainer" ? 2 : 3;

                $.ajax({
                    type: 'PUT',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    url: _ctx + 'gestion/usuario/desactivar',
                    dataType: "json",
                    data: params,
                    success: function (data, textStatus) {
                        if (textStatus == "success") {
                            if(data === -9){
                                $.smallBox({
                                    color: "alert",
                                    content: "<i> No puede actualizar el estado de su mismo usuario...</i>",
                                });
                            } else{
                                $.smallBox({
                                    content: "<i> Se actualizó el registro...</i>",
                                });

                                actualStatus == "Activo" ?
                                    document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-danger">Inactivo</span>'
                                    :
                                    document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                            }


                        }
                    },
                    error: function (xhr) {
                        exception(xhr);
                    },
                    complete: function() {
                        limpiarBusqueda();
                    }
                });
            } else {
            }
        });
    }

    function cambiarContrasena(id, username, tipoUsuario) {
        tipoUsuario = tipoUsuario == "Cliente" ? 3 : tipoUsuario == "Trainer" ? 2 : 1;
        $('#DatosCambioPass').val(id + '|' + username + '|' + tipoUsuario);
    }

    function confirmarCambio() {

        if ($("#frm_cambio").valid()) {
            $('#spCambio').html(spinnerHTMLRaw());
            $('#btnCambioContrasena').attr('disabled', 'disabled');
            $('#btnCambioContrasena').text('Cargando...');
            var params = getFormData($('#frm_cambio'));
            params.userId = $('#DatosCambioPass').val().split('|')[0];
            params.username = $('#DatosCambioPass').val().split('|')[1];
            params.tipoUsuario = $('#DatosCambioPass').val().split('|')[2];

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/usuario/cambio-contrasena',
                dataType: "json",
                data: params,
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        notificacionesRutinaSegunResponseCode(data);
                        if(data == "-4")
                            $.smallBox({content: "<i>La contraseña se actualizó con éxito</i>"});
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {
                    $('#btnCambioContrasena').removeAttr('disabled');
                    $('#btnCambioContrasena').text('Confirmar');
                    $('#spCambio').html('');
                    $('#CambioContrasena.modal').modal('hide');
                    $('#frm_cambio').trigger("reset");
                    $("#frm_cambio").validate().resetForm();
                }
            });
        }
    }

    function modalsEventos(){
        $('#CambioContrasena').on('hide.bs.modal', ()=>{
            $('#frm_cambio').trigger('reset');
            $('#frm_cambio').validate().resetForm();
        })
    }

    function linkFormatter(value, row) {
        const tipoUsuario = typeof row.tipoUsuario === 'object' ? row.tipoUsuario.id : row.tipoUsuario;
        return String('<a class="" href="#" onclick="javascript:editar(' + row.id +",'"+tipoUsuario+'\')" title="Editar">' + row.nombreCompleto + '</a>', value);
    }

    function Opciones(value, row, index) {
        const tipoUsuario = row.tipoUsuario;
        var desactivar = '';

        if (row.id > 0) {
            desactivar = `<a href='#' onclick='javascript:desactivar(${row.id},${index},"${row.username}","${tipoUsuario}");' title='Actualizar estado'><i class='fa fa-refresh fa-2x'></i></a> &nbsp &nbsp
									   <a href='#' data-toggle="modal" data-target="#CambioContrasena" onclick='javascript:cambiarContrasena(${row.id}, "${row.username}","${tipoUsuario}");' title='Cambiar contraseña'><i class='fa fa-lock fa-2x txt-color-greenLight'></i></a>`;
        }
        return desactivar;
    }

    function formatterTipoUsuario(value, row){
        return typeof row.tipoUsuario === 'object' ? row.tipoUsuario.nombre : row.tipoUsuario;
    }

    function isActived(value, row) {
        if (row.flagActivo) {
            return '<span class="label label-success">Activo</span>';
        } else {
            return '<span class="label label-danger">Inactivo</span>';
        }
    }

    $.validator.addMethod("pwcheck", function (value) {
        if (value != "") {
            return value.match(/^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z!@#\$%\^\&*\)\(+=._-]{8,}$/)
        }
        return true;
    });

    $.validator.addMethod("emailAddress", function (value) {
        if (value.trim() != "") {
            return regexMail.test(value.trim());
        }
        return true;
    });




    function validarRegistros() {
        $("#frm_registro").validate({
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                Nombres: {
                    required: true,
                    rangelength: [3, 30],
                    lettersonly: true
                },
                Apellidos: {
                    required: true,
                    rangelength: [3, 30],
                    lettersonly: true
                },
                Correo: {
                    required: true,
                    emailValid: true,
                    rangelength: [7, 40],
                },
                Movil: {
                    required: true,
                    digits: true,
                    rangelength: [9,11]
                },
                Telefono:{
                    digits: true,
                    rangelength: [7,9]
                },
                NumeroDocumento:{
                    required: true,
                    digits:  true,
                    customnumdoc: function(){
                        const val = $('#TipoDocumentoId').val();
                        return val;
                    },
                    rangelength: [8, 12],
                },
                Username: {
                    required: true,
                    usernameOrEmail: true,
                    rangelength: [7, 30],
                },
                Password: {
                    required: () => {
                        return $('#Id').val() > 0 ? false : true
                    },
                    rangelength: [8, 30],
                    pwcheck: true,
                },
                CheckPassword: {
                    equalTo: '#Password',
                },
                PerfilId: {
                    required: true,
                    digits: true,
                },
                TipoDocumentoId:{
                    required: true
                },
                NumeroDocumento: {
                    required: true,
                    digits:  true,
                    customnumdoc: function(){
                        const val = $('#TipoDocumentoId').val();
                        return val;
                    },
                    rangelength: [8, 12],
                },
            },
            messages: {
                Password: {
                    required: "El campo es obligatorio",
                    maxlength: $.validator.format("Este campo debe de tener como máximo {0} caracteres."),
                    pwcheck: 'Password inválida, revisar <a style="color:#dd4814;" href="javascript:MostrarRequisitosPassword();">requisitos</a>'
                },
                CheckPassword: {
                    equalTo: "Por favor ingresar la misma password nuevamente",
                },
            },
            submitHandler: function () {
                registro();
            }
        });

        $("#frm_cambio").validate({
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                NuevaPassword: {
                    required: true,
                    pwcheck: true
                },
                NuevaPasswordRe: {
                    equalTo: '#NuevaPassword',
                }
            },
            messages: {
                NuevaPassword: {
                    required: "El campo es obligatorio",
                    pwcheck: 'Password inválida, revisar <a style="color:#dd4814;" href="javascript:MostrarRequisitosPassword();">requisitos</a>'
                },
                NuevaPasswordRe: {
                    equalTo: "Por favor ingresar la misma password nuevamente",
                }
            },
            submitHandler: function () {

            }


        });

        //Seteando los Maxlength según rangelength property
        const rules = $(frm).validate().settings.rules;
        Object.keys(rules).filter(e=>rules[e].hasOwnProperty('rangelength')).forEach(e=>{
            document.getElementById(e).setAttribute('maxlength', rules[e].rangelength[1]);
        });
    }

    function MostrarRequisitosPassword() {

        var mjeValidaciones = "";
        mjeValidaciones = mjeValidaciones + "La contraseña debe cumplir con las siguientes condiciones:" + "</br></br>";
        mjeValidaciones = mjeValidaciones + "<i class='fa fa-check'></i> Tener mínimo 8 caracteres." + "</br>";
        mjeValidaciones = mjeValidaciones + "<i class='fa fa-check'></i> Tener mínimo un dígito." + "</br>";
        mjeValidaciones = mjeValidaciones + "<i class='fa fa-check'></i> Tener mínimo un caracter en minúscula." + "</br>";
        mjeValidaciones = mjeValidaciones + "<i class='fa fa-check'></i> No debe contar con espacios." + "</br>";
        mjeValidaciones = mjeValidaciones + "<i class='fa fa-clock-o'></i> <bold style=\"color:#dd4814\">Ejemplo: pAblo24rio</bold> ";

        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Notificación",
            content: "<br/>" + mjeValidaciones,
            buttons: '[Aceptar]',
        }, function (ButtonPressed) {
            if (ButtonPressed === "Aceptar") {
            }

        });
    }

    /*]]>*/
</script>

</body>

</html>
