<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
</head>

<body class="desktop-detected pace-done mobile-view-activated smart-style-1">
<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <h1 class="page-title txt-color-blueDark">
                                    <i class="fa fa-video-camera fa-fw"></i>
                                    Gestión
                                    <span>>
													<b>Video</b>
												</span>
                                </h1>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <h1><a id="btnNuevo" href="#" class="btn btn-primary btn-circle btn-lg"
                                       style="float:right" title="Registrar"><i class="fa fa-plus"></i></a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="view_list">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <form id="frm_busqueda" class="smart-form">
                            <fieldset class="" style="padding-top: 0px !important;">
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label"><b>Nombre: </b></label>
                                        <label class="input">
                                            <input id="txtFiltro" name="txtFiltro" type="text"
                                                   placeholder="Ingresa nombre" class="" maxlength="50"
                                                   autocomplete="off"/>
                                            <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label"><b>Estado: </b></label>
                                        <select name="Estado" id="Estado" class="form-control">
                                            <option value="-1"> -- Todos --</option>
                                            <option value="true">Activo</option>
                                            <option value="false">Inactivo</option>
                                        </select>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label"><b>Categoría: </b></label>
                                        <select style="width:100%" class="select2 form-control" id="CategoriaVideo" name="CategoriaVideo">
                                            <option value="" selected="selected"> -- Seleccione -- </option>
                                            <optgroup th:each="c: ${lstGrupoVideo}" th:label="${c.nombre}">
                                                <option th:each="sb : ${c.lstCategoriaVideo}" th:value="${sb.id}" th:text="${sb.nombre}">Alaska</option>
                                            </optgroup>
                                        </select>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label"><b>Sub Categoría:</b> </label>
                                        <select id="SubCategoriaVideo" name="SubCategoriaVideo" class="form-control">
                                            <option value="" selected="selected"> -- Seleccione -- </option>
                                        </select>
                                    </section>
                                    <section class="col col-1">
                                        <h1 class="" style="color:transparent !important;">s</h1>
                                        <a id="btnFiltrar" href="#" class="btn btn-primary" title="Buscar"><label
                                                class="button" style="margin: 0px !important;"><i
                                                class="fa fa-search"></i></label></a>
                                    </section>
                                </div>
                            </fieldset>
                            <div class="form-horizontal">
                                <div class="form-group">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table id="tblRegistros" data-mobile-responsive="true">
                            <thead>
                            <tr>
                                <th data-field="id" data-halign="center" data-valign="middle" data-align="center"
                                    data-width="20" data-title="Código"></th>
                                <th data-field="nombre" data-formatter="linkFormatter" data-halign="left"
                                    data-valign="middle" data-align="left" data-title="Nombre"></th>
                                <th data-field="duracion" data-halign="left" data-valign="middle" data-align="left"
                                    data-title="Duración"></th>
                                <th data-field="nombreSubCat" data-halign="left" data-valign="middle"
                                    data-align="left" data-title="Sub Categoría"></th>
                                <th data-field="peso" data-halign="left" data-valign="middle" data-align="left"
                                    data-title="Peso"></th>
                                <th data-formatter="isActived" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="60" data-class="td-status" data-title="Estado"></th>
                                <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                    data-align="center" data-width="120" data-title="Acciones"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" id="view_register">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                             data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-ge"></i> </span>
                                <!-- Tittle form -->
                                <h2><strong><span id="Operacion"></span></strong></h2>
                            </header>
                            <div>
                                <!-- widget content -->
                                <div class="widget-body no-padding ">
                                    <form id="frm_registro" class="smart-form">
                                        <fieldset class="">
                                            <section class="">
                                                <label class="label">Nombre<span class="req">*</span></label>
                                                <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                    <input id="Nombre" name="Nombre" type="text" placeholder="Nombre"
                                                           class="" autocomplete="off"/>
                                                    <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    <input id="Id" name="Id" type="hidden" value="0"/>
                                                    <input id="NombreMedia" type="hidden" value=""/>
                                                </label>
                                            </section>
                                            <section class="">
                                                <label class="label">Categoría<span class="req">*</span></label>
                                                <label class="input">
                                                    <select class="form-control" id="CategoriaVideoId" name="CategoriaVideoId">
                                                        <option value="" selected="selected"> -- Seleccione -- </option>
                                                        <optgroup th:each="c: ${lstGrupoVideo}" th:label="${c.nombre}">
                                                            <option th:each="sb : ${c.lstCategoriaVideo}" th:value="${sb.id}" th:text="${sb.nombre}">Alaska</option>
                                                        </optgroup>
                                                    </select>
                                                    <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                    <div class="alert alert-success" id="MsgActualizarSubCat" display="">
                                                            <em style="color: #666; font-weight: bold;">Seleccionar solo en caso se vaya a actualizar de sub categoría al video</em>
                                                    </div>
                                                </label>
                                            </section>
                                            <section class="">
                                                <label class="label">Sub Categoría<span class="req">*</span></label>
                                                <label class="input">
                                                    <select id="SubCategoriaVideoId" name="SubCategoriaVideoId"
                                                            class="form-control">
                                                        <option value="">-- Seleccione --</option>
                                                    </select>
                                                    <b class="tooltip tooltip-bottom-right">Obligatorio</b>
                                                </label>
                                            </section>
                                            <section class="">
                                                <label class="label">Video<span class="req">*</span><span id="Archivo"
                                                                                  class="pull-right margin-right-5 hidden"><a
                                                        data-toggle="modal" data-target="#myModalVideo"
                                                        title="Reproducir" href="#" onclick="reproducirVideoModal();"
                                                        data-route=""><i
                                                        class="fa fa-play-circle fa-15x"></i></a></span></label>
                                                <div class="input input-file">
                                                    <label class="input"><i class="icon-append fa fa-film"></i>
                                                        <input id="Video" name="Video" type="file"
                                                               accept=".mp4" class="form-control"
                                                               data-show-preview="false" data-language="es"
                                                               data-show-upload="false"/>
                                                        <div class="alert alert-success hidden" id="MsgEditarArchivo">
                                                            <em style="color: #666; font-weight: bold;">Seleccionar
                                                                archivo solo en caso se quiera reemplazar el actual</em>
                                                        </div>
                                                    </label>
                                                </div>
                                            </section>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label class="label">Peso<span class="req">*</span></label>
                                                    <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                        <input id="Peso" name="Peso" type="text"
                                                               class="form-control" data-show-preview="false"
                                                               data-language="es" data-show-upload="false"
                                                               readonly="readonly"/>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Duración</label>
                                                    <label class="input"><i class="icon-append fa fa-asterisk"></i>
                                                        <input id="Duracion" name="Duracion" type="text" maxlength="8"
                                                               class="form-control" data-show-preview="false"
                                                               data-language="es" data-show-upload="false"
                                                               readonly="readonly"/>
                                                    </label>
                                                </section>
                                            </div>
                                            <section class="">
                                                <div class="inline-group">
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivo" name="FlagActivo"
                                                               checked="checked"/>
                                                        <i></i>Activo</label>
                                                    <label class="radio">
                                                        <input type="radio" id="FlagActivoOff" name="FlagActivo"/>
                                                        <i></i>Inactivo</label>
                                                </div>
                                            </section>
                                            <div class="row">
                                                <section class="col col-6 text-align-center">
                                                    <video width="80%" controls id="video_parent">
                                                        <source src="" id="video_here">
                                                    </video>
                                                </section>
                                                <section  class="col col-6 text-align-center">
                                                    <div class="row text-center padding-bottom-10">
                                                        <button type="button" onclick="capturarVideoThumbnail()" class="btn btn-info">Capturar thumbnail</button>
                                                    </div>
                                                    <canvas id="canvas"></canvas>
                                                </section>
                                            </div>
                                            <audio id="Tiempo"></audio>
                                            <section class="text-align-center">
                                            </section>
                                        </fieldset>
                                        <footer class="">
                                            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar
                                            </button>
                                            <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODALS -->
                <!-- MODAL VISUALIZACION DE VIDEO -->
                <div class="modal fade" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true" data-backdrop="static">
                    <div class="modal-header text-center" style="border: none !important">
                        <a href="javascript:void(0)" data-dismiss="modal" title="Cerrar video"><i class="fa fa-close fa-2x txt-color-white"></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="modal-dialog modal-md">
                            <div class="">
                                <div class="">
                                    <video id="somevid" controls="" autoplay="" controlsList="nodownload" width="100%"
                                           height="100%">
                                        <source id="VideoReproduccion" src="" type="video/mp4"/>
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FINAL MODAL VISUALIZACION DE VIDEO -->
                <!-- FIN MODALS -->
            </section>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const body = document.querySelector('body');
    const frm = document.querySelector('#frm_registro');
    var $table = $('#tblRegistros');
    var $index = $('#Id');
    let objEdicion = {};

    $(function () {

        pageSetUp();
        init();
        listarRegistros();
        subirVideoChangeEvent();

        //V A L I D A T E
        validarRegistros();
        agregarModalParaVisualizacionImagen();

        $("#btnNuevo").click(function () {
            $('#Operacion').text('Registrar');
            $('#Archivo').addClass('hidden');
            $('#MsgEditarArchivo').addClass('hidden');
            $('#MsgActualizarSubCat').addClass('hidden');
            $('#CategoriaVideoId').removeClass('ignore');
            const subCat = document.getElementById('SubCategoriaVideoId');
            subCat.innerHTML = '<option value="" selected="selected"> -- Seleccione -- </option>';
            irRegistro();
        });

        $("#btnGuardar").click(function () {
            registro();
        });

        $("#CategoriaVideo").change(function () {
            cargarSubCategorias(1);
        });

        $("#CategoriaVideoId").change(function () {
            cargarSubCategorias(2);
        });

        $("#btnCancelar").click(function () {
            irListado($index);
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });

        $('#Tiempo').on('canplaythrough', function (e) {
            document.getElementById('Duracion').value = String(Math.round(e.currentTarget.duration)).toHHMMSS();
        });

        $('#myModalVideo').on('hidden.bs.modal', ()=> {
            $("#VideoReproduccion").parent().get(0).pause();
        })

    });

    function init(){
        body.addEventListener('focusout', bodyFocusOutEventListener);
        body.addEventListener('change', bodyChangeEventListener);
    }

    function bodyFocusOutEventListener(e){
        const input = e.target;
        if(input.tagName === "INPUT"){
            if(input.type==="text") {
                input.value = input.value.trim().replace(/ +/g, " ");
            }
        }

        if(input.tagName === "TEXTAREA"){
            input.value = input.value.trim();
        }
    }

    function bodyChangeEventListener(e){
        const input = e.target;
        const clases = input.classList;

        if(input.tagName === "SELECT"){
            if(!input.name){
                return;
            }
            if(input.name === 'CategoriaVideo'){
                if(input.value === ""){
                    const subCat = document.getElementById('SubCategoriaVideo');
                    subCat.innerHTML = '<option value="" selected="selected"> -- Seleccione -- </option>';
                }
            }
        }
    }

    function cargarSubCategorias(cond){
        let params = {};
        params.catVideoId = cond == 1 ? $('#CategoriaVideo').val() : $('#CategoriaVideoId').val();
        if(params.catVideoId != undefined && params.catVideoId >0)
            $.ajax({
                type: 'GET',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/sub-categoria-video/listarPorCategoria',
                dataType: "json",
                data: params,
                success: function (data, textStatus) {
                    if (textStatus == "success") {
                        if (data == "-9") {
                            $.smallBox({
                                content: "<i> La operación ha fallado, comuníquese con el administrador...</i>",
                                timeout: 4500,
                                color: "alert",
                            });
                        }else{
                            let subCatName = cond == 1 ? 'SubCategoriaVideo' : 'SubCategoriaVideoId', htmlRaw='';
                            $('#'+subCatName).html('');
                                htmlRaw = `<option value="" selected="selected"> -- Seleccione -- </option>`;
                                data.forEach(v => {
                                    htmlRaw +=`<option value="${v.id}">${v.nombre}</option>`;
                                });
                            $('#'+subCatName).html(htmlRaw);
                            $('#'+subCatName).parent().addClass('state-success');
                        }
                    }
                },
                error: function (xhr) {
                    exception(xhr);
                },
                complete: function () {}
            });
    }

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {
            $table.bootstrapTable('destroy');

            const data = getFormData($("#frm_busqueda"));

            $table.bootstrapTable({
                url: _ctx + 'gestion/video/obtenerListado/dinamico',
                pagination: true,
                sidePagination: 'server',
                pageSize: 10,
                queryParams: (res)=> {
                    res.flag = data.estado !== "-1" ? data.estado : null;
                    res.nombre = data.txtFiltro !== "" ? data.txtFiltro : null;
                    res.catVideoId = data.categoriaVideo !== "" ? data.categoriaVideo : null;
                    res.subCatVideoId = data.subCategoriaVideo !== "" ? data.subCategoriaVideo : null;
                    res.grupoVideoId = null;

                    return res;
                },
                onLoadSuccess: function (data) {
                },
                onLoadError: function (xhr) {
                    exception(xhr);
                },
            });
        }
    }

    function registro() {
        const canvas = document.getElementById('canvas');

        if ($(frm).valid()) {
            if(canvas.toDataURL("image/jpeg").length < 2000){
                $.smallBox({color: 'alert',
                    content:
                             '<span><i class="fa fa-exclamation-circle fa-fw"></i>' +
                            'Debe capturar una miniatura del video mediante el botón "Capturar thumbnail"</span>',
                    timeout: 10000});
                return;
            }
            $('#frm_registro input').attr('readonly', true);
            $('#frm_registro button').attr('disabled', true);
            var params = getFormData($(frm));
            params.flagActivo = $('#FlagActivo').is(':checked');
            var video = $("#Video").get(0);
            if(video.files[0]){//Para que no se interrumpa en caso de edición
                params.extFile = "."+getFileExtension(video.files[0].name);
            }

            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                url: _ctx + 'gestion/video/agregar',
                dataType: "json",
                data: params,
                blockLoading: true,
                noOne: false,
                success: function (res) {
                    const vId = objEdicion.id;
                    setTimeout(() => {
                        if(vId){
                            if (video.files[0] != null) {
                                subirVideo(res);
                            } else {
                                $.smallBox({content: 'Actualización exitosa'});
                                irListado($index);
                                listarRegistros();
                                $('#frm_registro input').removeAttr('readonly', true);
                                $('#frm_registro button').removeAttr('disabled', true);
                            }
                        }else{
                            subirVideo(res);
                        }

                    }, 400);
                },
                error: function (xhr) {
                    $('#frm_registro input').removeAttr('readonly', true);
                    $('#frm_registro button').removeAttr('disabled', true);
                    const res = xhr.responseJSON;
                    if(res){
                        if(res.code){
                            if(res.code === "23505"){
                                res.message += " en la sub categoría elegida";
                            }
                        }
                    }
                    exception(xhr);
                },
                complete: function (xhr) {
                    objEdicion = {};
                    if(xhr.status === 200) {
                        limpiarBusqueda();
                    } else{
                        if(xhr.status === 400){
                            //Excepción de nombre duplicado
                            $('#Nombre')[0].parentElement.classList.add('state-error');
                            $('#Nombre')[0].parentElement.classList.remove('state-success');
                        }
                    }
                }
            });
        }
    }

    function editar(id) {
        $('#MsgEditarArchivo').removeClass('hidden');
        $('#MsgActualizarSubCat').removeClass('hidden');
        irRegistro();
        $('#Operacion').text('Actualizar');
        var param = new Object();
        param.id = id;

        $.ajax({
            type: 'GET',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: _ctx + 'gestion/video/obtener/full',
            dataType: "json",
            data: param,
            success: function (data, textStatus) {
                if (textStatus == "success") {
                    objEdicion = data;
                    $("#Id").val(data.id);
                    $("#Nombre").val(data.nombre);
                    $("#Descripcion").val(data.descripcion);
                    $("#Duracion").val(data.duracion);
                    $("#Peso").val(data.peso);

                    $("#SubCategoriaVideoId").html('');
                    $("#SubCategoriaVideoId").append(`<option value=${data.subCatVideoId}>${data.nombreSubCat}</option>`);
                    $("#SubCategoriaVideoId").val(data.subCatVideoId);
                    $('#CategoriaVideoId').val(data.catVideoId);

                    data.flagActivo === true ?
                        $('#FlagActivo').prop('checked', true)
                        :
                        $('#FlagActivoOff').prop('checked', true);

                    $('#MsgEditarArchivo').attr('display', '');
                    $('#MsgActualizarSubCat').attr('display', '');
                    $('#Archivo').attr('data-route', data.rutaWeb);
                    $('#Archivo').removeClass('hidden');
                }
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {
                limpiarBusqueda();
            }
        });
    }

    function desactivar(id, ix) {
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Notificación",
            content: "<br/>¿Quieres activar o desactivar el registro?",
            buttons: '[No][Si]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "Si") {
                var params = {};
                params.id = id;
                params.flagActivo = actualStatus == "Activo" ? false : true;

                $.ajax({
                    type: 'PUT',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    url: _ctx + 'gestion/video/desactivar',
                    dataType: "json",
                    data: params,
                    success: function (data, textStatus) {
                        if (textStatus == "success") {
                            $.smallBox({
                                content: "<i> Se actualizó el registro...</i>",
                            });

                            actualStatus == "Activo" ?
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-danger">Inactivo</span>'
                                :
                                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                        }
                    },
                    error: function (xhr) {
                        exception(xhr);
                    },
                    complete: function () {
                        limpiarBusqueda();
                    }
                });
            } else {
            }
        })
    }

    function reproducirVideo(rutaWeb) {
        $('#VideoReproduccion').get(0).src = `https://s3-us-west-2.amazonaws.com/rf-media-rutina/video/${rutaWeb}`;
        $("#VideoReproduccion").parent().get(0).load();
    }

    function reproducirVideoModal() {
        let route = $('#Archivo').attr('data-route');
        $('#VideoReproduccion').get(0).src = `https://s3-us-west-2.amazonaws.com/rf-media-rutina/video/${objEdicion.id}/${route}`;
        $("#VideoReproduccion").parent().get(0).load();
    }

    function subirVideo(d) {
        const uuids = d.rdm.split("@");
        const rdmUUID = uuids[0];
        const thumbUuid = uuids[1];
        const videoId = d.res;
        var video = $("#Video").get(0);

        var data = new FormData();
        data.append("video", video.files[0]);
        data.append("videoId", videoId);
        data.append("randomUUIDs", rdmUUID + "|" + thumbUuid);

        //Binded thumnail
        const canvas = document.getElementById('canvas');
        const jpegUrl = canvas.toDataURL("image/jpeg");
        const blobBin = atob(jpegUrl.split(',')[1]);
        var array = [];
        for(var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var thumbnailJPEGFile =new Blob([new Uint8Array(array)], {type: "type/jpeg"});
        data.append("thumnailVideo", thumbnailJPEGFile);

        $.ajax({
            type: 'POST',
            url: _ctx + 'gestion/video/upload',
            data: data,
            contentType: false,
            processData: false,
            blockLoading: true,
            noOne: false,
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    myXhr.upload.addEventListener('progress', progress, false);
                }
                return myXhr;
            },
            success: function () {
                $.smallBox({});
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function (xhr) {
                if(xhr.status === 200){
                    listarRegistros();
                    irListado($index);
                }
                $('#frm_registro input').removeAttr('readonly', true);
                $('#frm_registro button').removeAttr('disabled', true);
            }
        });
    }

    function subirVideoChangeEvent() {
        $("#Video").change(function () {
            var $source = $('#video_here');
            //submit the form here
            var file;
            if ((file = this.files[0])) {
                const mbs = Number($(frm).validate().settings.rules[this.name].mbsMaxLength);
                $(this).valid();
                if(file.size > (Number(mbs) * 1024 * 1024)){
                    $('#Peso').val('');
                    $('#Duracion').val('');
                    this.value = null;
                    $.smallBox({color: 'alert', content: 'El archivo que ha intentado subir excede al límite permitido, por favor suba un archivo menor o igual a '+mbs+'MB'});
                    return;
                }
                const objUrl = URL.createObjectURL(file);
                document.getElementById('Tiempo').setAttribute('src', objUrl);
                $('#Peso').val(formatBytes(file.size, 2));
                $('#Peso').valid();
                $source[0].src = objUrl;
                $source.parent()[0].load();

            }else{
                $('#Peso').val('');
                $('#Duracion').val('');
            }
        });
    }

    function linkFormatter(value, row) {
        return String(`<a class='' href='#' onclick='editar(${row.id})' title='Editar'>${row.nombre}</a>`);
    }

    function Opciones(value, row, index) {
        var opciones =
            `<a href='#' onclick='javascript:desactivar(${row.id},${index});' title='Actualizar estado'><i class='fa fa-refresh fa-2x'></i></a> &nbsp
		            		 <a href='#' onclick='javascript:reproducirVideo("${row.id+"/"+row.rutaWeb}");' data-toggle='modal' data-target='#myModalVideo' title='Reproducir video'><i class='fa fa-play fa-2x'></i></a> &nbsp
		            		 <a class='font-sx' href='https://s3-us-west-2.amazonaws.com/rf-media-rutina/video/${row.id+"/"+row.rutaWeb}' title='Descargar video'><i class='fa fa-download fa-2x'></i></a> &nbsp`;
        return opciones;
    }

    function isActived(value, row) {
        if (row.flagActivo) {
            return '<span class="label label-success">Activo</span>';
        } else {
            return '<span class="label label-danger">Inactivo</span>';
        }
    }

    function validarRegistros() {
        $(frm).validate({
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                Nombre: {
                    required: true,
                    rangelength: [2, 100],
                    lettersonly: true
                },
                CategoriaVideoId: {
                    required: true,
                    digits: true,
                },
                SubCategoriaVideoId: {
                    required: true,
                    digits: true,
                },
                Video: {
                    required: function () {
                        if ($('#Id').val() > 0) {
                            return false;
                        }
                        return true;
                    },
                    extension: "mp4",
                    mbsMaxLength: "64"
                },
                Peso: {
                    required: true,
                    rangelength: [0, 11]
                }
            },
            messages: {
                CategoriaVideoId: {
                    required: "El campo es obligatorio",
                    digits: "Seleccione una categoría válida",
                },
                SubCategoriaVideoId: {
                    required: "El campo es obligatorio",
                    digits: "Seleccione una sub categoría válida",
                },
                Video: {
                    required: "La subida del video es obligatoria",
                },
                Peso: {
                    required: "Adjunte el video y el campo se llenará",
                }
            },
            submitHandler: function () {
                registro();
            }
        });

        //Seteando los Maxlength según rangelength property
        const rules = $(frm).validate().settings.rules;
        Object.keys(rules).filter(e=>rules[e].hasOwnProperty('rangelength')).forEach(e=>{
            document.getElementById(e).setAttribute('maxlength', rules[e].rangelength[1]);
        });
    }

    function capturarVideoThumbnail(){
        var canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);

        var videoParent = document.getElementById('video_parent');
        canvas.getContext('2d').drawImage(videoParent, 0, 0, videoParent.videoWidth, videoParent.videoHeight, 0, 0, 300, 150);
    }

    /*]]>*/
</script>

</body>

</html>
