<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit</title>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>
    <style>
        .space-right{
            padding: 2% 3% 0 3%;
        }
        .space-left{
            padding: 8% 3% 0% 3%;
            text-align: center;
        }
        .td-min{
            font-size: 40px;
            text-align: center;
        }
        .td-min-h{
            margin-top:2%
        }
        .close {
            color: #f2594a !important;
            opacity: 2 !important;
        }
        .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
        .icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
        .abtn-multimedia {
            margin: 0 4%;
        }
        th{
            text-align: center;
        }
        .fa-heart{
            color: #db4a67;
        }
        .disabled{
            color: #999;
        }
    </style>

    <!-- END CSS FILES -->
</head>
<body class="desktop-detected pace-done mobile-view-activated smart-style-1">

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
        <fieldset>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="space-right">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 td-min"> <a href="javascript:AgregarMultimedia()"><i class="fa fa-cloud-upload"></i></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 td-min-h">
                            <a id="btnAudios" data-id="1" class="btn icon-btn btn-warning" href="#">
                                <span class="glyphicon btn-glyphicon glyphicon-music img-circle text-warning"></span>Audios</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 td-min-h">
                            <a id="btnVideos"  data-id="2" class="btn icon-btn btn-success" href="#">
                                <span class="glyphicon btn-glyphicon glyphicon-facetime-video img-circle text-success"></span>Vídeos</a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 td-min-h">
                            <a id="btnTextos" data-id="3" class="btn icon-btn btn-danger" href="#">
                                <span class="glyphicon btn-glyphicon glyphicon-list-alt img-circle text-danger"></span>Textos</a>
                        </div>
                    </div>
                </div>
                <div class="space-right">
                    <div class="row">
                     <table class="table table-wrap" style="text-align: center;" >
                         <thead>
                         <th></th>
                         <th>#</th>
                         <th id="thTitulo"></th>
                         <th id="thTitulo2">Nombre</th>
                         <th></th>
                         </thead>
                         <tbody id="tbVideoAudio">
                         </tbody>
                     </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="space-left">
                    <div class="row" style="margin-bottom: 1.6%!important;">
                        <span>Los 10 temas más gustados</span>
                    </div>
                </div>
                <div class="space-right">
                    <div class="row">
                        <table class="table table-wrap" style="text-align: center;">
                            <thead>
                            <th></th>
                            <th>#</th>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Puntuación</th>
                            </thead>
                            <tbody id="tbTop">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->


<!-- MODAL -->
<div class="modal fade" id="modalmultimedia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 100%;height: 100%;" >
            <div class="modal-body">
                <div class="">
                    <a data-id="1" class="abtn-multimedia btn icon-btn btn-danger" href="#"> <span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-music img-circle text-danger"></span>Agregar Audio</a>
                    <a data-id="2" class="abtn-multimedia btn icon-btn btn-success" href="#"><span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-facetime-video img-circle text-success"></span>Agregar Vídeo</a>
                    <a data-id="3" class="abtn-multimedia btn icon-btn btn-danger" href="#"> <span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-list-alt img-circle text-danger"></span>Agregar Texto</a>
                </div>
                <div id="registroTexto" class="row" style="padding: 5% 3% 0 3%;">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <label>Titulo</label>
                    </div><button id="btnTexto" type="button" class="btn btn-primary pull-right">Guardar</button>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input id="tTitulo" type="text" class="form-control"/>
                    </div>
                    <br/><br/>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <label>Descripción</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <textarea id="tDescripcion" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <!-- COMPONENT START -->
                <form id="subirArchivo">
                <div class="form-group" style="margin-top: 6%">
                    <div class="input-group input-file" name="Fichier1">
                        <input id="inputFile" onchange='getEventChange(this)' type="text" accept="video/mp4,video/x-m4v,video/*" class="form-control" placeholder='Seleccione un archivo...' />
                        <audio id="Tiempo" style="display: none;"></audio>
                        <video id="Tiempo2" style="display: none;"></video>
                        <span class="input-group-btn">
        		        <button class="btn btn-default btn-choose" type="button">Seleccionar</button>
    		            </span>
                    </div>
                </div>
                <div class="form-group">
                    <button id="btnGuardarArchivo" type="button" class="btn btn-primary pull-right">Guardar Archivo</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </div>
                </form>
                <!-- COMPONENT END -->
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


<!-- PAGE FOOTER -->
<input type="hidden" id="userSession" value="" />
<div th:replace="html-commons/footer :: fg-footer"></div>
<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/perfect-sb/perfect-scrollbar.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/summernote/summernote.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/bootstrap-slider/bootstrap-slider.min.js}+'?'+${version}"></script>
<script th:src="@{/js/bootbox.min.js}+'?'+${version}"></script>

<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>
<script th:src="@{/js/trainer-consejos.js}+'?'+${version}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("#registroTexto").hide();
    });

    /*]]>*/
</script>

</body>
</html>
