<!DOCTYPE html>
<html lang="es-ES" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
  </head>
  <body>
   <th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
   <th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>

   <style>

       .btn-dark {
           color: #fff;
           background-color: #343a40;
           border-color: #343a40;
       }

       .col-form-label {
           padding-top: calc(.375rem + 3px);
           padding-bottom: calc(.375rem + 3px);
           margin-bottom: 0;
           font-size: inherit;
           line-height: 1.5;
       }

       .invalid{
           color: #eb354d;
       }
   </style>

    <div id="main-content">
      <div id="wrapper">
        <div class="container-t">
          <header>
              <div class="text-center">
                  <button class="navbar-toggle only_mobile" onclick="showMenuMobile()"><img class="svg" th:src="@{/img/iconos/icon_hamburger.svg}"></button><a class="only_mobile" th:href="@{/bienvenido}"><img class="logo" th:src="@{/img/logo.png}" alt=""></a>
                  <h4 class="user">
                      <img class="svg" th:src="@{/img/iconos/icon_perfil.svg}"><span class="user-full-name"></span></h4>
              </div>
          </header>
        </div>
        <div class="container-consejos">
         <div>
          <h3 class="title_section no_margin_top">mis consejos</h3>
          <section class="consejos">
            <div class="search">
              <div class="input-group">
                <input class="form-control" type="text" id="inpSearch">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" id="btnSearch">BUSCAR</button>
                </div>
              </div>
              <div class="options">
                <button class="btn" type="button" data-toggle="modal" data-target="#mdlAgregarConsejo"><img class="svg" src="/img/iconos/icon_disquete.svg"></button>
                <button class="btn" type="button" id="btnAudiosList"><img class="svg" src="/img/iconos/icon_microfono.svg"></button>
                <button class="btn" type="button" id="btnPostsList"><img class="svg" src="/img/iconos/icon_leyenda.svg"></button>
              </div>
            </div>
            <div class="resultados">
              <ul>
                <li> <img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="delete"><img class="svg" src="/img/iconos/icon_trash.svg"></a>
                  </div>
                </li>
                <li><img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="delete"><img class="svg" src="/img/iconos/icon_trash.svg"></a>
                  </div>
                </li>
                <li><img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="delete"><img class="svg" src="/img/iconos/icon_trash.svg"></a>
                  </div>
                </li>
              </ul>
            </div>
          </section>
         </div>

         <div class="dv-consejos-favs">
          <h4 class="title_section no_margin_top">Consejos preferidos por sus clientes</h4>
          <section class="consejos-favs">
            <div class="resultados">
              <ul>
                <li> <img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="fav"><img class="svg" src="/img/iconos/icon_heart.svg"></a>
                  </div>
                </li>
                <li><img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="fav"><img class="svg" src="/img/iconos/icon_heart.svg"></a>
                  </div>
                </li>
                <li><img class="material svg" src="/img/iconos/icon_microfono.svg"><span>Entrenamiento de fuerza</span>
                  <div class="pull-right">
                    <div class="time"><img class="svg" src="/img/iconos/icon_time.svg"><span>2' 48"</span></div><a class="fav"><img class="svg" src="/img/iconos/icon_heart.svg"></a>
                  </div>
                </li>
              </ul>
            </div>
          </section>
         </div>
        </div>
      </div>
    </div>

    <!-- MODAL  -->

    <div class="modal fade" id="mdlAgregarConsejo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content" style="width: 100%;height: 100%;" >
               <div class="modal-body">
                   <ul class="nav nav-pills mb-3" id="ulMdlSubirConsejo" role="tablist">
                       <span> AGREGAR CONSEJO </span>
                       <li class="nav-item active">
                           <a class="nav-link active" id="pills-texto-tab" data-tipo="1" data-toggle="pill" href="#pills-texto" role="tab" aria-controls="pills-texto" aria-selected="false"><img class="svg" src="/img/iconos/icon_leyenda.svg"> Nota </a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link " id="pills-audio-tab" data-toggle="pill" data-tipo="2" href="#pills-audio" role="tab" aria-controls="pills-audio" aria-selected="true"><img class="svg" src="/img/iconos/icon_microfono.svg"> Audio </a>
                       </li>


                   </ul>
                   <div class="tab-content" id="pills-tabConsejosContent">

                       <div class="tab-pane fade active in" id="pills-texto" role="tabpanel" aria-labelledby="pills-texto-tab">
                           <form id="registrar-texto-frm" method="post">

                           <div id="registroTexto">
                             <div class="form-group row">
                               <div class="col-lg-2 col-md-2 col-sm-2">
                                   <label>Titulo</label>
                               </div>
                               <div class="col-lg-10 col-md-10 col-sm-10">
                                   <input id="tTitulo" name="titulo" type="text" class="form-control"/>
                               </div>
                             </div>

                              <div class="form-group row">
                                   <div class="col-lg-2 col-md-2 col-sm-2">
                                     <label>Descripción</label>
                                   </div>
                                   <div class="col-lg-10 col-md-10 col-sm-10">
                                       <textarea id="tDescripcion" name="descripcion" rows="5" class="form-control"></textarea>
                                   </div>
                               </div>
                           </div>
                           </form>

                       </div>
                       <div class="tab-pane fade" id="pills-audio" role="tabpanel" aria-labelledby="pills-audio-tab">
                           <form id="registrar-audio-frm" method="post">
                                    <div class="form-group row">
                                        <label for="inpTitulo" class="col-sm-2 col-form-label">Título</label>
                                        <div class="col-sm-10">
                                            <div>
                                             <input id="inpTitulo" name="titulo" type="text"  class="form-control" placeholder="Título"  />
                                            </div>
                                        </div>
                                    </div>

                               <div class="form-group row">
                                   <label for="inputFile" class="col-sm-2 col-form-label"> Archivo</label>
                                   <div class="col-sm-10">
                                       <div class="input-group input-file" name="Fichier1">

                                           <input id="inputFile"  name="file" onchange='getEventChange(this)' type="text" accept="audio/*" class="form-control" placeholder='Seleccione un archivo...' />
                                           <audio id="Tiempo" style="display: none;"></audio>
                                           <video id="Tiempo2" style="display: none;"></video>
                                           <span class="input-group-btn">
        	                 	        <button class="btn btn-default btn-choose" type="button">Seleccionar</button>
    		                           </span>

                                       </div>
                                   </div>
                               </div>



                           </form>


                       </div>

                  <!--
                   <button class="btn" type="button"><img class="svg" src="/img/iconos/icon_microfono.svg"></button>
                   <button class="btn" type="button"><img class="svg" src="/img/iconos/icon_leyenda.svg"></button>
                   <button class="btn" type="button"><img class="svg" src="/img/iconos/icon_videoteca.svg"></button>
-->
           <!--        <ul class="nav nav-pills mb-3"  role="tablist">
                      <span class="titulo-form"> AGREGAR CONSEJO </span>
                       <li class="nav-item">
                           <a class="nav-link active" id="pills-audio-tab" data-toggle="pill" href="#pills-audio" role="tab" aria-controls="pills-audio" aria-selected="true"><img class="svg" src="/img/iconos/icon_microfono.svg"> Audio </a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="pills-texto-tab" data-toggle="pill" href="#pills-texto" role="tab" aria-controls="pills-texto" aria-selected="false"><img class="svg" src="/img/iconos/icon_leyenda.svg"> Nota </a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false"><img class="svg" src="/img/iconos/icon_videoteca.svg"> Video </a>
                       </li>

                   <div class="tab-content" id="pills-tabConsejosContent">
                       <div class="tab-pane fade show active" id="pills-audio" role="tabpanel" aria-labelledby="pills-audio-tab">


                       </div>
                       <div class="tab-pane fade" id="pills-texto" role="tabpanel" aria-labelledby="pills-texto-tab">

                       </div>
                       <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">




                       </div>
                   </div> -->
                <!--   <div class="">
                       <a data-id="1" class="abtn-multimedia btn icon-btn btn-danger" href="#"> <span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-music img-circle text-danger"></span>Agregar Audio</a>
                       <a data-id="2" class="abtn-multimedia btn icon-btn btn-success" href="#"><span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-facetime-video img-circle text-success"></span>Agregar Vídeo</a>
                       <a data-id="3" class="abtn-multimedia btn icon-btn btn-danger" href="#"> <span class="spanbtn-multimedia glyphicon btn-glyphicon glyphicon-list-alt img-circle text-danger"></span>Agregar Texto</a>
                   </div>
                   <div id="registroTexto" class="row" style="padding: 5% 3% 0 3%;">
                       <div class="col-lg-2 col-md-2 col-sm-2">
                           <label>Titulo</label>
                       </div><button id="btnTexto" type="button" class="btn btn-primary pull-right">Guardar</button>
                       <div class="col-lg-6 col-md-6 col-sm-6">
                           <input id="tTitulo" type="text" class="form-control"/>
                       </div>
                       <br/><br/>
                       <div class="col-lg-2 col-md-2 col-sm-2">
                           <label>Descripción</label>
                       </div>
                       <div class="col-lg-8 col-md-8 col-sm-8">
                           <textarea id="tDescripcion" rows="5" class="form-control"></textarea>
                       </div>
                   </div> -->
                   <!-- COMPONENT START -->
                <!--   <form id="subirArchivo">
                       <div class="form-group" style="margin-top: 6%">
                           <div class="input-group input-file" name="Fichier1">
                               <input id="inputFile" onchange='getEventChange(this)' type="text" accept="video/mp4,video/x-m4v,video/*" class="form-control" placeholder='Seleccione un archivo...' />
                               <audio id="Tiempo" style="display: none;"></audio>
                               <video id="Tiempo2" style="display: none;"></video>
                               <span class="input-group-btn">
        		        <button class="btn btn-default btn-choose" type="button">Seleccionar</button>
    		            </span>
                           </div>
                       </div>
                       <div class="form-group">
                           <button id="btnGuardarArchivo" type="button" class="btn btn-primary pull-right">Guardar Archivo</button>
                           <button type="reset" class="btn btn-danger">Limpiar</button>
                       </div>
                   </form>  -->
                   <!-- COMPONENT END -->
               </div>
           </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="btnGuardarConsejo" type="button" class="btn btn-dark pull-right">Guardar </button>
                        <button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary"> Cancelar </button>
                    </div>
                </div>
       </div>
   </div>
  </div>

   <div class="modal fade" id="mdlVerConsejoTexto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content" style="width: 100%;height: 100%;" >
               <div class="modal-header" style="background: black">
                   <button type="button btn-white" class="close" data-dismiss="modal" title="Close" style="color: #ffffff; opacity: 0.8;"> <span class="glyphicon glyphicon-remove"></span></button>
                   <h4 class="modal-title text-align-center" ><strong> Consejo </strong></h4>
               </div>
               <div class="modal-body">
                   <form id="actualizar-texto-frm" method="post">

                     <div id="dvContenidoConsejoTexto">
                       <div class="form-group row">
                           <div class="col-lg-2 col-md-2 col-sm-2">
                               <label>Titulo</label>
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-10">
                               <input id="mdlTxtTitulo" name="titulo" type="text" class="form-control" readonly="readonly"/>
                           </div>
                       </div>

                       <div class="form-group row">
                           <div class="col-lg-2 col-md-2 col-sm-2">
                               <label>Descripción</label>
                           </div>
                           <div class="col-lg-10 col-md-10 col-sm-10">
                               <textarea id="mdlTxtDescripcion" name="descripcion" rows="5" class="form-control" readonly="readonly"></textarea>
                           </div>
                       </div>
                   </div>

                   </form>
                 </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <button id="btnEditarConsejoTxt" type="button" class="btn btn-secondary"> Editar </button>
                        </div>

                     <div id="dvBtnsActualizarTxt" class="form-group hidden">
                       <button id="btnActualizarConsejoTxt" type="button" class="btn btn-dark pull-right">Actualizar </button>
                       <button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary"> Cancelar </button>
                     </div>
                   </div>
           </div>
       </div>
   </div>

   <div class="modal fade" id="mdlVerConsejoAudio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content" style="width: 100%;height: 100%;" >
               <div class="modal-header" style="background: black">
                   <button type="button btn-white" class="close" data-dismiss="modal" title="Close" style="color: #ffffff; opacity: 0.8;"> <span class="glyphicon glyphicon-remove"></span></button>
                   <h4 class="modal-title text-align-center" ><strong> Consejo </strong></h4>
               </div>
               <div class="modal-body">
                   <div id="dvContenidoConsejoAudio">
                       <form id="actualizar-audio-frm" method="post">
                           <div class="form-group row">
                               <label for="inpTitulo" class="col-sm-2 col-form-label">Título</label>
                               <div class="col-sm-10">
                                   <input id="mdlAudioTitulo" name="titulo" type="text"  class="form-control" placeholder="Título"  />
                               </div>
                           </div>

                           <div class="form-group row">
                               <label for="inputFile" class="col-sm-2 col-form-label"> Archivo</label>
                               <div class="col-sm-10">
                                   <div class="input-group input-file">

                                       <input id="mdlAudioFile" name="file" onchange='getEventChange(this)' type="text" accept="audio/*" class="form-control" placeholder='Seleccione si desea cambiar el archivo actual' />

                                       <span class="input-group-btn">
        	                 	        <button class="btn btn-default btn-choose" type="button">Seleccionar</button>
    		                           </span>

                                   </div>
                               </div>
                           </div>



                       </form>



                   </div>
               </div>

               <div class="modal-footer">
                   <div class="form-group">
                       <button id="btnEditarConsejoAudio" type="button" class="btn btn-secondary"> Editar </button>
                   </div>

                   <div id="dvBtnsActualizarAudio" class="form-group hidden">
                       <button id="btnActualizarConsejoAudio" type="button" class="btn btn-dark pull-right">Actualizar </button>
                       <button data-dismiss="modal" aria-hidden="true" class="btn btn-secondary"> Cancelar </button>
                   </div>
               </div>
           </div>
       </div>
   </div>








   <input type="hidden" id="userSession" value="" />

     <th:block th:insert="html-commons/in/js :: fg-js"></th:block>
    <script th:src="@{/js/trainer-consejos.js}+'?'+${version}"></script>





  </body>
</html>
