<!DOCTYPE html>
<html lang="es-ES" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Messenger</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
    <style>
        .chat-foto > img{
            border-radius: 50%;
            border: 1px solid white;
            height: 50px;
            width: 50px;
        }

        .chat-nombre{

        }

        .chat-nombre h4{
            margin: 0px !important;
        }

        .chat-nombre h5{
            margin: 15px 0px 0px !important;
            color: white;
            font-size: 0.9em;
        }

        .chat-mensaje{
            padding-top: 8px;
        }

        .chat-mensaje h5{
            word-break: break-word;
        }

        .chat-fecha{
            font-size: 0.9em;
            color: white;
            color: deepskyblue;
        }

        .container{
            max-width: 1024px !important;
        }

        .padding-0{
            padding: 0px !important;
        }

        .chat-trainer-mini{
            padding: 15px 0px;
            margin: 8px 0px;
        }

        .par-chat-fecha{
            float: right;
        }

        .chat-read{
            border-radius: 20px;
            border: 1px solid gray;
        }

        .chat-unread{
            border-radius: 20px;
            border: 1px solid deepskyblue;
        }

        .chat-read:hover, .chat-unread:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>

<div id="main-content">
    <div id="wrapper">
        <div class="container">
            <header>
                <div class="text-center">
                    <button class="navbar-toggle only_mobile" onclick="showMenuMobile()"><img class="svg" src="/img/iconos/icon_programas.svg"></button><a class="only_mobile" href="index.html"><img class="logo" src="/img/logo.png" alt=""></a>
                    <h4 class="user">
                        <img class="svg" th:src="@{/img/iconos/icon_perfil.svg}"><span class="user-full-name"></span><span id="TipoRutina">&nbsp;</span></h4>
                    </h4>
                </div>
            </header>
        </div>
        <div class="container no_padding_top">
            <h3 class="title_section no_margin_top">CHAT</h3>
            <section class="consejos">

                <input th:value="${postsFavoritos}" type="hidden"  id="arrPostsFavs"/>

                <div class="search">
                    <div class="input-group">
                        <input class="form-control" type="text" id="inpSearch">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="btnSearch">BUSCAR</button>
                        </div>
                    </div>
                    <div class="options">
                        <button class="btn" type="button" id="btnAudiosList"><img class="svg" src="/img/iconos/icon_microfono.svg"></button>
                        <button class="btn" type="button" id="btnPostsList"><img class="svg" src="/img/iconos/icon_edit_file.svg"></button>
                        <button class="btn" type="button" id="btnFavsList"><img class="svg" src="/img/iconos/icon_heart.svg"></button>
                    </div>
                </div>
                <div class="item row" id="ChatContainer">
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-5 col-xs-12" id="TrainerProfiles">

                        </div>
                        <div class="col-md-7 col-xs-12" id="ContentChat">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Modal ver consejo (texto)   -->

<div class="modal fade" id="mdlVerConsejoTexto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 100%;height: 100%;" >
            <div class="modal-header" style="background: black">
                <button type="button btn-white" class="close" data-dismiss="modal" title="Close" style="color: #ffffff; opacity: 0.8;"> <span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-align-center" ><strong> Consejo </strong></h4>
            </div>
            <div class="modal-body">
                <form id="actualizar-texto-frm" method="post">

                    <div id="dvContenidoConsejoTexto">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label>Titulo</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="mdlTxtTitulo" name="titulo" type="text" class="form-control" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <label>Descripción</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <textarea id="mdlTxtDescripcion" name="descripcion" rows="5" class="form-control" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<script>

    const body = document.querySelector('body');
    const chatContainer = document.getElementById('ChatContainer');
    let $chats = [];

    (function () {
        const trainerChats = [];
        init();
    })();

    function init(){
        recrearChats();
        eventos();
    }

    function eventos(){
        chatContainer.addEventListener('click', clickEventListenerChat);
    }

    function clickEventListenerChat(e){
        const input = e.target;
        const clases = input.classList;
        if (clases.contains('chat-unread')) {
            const chatId = input.getAttribute('data-id');
            actualizarFlagChat(chatId, input);
        } else if (clases.contains('chat-read')) {
            const chatId = input.getAttribute('data-id');
        }
    }

    function actualizarFlagChat(chatId, input){
        $.ajax({
            type: 'PUT',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx + 'gestion/chat/update/flag/'+chatId,
            dataType: 'json',
            success: function(){
                updateCookie("GLL_NOTIFICACION_CHAT", Number(getCookie("GLL_NOTIFICACION_CHAT"))-1);
                updateChatNotificaciones();
                input.classList.remove('chat-unread');
                input.classList.add('chat-read');
            },
            error: function(err){
                exception(err);
            }
        })
    }

    function recrearChats(){
        const trainerProfiles = document.getElementById('TrainerProfiles');
        $.ajax({
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx+ 'gestion/chat/get/cliente',
            dataType: 'json',
            success: function(data){
                $chats = data;
                data.forEach(e=>{
                    const ultimo = JSON.parse(e.ultimo);
                    const checkRead = e.flagLeido;
                    const ultimoMensaje = ultimo.msg.length > 77 ? ultimo.msg.substr(0, 77) + "..." : ultimo.msg;
                    trainerProfiles.appendChild(htmlStringToElement(`
                        <div class="row chat-trainer-mini ${checkRead ? 'chat-read' : 'chat-unread'}" data-id="${e.id}">
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-3 chat-foto">
                                    <img class="user" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${e.fpTrainer}">
                                </div>
                                <div class="col-md-9 chat-nombre">
                                    <div class="row col-md-12">
                                        <div class="row col-md-10 padding-0">
                                            <h4>${e.nomTrainer}</h4>
                                        </div>
                                        <div class="row col-md-2 par-chat-fecha">
                                            <span class="chat-fecha">${'10/9'}</span>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 chat-mensaje padding-0">
                                        <h5>${ultimoMensaje}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
                        ));
                });

            },error: (err)=>{
                exception(err);
            }
        })
    }
</script>
</body>
</html>
