<!DOCTYPE html>
<html lang="es-ES" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Runfit Messenger</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
</head>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>

<div class="row" id="main-content">
    <div class="container-chat chat" id="ChatContainer">
        <div class="col-md-4 no_padding">
            <h3>Chat<span style="padding-right: 10px">Recientes</span></h3>
            <div class="contacts" id="TrainerProfiles">
            </div>
        </div>
        <div class="col-md-8 no_padding" id="ShowedChat">

        </div>
    </div>
</div>

<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<script>

    const body = document.querySelector('body');
    const chatContainer = document.getElementById('ChatContainer');
    const trainerProfiles = document.getElementById('TrainerProfiles');
    let $chatSelected = false;

    let $chats = [];

    (function () {
        init();
    })();

    function init(){
        recrearChats();
        eventos();

        //
        const windowHeight = $(window).height();
        $('#ChatContainer')[0].style.height = windowHeight + "px";
        $('#ShowedChat')[0].style.height = windowHeight + "px";
    }

    function eventos(){
        chatContainer.addEventListener('click', clickEventListenerChat);
        body.addEventListener('keyup', keyUpEventListener);
    }

    function clickEventListenerChat(e){
        const input = e.target;
        const clases = input.classList;
        if (clases.contains('chat-unread')) {
            let chatId = input.getAttribute('data-id');
            let tmpInput = input;
            while(!chatId){
                tmpInput = tmpInput.parentElement;
                chatId = tmpInput.getAttribute('data-id');
            }
            actualizarFlagChat(chatId, tmpInput);
            mostrarChatPorDefecto($chats.find(e=>e.id===Number(chatId)));
            inputChatMessage();
            $chatSelected = true;
        } else if (clases.contains('chat-read')) {
            let chatId = input.getAttribute('data-id');
            let tmpInput = input;
            while(!chatId){
                tmpInput = tmpInput.parentElement;
                chatId = tmpInput.getAttribute('data-id');
            }
            mostrarChatPorDefecto($chats.find(e=>e.id===Number(chatId)));
            inputChatMessage();
            $chatSelected = true;
        } else if(clases.contains('send-message') || clases.contains('i-send-message')) {
            if($chatSelected){
                const chatId = input.getAttribute('data-id');
                enviarChatMensaje(chatId);
            }else{
                $.smallBox({color: 'alert',
                    content: '<i class="fa fa-exclamation-triangle fa-fw"></i>Para iniciar una conversación primero debe seleccionar a un asesor'});
            }
        }
    }

    function keyUpEventListener(e) {
        const input = e.target;
        if(input.id === 'ChatMensaje' && e.keyCode === 13){
            document.querySelector('button.send-message').click();
        }
    }

    function enviarChatMensaje(chatId){
        const msj = $('#ChatMensaje').val().replace(/\r?\n/g, '<br />').trim();
        //ELSE Continua el flujo normal
        if (!(msj.length > 0 && msj.length <= 255)) {
            $('#ChatSms').focus();
            $.smallBox({color: 'alert',
                content: '<i class="fa fa-exclamation-triangle fa-fw"></i>No puede enviar mensajes vacíos, además su mensaje no debe exceder los 255 caracteres'});
            return;
        }

        const chat = $chats.find(e=>e.id === Number(chatId));
        if(!chat.mensajes){
            enviarPrimerChat(chat, msj);
            return;
        }
        $.ajax({
            type: 'PUT',
            url: _ctx + 'gestion/chat/update/' + chatId,
            blockLoading: false,
            dataType: 'json',
            data: {
                msg: msj,
            },
            success: (data) => {
                const htmlChats = document.querySelector('.cvs ul');
                htmlChats.innerHTML = '';

                data.forEach(c=>{
                    htmlChats.appendChild(htmlStringToElement(
                        `<li class="${c.esSalida ? 'sent':'received'} ${c.esContinuo ? 'continuo' : ''}">
                            <div class="perfil">
                                ${c.esSalida ?
                        `<img class="user" src="${_ctx}img/user_avatar.png">`:
                        `<img class="user" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${chat.fpTrainer}">`}
                            </div>
                            <div class="messages ${c.esSalida ? 'message-sent':'message-received'}">
                                <p class="name">${c.esSalida ? '': chat.nomTrainer} <span>${setFechaChat(c.fecha)}</span></p>
                                <div class="message">${c.msg}</div>
                            </div>
                        </li>`
                    ));
                });
                //Updating lateral panel
                const divChat = trainerProfiles.querySelector(`.cnt[data-id="${chatId}"]`);
                const finalMsg = msj.length > 58 ? msj.substr(0, 58) + "..." : msj;
                divChat.querySelector(`.message-lateral`).textContent = `Usted: ${finalMsg}`;
                divChat.querySelector('.fecha-o-time').textContent = setFechaChat(getDateAsDateTimeString());
                trainerProfiles.insertBefore(divChat, trainerProfiles.firstElementChild);

                //MainChat
                $('#ChatMensaje').val("");
                scrollChatBody();

                const lastMessage = data.slice(-1);
                const currentChat = $chats.find(e => e.id === Number(chatId));
                currentChat.mensajes = JSON.stringify(data);
                currentChat.ultimo = JSON.stringify(lastMessage);
            },
            error: (err) => {
                exception(err)
            },
            complete: () => {
            }
        })
    }

    function enviarPrimerChat(chat, nueMsg){
        const data = {};
        data.cliCorreo = "peter.carranza@itsight.pe";
        data.cuerpo = nueMsg;
        data.nomTrainer = chat.nomTrainer;
        data.fpTrainer = chat.fpTrainer;
        data.redFitId = chat.id;

        $.ajax({
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx+'gestion/chat/primer/mensaje',
            data: data,
            blockLoading: true,
            dataType: 'json',
            success: (res)=>{
                const htmlChats = document.querySelector('.cvs ul');
                htmlChats.appendChild(htmlStringToElement(`
                    <li class="sent">
                        <div class="perfil">
                            <img src="${_ctx}img/user_avatar.png" />
                        </div>
                        <div class="messages message-sent">
                            <p class="name"><span>${setFechaChat(getDateAsDateTimeString())}</span></p>
                            <div class="message">${nueMsg}</div>
                        </div>
                    </li>
                `));

                //Updating lateral panel
                const divChat = trainerProfiles.querySelector(`.cnt[data-id="${chat.id}"]`);
                const finalMsg = nueMsg.length > 58 ? nueMsg.substr(0, 58) + "..." : nueMsg;
                divChat.querySelector(`.message-lateral`).textContent = `Usted: ${finalMsg}`;
                divChat.querySelector('.fecha-o-time').textContent = setFechaChat(getDateAsDateTimeString());
                trainerProfiles.insertBefore(divChat, trainerProfiles.firstElementChild);

                //MainChat
                $('#ChatMensaje').val("");

                const currentChat = $chats.find(e => e.id === chat.id);
                currentChat.mensajes = JSON.stringify(
                    [{
                        esSalida: true,
                        fecha: getDateAsDateTimeString(),
                        msg: nueMsg
                    }]
                )
            },
            error: (err)=>{
                exception(err);
            },
            complete: ()=>{}
        })
    }



    function inputChatMessage(){
        const chatMessage = document.getElementById('ChatMensaje');
        chatMessage.value = "";
        chatMessage.focus();
    }

    function actualizarFlagChat(chatId, input){
        $.ajax({
            type: 'PUT',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx + 'gestion/chat/update/flag/'+chatId,
            dataType: 'json',
            success: function(){
                const GLL_NOT_CHAT_VALUE = Number(getCookie("GLL_NOTIFICACION_CHAT"))-1 <= 0 ? 0 : Number(getCookie("GLL_NOTIFICACION_CHAT"))-1
                updateCookie("GLL_NOTIFICACION_CHAT", GLL_NOT_CHAT_VALUE);
                updateChatNotificaciones();
                input.querySelectorAll('.chat-unread').forEach(e=>{
                    e.classList.remove('chat-unread');
                    e.classList.add('chat-read');
                });
                input.classList.remove('chat-unread');
                input.classList.add('chat-read');
            },
            error: function(err){
                exception(err);
            }
        })
    }

    function recrearChats(){
        $.ajax({
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx+ 'gestion/chat/get/cliente',
            dataType: 'json',
            success: function(data){
                //F1
                if(!data.length){
                    return;
                }
                data = data.sort((a, b) =>
                    (b.fechaModificacion ? parseFromStringToDateTime(b.fechaModificacion) : parseFromStringToDateTime(b.fechaCreacion)) -
                    (a.fechaModificacion ? parseFromStringToDateTime(a.fechaModificacion).getTime() : parseFromStringToDateTime(a.fechaCreacion))
                );
                $chats = data;
                data.forEach(e=>{
                    const ultimo = JSON.parse(e.ultimo);
                    const ultimoMensaje = !ultimo ? 'Aún no han iniciado conversación' : ultimo.msg.length > 58 ? ultimo.msg.substr(0, 58) + "..." : ultimo.msg;
                    const chatIsMine = !ultimo ? false : ultimo.esSalida;
                    const checkRead = !ultimo ? true : chatIsMine ? true : e.flagLeido;
                    const fnlClass = checkRead ? 'chat-read' : 'chat-unread';
                    trainerProfiles.appendChild(htmlStringToElement(`
                        <div class="cnt ${fnlClass}" data-id="${e.id}">
                            <div class="perfil ${fnlClass}">
                                <img class="${fnlClass}" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${e.fpTrainer}"/></div>
                            <div class="datos ${fnlClass}">
                                <h4 class="${fnlClass}">${e.nomTrainer}<span class="fecha-o-time ${fnlClass}">${!ultimo ? '' : setFechaChat(ultimo.fecha)}</span></h4>
                                <span class="message-lateral ${fnlClass}">${chatIsMine ? 'Usted: ' : ''}${ultimoMensaje}</span>
                            </div>
                        </div>
                        `
                    ));
                });

                mostrarChatPorDefecto($chats[0], true);

            }, error: (err)=>{
                exception(err);
            }
        })
    }

    function mostrarChatPorDefecto(chat, isInit){
        const chatDefecto = document.getElementById('ShowedChat');
        if(!chat.mensajes){
            chatDefecto.innerHTML = `
            <div class="cnt name-cvs">
                <div class="perfil">
                    <img class="user" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${chat.fpTrainer}">
                </div>
                <div class="datos">
                    <h4>${chat.nomTrainer}</h4>
                </div>
            </div>
            <div class="cvs">
                <ul>
                </ul>
            </div>
            <div class="chat-footer">
                <input id="ChatMensaje" class="form-control" placeholder="Escribe un mensaje nuevo">
                <button type="button" class="send-message" data-id="${chat.id}">
                    <i class="fa fa-paper-plane-o i-send-message" data-id="${chat.id}"
                        style="color: #423750; padding-right: 15px"></i>
                </button>
            </div>`;
        }else{
            const mensajes = JSON.parse(chat.mensajes);
            chatDefecto.innerHTML = `
            <div class="cnt name-cvs">
                <div class="perfil" ${isInit ? 'style="visibility: hidden"' : ''}>
                    <img class="user" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${chat.fpTrainer}">
                </div>
                <div class="datos" ${isInit ? 'style="visibility: hidden"' : ''}>
                    <h4>${chat.nomTrainer}</h4>
                </div>
            </div>
            <div class="cvs">
                <ul>
                    ${isInit ? '' :
                    mensajes.map(c=>
                        `<li class="${c.esSalida ? 'sent':'received'} ${c.esContinuo ? 'continuo' : ''}">
                            <div class="perfil">
                                ${c.esSalida ?
                                `<img class="user" src="${_ctx}img/user_avatar.png">`:
                                `<img class="user" src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${chat.fpTrainer}">`}
                            </div>
                            <div class="messages ${c.esSalida ? 'message-sent':'message-received'}">
                                <p class="name">${c.esSalida ? '': chat.nomTrainer} <span>${setFechaChat(c.fecha)}</span></p>
                                <div class="message">${c.msg}</div>
                            </div>
                        </li>`
                        ).join('')
                }
                </ul>
            </div>
            <div class="chat-footer">
                <input id="ChatMensaje" class="form-control" placeholder="Escribe un mensaje nuevo">
                <button type="button" class="send-message" data-id="${chat.id}">
                    <i class="fa fa-paper-plane-o i-send-message" data-id="${chat.id}"
                        style="color: #423750; padding-right: 15px"></i>
                </button>
            </div>
        `;
        }

        const inputChatMessage = document.getElementById('ChatMensaje');
        const windowHeight = $(window).height();
        const heightExcedent = windowHeight -
            document.querySelector('.name-cvs').clientHeight -
            inputChatMessage.clientHeight - 2;
        $('.cvs')[0].style.height = heightExcedent + "px";

        const sendButton = document.querySelector('.send-message');
        sendButton.style.height = (inputChatMessage.clientHeight+2) + "px";

        $('#ChatMensaje').val("");
        scrollChatBody();
    }

    function scrollChatBody(){
        const content = document.querySelector(".cvs");
        content.scrollTop = content.scrollHeight;
    }
</script>
</body>
</html>