<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
    <style>
        #indicadorCirculo1,#indicadorCirculo3{
            color: #d6ff58 !important;
        }
        #indicadorCirculo2,#indicadorCirculo4{
            color: #cf3239 !important;
        }

        h4{
            color: #A8FA00
        }
        span{
            font-size: 1.15em;
            color: white;
        }
    </style>
</head>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>
<div id="main-content">
    <div id="wrapper">
        <div class="container">




        </div>
    </div>
</div>
<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<!-- CUSTOM NOTIFICATION -->
<script th:src="@{/js/jquery.knob.js}+'?'+${version}"></script>
<script th:src="@{/js/dennys-workout/rf-cli-inicio.js}+'?'+${version}"></script>
<script th:src="@{/js/perfil_cliente.js}+'?'+${version}"></script>


</body>

<script>







</script>
</html>
