<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}+'?'+${version}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cliente-rutina-consolidado.css}+'?'+${version}">

    <style>
        #indicadorCirculo1,#indicadorCirculo3{
            color: #d6ff58 !important;
        }
        #indicadorCirculo2,#indicadorCirculo4{
            color: #cf3239 !important;
        }

    </style>
</head>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>
<div id="main-content">



    <div id="wrapper">
        <div>
            <header>
         <div class="text-center container-fluid">
                    <button class="navbar-toggle only_mobile" onclick="showMenuMobile()"><img class="svg" th:src="@{/img/iconos/icon_hamburger.svg}+'?'+${version}"></button><a class="only_mobile" href="index.html"><img class="logo" th:src="@{/img/logo.png}+'?'+${version}" alt=""></a>
                    <h4 class="user">
                        <img class="svg"  th:src="@{/img/iconos/icon_perfil.svg}+'?'+${version}"><span class="user-full-name"></span><span id="TipoRutina">&nbsp</span></h4>
                </div>
            </header>


       <section id="consolidado">
          <div class="container">
            <div class="rutina-cli">
                    <th:block>
                        <input id="InpClienteId" type="hidden" th:value="${clienteId}"/>
                    </th:block>
                    <h2 class="metric-title"> TEMPORADA </h2>

                     <h3 class="metric-title"> INTENSIDAD </h3>


                <div class="container-fluid">
                        <div class="col-md-12" >
                            <canvas id="GraficoTemporada" height="400"></canvas>
                        </div>
                    </div>

                <hr>
                <h3 class="metric-title"> KILOMETRAJE </h3>


                <div class="container-fluid">
                    <div class="col-md-12">
                        <canvas id="GraficoTemporadaKM" height="350" width="950"></canvas>
                    </div>
                </div>



                <div class="row periodizacion">

                    <div class="col-md-3">
                        <div class="etapa-rutina light-green">

                            <hr class="semanas">
                            <label>
                                <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>GENERAL</strong>
                            </label>
                            <p> <strong class="etapa-sem"> 0 </strong> semanas</p>
                        </div>
                    </div>

                       <div class="col-md-3">
                           <div class="etapa-rutina hlight-green">
                               <hr class="semanas">
                               <label>
                                   <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>ESPECÍFICA</strong>
                               </label>
                               <p> <strong class="etapa-sem">0 </strong> semanas</p>
                           </div>
                       </div>

                       <div class="col-md-3">
                           <div class="etapa-rutina green">

                               <hr class="semanas">
                               <label>
                                   <img class="svg red-icon" th:src="@{/img/iconos/icon_ayuda2.svg}+'?'+${version}"/><strong>COMPETITIVA</strong>
                               </label>
                               <p> <strong class="etapa-sem">0 </strong> semanas</p>
                           </div>
                       </div>

                       <div class="col-md-3">
                           <div class="etapa-rutina semana-temporada grey">

                               <hr class="semanas-fixed ">
                               <label class="semana-temporada">
                                   <img class="svg semana-temporada" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/>
                                   <strong class="etapa-sem">0 </strong> semanas
                               </label>
                           </div>
                       </div>





                    <hr>
                    <div class="clearfix"></div>
                 </div>
                <hr>
                    <div class="row distribucion-km">

                        <div class="col-md-3">

                            <div class="total-km green">
                               <div>
                                <label>
                                    <img class="svg red-icon" th:src="@{/img/iconos/icon_ayuda2.svg}+'?'+${version}"/><strong>KM</strong> TOTAL
                                </label>
                                <p> <strong class="km-value">1648  </strong>   KM</p>
                               </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                          <div class="dv-etapas-km">
                            <div class="row">
                              <div class="etapas-superior">
                                <div class="col-xs-6">

                                    <div class="etapa-km light-green">

                                        <label>
                                            <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>KM</strong> GENERAL
                                        </label>
                                        <p> <strong class="km-value">0  </strong>   KM</p>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="etapa-km hlight-green">

                                        <label>
                                            <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>KM</strong> ESPECÍFICA <label>
                                        <p> <strong class="km-value">0  </strong>   KM</p>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">

                                    <div class="etapa-km green">

                                        <label>
                                            <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>KM</strong> COMPETITIVO
                                        </label>
                                        <p> <strong class="km-value">0  </strong>   KM</p>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="etapa-km grey">

                                        <label>
                                            <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>KM</strong> TRÁNSITO
                                        </label>
                                        <p> <strong class="km-value">0  </strong>   KM</p>
                                    </div>
                                </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="distribucion-etapas-km">
                                <label>
                                    <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/><strong>DISTRIBUCIÓN</strong>
                                </label>

                                <canvas id="MiniGraficoDistribucion" width="120" height="120"></canvas>

                            </div>
                        </div>

                        <hr>
                        <div class="clearfix"></div>
                    </div>

                <hr>
                <div class="dv-mejora-vel">

                    <h2 class="metric-title"> MEJORAS DE VELOCIDAD POR DISTANCIA </h2>

                    <div class="tb-mejora-vel">
                        <div class="row">
                            <div class="col col-md-1 col-sm-1">
                                <div class="container-fluid text-align-center padding-o-bottom-10">
                                    <div style="padding-bottom: 3px"></div>
                                </div>
                            </div>
                            <div class="col col-md-11 col-sm-11">
                                <div class="container-fluid text-align-center padding-o-bottom-10" style="margin-right: 10px !important;">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col col-md-3 col-sm-3 header-met-vel">200 <p>mt (min) </p> </div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">400 <p>mt (min) </p></div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">800 <p>mt (min) </p></div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">1K</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col col-md-3 col-sm-3 header-met-vel">10K</div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">15K</div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">21K</div>
                                        <div class="col col-md-3 col-sm-3 header-met-vel">42K</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="mejora-velocidad" class="mejora-velocidad">

                            </div>


                        </div>

                    </div>

                </div>

                <hr>
                    <div class="">
                         <div class="col-md-8">
                             <div id="mejora-cadencia" class="mejora-metricas">
                                 <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/>
                                 <p> MEJORAS DE LA CADENCIA</p>
                             </div>

                             <div id="mejora-tcs" class="mejora-metricas">
                                 <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/>
                                 <p> MEJORAS EN T.C.S</p>
                            </div>
                             <div id="mejora-longitud" class="mejora-metricas">
                                 <img class="svg" th:src="@{/img/iconos/icon_ayuda.svg}+'?'+${version}"/>
                                  <p class="mejora-longitud"> MEJORAS EN LA LONGITUD DEL PASO</p>
                             </div>


                         </div>

                         <div class="col-md-4">

                             <div id="proyeccionCompetencia" class="proyeccion-competencia">


                                 <img class="svg red-icon" th:src="@{/img/iconos/icon_ayuda2.svg}+'?'+${version}"/>
                                 <div class="proyeccion-title">

                                        <img class="svg medalla" th:src="@{/img/iconos/medal-solid.svg}+'?'+${version}"/>

                                         <label>
                                             <strong>PROYECCIÓN PARA EL DÍA DE LA COMPETENCIA </strong> </label>
                                     </div>
                                </div>


                             </div>



                         </div>
                    </div>
                <div class="clearfix"></div>
                <hr>
              <div id="dvCumplimiento">
                  <h3 class="metric-title"> CUMPLIMIENTO  DEL PROGRAMA <span>  </span></h3>
                  <div class="container-fluid">
                      <div class="col-md-12">
                          <canvas id="GraficoAvanceSemanal" height="350" width="950"></canvas>
                      </div>
                      <div class="clearfix"></div>
                      <div class="resumen-metrica">
                          <div class="row">
                              <div class="col-md-3 titulo">
                                  <div class="intro">
                                      <h4> CUMPLIMIENTO <span> POR TEMPORADA   </span>
                                      </h4>
                                      <i class="fa fa-arrow-right"></i>

                                  </div>
                              </div>

                              <div class="col-md-3">
                                  <p> PREPARACIÓN GENERAL </p>
                                  <canvas id="GraficoCumplimientoPerGeneral" height="150" width="178"></canvas>
                              </div>

                              <div class="col-md-3">
                                  <p>  PREPARACIÓN ESPECIFICA </p>
                                  <canvas id="GraficoCumplimientoPerEspecifico" height="150" width="148"></canvas>
                              </div>

                              <div class="col-md-3">
                                  <p> PREPARACIÓN COMPETITIVA </p>
                                  <canvas id="GraficoCumplimientoPerCompetitivo" height="150" width="148"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <hr>
              <div id="dvEsfuerzo">
                  <h3 class="metric-title"> PERCEPCIÓN DE ESFUERZO <span>  </span> </h3>
                  <div class="container-fluid">
                      <div class="col-md-12">
                          <canvas id="GraficoEsfuerzoSemanal" height="350" width="950"></canvas>
                      </div>
                      <div class="clearfix"></div>
                      <div class="resumen-metrica">
                          <div class="row">
                              <div class="col-md-3 titulo">
                                  <div class="intro">
                                      <h4> PERCEPCION DE ESFUERZO <span> POR TEMPORADA   </span> </h4>
                                      <i class="fa fa-arrow-right"></i>
                                  </div>
                                  </div>

                              <div class="col-md-3">
                                  <p> PREPARACIÓN GENERAL </p>
                                  <canvas id="GraficoEsfuerzoPerGeneral" height="150" width="178"></canvas>
                              </div>

                              <div class="col-md-3">
                                  <p>  PREPARACIÓN ESPECIFICA </p>
                                  <canvas id="GraficoEsfuerzoPerEspecifico" height="150" width="148"></canvas>
                              </div>

                              <div class="col-md-3">
                                  <p> PREPARACIÓN COMPETITIVA </p>
                                  <canvas id="GraficoEsfuerzoPerCompetitivo" height="150" width="148"></canvas>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>


            </div>


       </section>

        </div>
     </div>

    </div>


<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<!-- CUSTOM NOTIFICATION -->

<script th:src="@{/js/jquery.knob.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/chartjs/chart.min.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina_consolidado.js}+'?'+${version}"></script>


</body>

</html>
