<link th:fragment="fg-css">
<!-- Basic Styles -->
<!-- SmartAdmin RTL Support  -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}+'?'+${version}"/>
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/font-awesome.min.css}+'?'+${version}"/>
<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<link rel="stylesheet" type="text/css" media="screen"
      th:href="@{/css/smartadmin-production-plugins.min.css}+'?'+${version}"/>
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/smartadmin-production.min.css}+'?'+${version}"/>
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/smartadmin-skins.min.css}+'?'+${version}"/>

<!-- SmartAdmin RTL Support -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/smartadmin-rtl.min.css}+'?'+${version}"/>

<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/demo.min.css}+'?'+${version}"/>
<!-- GOOGLE FONT -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>

<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/custom-itsight.min.css}+'?'+${version}"/>
<!-- BOOTSTRAP TABLE -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-table.min.css}+'?'+${version}"/>

<!-- JS CHARTS -->
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/morris.css}+'?'+${version}"/>

</link>