<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#ctx.servletContext.getAttribute('version')}">
  <head>
    <meta charset="utf-8" />
    <meta name="_ctx" th:content="@{/}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/font-awesome.min.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/bootstrap.min.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/owl.carousel.min.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/style.min.css}+'?'+${version}"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="text-right view-only-desktop">
          <p class="login_link">Iniciar sesión</p>
        </div>
        <div class="navbar-header"><a class="navbar-brand" href="#"><span class="fa fa-bars view-only-mobile"></span><img th:src="@{/img/public/logo.png}+'?'+${version}"/></a></div>
        <ul class="nav navbar-nav navbar-right view-only-desktop">
          <li class="active"><a href="quienes_somos.html" data-menu="aboutus"> <span>QUIENES SOMOS</span></a></li>
          <li><a href="#" data-menu="atletas"> <span>ATLETAS</span></a></li>
          <li><a href="ficha_inscripcion.html" data-menu="asesores"><span>ASESORES</span></a></li>
          <li><a href="#" data-menu="emprende"> <span>EMPRENDE CON NOSOTROS</span></a></li>
        </ul>
      </div>
      <div class="menu_mobile view-only-mobile">
        <div class="bg-opacity"></div>
        <ul class="header-options">
          <li class="col-xs-9 pad-0"><a href="#"><span class="fa fa-cog"></span>Configuración</a></li>
          <li class="col-xs-3 text-right pad-0"><a href="#"><span class="fa fa-home"></span></a></li>
        </ul>
        <div class="avatar"><img th:src="@{/img/public/logo.png}+'?'+${version}"/>
          <p class="name">GUSTAVO ARIAS</p>
          <p class="email">gjarias09@gmail.com</p>
        </div>
        <ul class="options">
          <li class="active"><a href="quienes_somos.html"> <span>QUIENES SOMOS</span></a></li>
          <li><a href="#" data-menu="atletas"> <span>ATLETAS</span></a></li>
          <li><a href="ficha_inscripcion.html"><span>ASESORES</span></a></li>
          <li><a href="#"> <span>EMPRENDE CON NOSOTROS</span></a></li>
        </ul><a class="cerrar-sesion-mobile" href="javascript:openLogin()"><span class="fa fa-remove"></span>Cerrar sesión</a>
      </div>
      <div id="menu" style="display: none">
        <div class="menu-desktop view-only-desktop">
          <div class="container position-relative">
            <div class="arrow-up"></div>
            <ul class="asesores-menu">
              <li><a href="#">Explorar características</a>
                <p>Vea cómo la aplicación Runfit te ayudará a entrenar de manera más efectiva.</p>
              </li>
              <li><a href="#">Emprende con nosotros</a>
                <p>Vea cómo la aplicación Runfit te ayudará a entrenar de manera más efectiva.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="login"><a class="back" href="javascript:openLogin()"><span class="fa fa-chevron-left"></span></a>
      <div class="login-bg"></div>
      <div class="avatar"><img th:src="@{/img/public/logo.png}+'?'+${version}"/></div>
      <div class="login-sesion" style="display: none">
        <div class="form-group usuario"><span class="fa fa-user-o"></span>
          <label>Usuario</label>
          <input type="text"/>
        </div>
        <div class="form-group password"><span class="fa fa-unlock-alt"></span>
          <label>Contraseña</label>
          <input type="text"/>
        </div>
        <div class="form-group text-right"><a href="#">¿Olvido su contraseña?</a></div>
        <div class="actions">
          <button class="btn-login" type="button">INGRESAR</button>
          <button class="btn-face" type="button">INGRESA CON FACEBOOK</button><a class="btn-nuevo" href="javascript:goRegister()">SOY NUEVO</a>
        </div>
      </div>
      <div class="login-register">
        <div class="form-group usuario"><span class="fa fa-user-o"></span>
          <label>Nombre completo</label>
          <input type="text"/>
        </div>
        <div class="form-group mail"><span class="fa fa-envelope-o"></span>
          <label>Correo electrónico</label>
          <input type="text"/>
        </div>
        <div class="form-group password"><span class="fa fa-unlock-alt"></span>
          <label>Contraseña</label>
          <input type="text"/>
        </div>
        <div class="form-group password"><span class="fa fa-unlock-alt"></span>
          <label>Confirmar Contraseña</label>
          <input type="text"/>
        </div>
        <div class="actions">
          <button class="btn-login" type="button">REGISTRAR</button>
          <p>¿Ya es miembro RunFit?</p><a class="btn-nuevo" href="javascript:goLogin()">INICIAR SESIÓN</a>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/quienes-somos.jpg}+'?'+${version}"/>
          <div class="container">
            <div class="title-page">
              <h1>CONTIGO<span>EN CADA PASO</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="time-line container">
        <ol>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-1.png}+'?'+${version}"/>
              <h2>Conectate <span>con tu Coach</span></h2>
              <p>Nuestro buscador de coach es una herramienta que te permite contactarte con un especialista calificado para que puedas dar el primer paso hacia tu objetivo. </p><img class="view-only-desktop" th:src="@{/img/public/contigo-entrena.png}+'?'+${version}"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-2.png}+'?'+${version}"/>
              <h2>Recibe tu programa <span>de entrenamiento</span></h2>
              <p>Al contactarte con tu Coach y trazar los objetivos de tu preparación, te elaborará el plan de entrenamiento a largo plazo que recibirás sistemáticamente en tu perfil. Para la elaboración de tus rutinas, tu asesor contará con un sofisticado sistema de planificación y con más de 500 vídeos ejecutados por atletas profesionales. </p><img class="view-only-desktop" th:src="@{/img/public/contigo-pc.png}+'?'+${version}"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-3.png}+'?'+${version}"/>
              <h2>Entrena <span>donde quieras</span></h2>
              <p>Tendrás fácil acceso a tus entrenamientos, podrás visualizar la planificación de toda tu temporada y el volumen e intensidades de las cargas planificadas a través de nuestra aplicación para Android y/o desde tu escritorio.   </p><img class="view-only-desktop" th:src="@{/img/public/contigo-cel.png}+'?'+${version}" style="right: 0"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-4.png}+'?'+${version}"/>
              <h2>Recibe seguimiento  <span>y feedback</span><span>de tu coach</span></h2>
              <p>Tendrás contacto directo con tu coach, quien te guiará en el camino hacia tu objetivo y absolverá tus dudas.    </p><img class="view-only-desktop" th:src="@{/img/public/contigo-tablet.png}+'?'+${version}"/>
            </div>
          </li>
        </ol>
      </section>
      <section class="tienda_coach">
        <div class="col-md-6 coach">
          <div class="bg-color"></div>
          <div class="text-center"><img th:src="@{/img/public/coach.png}+'?'+${version}"/>
            <h3>Encuentra a tu coach</h3>
            <p>Deja que un experto te ayude en cada paso del camino. Elige al especialista que se adecue a tus necesidades. </p>
            <div class="col-md-12"></div>
            <button class="btn btn-default" type="button">Encuentralo</button>
          </div>
        </div>
        <div class="col-md-6 tienda">
          <div class="bg-color"></div>
          <div class="text-center"><img th:src="@{/img/public/tienda.png}+'?'+${version}"/>
            <h3>Nuestra tienda</h3>
            <p>Complementa tu preparación con nuestras guías y programas de entrenamientos, elaborados por los mejores profesionales del mercado.</p>
            <div class="col-md-12">
              <button class="btn btn-default" type="button">Explora</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="col-md-3">
          <p class="title_footer">Equipo</p>
          <ul>
            <li><a href="#">
                <p>Quiénes somos</p></a></li>
            <li><a href="#">
                <p>Atletas</p></a></li>
            <li><a href="#">
                <p>Entrenadores</p></a></li>
            <li><a href="#">
                <p>Emprende con nosotros</p></a></li>
            <li><a href="#">
                <p>Preguntas más frecuentes</p></a></li>
            <li><a href="#">
                <p>Términos y condiciones</p></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <p class="title_footer">Pago seguro</p><img th:src="@{/img/public/pago.png}+'?'+${version}"/>
        </div>
        <div class="col-md-3">
          <p class="title_footer">Síguenos en</p>
          <ul class="social">
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
          </ul>
        </div>
        <div class="col-md-2 text-right">
          <p class="title_footer">Contáctenos</p>
          <ul>
            <li>
              <p>+51 977595834</p>
            </li>
            <li>
              <p>info@runfit.pe</p>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script th:src="@{/js/public/vendor/vendor_all.js}+'?'+${version}" type="text/javascript"></script>
    <script th:src="@{/js/public/init.js}+'?'+${version}" type="text/javascript"></script>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnQe-1f0b5KmTQXUMED0_n9-Vx3Y4ixc&amp;callback=initMap" type="text/javascript"></script>
  </body>
</html>
