<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <title>Contigo en cada paso | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/atletas.jpg}+'?'+${version}"/>
          <div class="container">
            <div class="title-page">
              <h1>CONTIGO<span>EN CADA PASO</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="time-line container">
        <ol>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-1.png}+'?'+${version}"/>
              <h2>CONECTATE <span>CON TU ASESOR</span></h2>
              <p>Nuestro buscador de asesor es una herramienta que te permite contactarte con un especialista calificado para que puedas dar el primer paso hacia tu objetivo. </p><img class="view-only-desktop" th:src="@{/img/public/contigo-entrena.png}+'?'+${version}"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-2.png}+'?'+${version}"/>
              <h2>Recibe tu programa <span>de entrenamiento</span></h2>
              <p>Al contactarte con tu Asesor y trazar los objetivos de tu preparación, te elaborará el plan de entrenamiento a largo plazo que recibirás sistemáticamente en tu perfil. Para la elaboración de tus rutinas, tu asesor contará con un sofisticado sistema de planificación y con más de 500 vídeos ejecutados por atletas profesionales. </p><img class="view-only-desktop" th:src="@{/img/public/contigo-pc.png}+'?'+${version}"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-3.png}+'?'+${version}"/>
              <h2>Entrena <span>donde quieras</span></h2>
              <p>Tendrás fácil acceso a tus entrenamientos, podrás visualizar la planificación de toda tu temporada y el volumen e intensidades de las cargas planificadas a través de nuestra aplicación para Android y/o desde tu escritorio.   </p><img class="view-only-desktop" th:src="@{/img/public/contigo-cel.png}+'?'+${version}" style="right: 0"/>
            </div>
          </li>
          <li>
            <div class="item"><img class="icon-img" th:src="@{/img/public/contigo-4.png}+'?'+${version}"/>
              <h2>Recibe seguimiento  <span>y feedback</span><span>de tu asesor</span></h2>
              <p>Tendrás contacto directo con tu asesor, quien te guiará en el camino hacia tu objetivo y absolverá tus dudas.    </p><img class="view-only-desktop" th:src="@{/img/public/contigo-tablet.png}+'?'+${version}"/>
            </div>
          </li>
        </ol>
      </section>
      <section class="tienda_coach">
        <div class="col-md-6 coach">
          <div class="bg-color"></div>
          <div class="text-center"><img th:src="@{/img/public/coach.png}+'?'+${version}"/>
            <h3>Encuentra a tu asesor</h3>
            <p>Deja que un experto te ayude en cada paso del camino. Elige al especialista que se adecue a tus necesidades. </p>
            <div class="col-md-12"></div>
              <a th:href="@{/p/busqueda/trainers}">
                <button class="btn btn-default" type="button">Encuéntralo</button>
              </a>
          </div>
        </div>
        <div class="col-md-6 tienda">
          <div class="bg-color"></div>
          <div class="text-center"><img th:src="@{/img/public/tienda.png}+'?'+${version}"/>
            <h3>Nuestra tienda</h3>
            <p>Complementa tu preparación con nuestras guías y programas de entrenamientos, elaborados por los mejores profesionales del mercado.</p>
            <div class="col-md-12">
              <button class="btn btn-default" type="button">Explora</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
  </body>
</html>
