<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <title>Emprende con nosotros | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rf-rutina.css}+'?'+${version}"/>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/emprende.jpg}">
          <div class="container">
            <div class="title-page">
              <h1> <i>INTÉGRATE</i><span class="no-watch">000</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="trainers-form">
        <div class="row emprende-form">
          <div class="container"><img class="bg-image" th:src="@{/img/public/emprende_form.png}">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <h3>SI DESEAS FORMAR PARTE DE NUESTRA FAMILIA<span>DE ASESORES, CONTACTE CON NOSOTROS.</span></h3>
              <hr>
              <form class="row" id="frm_registro">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Correo">CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                    <input name="Correo" id="Correo" class="form-control" type="text" maxlength="40">
                  </div>
                  <div class="form-group">
                    <label for="Movil">MÓVIL<span class="obligatorio">*</span></label>
                    <input id="Movil" name="Movil" class="form-control" type="text" maxlength="13">
                  </div>
                  <div class="form-group">
                    <label for="NombreFull">NOMBRE COMPLETO<span class="obligatorio">*</span></label>
                    <input id="NombreFull" name="NombreFull" class="form-control" type="text" maxlength="60">
                  </div>
                  <div class="form-group">
                    <label>ELIGE EL TIPO DE PARTNER:<span class="obligatorio">*</span></label>
                    <ul class="checks">
                      <li>
                        <div class="chk-content">Asesor particular
                          <input name="TipoTrainerId" value="1" type="radio"><span class="checkmark"></span>
                        </div>
                      </li>
                      <li>
                        <div class="chk-content">Asesor empresa
                          <input name="TipoTrainerId" value="2" checked="checked" data-aka="Seleccionar el tipo de trainer" type="radio"><span class="checkmark"></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mensaje">DÉJANOS UN MENSAJE Y COMÉNTANOS SOBRE TUS INTERESES<span class="obligatorio">*</span></label>
                    <textarea id="Mensaje" name="Mensaje" class="form-control" maxlength="1000"></textarea>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-black" type="button" id="btnGuardar">ENVIAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:inline="javascript">
      const btnGuardar = document.querySelector('#btnGuardar');
      const body = document.querySelector('body');
      const frm = $('#frm_registro')[0];
      (function () {
        init();
      })();

      function init(){
        btnGuardar.addEventListener('click', enviarForm);
        constraintsValidation();
        if(flag_form_populate){
          populateForm();
        }
        body.addEventListener('click', bodyClickEventListener);
        body.addEventListener('focusout', bodyFocusOutEventListener);
      }

      function bodyClickEventListener(e){
        const input = e.target;
        const clases = input.classList;
        checkBoxAndRadioValidationEventListener(e, input, clases);
      }

      function enviarForm(e){
        trimAllInputs(frm);
        if($(frm).valid()){
          $buttonName = e.target.textContent;
          sendForm();
        }
      }

      function sendForm(){
        const $frm = document.getElementById('frm_registro');
        const params = getFormData($($frm));

        $.ajax({
          type: 'POST',
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          url: _ctx + 'p/postulacion/trainer/registrar',
          dataType: "json",
          data: params,
          blockLoading: true,
          success: function (data, textStatus) {
            if (textStatus == "success") {
              reqSuccess(data);
              if(flag_form_populate){
                window.location.href = _ctx + "p/bandeja";
              }
            }
          },
          error: function (xhr) {
            exception(xhr);
          },
          complete: function () {
          }
        });
      }

      function constraintsValidation() {

        $('#frm_registro').validate({
          errorClass: errorClass,
          errorElement: errorElement,
          highlight: function (element) {
            if(element.type === 'radio' || element.type==='checkbox'){
              let msgError = "";
              setTimeout(() => {
                const eleMsgError = document.querySelector(`#${element.name}-error`);
                if(eleMsgError != undefined){
                  msgError = eleMsgError.textContent;
                  eleMsgError.remove();
                }
              }, 100);
              const parentRadios = element.parentElement.parentElement.parentElement.parentElement;
              setTimeout(() => {parentRadios.querySelector('em') != undefined ? parentRadios.querySelector('em').textContent = msgError : parentRadios.append(htmlStringToElement(`<em style="color: #E54C4B;">${msgError}</em>`))}, 200);
            }else{
              $(element).removeClass('state-success').addClass("state-error");
              $(element).removeClass('valid');
            }
          },
          unhighlight: function (element) {
            if(element.type === 'radio' || element.type==='checkbox'){
              const parentRadios = element.parentElement.parentElement.parentElement.parentElement;
              parentRadios.querySelector('em') != undefined ? parentRadios.querySelector('em').remove() : '';
            } else {
              $(element).removeClass("state-error").addClass('state-success');
              $(element).addClass('valid');
            }
          },
          ignore: ".ignore",
          rules: {
            NombreFull: {
              required: true,
              rangelength: [5, 60],
              lettersonly: true
            },
            Correo: {
              required: true,
              emailAddress: true,
              rangelength: [7, 40]
            },
            Movil: {
              required: true,
              number: true,
              notstartswith: "0",
              rangelength: [7, 13]
            },
            Mensaje: {
              required: true,
              rangelength: [5, 1000],
            },
            TipoTrainerId: {
              required: true
            }
          },
          messages:{}
        });
      }

      function populateForm(){
        //Page 1
        const t0 = String(new Date().getTime());
        const t1 = t0.slice(-3);
        const t2 = t0.slice(-6).slice(0, 3);

        document.querySelector('#NombreFull').value = "Pedro Oscate";
        document.querySelector('#Correo').value = generateRandomMail();
        document.querySelector('#Movil').value = `51987${t1}234`;
        document.querySelector('#Mensaje').value = `Aloha`;

        var tid = setInterval( function () {
          if ( document.readyState !== 'complete' ) return;
          else document.getElementById('btnGuardar').click();
          clearInterval( tid );
          // do your work
        }, 100);
      }

    </script>
  </body>
</html>
