<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
  <title>Encuentra al trainer indicado para ti | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <style>
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: block;
      width: 100%;
    }

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }

    /* SPINNER LOADING */
    .spring-spinner, .spring-spinner * {
      box-sizing: border-box;
    }

    .spring-spinner {
      height: 60px;
      width: 60px;
      margin-left: 49%;
    }

    .spring-spinner .spring-spinner-part {
      overflow: hidden;
      height: calc(60px / 2);
      width: 60px;
    }

    .spring-spinner  .spring-spinner-part.bottom {
      transform: rotate(180deg) scale(-1, 1);
    }

    .spring-spinner .spring-spinner-rotator {
      width: 60px;
      height: 60px;
      border: calc(60px / 7) solid transparent;
      border-right-color: #82b4e4;
      border-top-color: #a8fa00;
      border-radius: 50%;
      box-sizing: border-box;
      animation: spring-spinner-animation 3s ease-in-out infinite;
      transform: rotate(-200deg);
    }

    @keyframes spring-spinner-animation {
      0% {
        border-width: calc(60px / 7);
      }
      25% {
        border-width: calc(60px / 23.33);
      }
      50% {
        transform: rotate(115deg);
        border-width: calc(60px / 7);
      }
      75% {
        border-width: calc(60px / 23.33);
      }
      100% {
        border-width: calc(60px / 7);
      }
    }
    /* END SPINNER LOADING */

  </style>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper" class="wrapper">
      <div class="section banner home">
        <div class="bg-image-x"><img class="banner-home" th:src="@{/img/public/trainers-shadow.jpg}+'?'+${version}"/></div>
      </div>
      <section class="encuentra-tu-coach">
        <form id="frm_registro">
          <div class="container">
          <h1>Elige al especialista<span>Que se adecúe a tus necesidades</span></h1>
          <div class="row">
            <div class="col-md-4 view-only-desktop">
              <div class="form-group">
                <label>BÚSQUEDA POR NOMBRE</label>
                <input class="form-control" type="text" id="Nombres" name="Nombres" placeholder="Nombre del trainer" maxlength="60">
              </div>
            </div>
            <div class="col-md-4">  
              <div class="form-group">
                <label>UTILIZA PALABRAS CLAVES</label>
                <input class="form-control" id="Acerca" name="Acerca" type="text" placeholder="Ej: Trail, circuitos, funcional..." maxlength="30">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>UBICACIÓN</label>
                <div class="autocomplete">
                  <input class="form-control" id="Ubigeo" name="Ubigeo" type="text" placeholder="Ej: Ciudad, provincia o distrito" maxlength="30">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 view-only-desktop">
              <div class="form-group">
                <label>SERVICIOS</label>
                <input class="form-control" type="text" id="Servicio" name="Servicio" placeholder="Nombre del servicio" maxlength="50">
              </div>
            </div>
            <div class="col-md-8 view-only-desktop">
              <div class="form-group">
                <label>¿DÓNDE QUIERES ENTRENAR?</label>
                <ul class="checks">
                  <li>
                    <div class="chk-content">Al aire libre
                      <input type="checkbox" name="FormaTrabajo" value="ai"><span class="checkmark"></span>
                    </div>
                  </li>
                  <li>
                    <div class="chk-content">Personalizado
                      <input type="checkbox" name="FormaTrabajo" value="pe"><span class="checkmark"></span>
                    </div>
                  </li>
                  <li>
                    <div class="chk-content">En grupo
                      <input type="checkbox" name="FormaTrabajo" value="eg"><span class="checkmark"></span>
                    </div>
                  </li>
                  <li>
                    <div class="chk-content">Online
                      <input type="checkbox" name="FormaTrabajo" value="on"><span class="checkmark"></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">   
            <div class="col-md-4 view-only-desktop">
              <div class="form-group">
                <label>SEXO</label>
                <select class="form-control hidden" id="Sexo" name="Sexo">
                  <option value="">Todos</option>
                  <option value="1">Masculino</option>
                  <option value="2">Femenino</option>
                </select>
              </div>
                <div class="form-group">
                    <label>VALORACIÓN MAYOR A</label>
                    <fieldset class="rating" style="top: 0px !important;max-width: 172px !important;">
                        <input id="star5" type="radio" name="Valoracion" value="5" disabled="disabled">
                        <label class="full" for="star5"></label>
                        <input id="star4half" type="radio" name="Valoracion" value="4.5">
                        <label class="half" for="star4half"></label>
                        <input id="star4" type="radio" name="Valoracion" value="4">
                        <label class="full" for="star4"></label>
                        <input id="star3half" type="radio" name="Valoracion" value="3.5">
                        <label class="half" for="star3half"></label>
                        <input id="star3" type="radio" name="Valoracion" value="3">
                        <label class="full" for="star3"></label>
                        <input id="star2half" type="radio" name="Valoracion" value="2.5">
                        <label class="half" for="star2half"></label>
                        <input id="star2" type="radio" name="Valoracion" value="2">
                        <label class="full" for="star2"></label>
                        <input id="star1half" type="radio" name="Valoracion" value="1.5">
                        <label class="half" for="star1half"></label>
                        <input id="star1" type="radio" name="Valoracion" value="1">
                        <label class="full" for="star1"></label>
                        <input id="starhalf" type="radio" name="Valoracion" value="0.5">
                        <label class="half" for="starhalf"></label>
                    </fieldset>
                </div>
                <!--<div class="rango bg-slide">
                    <input id="Valoracion" name="Valoracion" type="range" value="0" min="0" max="10" data-aka="Seleccionar que tan en forma se encuentra">
                    <img class="desc-range" src="https://www.flaticon.com/premium-icon/icons/svg/804/804009.svg">
                </div>-->
            </div>
            <div class="col-md-4 view-only-desktop">
              <div class="form-group">
                <label>IDIOMAS QUE DOMINA EL ASESOR</label>
                <select class="form-control hidden" id="Idiomas" name="Idiomas" multiple="multiple" style="height: 100px">
                  <option th:each="ln : ${idiomas}" th:value="${ln.iso}" th:text="${ln.nombre}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-4 view-only-desktop">
              <div class="form-group">
                <label>NIVEL DE RENDIMIENTO</label>
                <select class="form-control hidden" id="Niveles" name="Niveles" multiple="multiple" style="height: 100px">
                  <option value="pr">Principiante</option>
                  <option value="in">Intermedio</option>
                  <option value="av">Avanzado</option>
                  <option value="pf">Profesional</option>
                </select>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <button id="btnLimpiar" class="btn btn-default btn-white view-only-desktop" type="button">LIMPIAR TODO</button>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-default btn-black" type="button" id="btnBuscar">BUSCAR</button>
            </div>
            <div class="col-md-12 dv-rows hidden" style="font-size: 1.6em;padding: 10px;color: #303030;">
              <i class="fa fa-check fa-fw"></i> <span id="Rows"></span></div>
            </div>
          <div id="Trainers">

          </div>
        </div>
        </form>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:src="@{/js/plugin/bootstrap-multiselect/bootstrap-multiselect.min.js}+'?'+${version}"></script>
    <script th:inline="javascript">
      /*An array containing all the country names in the world:*/

      const body = document.querySelector('body');
      const btnLimpiar = document.getElementById('btnLimpiar');
      const btnBuscar = document.getElementById('btnBuscar');
      const initLimit = 10;
      const initOffset = 0;
      let totalRows = 0;
      let queryParams = resetPagination();
      function resetPagination(){
        return {
          limit: initLimit,
          offset: initOffset
        };
      }

      (function(){
        btnLimpiar.addEventListener('click', ()=>{
            //All reset
            limpiarMainForm();
            busquedaDinamica();
            document.querySelectorAll('select').forEach(e=>{
                $(e).multiselect('refresh');
            });
        });
        btnBuscar.addEventListener('click', busquedaDinamica);
        document.querySelector('body').addEventListener('focusout', bodyFocusOutEventListener);
          init();
      })();

      function init(){
        onlyBusquedaDinamica();
        scrollEventBusquedaAutomatica();
        doMultiselectCheckBox();
      }

      function busquedaDinamica(){
        //Clean resulset
        document.querySelector('#Trainers').innerHTML = "";
        totalRows = 0;
        queryParams = resetPagination();
        onlyBusquedaDinamica();
      }

      function onlyBusquedaDinamica(){
        document.querySelector('.dv-rows').classList.add('hidden');
        const divTrainers = document.getElementById('Trainers');
        divTrainers.innerHTML = spinnerLoadingHtmlRaw();

        const d = getFormData($('#frm_registro'));
        d.niveles = Array.from(document.getElementById('Niveles').querySelectorAll("option:checked"),e=>e.value).join('|');
        d.idiomas = Array.from(document.getElementById('Idiomas').querySelectorAll("option:checked"),e=>e.value).join('|');
        d.formasTrabajo = getValuesConcatInpCheckbox('FormaTrabajo');

        Object.keys(d).forEach(key=>{
          if(!d[key]){
            delete d[key];
          }
        });

        d.limit = queryParams.limit;
        d.offset = queryParams.offset;

        $.ajax({
          type: 'GET',
          url: _ctx + 'p/trainer/find/dinamico',
          dataType: 'json',
          data: d,
          blockLoading: false,
          noOne: true,
          success: function (res) {
            divTrainers.innerHTML = "";
            if(res.length === 0){
              const noOne = document.createElement('div');
              noOne.className = "";
              noOne.style.fontSize = "1.5em";
              noOne.style.color = "#a8fa00";
              noOne.style.padding = "15px 0px";
              noOne.innerHTML = "<i class='fa fa-info-circle fa-fw'></i>No se ha encontrado ninguna coincidencia. Pruebe nuevamente con otra búsqueda";
              document.getElementById('Trainers').appendChild(noOne);
              document.querySelector('.dv-rows').classList.add('hidden');
            }else{
              recrearListado(res);
              totalRows = res[0].rows;
              if(totalRows > 1){
                document.querySelector('#Rows').textContent = `Se encontraron ${totalRows} coincidencias`;
              } else {
                document.querySelector('#Rows').textContent = `Se encontró ${totalRows} coincidencia`;

              }
              document.querySelector('.dv-rows').classList.remove('hidden');
            }
          }, error: (xhr) => {
            exception(xhr);
          }, complete: () => {

          }
        })
      }

      function recrearListado(arr){
        const divTrainers = document.getElementById('Trainers');
        arr.forEach((e)=>{
          const acLen = e.acerca.length;
          if(acLen > 540){
            e.acerca = e.acerca.slice(0, 540).trim();
              if(e.acerca.lastIndexOf(".") === e.acerca.length-1){
                e.acerca = slice.replace(0,539);
              }
              e.acerca += "...";
          };
          const ttId = e.tipoTrainerId;

          const objValoracion = getValoracion(e.canPerValoracion, e.totalValoracion);
          const nomLink = e.nomPag;
          let nombreFinal = "";
          if(ttId == 1){
            nombreFinal = e.nombreCompleto;
          }else{
            nombreFinal = e.nombreCompleto.includes(' xxx') ? e.nombreCompleto.substring(0, e.nombreCompleto.indexOf(" xxx")) : e.nombreCompleto;
          }
          divTrainers.appendChild(htmlStringToElement(`
          <div class="group-trainer row">
              <div class="col-md-3 pad-0">
              <div class="avatar-form">
              <div class="avatar-form-content"><img src="https://s3-us-west-2.amazonaws.com/rf-profile-imgs/trainer/${e.id}/${e.nomImgPerfil}" style="max-height: 100%;height: 100%; !important;"></div>
              <fieldset class="text-center">
                <div class="rating-holder">
                  <div class="c-rating c-rating--regular" data-rating-value="${objValoracion.aproximadaValoracion}">
                    <button disabled="disabled">1</button>
                    <button disabled="disabled">2</button>
                    <button disabled="disabled">3</button>
                    <button disabled="disabled">4</button>
                    <button disabled="disabled">5</button>
                  </div>
                </div>
              </fieldset>
              <p class="valoration">${objValoracion.exactaValoracion.toFixed(1)} <span>(${objValoracion.valoraciones} valoraciones)</span></p>
      </div>
      </div>
      <div class="col-md-9">
              <h4>${nombreFinal}<span class="title">${ttId == 1 ? e.especialidad : ''}</span><span class="location">${e.nomUbigeo ? e.nomUbigeo.split("|").join(' - ') : 'LIMA - LIMA'}</span></h4>
      <p>${e.acerca}</p>
      <button class="btn btn-default btn-black" type="button" onclick="verPerfil('${nomLink}')">VER PERFIL</button>
      <button class="btn btn-default btn-white" type="button" onclick="verPerfilDirectServices('${nomLink}')">VER SERVICIOS</button>
      </div>
      </div>
          `));
        });
      }

      function spinnerLoadingHtmlRaw(){
        return `<hr>
                <div class="spring-spinner">
                  <div class="spring-spinner-part top">
                    <div class="spring-spinner-rotator"></div>
                  </div>
                  <div class="spring-spinner-part bottom">
                    <div class="spring-spinner-rotator"></div>
                  </div>
                </div>`;
      }

      function verPerfil(nomLink){
        window.location.href = _ctx + 'p/trainer/'+nomLink;
      }

      function verPerfilDirectServices(nomLink){
        window.location.href = _ctx + 'p/trainer/'+nomLink+"#service";

      }

      function scrollEventBusquedaAutomatica(){
        const footHeight = document.querySelector('.footer').clientHeight + 300;
        $(window).scroll(function() {

          if($(window).scrollTop() + $(window).height() > $(document).height() - footHeight) {
            if(totalRows> queryParams.offset + queryParams.limit){
                queryParams.offset = queryParams.offset + queryParams.limit;
                onlyBusquedaDinamica();
            }
          }
        });
      }

        function bodyFocusOutEventListener(e){
            const input = e.target;
                if(input.type==="text") {
                    input.value = input.value.trim().replace(/ +/g, " ");
                }

                if(input.tagName === "TEXTAREA"){
                    input.value = input.value.trim();
                }
        }

        /* AUTOCOMPLETE */

        function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            if(this.value.trim().length<2){
              //Interrumpimos lo demás así como también al listener keydown
              return;
            }

            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
              /*check if the item starts with the same letters as the text field value:*/
              if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
                });
                a.appendChild(b);
              }
            }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
              /*If the arrow DOWN key is pressed,
              increase the currentFocus variable:*/
              currentFocus++;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 38) { //up
              /*If the arrow UP key is pressed,
              decrease the currentFocus variable:*/
              currentFocus--;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 13) {
              /*If the ENTER key is pressed, prevent the form from being submitted,*/
              e.preventDefault();
              if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
              }
            }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
            closeAllLists(e.target);
          });
        }

        fetch(_ctx+'p/trainer/get/all/nom-ubigeo')
                .then(res=> {
                          if(res.ok){
                            return res.text();
                          }
                        }
                ).then(res=>{
                      const arr = Array.from(new Set(res.split("|")));
                      autocomplete(document.getElementById("Ubigeo"), arr);
        }).catch((err)=>{
            exception(err);
        });

    </script>
  </body>
</html>
