<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
  <title>Encuentra al trainer indicado para ti | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/trainers-shadow.jpg}+'?'+${version}"/></div>
      </div>
      <section class="encuentra-tu-coach">
        <div class="container">
          <h1>Elige al especialista<span>Que se adecue a tus necesidades</span></h1>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>BÚSQUEDA POR NOMBRE</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-4">  
              <div class="form-group">
                <label>UTILIZA PALABRAS CLAVES</label>
                <select class="form-control"></select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>UBICACIÓN</label>
                <select class="form-control"></select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>SERVICIOS</label>
                <select class="form-control"></select>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>¿DONDE QUIERES ENTRENAR?</label>
                <ul class="checks">
                  <li>
                    <div class="chk-content">Aire libre / Domicilio
                      <input type="checkbox" checked="checked"/><span class="checkmark"></span>
                    </div>
                  </li>
                  <li>
                    <div class="chk-content">Centro
                      <input type="checkbox"/><span class="checkmark"></span>
                    </div>
                  </li>
                  <li>
                    <div class="chk-content">Online
                      <input type="checkbox"/><span class="checkmark"></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">   
            <div class="col-md-4">
              <div class="form-group">
                <label>SEXO</label>
                <select class="form-control"></select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>IDIOMAS QUE DOMINA EL ASESOR</label>
                <select class="form-control"></select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>NIVEL DE RENDIMIENTO</label>
                <select class="form-control"></select>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-default btn-white view-only-desktop" type="button">LIMPIAR TODO</button>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-default btn-black" type="button">BUSCAR</button>
            </div>
          </div>
          <div class="group-trainer row">
            <div class="col-md-3 pad-0">
              <div class="avatar-form">
                <div class="avatar-form-content"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                <fieldset class="rating">
                  <input id="star5" type="radio" name="rating" value="5"/>
                  <label class="full" for="star5" title="Awesome - 5 stars"></label>
                  <input id="star4half" type="radio" name="rating" value="4 and a half"/>
                  <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input id="star4" type="radio" name="rating" value="4"/>
                  <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                  <input id="star3half" type="radio" name="rating" value="3 and a half"/>
                  <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                  <input id="star3" type="radio" name="rating" value="3"/>
                  <label class="full" for="star3" title="Meh - 3 stars"></label>
                  <input id="star2half" type="radio" name="rating" value="2 and a half"/>
                  <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input id="star2" type="radio" name="rating" value="2"/>
                  <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                  <input id="star1half" type="radio" name="rating" value="1 and a half"/>
                  <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                  <input id="star1" type="radio" name="rating" value="1"/>
                  <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                  <input id="starhalf" type="radio" name="rating" value="half"/>
                  <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <p class="valoration">43 <span>(21 valoraciones)</span></p>
              </div>
            </div>
            <div class="col-md-9">
              <h4>NOMBRE ENTRENADOR<span class="title">Entrenador de natación</span><span class="location">La Molina - Lima</span></h4>
              <p>A mediados del 2010, la demanda de atletas que solicitaban una asesoría altamente personalizada aumentó considerablemente. Esto llevó a que el licenciado cubano en cultura física y deportes, Dennys Maymir,  se diera cuenta que un cuadro de Excel y unas cuantas imágenes de ejercicios no eran suficientes para satisfacer al 100% las necesidades de sus atletas. Necesitaba una herramienta más potente, un sistema con el que a cualquier profesional de la salud y el deporte trabajar con su propia metodología, para asesorar de manera efectiva y segura.</p>
              <button class="btn btn-default btn-black" type="button">VER PERFIL</button>
            </div>
          </div>
          <div class="group-trainer row">
            <div class="col-md-3 pad-0">
              <div class="avatar-form">
                <div class="avatar-form-content"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                <fieldset class="rating">
                  <input id="star5x" type="radio" name="rating" value="5"/>
                  <label class="full" for="star5" title="Awesome - 5 stars"></label>
                  <input id="star4halfx" type="radio" name="rating" value="4 and a half"/>
                  <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input id="star4x" type="radio" name="rating" value="4"/>
                  <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                  <input id="star3halfx" type="radio" name="rating" value="3 and a half"/>
                  <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                  <input id="star3x" type="radio" name="rating" value="3"/>
                  <label class="full" for="star3" title="Meh - 3 stars"></label>
                  <input id="star2halfx" type="radio" name="rating" value="2 and a half"/>
                  <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input id="star2x" type="radio" name="rating" value="2"/>
                  <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                  <input id="star1halfx" type="radio" name="rating" value="1 and a half"/>
                  <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                  <input id="star1x" type="radio" name="rating" value="1"/>
                  <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                  <input id="starhalf" type="radio" name="rating" value="half"/>
                  <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <p class="valoration">43 <span>(21 valoraciones)</span></p>
              </div>
            </div>
            <div class="col-md-9">
              <h4>NOMBRE ENTRENADOR<span class="title">Entrenador de natación</span><span class="location">La Molina - Lima</span></h4>
              <p>A mediados del 2010, la demanda de atletas que solicitaban una asesoría altamente personalizada aumentó considerablemente. Esto llevó a que el licenciado cubano en cultura física y deportes, Dennys Maymir,  se diera cuenta que un cuadro de Excel y unas cuantas imágenes de ejercicios no eran suficientes para satisfacer al 100% las necesidades de sus atletas. Necesitaba una herramienta más potente, un sistema con el que a cualquier profesional de la salud y el deporte trabajar con su propia metodología, para asesorar de manera efectiva y segura.</p>
              <button class="btn btn-default btn-black" type="button">VER PERFIL</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
  </body>
</html>
