<!DOCTYPE html>
<html lang="es-ES">
<head>
  <title>Términos y condiciones | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
</head>
<body>
<nav th:replace="html-commons/p/header :: fg-header"></nav>
<div th:replace="html-commons/reu-login :: fg-login"></div>
<div id="wrapper">
  <div class="section banner home">
    <div class="bg-image-x"><img class="banner-home" th:src="@{/img/public/trainers-shadow.jpg}+'?'+${version}"></div>
  </div>
    <th:block th:insert="public/terminos_condiciones :: fg-term-cond"></th:block>
</div>
<footer th:replace="html-commons/p/footer :: fg-footer"></footer>
<th:block th:insert="html-commons/p/js :: fg-js"></th:block>
</body>
</html>
