<div th:fragment="fg-modals-reg-trainer">
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalCC" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #a8fa00;color: white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-15x fa-close"></i></button>
                    <h3 class="modal-title">Cuenta Bancaria</h3>
                </div>
                <div class="modal-body" style="background: white;height: 34%;overflow-y: auto">
                    <div class="col-sm-12" id="CuentaBancariaUnica">
                        <div class="row">
                            <div class="col col-md-5 col-xs-12"><strong>Banco:</strong></div>
                            <div class="col col-md-7 col-xs-12"><span class="cc-nom-banco"></span></div>
                        </div>
                        <div class="row">
                            <div class="col col-md-5 col-xs-12"><strong>Titular de la cuenta:</strong></div>
                            <div class="col col-md-7 col-xs-12"><span class="cc-titular"></span></div>
                        </div>
                        <div class="row">
                            <div class="col col-md-5 col-xs-12"><strong>Cuenta soles: </strong></div>
                            <div class="col col-md-7 col-xs-12"><span class="cc-cs"></span></div>
                        </div>
                        <div class="row">
                            <div class="col col-md-5 col-xs-12"><strong>Interbancario soles:</strong></div>
                            <div class="col col-md-7 col-xs-12"><span class="cc-cis"></span></div>
                        </div>
                        <input id="ModalCuentaBancoId" type="hidden"/>
                    </div>
                </div>
                <div class="modal-footer text-center" style="background: #a8fa00;">
                    <i class="fa fa-fw fa-2x fa-trash-o" style="cursor:pointer;" onclick="eliminarCuentaBanco()" title="Eliminar cuenta bancaria"></i>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalCropper" data-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 70%;size: 90%;">
            <div class="modal-content" style="width: 100%">
                <div class="modal-header" style="background: #000000;text-align: center;border:none">
                    <button id="btnCerrarRecorteFotoPerfil" type="button"  data-dismiss="modal" class="close-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="height: 90%;padding: 0px">
                    <div class="col-sm-12 text-center" style="width: 100%;height: 100%;padding:0px;">
                        <img id="ImagePerfil" style="max-width: 90%; max-height: 100%; display:none">
                    </div>
                </div>
                <div class="modal-footer" style="background: #000000;text-align: center;border:none">
                    <div class="row" id="actions">
                        <div class="col-md-12 docs-buttons">
                            <div class="btn-group btn-group-crop">
                                <button data-dismiss="modal" type="button" class="btn btn-black" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })">
                                                <i class="fa fa-check-circle fa-fw"></i>Confirmar
                                            </span>
                                </button>
                                <button onclick="elegirOtraImagenCropper()" data-dismiss="modal" type="button" class="btn btn-black" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="">
                                                <i class="fa fa-refresh fa-fw"></i>Cambiar
                                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalTermCond" data-backdrop="static" style=";height: 100%;">
        <div class="modal-dialog" role="document" style="width: 95%;height: 82%;">
            <div class="modal-content" style="width: 100%;height: 100%;">
                <div class="modal-header" style="background: #000000;text-align: center;border:none">
                    <button type="button"  data-dismiss="modal" class="close-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="height: 86%;overflow-y:auto;">
                    <div class="col-sm-12 padding-o-top-10">
                        <div th:replace="public/terminos_condiciones :: fg-term-cond"></div>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ocultarModalTermCondYAceptar()" data-toggle="hover" rel="tooltip" data-original-title="Aceptar los términos y condiciones">
                    <div class="modal-footer mod-term-cond" style="background: #a8fa00;text-align: center;">
                        <i class="fa fa-fw fa-2x fa-check" style="color: white; cursor:pointer;"></i>
                    </div>
                </a>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>