<div th:fragment="fg-modals-p-trainer">
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalCC" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #000000;color: white">
                    <h4 class="modal-title">Cuentas Bancarias</h4>
                </div>
                <div class="modal-body" style="background: white;height: 34%;overflow-y: auto">
                    <div class="row" id="ModalCCs">
                    </div>
                </div>
                <div class="modal-footer text-center" style="background: #000000;">
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><i class="fa fa-fw fa-close" title="Cerrar"></i></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalCropper" data-backdrop="static">
        <div class="modal-dialog" role="document" style="width: 70%">
            <div class="modal-content" style="width: 100%">
                <div class="modal-header" style="background: #000000;text-align: center;border:none">
                    <button id="btnCerrarRecorteFotoPerfil" type="button"  data-dismiss="modal" class="close-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="height: 90%;padding: 0px">
                    <div class="col-sm-12 text-center" style="width: 100%;height: 100%;padding:0px;">
                        <img id="ImagePerfil" style="max-width: 90%; max-height: 100%; display:none">
                    </div>
                </div>
                <div class="modal-footer" style="background: #000000;text-align: center;border:none">
                    <div class="row" id="actions">
                        <div class="col-md-12 docs-buttons">
                            <div class="btn-group btn-group-crop">
                                <button style="margin: 20px 20px 10px;border-radius: 5px; min-width: 180px" data-dismiss="modal" type="button" class="btn btn-black" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })">
                                                <i class="fa fa-check-circle fa-fw"></i>Confirmar
                                            </span>
                                </button>
                                <button style="margin: 20px 20px 10px;border-radius: 5px; min-width: 180px" onclick="elegirOtraImagenCropper()" data-dismiss="modal" type="button" class="btn btn-black" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">
                                            <span class="docs-tooltip" data-toggle="tooltip" title="">
                                                <i class="fa fa-refresh fa-fw"></i>Cambiar
                                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModalTermCond" data-backdrop="static" style=";height: 100%;">
        <div class="modal-dialog" role="document" style="width: 95%;height: 82%;">
            <div class="modal-content" style="width: 100%;height: 100%;">
                <div class="modal-header" style="background: #000000;text-align: center;border:none">
                    <button type="button"  data-dismiss="modal" class="close-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="height: 86%;overflow-y:auto;">
                    <div class="col-sm-12 padding-o-top-10">
                        <div th:replace="public/terminos_condiciones :: fg-term-cond"></div>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ocultarModalTermCondYAceptar()" data-toggle="hover" rel="tooltip" data-original-title="Aceptar los términos y condiciones">
                    <div class="modal-footer mod-term-cond" style="background: #a8fa00;text-align: center;">
                        <i class="fa fa-fw fa-2x fa-check" style="color: white; cursor:pointer;"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade slide in" id="myModal" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="margin-top: 30px;">
            <div class="modal-content" style="background-color: transparent;box-shadow: none;border: none;">
                <div class="modal-header" style="border: none">
                    <button class="btn btn-default btn-white" data-dismiss="modal" title="Cerrar" type="button" style="float: right;"> CERRAR
                        <i class="fa-fw fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="padding: 0px !important">
                    <div id="myGallery" class="carousel slide" data-interval="false">
                        <ol class="carousel-indicators">
                        </ol>
                        <div class="carousel-inner text-center">

                        </div>
                        <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myGallery" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal fade slide in" id="modalTYC" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 70%; height: 85%;">
            <div class="modal-content">
                <div class="modal-header text-right">
                    <span class="" data-dismiss="modal" style="color: #a8fa00;font-size: 1.4em;cursor: pointer"><i style="font-size: 1.3em !important;" class="fa-fw fa fa-close"></i></span>
                </div>
                <div class="modal-body" style="padding: 0px !important; height: 550px;" id="TYC">
                </div>
                <!--<div class="modal-footer mod-term-cond" title="Cerrar" style="float:right;background: transparent;text-align: center;cursor:pointer;border:none" data-dismiss="modal">
                    <span class="" style="color: #a8fa00;font-size: 1.4em;"><i style="font-size: 1.3em !important;" class="fa-fw fa fa-close"></i></span>
                </div>-->

            </div>
        </div>
    </div>
</div>
