<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
  <title>Perfil trainer específico | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  <style>
      .rf-color{
        color: #a8fa00 !important;
      }
  </style>
</head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/trainers-shadow.jpg}+'?'+${version}"/></div>
      </div>
      <section class="trainers-form">
        <div class="row">
          <div class="container">
            <div class="col-md-5">
              <div class="avatar-form">
                <div class="avatar-form-content" id="ImagenPerfil"><img src="https://media1.tenor.com/images/b18603537d3dbdd776f2907e3187a5c4/tenor.gif?itemid=11580546" style="max-height: 100% !important;"/></div>
              </div>
              <fieldset class="rating">
                <input id="star5" type="radio" name="rating" value="5"/>
                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                <input id="star4half" type="radio" name="rating" value="4 and a half"/>
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input id="star4" type="radio" name="rating" value="4"/>
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input id="star3half" type="radio" name="rating" value="3 and a half"/>
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input id="star3" type="radio" name="rating" value="3"/>
                <label class="full" for="star3" title="Meh - 3 stars"></label>
                <input id="star2half" type="radio" name="rating" value="2 and a half"/>
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input id="star2" type="radio" name="rating" value="2"/>
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input id="star1half" type="radio" name="rating" value="1 and a half"/>
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input id="star1" type="radio" name="rating" value="1"/>
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                <input id="starhalf" type="radio" name="rating" value="half"/>
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
              <p class="valoration">43 <span>(21 valoraciones)</span></p>
            </div>
            <div class="col-md-7">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#about"><span>ACERCA DE MÍ</span></a></li>
                <li><a data-toggle="tab" href="#contact"><span>CONTACTO</span></a></li>
                <li><a data-toggle="tab" href="#service"><span>SERVICIOS</span></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="about">
                  <form>
                    <div class="form-group">
                      <label>NOMBRE Y APELLIDOS</label>
                      <p id="NombreFull"></p>
                    </div>
                    <div class="form-group">
                      <label>ESPECIALIDAD</label>
                      <p id="Especialidad"></p>
                    </div>
                    <div class="form-group">
                      <label>ELIGE DEPORTE O ACTIVIDADES QUE REALIZAS</label>
                      <p id="Disciplina"></p>
                    </div>
                    <div class="form-group">
                      <label>ACERCA DE MI</label>
                      <p id="Acerca"></p>
                    </div>
                    <div class="form-group">
                      <label>IDIOMAS QUE DOMINO</label>
                      <p id="Idiomas"></p>
                    </div>
                    <div class="form-group">
                      <label>ESTUDIOS Y CERTIFICACIONES</label>
                      <ul id="Estudios" class="list-description">
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>MÉTODO DE TRABAJO</label>
                      <p id="MetodoTrabajo"></p>
                    </div>
                    <div class="form-group">
                      <label>EXPERIENCIA LABORAL</label>
                      <ul id="Experiencias" class="list-description">
                      </ul>
                      <div class="form-group">
                        <label>RESULTADOS OBTENIDOS COMO PROFESIONAL</label>
                        <ul id="Resultados" class="list-description">
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>SELECCIONA EL NIVEL DE RENDIMIENTO DE LAS PERSONAS QUE ASESORAS</label>
                        <ul id="Niveles" class="list-description">
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>CENTRO DE TRABAJO</label>
                        <p id="CentroTrabajo"></p>
                      </div>
                      <div class="form-group">
                        <label>ESPECIALIDADES QUE DOMINO</label>
                        <ul id="Especialidades" class="list-description">
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>FORMA DE TRABAJO</label>
                        <ul id="FormasTrabajo" class="list-description">
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>GALERÍA DE FOTOS</label>
                        <div class="row">
                          <div class="col-md-12">
                            <div id="MiniGaleria" class="owl-carousel owl-theme">
                              <div class="item"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                              <div class="item"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                              <div class="item"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                              <div class="item"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                              <div class="item"><img th:src="@{/img/public/carousel-1.jpg}+'?'+${version}"/></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="contact">
                      <form>
                          <h1 class="title-form">COMPÁRTENOS TUS DATOS PARA CONTACTARNOS LO ANTES POSIBLE</h1>
                          <div class="form-group">
                              <div class="pad-right-middle">
                                  <label>NOMBRE COMPLETO<span class="obligatorio">*</span></label>
                                  <input class="form-control" type="text">
                              </div>
                          </div>
                          <div class="form-group">
                              <label>¿CUÁL ES TU SEXO?</label>
                              <ul class="checks">
                                  <li>
                                      <div class="chk-content">Mujer
                                          <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="chk-content">Hombre
                                          <input type="checkbox"><span class="checkmark"></span>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="chk-content">Otro
                                          <input type="checkbox"><span class="checkmark"></span>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="form-group">
                              <div class="pad-right-middle">
                                  <label>CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                                  <input class="form-control" type="text">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="pad-right-middle">
                                  <label>CELULAR<span class="obligatorio">*</span></label>
                                  <input class="form-control" type="text">
                              </div>
                          </div>
                          <div class="form-group">
                              <label>CUÉNTANOS EN QUÉ TE PODEMOS AYUDAR</label>
                              <textarea class="form-control"></textarea>
                          </div>
                          <button class="btn btn-default btn-black" type="button">ENVIAR</button>
                      </form>
                  </div>
                <div class="tab-pane fade" id="service">
                      <h3>MIS SERVICIOS</h3>
                      <h1 class="title-form">DALE UN VISTAZO A NUESTROS SERVICIOS </h1>
                      <form>
                          <div class="ver-servicios">
                              <div id="NomServicios" class="form-group">
                              </div>
                          </div>
                          <div class="form-group">
                              <label>DESCRIPCIÓN</label>
                              <p id="DescripcionServicio"></p>
                          </div>
                          <div class="form-group">
                              <label>QUE INCLUYE</label>
                              <ul id="IncluyeServicio" class="list-counter">
                                  <li></li>
                              </ul>
                          </div>
                          <p class="sub-title">TARIFARIO</p>

                          <!-- TARIFARIOS -->
                          <div class="form-group">
                              <div id="Tarifario"  class="row text-center">
                              </div>
                          </div>
                          <!-- END TARIFARIOS-->

                          <div class="form-group">
                              <label>INFORMACIÓN ADICIONAL</label>
                              <p id="InfoAdicional"></p>
                          </div>
                          <div class="form-group">
                              <label>INFORMACIÓN DE PAGO</label>
                              <ul class="checks">
                                  <li>
                                      <div class="chk-content">En efectivo
                                          <input type="checkbox"><span class="checkmark"></span>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="chk-content">Transferencia
                                          <input type="checkbox" checked="checked"><span class="checkmark"></span>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="chk-content">Con Tarjeta
                                          <input type="checkbox"><span class="checkmark"></span>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="form-group" id="CuentaBanco">

                          </div>
                          <div class="form-group">
                              <label>Nota</label>
                              <p>Para la confirmación de recepción del pago, enviar la constancia de transferencia o voucher por correo electrónico, a la siguiente dirección: info@runfit.pe</p><i>*En caso que realice el pago en efectivo, enviar un correo a la empresa, comunicando la fecha en que lo realizó.</i>
                          </div>
                          <button id="btnElegir" class="btn btn-default btn-black" type="button">INSCRÍBETE</button>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:src="@{/js/hashids.min.js}+'?'+${version}"></script>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnQe-1f0b5KmTQXUMED0_n9-Vx3Y4ixc&amp;callback=initMap" type="text/javascript"></script>
    <script th:inline="javascript">
      let $perfil = {};
      const btnElegir = document.getElementById('btnElegir');
      (function () {
          btnElegir.addEventListener('click', irARegistro);
          init();
      })();

      function init(){
        getTrainer();
      }

      function irARegistro(){
        const hshId = getHash32Id('rf-public', $perfil.id);
        const trainerCorreo = btoa($perfil.correo).replace(/\=/g,'');
        window.location.href = _ctx + "p/ficha-inscripcion?key="+hshId+"&ml="+trainerCorreo;
      }

      function getTrainer(){
        const urlArr = window.location.href.split("/");
        const nomPag = urlArr[urlArr.length-1];
        $.ajax({
          type: 'GET',
          url: _ctx + 'p/trainer/get/'+nomPag,
          dataType: 'json',
          blockLoading: false,
          success: function (res) {
            $perfil = res;
            recrearPerfil(res);
          }, error: (xhr) => {
            console.log(xhr);
          }, complete: () => {
          }
        })
      }

      function recrearPerfil(t){
        document.querySelector('#NombreFull').textContent = t.nombreCompleto;
        document.querySelector('#Especialidad').textContent = t.especialidad;
        document.querySelector('#Disciplina').textContent = t.disciplina;
        document.querySelector('#ImagenPerfil img').src = 'https://s3-sa-east-1.amazonaws.com/dev-runfit/perfil/'+t.rutaWebImg;
        document.querySelector('#Acerca').textContent = t.acerca.replace(/\r?\n/g, '<br />');

        let idiomas = "Español|Ingles".split("|");
        document.querySelector('#Idiomas').appendChild(htmlStringToElement('<ul class="list-description">'+idiomas.map(e=>`<li><p>${e}</p></li>`).join('')+'</ul>'));
        let est = document.querySelector('#Estudios');
        reconstruirLista(est, t.estudios);
        document.querySelector('#MetodoTrabajo').innerHTML = t.metodoTrabajo.replace(/\r?\n/g, '<br />');
        let exp = document.querySelector('#Experiencias');
        reconstruirLista(exp, t.experiencias);
        let res = document.querySelector('#Resultados');
        reconstruirLista(res, t.resultados);
        let nvl = document.querySelector('#Niveles')
        reconstruirLista(nvl, t.niveles);
        let espc = document.querySelector('#Especialidades');
        reconstruirLista(espc, t.especialidades);
        let frmt = document.querySelector('#FormasTrabajo');
        reconstruirLista(frmt, t.formasTrabajo);
        reconstruirServicios(t.servicios, t.adicionalInfo != undefined ? t.adicionalInfo : "Ninguna");
        reconstruirCuentaBanco(t.cuentas);
        reconstruirTarifario(JSON.parse(t.servicios)[0].tarifarios);
      }

      function reconstruirLista(e, stringArr){
          stringArr.split("|").forEach(v => e.appendChild(htmlStringToElement(`<li><p>${v.trim()}</p></li>`)));
      }

      function reconstruirServicios(ser, infAd){
          const servicios = JSON.parse(ser);
          const dvServicios = document.getElementById('NomServicios');
          dvServicios.innerHTML = servicios.map((e) => `<label>${e.nombre}</label>`).join('');
          dvServicios.firstElementChild.classList.add('rf-color');
          const fSs = servicios[0];
          document.getElementById('DescripcionServicio').innerHTML =  fSs.descripcion.replace(/\r?\n/g, '<br />');
          const dvIncServicio = document.getElementById('IncluyeServicio');
          dvIncServicio.innerHTML = fSs.incluye.split("|").map((e) => `<li>${e}</li>`).join('');
          document.getElementById('InfoAdicional').innerHTML = infAd.replace(/\r?\n/g, '<br />');
      }

      function reconstruirCuentaBanco(cuentas){
          cuentas = JSON.parse(cuentas);
          const pc = cuentas[0];
          document.getElementById('CuentaBanco').appendChild(htmlStringToElement(`<table class="table">
                                      <thead>
                                      <tr>
                                          <th>MONEDA</th>
                                          <th>CUENTA AHORROS</th>
                                          <th>CÓDIGO INTERBANCARIO</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr>
                                          <td><strong>Soles</strong></td>
                                          <td><strong>${pc.numeroSoles}</strong></td>
                                          <td><strong>${pc.interbancarioSoles}</strong></td>
                                      </tr>
                                      <tr>
                                          <td><strong>Dólares</strong></td>
                                          <td><strong>${pc.numeroDolares}</strong></td>
                                          <td><strong>${pc.interbancarioDolares}</strong></td>
                                      </tr>
                                      <tr>
                                          <td><strong>Títular</strong></td>
                                          <td>${pc.titular}</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td><strong>Banco</strong></td>
                                          <td>${banks.find(e=>e.id==pc.bancoId).nombre}</td>
                                          <td></td>
                                      </tr>
                                      <tr>
                                          <td><strong>${pc.titularTipoDoc}</strong></td>
                                          <td>${pc.titularNumDoc}</td>
                                          <td></td>
                                      </tr>
                                      </tbody>
                                  </table>
          `));
      }

      function reconstruirTarifario(tarifas){
          console.log(tarifas);
          tarifas.forEach(e=>document.getElementById('Tarifario').appendChild(htmlStringToElement(`
                              <div class="col-xs-12 col-sm-6 col-md-4">
                                  <div class="panel panel-primary">
                                      <div class="panel-heading">
                                          <h4 class="panel-title" style="color:white; !important;">
                                              Plan 1</h4>
                                      </div>
                                      <div class="panel-body no-padding text-align-center">
                                          <div class="the-price">
                                              <h1>S/. ${parseFloat(e.precio).toFixed(0)}</h1>
                                          </div>
                                          <table class="table">
                                              <tbody>
                                              <tr>
                                                  <td>Personas: <span>${e.personas}</span></td>
                                              </tr>
                                              <tr class="active">
                                                  <td>Meses: <span>${e.meses}</span></td>
                                              </tr>
                                              <tr>
                                                  <td>Sesiones: <span>${e.sesiones}</span></td>
                                              </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>`)));
      }
    </script>
  </body>
</html>
