<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
  <title>Trainers | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
</head>
<body>
<nav th:replace="html-commons/p/header :: fg-header"></nav>
<div th:replace="html-commons/reu-login :: fg-login"></div>
<div id="wrapper">
  <div class="section banner home">
    <div class="bg-image-x"><img class="banner-home" th:src="@{/img/public/trainers-shadow.jpg}"></div>
  </div>
  <section class="faq tyc">
    <div class="container text-center">
      <h2 class="subtitle" th:utext="${msg}">MSG</h2>
      <img class="check-success" th:src="@{/img/check-success.png}+'?'+${version}">
    </div>
  </section>
</div>
<footer th:replace="html-commons/p/footer :: fg-footer"></footer>
<th:block th:insert="html-commons/p/js :: fg-js"></th:block>
<script th:inline="javascript">
  (function(){
    if(flag_form_populate){
      window.location.href = _ctx + "p/bandeja";
    }

  })();

</script>
</body>
</html>
