<!DOCTYPE html>
<html lang="es-ES">
<head>
  <title>Preguntas frecuentes | Fitness | Runfit</title>
  <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
  <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
</head>
<body>
<nav th:replace="html-commons/p/header :: fg-header"></nav>
<div th:replace="html-commons/reu-login :: fg-login"></div>
<div id="wrapper">
  <div class="section banner home">
    <div class="bg-image"><img class="shadow" th:src="@{/img/public/trainers-shadow.jpg}"></div>
  </div>
  <section class="faq">
    <div class="container">
      <h1>preguntas más frecuentes</h1>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#1">¿dónde son las clases?</h3>
        <div class="collapse" id="1">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#2">¿cuáles son los horarios de las clases?</h3>
        <div class="collapse" id="2">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#3">¿cuánto dura cada sesión?</h3>
        <div class="collapse" id="3">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#4">¿tienen otros horarios disponibles?</h3>
        <div class="collapse" id="4">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#5">¿cuándo comienza el curso?</h3>
        <div class="collapse" id="5">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#6">¿Puedo inscribirme una vez iniciado el curso?</h3>
        <div class="collapse" id="6">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#7">¿qué debo hacer para inscribirme?</h3>
        <div class="collapse" id="7">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#8">¿puedo hacer el pago en dos partes?</h3>
        <div class="collapse" id="8">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#9">¿hay algún tipo de descuento?</h3>
        <div class="collapse" id="9">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#10">Si tengo alguna lesión o dolor ¿Puedo inscribirme en el programa?</h3>
        <div class="collapse" id="10">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#11">¿Puedo entrar al programa aunque mi condición física no sea la más adecuada?</h3>
        <div class="collapse" id="11">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#12">¿cuánto cuesta la inscripción?</h3>
        <div class="collapse" id="12">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#13">¿qué necesito llevar a las clases?</h3>
        <div class="collapse" id="13">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#14">¿si no me gustan las clases o no puedo asistir más al curso, me devuelven el dinero?</h3>
        <div class="collapse" id="14">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#15">¿si falto a alguna sesión, la puedo recuperar?</h3>
        <div class="collapse" id="15">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#16">¿cuántos entrenadores me asistirán en la clase?</h3>
        <div class="collapse" id="16">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#17">¿por cuántos alumnos está compuesto el grupo?</h3>
        <div class="collapse" id="17">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#18">¿cómo son las clases?</h3>
        <div class="collapse" id="18">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#19">¿si quiero clases personales para reforzar lo aprendido cuánto costaría la sesión?</h3>
        <div class="collapse" id="19">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#20">¿puedo llevar algún amigo a presenciar una clase?</h3>
        <div class="collapse" id="20">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <div class="content-collapse">
        <h3 class="more" data-toggle="collapse" data-target="#21">¿hay algún costo por entrar a usar la pista atlética?</h3>
        <div class="collapse" id="21">
          <div class="content">
            <p>Pista atlética Luis Gálvez Chippoco (Av.San Martín, Barrancao 15063)</p>
          </div>
        </div>
      </div>
      <p class="msj">Para poder abrir el curso se necesitan mínimo 10 inscritos. En caso que el curso no llegue a su matrícula mínima se les hará la devolución del dinero a las personas que han pagado.</p>
      <p class="msj">Las reservas de cupos se realizarán previo pago.</p>
    </div>
  </section>
</div>
<footer th:replace="html-commons/p/footer :: fg-footer"></footer>
<th:block th:insert="html-commons/p/js :: fg-js"></th:block>
</body>
</html>
