<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title>Trainer complete | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" src="img/trainers-shadow.jpg"></div>
      </div>
      <section class="trainers-form">
        <div class="row">
          <div class="container">
            <div class="col-md-5">
              <div class="avatar-form">
                <div class="avatar-form-content"><img src="img/carousel-1.jpg"></div>
              </div>
              <fieldset class="rating">
                <input id="star5" type="radio" name="rating" value="5">
                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                <input id="star4half" type="radio" name="rating" value="4 and a half">
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input id="star4" type="radio" name="rating" value="4">
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input id="star3half" type="radio" name="rating" value="3 and a half">
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input id="star3" type="radio" name="rating" value="3">
                <label class="full" for="star3" title="Meh - 3 stars"></label>
                <input id="star2half" type="radio" name="rating" value="2 and a half">
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input id="star2" type="radio" name="rating" value="2">
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input id="star1half" type="radio" name="rating" value="1 and a half">
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input id="star1" type="radio" name="rating" value="1">
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                <input id="starhalf" type="radio" name="rating" value="half">
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
              <p class="valoration">43 <span>(21 valoraciones)</span></p>
            </div>
            <div class="col-md-7">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#about"><span>ACERCA DE MÍ</span></a></li>
                <li><a data-toggle="tab" href="#contact"><span>CONTACTO</span></a></li>
                <li><a data-toggle="tab" href="#service"><span>SERVICIOS</span></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="about">
                  <form>
                    <div class="form-group">
                      <label>NOMBRE Y APELLIDOS</label>
                      <p>Pedro Mori Arias</p>
                    </div>
                    <div class="form-group">
                      <label>ESPECIALIDAD</label>
                      <p>Entrenador de natación</p>
                    </div>
                    <div class="form-group">
                      <label>DEPORTE O ACTIVIDADES QUE REALIZAS</label>
                      <p>Boxeo</p>
                    </div>
                    <div class="form-group">
                      <label>ACERCA DE MI</label>
                      <p>Soy licenciado en cultura física y ex campeón nacional de natación. Me dedico a entrenar a profesionales y amateurs de natación desde hace más de 10 años, logrando que muchos de mis alumnos lleguen a ganar campeonatos nacionales, sudamericanos y cualquier otro logro personal.  Considero que la natación es una disciplina completa y sobre todo una pasión que tiene muchos beneficios en la vida diaria. No solo es cuestión de talento sino del esfuerzo y compromiso que uno le ponga a la disciplina. Conmigo el trabajo será duro pero valdrá la pena. </p>
                    </div>
                    <div class="form-group">
                      <label>IDIOMAS QUE DOMINO</label>
                      <p>Inglés y español</p>
                    </div>
                    <div class="form-group">
                      <label>ESTUDIOS Y CERTIFICACIONES</label>
                      <ul class="list-description">
                        <li>
                          <p>Licenciado en cultura física y deporte</p>
                        </li>
                        <li>
                          <p>Diplomado en nutrición para atletas</p>
                        </li>
                        <li>
                          <p>Diplomado en rehabilitación enfocada en deportista calificados</p>
                        </li>
                        <li>
                          <p>Curso en rescate en el agua</p>
                        </li>
                        <li>
                          <p>Curso en metodología del entrenamiento</p>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>MÉTODO DE TRABAJO</label>
                      <p>Está centrado en buscar un equilibrio armónico entre las leyes de la física, la fisiología y la biomecánica humana, logrando como resultado un eficiente desplazamiento con bajo impacto articular y poco coste energético. El sistema es complementado con el mejoramiento de las capacidades motrices, para obtener mejores resultados.</p>
                      <p>Desarrollamos una metodología pedagógica altamente efectiva, con sistemas de clases didácticas y experienciales, que han ayudado a cientos de personas a mejorar su rendimiento. Ellas han aprendido a correr de forma distinta, con sensaciones positivas y disfrutando del running como nunca antes.</p>
                    </div>
                    <div class="form-group">
                      <label>EXPERIENCIA LABORAL</label>
                      <ul class="list-description">
                        <li>
                          <p>Entrenador en AquaLab (2013 – hasta la fecha)</p>
                        </li>
                        <li>
                          <p>Entrenador freelance (2005 – hasta la fecha)</p>
                        </li>
                        <li>
                          <p>Selección nacional de natación (2000 – 2005)</p>
                        </li>
                      </ul>
                      <div class="form-group">
                        <label>RESULTADOS OBTENIDOS COMO PROFESIONAL</label>
                        <ul class="list-description">
                          <li>
                            <p>Juan Pérez, campeón en natación 100 m libres (2017)</p>
                          </li>
                          <li>
                            <p>Rocío Flores, campeona sudamericana 4x100 m (2017)</p>
                          </li>
                          <li>
                            <p>Michael Barros, campeón en natación 4x200 (2016)</p>
                          </li>
                          <li>
                            <p>Entrenador del año (2015)</p>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>SELECCIONA EL NIVEL DE RENDIMIENTO DE LAS PERSONAS QUE ASESORAS</label>
                        <ul class="list-description">
                          <li>
                            <p>Principiantes</p>
                          </li>
                          <li>
                            <p>Profesionales</p>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>CENTRO DE TRABAJO</label>
                        <p>AQUALAB - Av. Nicolás de Ribera 145, San Isidro</p>
                      </div>
                      <div class="form-group">
                        <label>ESPECIALIDADES QUE DOMINO</label>
                        <ul class="list-description">
                          <li>
                            <p>Entrenamiento en grupo</p>
                          </li>
                          <li>
                            <p>Entrenamiento uno a uno</p>
                          </li>
                          <li>
                            <p>Natación para profesionales</p>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>FORMA DE TRABAJO</label>
                        <ul class="list-description">
                          <li>
                            <p>Entrenamiento en grupo</p>
                          </li>
                          <li>
                            <p>Entrenamiento uno a uno</p>
                          </li>
                          <li>
                            <p>Natación para profesionales</p>
                          </li>
                        </ul>
                      </div>
                      <div class="form-group">
                        <label>GALERÍA DE FOTOS</label>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="owl-carousel owl-theme">
                              <div class="item"><img src="img/carousel-1.jpg"></div>
                              <div class="item"><img src="img/carousel-1.jpg"></div>
                              <div class="item"><img src="img/carousel-1.jpg"></div>
                              <div class="item"><img src="img/carousel-1.jpg"></div>
                              <div class="item"><img src="img/carousel-1.jpg"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="contact">
                  <form>
                    <div class="form-group">
                      <label>CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>TELÉFONO</label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>MÓVIL<span class="obligatorio">*</span></label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>DOCUMENTO DE IDENTIDAD<span class="obligatorio">*</span></label>
                      <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                      <label>DIRECCION<span class="obligatorio">*</span></label>
                      <input class="form-control" type="text">
                    </div>
                    <button class="btn btn-default btn-black" type="button">GUARDAR</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="service">
                  <h4>Mis servicios</h4>
                  <form>
                    <div class="form-group">
                      <label>SERVICIO 1<span class="obligatorio">*</span></label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <label>DESCRIPCIÓN</label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <label>QUE INCLUYE</label>
                      <input class="form-control" type="text">
                    </div>
                    <button class="btn btn-default btn-black" type="button">AGREGAR SERVICIOS</button>
                    <p class="sub-title">TARIFARIO<span class="obligatorio">*</span></p>
                    <h4>Frecuencia</h4>
                    <div class="form-group">
                      <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-7">
                          <label>CANTIDAD DE PERSONAS</label>
                        </div>
                        <div class="col-xs-5 text-right">
                          <ul class="counter">
                            <li class="count">
                              <button class="counter-round" type="submit" onclick="add('txtCantidadPersonas')"><span class="fa fa-plus"></span></button>
                            </li>
                            <li class="result">
                              <input class="counter-input" id="txtCantidadPersonas" type="text" value="0">
                            </li>
                            <li class="count">
                              <button class="counter-round" type="submit" onclick="minus('txtCantidadPersonas')"><span class="fa fa-minus"></span></button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-7">
                          <label>CANTIDAD DE MESES</label>
                        </div>
                        <div class="col-xs-5 text-right">
                          <ul class="counter">
                            <li class="count">
                              <button class="counter-round" type="submit" onclick="add('txtCantidadMeses')"><span class="fa fa-plus"></span></button>
                            </li>
                            <li class="result">
                              <input class="counter-input" id="txtCantidadMeses" type="text" value="0">
                            </li>
                            <li class="count">
                              <button class="counter-round" type="submit" onclick="minus('txtCantidadMeses')"><span class="fa fa-minus"></span></button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-7">
                          <label>PRECIO TOTAL</label>
                        </div>
                        <div class="col-xs-5 text-right">
                          <input class="price" type="text" value="150.00">
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-default btn-black" type="button">AGREGAR PAQUETE</button>
                    <div class="form-group">
                      <label>INFORMACIÓN ADICIONAL</label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <label>MÉTODOS DE PAGO<span class="obligatorio">*</span></label>
                      <ul class="checks">
                        <li>
                          <div class="chk-content">En efectivo
                            <input type="checkbox"><span class="checkmark"></span>
                          </div>
                        </li>
                        <li>
                          <div class="chk-content">Transferencia
                            <input type="checkbox"><span class="checkmark"></span>
                          </div>
                        </li>
                        <li>
                          <div class="chk-content">Con Tarjeta
                            <input type="checkbox"><span class="checkmark"></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Información de pago">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Documento de identidad">
                    </div>
                    <div class="form-group">
                      <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Número de cuenta">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Número de código interbancario">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Banco">
                    </div>
                    <button class="btn btn-default btn-black" type="button">AGREGAR NUEVA CUENTA</button>
                    <button class="btn btn-default btn-white" type="button">ADJUNTAR CONDICIONES DEL SERVICIO<span class="obligatorio">*</span></button>
                    <button class="btn btn-default btn-white" type="button">SELECCIONAR FICHA DE INSCRIPCIÓN<span class="obligatorio">*</span></button>
                    <div class="terms">
                      <div class="chk-content"><a href="#">Acepto términos y condiciones<span class="obligatorio">*</span></a>
                        <input type="checkbox"><span class="checkmark"></span>
                      </div>
                    </div>
                    <button class="btn btn-default btn-black" type="button">GUARDAR</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <script th:src="@{/js/vendor/vendor_all.js}" type="text/javascript"></script><!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
    <script th:src="@{/js/init.js}"></script>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnQe-1f0b5KmTQXUMED0_n9-Vx3Y4ixc&amp;callback=initMap" type="text/javascript"></script>
  </body>
</html>
