<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <title>Elección para pertenecer al staff Runfit | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/emprende.jpg}">
          <div class="container">
            <div class="title-page">
              <h1> <i>CONTACTO</i><span class="no-watch">000</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="trainers-form">
        <div class="row emprende-form">
          <div class="container"><img class="bg-image" th:src="@{/img/public/emprende_form.png}">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <h3>DESEA FORMAR PARTE DE NUESTRA FAMILIA<span> DE CLIENTES, CONTÁCTALO!</span></h3>
              <hr>
              <form class="row" id="frm_registro">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Nombre">NOMBRE COMPLETO<span class="obligatorio">*</span></label>
                    <input id="Nombre" name="Nombre" class="form-control" type="text" disabled="disabled" th:value="${contacto.nombre}">
                  </div>
                  <div class="form-group">
                    <label for="Correo">CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                    <input name="Correo" id="Correo" class="form-control" type="text" disabled="disabled" th:value="${contacto.correo}">
                  </div>
                  <div class="form-group">
                    <label for="Movil">TELÉFONO<span class="obligatorio">*</span></label>
                    <input id="Movil" name="Movil" class="form-control" type="text" disabled="disabled" th:value="${contacto.movil}">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mensaje">MENSAJE</label>
                    <textarea id="Mensaje" name="Mensaje" class="form-control" disabled="disabled" th:utext="${contacto.mensaje}"></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:inline="javascript">
      (function () {

      })();
    </script>
  </body>
</html>
