<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <title>Contacto con la plataforma | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/emprende.jpg}">
          <div class="container">
            <div class="title-page">
              <h1> <i>CONTACTO</i><span class="no-watch">000</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="trainers-form">
        <div class="row emprende-form">
          <div class="container"><img class="bg-image" th:src="@{/img/public/emprende_form.png}">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <h3>DÉJENOS SU CONSULTA</h3>
              <form class="row" id="frm_registro">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Nombre">NOMBRE COMPLETO<span class="obligatorio">*</span></label>
                    <input id="Nombre" name="Nombre" class="form-control" type="text" maxlength="60">
                  </div>
                  <div class="form-group">
                    <label for="Correo">CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                    <input name="Correo" id="Correo" class="form-control" type="text" maxlength="40">
                  </div>
                  <div class="form-group">
                    <label for="Movil">MÓVIL<span class="obligatorio">*</span></label>
                    <input id="Movil" name="Movil" class="form-control" type="text" maxlength="13">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mensaje">MENSAJE<span class="obligatorio">*</span></label>
                    <textarea id="Mensaje" name="Mensaje" class="form-control" maxlength="1000"></textarea>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-black" type="button" id="btnGuardar">ENVIAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:inline="javascript">
      (function () {
        const body = document.querySelector('body');
        const btnGuardar = document.getElementById('btnGuardar');
        btnGuardar.addEventListener('click', registrarComunicacion);
        if(flag_form_populate){
          randomData();
        }

        constraintsValidation();
        body.addEventListener('click', bodyClickEventListener);
        body.addEventListener('focusout', bodyFocusOutEventListener);
      })();

      function bodyClickEventListener(e){
        const input = e.target;
        const clases = input.classList;
        checkBoxAndRadioValidationEventListener(e, input, clases);
      }

      function randomData(){
        document.querySelector('#Nombre').value = new Date().getTime();
        document.querySelector('#Correo').value = "d"+new Date().getTime()+"@gmail.com";
        document.querySelector('#Movil').value = "987654321";
        document.querySelector('#Mensaje').value = "Hola, mi interes principal es el de tener una vida sana y llena de actividad física";
      }

      function registrarComunicacion(){
        const $frm = document.getElementById('frm_registro');
        if(!$($frm).valid()){
          return;
        }
        const params = getFormData($($frm));
        $.ajax({
          type: 'POST',
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          url: _ctx + 'p/contacto/registrar',
          dataType: "json",
          data: params,
          blockLoading: true,
          success: function (data, textStatus) {
            if (textStatus == "success") {
              reqSuccess(data);
            }
          },
          error: function (xhr) {
            exception(xhr);
          },
          complete: function () {
          }
        });
      }

      function constraintsValidation() {

        $('#frm_registro').validate({
          rules: {
            Nombre: {
              required: true,
              rangelength: [5, 60],
              lettersonly: true
            },
            Correo: {
              required: true,
              emailAddress: true,
              rangelength: [7, 40]
            },
            Movil: {
              required: true,
              digits: true,
              rangelength: [7, 13]
            },
            Mensaje: {
              required: true,
              rangelength: [4, 1000],
            },
          },
          messages:{}
        });
      }
    </script>
  </body>
</html>
