<!DOCTYPE html>
<html lang="en-us" style="background-color: #fff;"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }


        .child {
            display: flex;
        }

        .child div {
            flex-grow: 1;
            width: 0;
        }


    </style>
</head>
<body style="background-color: #fff;">
<input type="hidden" th:value="${rutina}" id="rutinaData"/>


<div id="wrapper">
    <header>
        <ul class="nav nav-pills" id="principalesTabs" role="tablist">
            <li class="icons">
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_guardar.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_enviarmsj.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_trash.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-left.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-right.svg}"></a></li>
            <li><a href="#v-pills-video-tab" data-toggle="pill"  role="tab" aria-controls="pruebaC" aria-selected="false">listado</a></li>
            <li><a href="#tabGrupoVideos" data-toggle="pill" role="tab" aria-controls="tabGrupoVideos" aria-selected="false">g. videos</a></li>
            <li class="active"><a href="#tabRutina" data-toggle="pill" role="tab" aria-controls="tabRutina" aria-selected="true">rutinario</a></li>
            <li><a href="#tabGrupoAudios" data-toggle="pill" role="tab" aria-controls="tabGrupoAudios" aria-selected="false">g. audios</a></li>
            <li><a href="#" data-toggle="pill">planes prediseñados</a></li>
            <li><a href="#" data-toggle="pill">macro</a></li>
            <li><a href="#" data-toggle="pill">ficha</a></li>
        </ul>
    </header>


   <div class="tab-content"  id="v-pills-tabContent">
    <div id="tabRutina"  class="tab-pane fade active in"  role="tabpanel" aria-labelledby="tabRutina">
       <div class="editor_text"><img class="logo" th:src="@{/img/logo.png}">
        <section>
            <div class="block">
                <select id="fntFmlyEditor" style="min-width: 170px;">
                    <option value="216">Montserrat</option>
                    <option value="217">Arial</option>
                    <option value="218">Helvetica</option>
                    <option value="219">Times News Roman</option>
                    <option value="220">Georgia</option>
                    <option value="221">Bookman</option>
                    <option value="222">Impact</option>
                    <option value="223">Trebuchet</option>
                    <option value="224">Comic Sans MS</option>

                </select>
                <select id="fntSzEditor">
                    <option value="50">8</option>
                    <option value="51">9</option>
                    <option value="52">10</option>
                    <option value="53">11</option>
                    <option value="54" selected="selected">12</option>
                    <option value="55">13</option>
                    <option value="56">14</option>
                    <option value="57">15</option>
                    <option value="58">16</option>
                    <option value="59">17</option>
                    <option value="60">18</option>
                </select>
                <button class="btn note-alineacion" data-index="4"   ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textLeft.svg}"></button>
                <button class="btn note-alineacion" data-index="5"  ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textCenter.svg}"></button>
                <button class="btn note-alineacion" data-index="6"  ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textRight.svg}"></button>
            </div>
            <div class="block">
                <button class="btn white btn-bold" data-index="1"><img class="svg"  th:src="@{/img/iconos-trainers/icon_negrita.svg}"></button>
                <button class="btn white btn-italic" data-index="2"><img class="svg"  th:src="@{/img/iconos-trainers/icon_cursiva.svg}"></button>
                <button class="btn white btn-underline" data-index="3"><img class="svg"  th:src="@{/img/iconos-trainers/icon_subrayado.svg}"></button>
                <button class="btn note-btn-copy-format"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn chosen-color"><img class="svg" th:src="@{/img/iconos-trainers/icon_color_font.svg}"></button>
                <button type="button" class="note-btn btn btn-default btn-sm note-btn-font" style="padding: 6px 5px 5px;" rel="popover" data-toggle="popover" data-placement="bottom" data-content="" data-html="true" data-original-title="" title=""><i class="fa fa-caret-down note-btn-font"></i></button>

            </div>
        </section>
        <section class="green">
            <div class="block"><span>KMC - <i id="kmc" class="indicador" >105</i></span><span>KMM - <i id="kmm" class="indicador">112.3</i></span><span>KMP - <i id="kmp" class="indicador">104.6</i></span></div>
            <div class="block">
                <button class="btn" id="PorcentajeAvanceSemana"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina.svg}"></button>
                <button class="btn abrir-calendario" id="CalendarioRf" rel="popover" data-toggle="popover" data-placement="right" data-html="true" data-content="" ><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina3.svg}"></button>
                <button class="btn abrir-indicador-pulso" id="IndicadorPulso" rel="popover" data-toggle="popover" data-placement="bottom" data-html="true" data-content="" ><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina2.svg}"></button>
                <button class="btn" id="IndicadorIntensidad"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina4.svg}"></button>
                <button class="btn abrir-indicador-tiempos" id="IndicadorTiemposKM" rel="popover" data-toggle="popover" data-placement="right" data-html="true" data-content=""><img class="svg" th:src="@{/img/iconos-trainers/icon_temporada.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_chat.svg}"></button>
            </div>
        </section>
        <section>
            <div class="block">
                <select id="selectZoom">
                    <option value="0.8">80%</option>
                    <option value="0.9">90%</option>
                    <option value="1" selected="selected">100%</option>
                    <option value="1.1">110%</option>
                    <option value="1.2">120%</option>
                </select>
            </div>
            <div class="block">
                <button class="btn reducir-zoom"><img class="svg" th:src="@{/img/iconos-trainers/icon_zoom-menos.svg}"></button>
                <button class="btn aumentar-zoom"><img class="svg" th:src="@{/img/iconos-trainers/icon_zoom-mas.svg}"></button>
            </div>
        </section>
    </div>
       <div id="editorContent">
      <div class="container-t">
        <h2 class="title_carousel">
            <button class="btn retroceder-semana"><img th:src="@{/img/arrow-left2.png}"></button> <div class="dv-mes-actual"> <span id="semanaTitulo" class="semana-num">semana </span><span id="nroSemanaActual" class="semana-num">1</span>  - <span id="mesSemanaTitulo"> enero</span> </div>
            <button class="btn adelantar-semana"><img th:src="@{/img/arrow-right2.png}"></button>
        </h2>
        <div class="rut-dots">
            <div class="dot active" data-value="0"></div>
            <div class="dot prox" data-value="1"></div>
            <div class="dot" data-value="2"></div>
            <div class="dot" data-value="3"></div>
            <button class="btn pagination-control"><img class="svg" th:src="@{/img/iconos-trainers/icon_add.svg}"></button>
        </div>
    </div>
      <div class="scroll_rut mCustomScrollbar">
         <div class="days_week" id="rutinaSemana">

         </div>
      </div>
    </div>
    </div>

    <div id="tabGrupoAudios" class="tab-pane fade"  role="tabpanel" aria-labelledby="tabGrupoAudios">
         <fieldset>
           <section class="" id="ArbolGrupoAudio">
             </section>
         </fieldset>
    </div>

    <div id="tabGrupoVideos" class="tab-pane fade"  role="tabpanel" aria-labelledby="tabGrupoVideos">
        <fieldset>
            <section class="" id="ArbolGrupoVideo">
            </section>
        </fieldset>
        <hr/>
        <fieldset>
            <section class="" id="ArbolGrupoVideoDetalle">

            </section>
        </fieldset>
        <a onclick="topFunction()" rel="tooltip" id="btnGoTop" data-placement="top" data-original-title="Subir" class="txt-color-blueLight"><i class="fa swing animated fa-arrow-up fa-2x"></i></a>
    </div>
   </div>


</div>

<!-- CONTEXT MENU -->
 <!-- CONTEXT MENU OPCIONES -->

<div id="rMenuEleSubele" class="hide context-menu">
    <ul>
        <li id="optAñadirNota" data-option ="1" class="agregar-nota">Agregar nota</li>
        <li id="optEliminarAudio" data-option="2" class="trash-audio">Eliminar audio</li>
        <li id="optEliminarVideo" data-option="3" class="trash-video">Eliminar video</li>
        <li id="optInsertarEncima" data-option="4" class="insertar-encima">Insertar encima del elemento</li>
        <li id="optVariosMedia" data-option="5" class="varios-media">Pegar subelementos</li>
        <li id="optEliminarElemento" data-option="6" class="trash-elemento">Eliminar elemento</li>
    </ul>
</div>

<div id="rMenuDia" class="hide context-menu">
    <ul>
        <li id="optAgregarObjetivo" data-option ="1" class="agregar-objetivo">Agregar objetivo</li>
        <li id="optCopiarDia" data-option="2" class="copiar-dia">Copiar día</li>
        <li id="optPegarPlantilla" data-option="3" class="pegar-mini">Pegar plantilla</li>
        <li id="optPegarElementos" data-option="4" class="pegar-elementos">Pegar elementos seleccionados</li>
        <li id="optLimpiarDia" data-option="5" class="limpiar-dia">Limpiar dia </li>
    </ul>
</div>


<div id="rMenuSemana" class="hide context-menu">
    <ul>
      <li id="optCopiarSemana" class="abrir-copiar-semana" >  Copiar semana </li>
    </ul>
</div>


<!-- MODALS -->

 <!-- MODAL VISUALIZACION DE AUDIO -->

  <div class="modal fade" id="myModalAudio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
            <div class="text-align-center" style="padding-top: 200px;">
                <audio id="someaud" controls="" controlslist="nodownload" autoplay="" width="100%" height="100%">
                    <source id="AudioReproduccion" src="" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
</div>

 <!-- MODAL VISUALIZACION DE VIDEO -->
  <div class="modal fade" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
             <button type="button" style="opacity: .8;" class="close btn-cerrar-video" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="vid-container">
                <video id="somevid" preload="none" controls="controls" autoplay="" controlsList="nodownload" width="100%" height="100%">
                    <source id="VideoReproduccion" src="" type="video/mp4"/>
                </video>
            </div>
    </div>
</div>

 <!-- MODAL VIDEO / AUDIO  (EXPERIMENTAL) -->

<!-- MODAL VISUALIZACION DE VIDEO -->
<div class="modal fade" id="myModalAudioVideo" tabindex="-1" role="dialog" aria-labelledby="myModalAudioVideoLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
            <div class="media-canvas"  style="display:inline-block; width:600px; background-color: rgb(241, 243, 244) " >
               <div>
                   <button type="button" style="opacity: .8;" class="close btn-cerrar-video" data-dismiss="modal"
                           aria-label="Close"><span aria-hidden="true">×</span></button>
                   <video id="VideoMedia"   loop="loop" controlsList="nodownload" width="100%" height="100%" preload="metadata">
                    <source id="videoRutinaReproduccion"  type="video/mp4"/>
                </video>
               </div>
               <div class="child">
                <div>
                <audio  id="AudioMedia" controls="controls"  controlsList="nodownload" width="100%" height="100%" preload="metadata">
                    <source id="audioRutinaReproduccion"  type="audio/mp3"/>
                </audio>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>


<th:block th:insert="html-commons/tr/js :: fg-js"></th:block>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina-dev.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina-edicion.js}+'?'+${version}"></script>
<script type="text/javascript" src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script th:src="@{/js/tablas-calculo.js}+'?'+${version}"></script>
<script th:inline="javascript">
    function rutScroll() {
    //    $(".scroll_rut").mCustomScrollbar("destroy");
        $(".scroll_rut").mCustomScrollbar({
            theme:"3d",
            axis:"x",
            scrollButtons:{ enable: true }
        });
    }

   function deactivateScroll(){
        $(".scroll_rut").mCustomScrollbar("destroy");
        $(".scroll_rut").mCustomScrollbar({
            theme:"3d",
            axis:"x",
            mouseWheel:{ enable: 0 },
            scrollButtons:{ enable: true }

        });
    }

    function removeScrollbar(){
        $(".scroll_rut").mCustomScrollbar("destroy");
    }

    $(function() {
        rutScroll();
    });
</script>
</body>
</html>
