<!DOCTYPE html>
<html lang="en-us" style="background-color: #fff;"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
    </style>
</head>
<body style="background-color: #fff;">
<input type="hidden" th:value="${rutina}" id="rutinaData"/>


<div id="wrapper">
    <header>
        <ul class="nav nav-pills" id="principalesTabs" role="tablist">
            <li class="icons">
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_guardar.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_enviarmsj.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_trash.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-left.svg}"></a>
                <a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-right.svg}"></a></li>
            <li><a href="#v-pills-video-tab" data-toggle="pill"  role="tab" aria-controls="pruebaC" aria-selected="false">listado</a></li>
            <li><a href="#tabGrupoVideos" data-toggle="pill" role="tab" aria-controls="tabGrupoVideos" aria-selected="false">g. videos</a></li>
            <li class="active"><a href="#tabRutina" data-toggle="pill" role="tab" aria-controls="tabRutina" aria-selected="true">rutinario</a></li>
            <li><a href="#tabGrupoAudios" data-toggle="pill" role="tab" aria-controls="tabGrupoAudios" aria-selected="false">g. audios</a></li>
            <li><a href="#" data-toggle="pill">planes prediseñados</a></li>
            <li><a href="#" data-toggle="pill">macro</a></li>
            <li><a href="#" data-toggle="pill">ficha</a></li>
        </ul>
    </header>


   <div class="tab-content"  id="v-pills-tabContent">
    <div id="tabRutina"  class="tab-pane fade active in"  role="tabpanel" aria-labelledby="tabRutina">
       <div class="editor_text"><img class="logo" th:src="@{/img/logo.png}">
        <section>
            <div class="block">
                <select style="min-width: 170px;">
                    <option>Calibri</option>
                </select>
                <select>
                    <option>11</option>
                </select>
                <button class="btn note-alineacion" data-index="4"   ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textLeft.svg}"></button>
                <button class="btn note-alineacion" data-index="5"  ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textCenter.svg}"></button>
                <button class="btn note-alineacion" data-index="6"  ><img class="svg textAlign"  th:src="@{/img/iconos-trainers/icon_textRight.svg}"></button>
            </div>
            <div class="block">
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_abc.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_brocha.svg}"></button>
            </div>
        </section>
        <section class="green">
            <div class="block"><span>KMC <i id="kmc" >- 105</i></span><span>KMM <i id="kmm">- 112.3</i></span><span>KMP <i id="kmp">- 104.6</i></span></div>
            <div class="block">
                <button class="btn" id="PorcentajeAvanceSemana"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina3.svg}"></button>
                <button class="btn abrir-indicador-pulso" id="IndicadorPulso" rel="popover" data-toggle="popover" data-placement="bottom" data-html="true" data-content="" ><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina2.svg}"></button>
                <button class="btn" id="IndicadorIntensidad"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina4.svg}"></button>
                <button class="btn abrir-indicador-tiempos" id="IndicadorTiemposKM" rel="popover" data-toggle="popover" data-placement="right" data-html="true" data-content=""><img class="svg" th:src="@{/img/iconos-trainers/icon_temporada.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_editRutina.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_chat.svg}"></button>
            </div>
        </section>
        <section>
            <div class="block">
                <select>
                    <option>100%</option>
                </select>
            </div>
            <div class="block">
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_zoom-menos.svg}"></button>
                <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_zoom-mas.svg}"></button>
            </div>
        </section>
    </div>
       <div id="editorContent">
      <div class="container-t">
        <h2 class="title_carousel">
            <button class="btn retroceder-semana"><img th:src="@{/img/arrow-left2.png}"></button> <span id="semanaTitulo" class="semana-num">semana </span><span id="nroSemanaActual" class="semana-num">1</span>  - <span id="mesSemanaTitulo"> enero</span>
            <button class="btn adelantar-semana"><img th:src="@{/img/arrow-right2.png}"></button>
        </h2>
        <div class="rut-dots">
            <div class="dot active"></div>
            <div class="dot prox"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <button class="btn"><img class="svg" th:src="@{/img/iconos-trainers/icon_add.svg}"></button>
        </div>
    </div>
      <div class="scroll_rut mCustomScrollbar">
         <div class="days_week" id="rutinaSemana">

         </div>
      </div>
    </div>
    </div>

    <div id="tabGrupoAudios" class="tab-pane fade"  role="tabpanel" aria-labelledby="tabGrupoAudios">
         <fieldset>
           <section class="" id="ArbolGrupoAudio">
             </section>
         </fieldset>

    </div>

    <div id="tabGrupoVideos" class="tab-pane fade"  role="tabpanel" aria-labelledby="tabGrupoVideos">
        <fieldset>
            <section class="" id="ArbolGrupoVideo">
            </section>
        </fieldset>
        <hr/>
        <fieldset>
            <section class="" id="ArbolGrupoVideoDetalle">

            </section>
        </fieldset>
        <a onclick="topFunction()" rel="tooltip" id="btnGoTop" data-placement="top" data-original-title="Subir" class="txt-color-blueLight"><i class="fa swing animated fa-arrow-up fa-2x"></i></a>
    </div>
   </div>


</div>

<!-- CONTEXT MENU -->
 <!-- CONTEXT MENU OPCIONES -->

<div class="hide" id="rMenuEleSubele">
    <ul>
        <li id="optAñadirNota" data-option ="1" class="agregar-nota">Agregar nota</li>
        <li id="optEliminarAudio" data-option="2" class="trash-audio">Eliminar audio</li>
        <li id="optEliminarVideo" data-option="3" class="trash-video">Eliminar video</li>
        <li id="optInsertarEncima" data-option="4" class="insertar-encima">Insertar encima del elemento</li>
        <li id="optEliminarElemento" data-option="5" class="trash-elemento">Eliminar elemento</li>
    </ul>
</div>



<!-- MODALS -->

 <!-- MODAL VISUALIZACION DE AUDIO -->

  <div class="modal fade" id="myModalAudio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
            <div class="text-align-center" style="padding-top: 200px;">
                <audio id="someaud" controls="" controlslist="nodownload" autoplay="" width="100%" height="100%">
                    <source id="AudioReproduccion" src="" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
</div>

 <!-- MODAL VISUALIZACION DE VIDEO -->
  <div class="modal fade" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="">
            <div class="">
                <video id="somevid" preload="none" controls="controls" autoplay="" controlsList="nodownload" width="100%" height="100%">
                    <source id="VideoReproduccion" src="" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="html-commons/tr/js :: fg-js"></th:block>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina-dev.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina-edicion.js}+'?'+${version}"></script>
<script type="text/javascript" src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script th:inline="javascript">
    function rutScroll() {
        $(".scroll_rut").mCustomScrollbar({
            theme:"3d",
            axis:"x",
            scrollButtons:{ enable: true }
        });
    }

    $(function() {
        rutScroll();
    });
</script>
</body>
</html>
