<nav th:fragment="fg-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="text-right view-only-desktop">
            <p class="login_link" onclick="javascript:document.querySelector('.login').classList.add('active')">INICIAR SESIÓN</p>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/p/inicio}"><img class="logo-header" th:src="@{/img/public/logo.png}+'?'+${version}"/></a>
            <span class="fa fa-bars view-only-mobile hamburguer"></span>
        </div>
        <ul class="nav navbar-nav navbar-right view-only-desktop">
            <li><a th:href="@{/p/quienes-somos}" data-menu="aboutus"> <span>QUIÉNES SOMOS</span></a></li>
            <li class="dropdown" data-menu="atletas"><a th:href="@{/p/contigo}" data-menu="atletas" data-toggle="dropdown"> <span>ATLETAS</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/p/contigo}">Explorar características</a>
                        <p>Te mostramos el camino que te llevará <strong>a alcanzar tus objetivos.</strong></p>
                    </li>
                    <li><a th:href="@{/p/busqueda/trainers}">Encuentra a tu asesor</a>
                        <p>Elige según tus necesidades al coach perfecto para ti en nuestro directorio.</p>
                    </li>
                </ul>
            </li>
            <li class="dropdown" data-menu="asesores"><a th:href="@{/p/asesores}" data-menu="asesores" data-toggle="dropdown"><span>ASESORES</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/p/asesores}">Explorar características</a>
                        <p>Vea cómo la aplicación <strong>Runfit </strong>te ayudará a entrenar de manera más efectiva.</p>
                    </li>
                    <li><a th:href="@{/p/postulacion/trainer}">Emprende con nosotros</a>
                        <p>Si deseas formar parte de nuestra familia de asesores conéctate con nosotros.</p>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/p/postulacion/trainer}" data-menu="emprende"> <span>EMPRENDE CON NOSOTROS</span></a></li>
        </ul>
    </div>
    <div class="menu_mobile view-only-mobile">
        <div class="bg-opacity"></div>
        <ul class="header-options">
            <li class="col-xs-9 pad-0"><a href="#">&nbsp;</a></li>
            <li class="col-xs-3 text-right pad-0"><a th:href="@{/p/inicio}"><span class="fa fa-home"></span></a></li>
        </ul>
        <div class="avatar"><img th:src="@{/img/public/logo.png}+'?'+${version}"/>
            <p class="name" id="FullNameOnlyMenu"></p>
            <p class="email hidden" id="AuthName" th:if="${#authentication != null}" th:text="${#authentication.name}"></p>
        </div>
        <ul class="options">
            <li><a th:href="@{/p/quienes-somos}"> <span>QUIÉNES SOMOS</span></a></li>
            <li class="dropdown" data-menu="atletas"><a th:href="@{/p/contigo}" data-menu="atletas" data-toggle="dropdown"> <span>ATLETAS</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/p/contigo}">Explorar características</a></li>
                    <li><a th:href="@{/p/busqueda/trainers}">Encuentra a tu asesor</a></li>
                </ul>
            </li>
            <li class="dropdown" data-menu="asesores"><a th:href="@{/p/asesores}" data-menu="asesores" data-toggle="dropdown"><span>ASESORES</span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/p/asesores}">Explorar características</a></li>
                    <li><a th:href="@{/p/postulacion/trainer}">Emprende con nosotros</a></li>
                </ul>
            </li>
            <div class="clearfix"></div>
            <li><a th:href="@{/p/postulacion/trainer}"> <span>EMPRENDE CON NOSOTROS</span></a></li>
        </ul><a class="cerrar-sesion-mobile" href="javascript:cerrarSesion();"><span class="fa fa-remove"></span>CERRAR SESIÓN</a>
        <a class="iniciar-sesion-mobile" href="javascript:document.querySelector('.login').classList.add('active');"><span class="fa fa-sign-in"></span>INICIAR SESIÓN</a>
    </div>
    <div id="menu" style="display: none">
        <div class="menu-desktop view-only-desktop">
            <div class="container position-relative">
                <div class="arrow-up"></div>
                <ul class="asesores-menu">
                    <li><a th:href="@{/p/contigo}">Explorar características</a>
                        <p>Vea cómo la aplicación Runfit te ayudará a entrenar de manera más efectiva.</p>
                    </li>
                    <li><a th:href="@{/p/asesores}">Emprende con nosotros</a>
                        <p>Si deseas formar parte de nuestra familia de asesores conéctate con nosotros.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
