<th:block th:fragment="fg-js">
    <script th:src="@{/js/public/vendor/vendor_all.js}+'?'+${version}" type="text/javascript"></script>
    <script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}+'?'+${version}"></script>
    <script th:src="@{/js/public/init.js}+'?'+${version}" type="text/javascript"></script>
    <script th:src="@{/js/jsfuente.js}+'?'+${version}" type="text/javascript"></script>
    <script th:src="@{/js/notification/SmartNotification.min.js}+'?'+${version}"></script>
    <script th:src="@{/js/forms.js}+'?'+${version}"></script>
</th:block>
