
.container {
    max-width: 1079px;
    padding: 40px 30px;
}
header {
    margin-top: 10px;
}
section#consolidado h2.metric-title {
    color: #ffffff;
    font-family: GothamHTF-Bold;
    text-align: center;
    font-size: 35px;
}

.tb-mejora-vel {
    border: 1px solid #565a4d;
    padding: 15px 15px 25px;
    border-radius: 10px;
    margin: 30px 0 15px;
}

section#consolidado h3.metric-title {
    color: #C9C9C9;
    font-family: GothamHTF-Bold;
    text-align: center;
    font-size: 28px;
}

.etapa-rutina  label {
    font-weight: normal;
}

.etapa-rutina  label {
    font-weight: normal;
}

 div label .svg {
    width: 20px;
    height: 22px;
    fill: #cfcfcf;
    margin-right: 14px;
    top: 3px;
    position: relative;
}

.etapa-rutina  label .svg.semana-temporada {
    width: 20px;
    height: 22px;
    fill: #cfcfcf;
    margin-right: 14px;
    top: -2px;
    position: relative;
}

div  .svg.red-icon {
    width: 20px;
    height: 22px;
    fill: #cf3239;
    margin-right: 14px;
    top: 3px;
    position: relative;
}

div  label .svg.white-icon {
    width: 20px;
    height: 22px;
    fill: #ffffff;
    margin-right: 14px;
    top: 3px;
    position: relative;
}



.etapa-rutina label strong {
    font-size: 22px;
    margin-right: 10px;
}

.etapa-rutina  {
    font-size: 16px;
    font-family: GothamHTF-Book;
    text-transform: uppercase;
    line-height: 27px;
    margin-top: 20px;
}

.etapa-rutina.semana-temporada  {
    font-size: 16px;
    font-family: GothamHTF-Book;
    text-transform: uppercase;
}


.etapa-rutina.light-green *  {
    color: #ceeaa6;
}
.etapa-rutina.light-green hr {
    border-color: #ceeaa6;
}


.etapa-rutina.green *  {
    color: #a8fa00;
}
.etapa-rutina.green hr {
    border-color: #a8fa00;
}

.etapa-rutina.green *  {
    color: #a8fa00;
}
.etapa-rutina.green hr {
    border-color: #a8fa00;
}

.etapa-rutina.hlight-green * {
    color: #d6ff58;
}

.etapa-rutina.hlight-green hr {
    border-color: #d6ff58;
}

.etapa-rutina.grey * {
    color: #c2ccac;
}

.etapa-rutina.grey hr {
    border-color: #c2ccac;
}

.etapa-rutina p {
    font-size: 17px;
    margin-left: 34px;
    margin-bottom: 0;
}

.etapa-rutina label.semana-temporada strong {
    font-size: 30px;
}

.etapa-rutina p strong {
    font-family: GothamHTF-Bold;
}

.etapa-rutina strong {
    font-size: 30px;
}

hr.semanas {
    border-top-width: 5px;
    border-radius: 20px;
    margin: 0 40px 20px 0;
}

hr.semanas-fixed {
    border-top-width: 5px;
    border-radius: 5px;
    margin: 0 40px 17px 0;
}

.total-km p {
    font-size: 30px;
    margin-left: 34px;
}

.total-km label {
    font-size: 11px;
}

.total-km strong {
    font-size: 22px;
}

.total-km p strong {
    font-size: 30px;
}
.total-km  {
    font-size: 16px;
    font-family: GothamHTF-Book;
    text-transform: uppercase;
    line-height: 27px;
}

.total-km.green *  {
    color: #deff00;
}


.distribucion-km  {
    font-family: GothamHTF-Bold;
    text-transform: uppercase;
    line-height: 27px;
    color: #ffffff;
}

.distribucion-km strong {
    font-size: 22px;
}

.total-km div{
    padding: 40px 0px;
}



.etapa-km p {
    font-size: 25px;
    margin-left: 34px;
}

.etapa-km label {
    font-size: 11px;
}

.etapa-km label strong {
    font-size: 22px;
}


.etapa-km  {
    font-size: 16px;
    font-family: GothamHTF-Book;
    text-transform: uppercase;
    line-height: 27px;
}

.etapa-km.green *  {
    color: #a8fa00;
}
.etapa-km.hlight-green * {
    color: #d6ff58;
}
.etapa-km.grey * {
    color: #c2ccac;
}

.etapa-km.light-green * {
    color: #ceeaa6;
}

.etapas-superior{
}

.mejora-metricas{
    border: 1px solid #565a4d;
    border-radius: 5px;
    width: 210px;
    float:left;
    margin-right: 20px;
}
.mejora-metricas:last-child {
    margin-right: 0;
}

.mejora-metricas p{
    color: #ffffff;
    padding: 0 30px 34px;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    font-family: GothamHTF-Book;

}


.mejora-metricas p.mejora-longitud{
    padding: 0 30px 10px;


}

#consolidado .col-md-8 {
    padding: 20px 0 0;
}
.mejora-metricas .svg{
    width: 20px;
    height: 22px;
    fill: #ffffff;
    left: 177px;
    top: 10px;
    position: relative;
}

.periodo-cadencia{
    padding-left: 20px;
    border-right: 1px solid #565a4d;
    color: #9d9d9d;
    padding-bottom: 15px;
}

.dato-cadencia {
    color: #ffff;
    font-weight: bold;
    padding-left: 45px;
    font-family: GothamHTF-Book;
}

.mejora-metricas .porcentaje-mejora p {
    color: #c2ccac;
    position: relative;
   /* top: 65px;*/
    padding: 0;
    /*right: 13px;*/
    font-size: 13px;
}

.mejora-metricas .porcentaje-mejora strong {
    color: #a8fa00;
    font-size: 19px;
}

.dv-mejora-vel .col-md-6, .tabla-mejora-vel  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}
.mejora-velocidad {
    font-weight: bold;
    color: #ffffff;
    padding: 5px 18px 20px;
    text-align: center;
}

.mejora-velocidad .container-fluid{
    padding: 0 0 10px;
}

.header-met-vel{

    /* background: #4fd46b; */
    color: #a8fa00;
    font-size: 28px;
    /* border-bottom: 3px solid #baf3c6; */
    /* border-right: 1px solid; */
    line-height: 1.2;
    text-align: center;
}


.header-met-vel p{
    font-size: 12px;
    font-weight: normal;
}


.porc-mejora-vel{
    font-size: 18px;
    color: #c2ccac;
}


.porc-mejora-vel strong{
    font-size: 25px;
    color: #a8fa00;
}

.proyeccion-competencia{
    border: 1px solid #565a4d;
    border-radius: 5px;
    margin-top: 20px;
}

.proyeccion-competencia p {
    color: #ffffff;
    padding: 0 30px 34px;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    font-family: GothamHTF-Book;
}


div #proyeccionCompetencia .svg.red-icon {
    float:right;
    top: 14px;
}

.factor-proyeccion{
    border-right: 1px solid #565a4d;
    color: #9d9d9d;
    padding: 0 0 15px 40px !important;
}


.dato-proyeccion {
    color: #ffff;
    font-weight: bold;
    font-family: GothamHTF-Book;
    text-align: left;
}


div #proyeccionCompetencia .proyeccion-title .svg.medalla{
    color: #FFC107;
    width: 46px;
    height: 60px;
    float: left;
    position: relative;
    left: 20px;
    top: 25px;

}

div #proyeccionCompetencia .proyeccion-title strong{
    font-size: 17px;
    position: relative;
    left: 10px;
    width: 170px;
    display: block;
    line-height: 1.3;
    top: 24px;
    color: #ceeaa6;
    font-family: GothamHTF-Bold;
}

div #proyeccionCompetencia .proyeccion-title{
    color: #ffffff;
    padding-bottom: 47px;
}

div #proyeccionCompetencia .proyeccion-title label{
    display: inline-block;
    padding-left: 30px;
    position: relative;
    line-height: 1.7;
}

#consolidado .distribucion-etapas-km .col-md-6 {
    padding: 0;
}

#dvCumplimiento h3.metric-title span {
   color: #a8fa00;
   font-weight: 900;
}

#dvEsfuerzo h3.metric-title span {
   color: #C33846;
    font-weight: 900;
}

.resumen-metrica {
    color: #ffffff;
    margin-top: 25px;
}

.resumen-metrica .titulo h4 {
    font-size: 19px;
    margin-bottom: 0 !important;
}

.resumen-metrica .titulo span {
    font-size: 15px;
    font-family: GothamHTF-Light;
}

#dvCumplimiento .intro,  #dvEsfuerzo .intro{
   display: inline-flex;
   align-items: center;
    margin-top: 30px;
}

#dvCumplimiento .intro{
   max-width:180px;
}

#dvEsfuerzo .intro{
    max-width:170px;
}

canvas{
    margin: auto
}

#dvEsfuerzo p, #dvCumplimiento p{
    text-align: center;
}
.horizontal-divider{
  border-right: 1px solid #3d3f41;
}