@font-face {
    font-family: Gotham-Black;
    src: url(../../fonts/Gotham-Black.ttf)
}

@font-face {
    font-family: Gotham-HTF-Bold;
    src: url(../../fonts/Gotham-HTF-Bold.ttf)
}

@font-face {
    font-family: Gotham-HTF-Black-Italic;
    src: url(../../fonts/Gotham-HTF-Black-Italic.ttf)
}

@font-face {
    font-family: Gotham-HTF-Black;
    src: url(../../fonts/Gotham-HTF-Black.ttf)
}

@font-face {
    font-family: Gotham-HTF-Book;
    src: url(../../fonts/Gotham-HTF-Book.ttf)
}

@font-face {
    font-family: Gotham-HTF-Medium;
    src: url(../../fonts/Gotham-HTF-Medium.ttf)
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../fonts/Montserrat-Regular.otf)
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../../fonts/Montserrat-SemiBold.otf)
}

header{
 display: flow-root;
}

h4.user {
    display: none;
}
.container{
 padding-top:20px !important;
}
.distribucion-edad{
    border: 1px solid #565a4d;
    border-radius: 5px;
    color: #ffffff;
    font-family: GothamHTF-Book;
    padding: 20px;
}

.container {
    max-width: 1079px;

}

.graph-title{
    color: #ffffff;
    font-family: GothamHTF-Bold;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center
}


p{
    font-family: GothamHTF-Book;
}


.distribucion-edad p{
    font-weight: 600;
}


.graph{
    text-align: center;
}

.distribucion-edad canvas{
    padding: 20px 25px 10px;
    margin-bottom: 18px;
}

p.fem-age-prom, strong.fem-porc,p.fem-porc-age{
    color: #FF00EB;
}

.svg.fem{
    fill: #FF00EB;
}

p.masc-age-prom, strong.masc-porc, p.masc-porc-age {
    color: #00b5f7;
}

.svg.masc{
    fill: #00b5f7;
}

.graph strong {
    font-size: 19px;
}

.graph-porc .svg{
    height: 37px;
    position: relative;
    top: 6px;
}

.graph-porc{
    padding-top: 25px;
}

.graph-porc .ds-block{
    display: block !important;
}

.graph-porc p{
    margin-bottom: 10px;
    float: left;
    position: relative;
    margin-left: 17px;
}

.graph-porc div{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.graph-porc .svg{
    float: left;
}

.graph-porc p.fem-range-porc{
    color: #FF00EB;
    font-size:18px;
    top: 10px;
}

.graph-porc p.masc-range-porc{
    color: #00b5f7;
    font-size:18px;
    top: 10px;
}

.graph-porc div p{
    font-size:14px;
    top: 8px;
}
.graph-porc .pad-0{
    padding-left: 15px;
    padding-right: 0;
}

.canal-venta .col-md-5{
  padding-left: 0px;
}

.nombre-canal{
  padding-top: 51px;
  padding-left: 35px;
  color: #c2ccac;
  text-align: right;
}

.nombre-canal p{
    margin-bottom: 15px;
    font-size: 12.5px;
    font-family: Gotham-HTF-Book;
    color: #9B999C;
}

.canal-porc-sexo{
    padding-left: 20px;
}

.canal-porc-sexo p{
    font-family: Gotham-HTF-Book;
    color: #9B999C;
    font-size: 12.5px;

}

.fx-pad-porc-sexo{
    padding-left: 7px;
}

.canal-graph{
  padding-top: 39px;
}

.canal-porc-sexo svg , .tipo-servicio-porc svg{
  height: 45px;
  fill: #e04c51!important;
}

.canal-porc-sexo div, .tipo-servicio-porc div{
  padding: 0;
  color: #ffffff;
}

.canal-porc-fem, .canal-porc-masc{
    padding-top: 3px !important;
}

.canal-porc-fem p, .canal-porc-masc p{
    margin-bottom: 14.8px;
}

.servicio-porc-fem, .servicio-porc-masc{
 padding-top : 1px !important;
}

.servicio-porc-fem p, .servicio-porc-masc p{
    margin-bottom: 29px;
}


.canal-porc-masc,.canal-porc-fem{
  padding-top: 2px;
}

.div-graf-row-2{
    margin-top: 40px;
    padding-top: 30px;
    margin-left: 1px;
    margin-right: 0px;
    border-top: 1px solid #565a4d;
}

.canal-venta-title, .tipo-servicio-title{
  margin-bottom: 20px;
  padding-left: 33px;
  color: #ffffff;
  font-size: 18px;
  font-family: GothamHTF-Bold;
  width: 250px;
}

.dv-cond-fisica {
    padding-top: 40px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 35px;
    margin-top: 30px;
    border-top: 1px solid #565a4d;

}
.dv-cond-fisica canvas{
  display: inline-block;
  float:left;
}

.dv-cond-fisica p{
  text-align: center;
}

.dv-cond-fisica .masc{
  border-left: 1px solid #565a4d;
}

.cond-fisica-graphs{
  padding-left: 28px;
  padding-top: 30px;
}

.cond-fisica-porc p strong{
  margin-left: 50px;
  margin-right:40px;
  font-size: 17px;
}

.dv-cond-fisica .masc p.cond-fisica-title{
  color: #00b5f7;
  font-size:18px;
  font-family: GothamHTF-Bold;
}

.dv-cond-fisica .fem p.cond-fisica-title{
  color: #FF00EB;
  font-size:18px;
  font-family: GothamHTF-Bold;
}

p.cond-fisica-porc{
  color: #ffffff;
  font-family: GothamHTF-Bold;
}

select{
    border-radius: 15px;
    border: 1px solid;
    height: 40px;
    width: 115px;
    background: url(/img/iconos/icon_flecha3.svg) no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
    background-position-x: 85px;
    background-position-y: center;
    box-shadow: 0 0 0;
    color: #a8fa00;
    padding: 0 15px;
    font-family: Gotham-HTF-Bold, 'system-ui';
    font-size: 20px;
}

.select-year{
    text-align: center;
    margin-bottom: 40px;
}

.distr-dpto-porcentajes {
    margin-top: 11.45px;
    font-size: 0.99em;
}

.distr-dpto-porcentajes p{
    font-family: Gotham-HTF-Book, 'system-ui';
    color: #a8fa00;
    padding-top: 0.09px;
    line-height: 1.27;
    font-size: 0.95em;
    text-align: right;
}


.distr-dpto-title{
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    font-family: GothamHTF-Bold;
    width: 350px;
}

.nombre-servicio{
    padding-top: 39px;
    line-height: 1.72;
    padding-left: 35px;
    color: #c2ccac;
    text-align: right;
    font-size: 13px;
}

.nombre-servicio p{
    margin-bottom: 24px;
}

.tipo-servicio-porc{
    float: right;
    position: relative;g
    left: 8px;
}

.tipo-servicio-porc p{
    color: #c2ccac;
    font-size: 13px
}

.servicios-graph{
    padding-top: 22px;
}

.tipo-servicio-porc svg{
    width: 50px;
    fill: #e04c51!important
}


.dv-ventas-servicios{
   padding-top: 40px;
   margin-right: 20px;
   margin-left: 17px;
   border-top: 1px solid #565a4d;
   margin-top: 30px;
}
.icons-body {
    display: inline-block;
    float: right;
}
.dv-ventas-servicios .svg {
    width: 40px;
}

canvas{
    margin: 0 auto;
}

.dv-vistas{
    margin-top:40px;
    margin-right:35px;
    margin-left:35px;
    padding-top: 20px;
    border-top: 1px solid #565a4d;
}

.dv-vistas h5{
    color: #ffffff;
    font-family: Gotham-HTF-Book, 'system-ui';
}


.graph-distr-departamento{
    padding-right: 40px;
    max-height: 600px;
}
.svg.mapa {
    fill: #ffffff;
    height: 93px;
    float:right;
    display:inline-block;
    padding-right:40px;
    position: relative;
}
.mapa g {
    fill: #ffff;
    stroke: #fff;
}
.separador-col{
    border-left: 1px solid #565a4d;
    padding-top: 20px;
}

.hr-servicios{
     border-color: #565a4d;
     margin: 30px 2px 50px 25px;
}

.chk-content {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: GothamHTF-Book;
}

.chk-content input:checked ~ .checkmark::after {
    display: block;
}

.chk-content .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chk-content input:checked ~ .checkmark {
    background-color: #a8fa00;
    border-color: #a8fa00;
}

.chk-content .checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid rgba(141, 141, 141, 0.59);
    border-radius: 4px;
}

.chk-content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checks li {
    display: inline-block;
    margin-right: 25px;
}

.dv-distr-dpto{
    height : 700px;
}
.dv-distr-dpto checks{
    display: inline-block;
}
.dv-distr-dpto .chk-content{
    padding-left: 45px;
}


@media only screen and (max-width: 500px) {
    .distribucion-edad {
        margin-bottom: 10px;
    }
    .distribucion-edad canvas {
        width: 100% !important;
        padding: 20px 0;
        height: auto !important;
    }
    .graph-porc p.fem-range-porc,.graph-porc p.masc-range-porc {
        font-size: 12px;
    }
    .graph-porc div p {
        font-size: 10px;
        margin-left: 6px;
        margin-bottom: 0;
    }
    .graph-title{
        margin-left: 0;
        margin-right: 0;
    }
    .graph strong {
        font-size: 14px;
    }
    .graph-porc .svg {
        height: 18px;
    }
    .distribucion-edad p {
        font-size: 8pt;
        margin-bottom: 0;
    }
    .row.div-graf-row-2 {
        margin-top: 0;
        border: none;
    }
    .row.dv-distr-dpto {
        border:none;
    }
    .distr-dpto-porcentajes p {
        font-size: 11px;
        margin-bottom: 6px;
    }
    .graph-distr-departamento {
        padding-left: 0;
    }
    .distr-dpto-title {
        padding-left: 0;
        display: inline-block;
        font-size: 14px;
    }
    .canal-venta-title, .tipo-servicio-title {
        padding-left: 0;
    }
    .hr-servicios {
        margin: 25px 0;
    }
    .servicios-graph {
        padding-top: 0;
    }
    .nombre-servicio {
        padding-left: 0;
        padding-top: 12px;
    }
    .nombre-servicio {
        padding-left: 0;
        padding-top: 12px;
    }
    .nombre-servicio p {
        font-size: 11px;
    }
    .tipo-servicio-porc {
        position: relative;
        top: -26px;

    }
    .row-mobile {
        margin-left: -15px;
        margin-right: -15px;
    }
    .tipo-servicio-porc p {
        font-size: 10px;
    }
    .nombre-servicio p:last-child,.servicio-porc-fem p:last-child, .servicio-porc-masc p:last-child {
        margin-bottom: 0px;
    }
    .nombre-canal {
        padding-left: 0;
        padding-top: 7px;
    }
    .canal-graph {
        padding-top: 0;
    }
    .nombre-canal p {
        margin-bottom: 6.5px;
        font-size: 10px;
    }
    .canal-porc-fem p, .canal-porc-masc p {
        margin-bottom: 4.5px;
    }
    .canal-porc-sexo {
        position: relative;
        top: -38px;
    }
    .canal-porc-sexo p {
        font-size: 10px;
    }
    .dv-ventas-servicios {
        margin: 0;
        padding-top: 20px;
    }
    .graph-servicio-temporada {
        overflow: auto;
    }
    .dv-cond-fisica {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 20px;
    }
    .dv-cond-fisica canvas {
        width: 100% !important;
        height: auto !important;
    }
    .dv-cond-fisica .masc {
        border: none;
        margin-top: 22px;
    }
    .dv-cond-fisica .fem p.cond-fisica-title,
    .dv-cond-fisica .masc p.cond-fisica-title{
        font-size: 13px;
    }
    .dv-vistas {
        margin-top: 0;
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dv-vistas h5 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .distr-dpto-porcentajes p {
        font-size: 11px;
        margin-bottom: 5.2px;
    }
    .nombre-servicio p {
        margin-bottom: 15px;
    }
    .servicio-porc-fem p, .servicio-porc-masc p {
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 320px) {
    .distr-dpto-porcentajes p {
        font-size: 10px;
        margin-bottom: 3.5px;
    }
    .nombre-servicio p {
        margin-bottom: 12px;
        font-size: 10px;
    }
    .servicio-porc-fem p, .servicio-porc-masc p {
        margin-bottom: 17px;
    }
    .canal-porc-fem p, .canal-porc-masc p {
        margin-bottom: 2px;
    }
    .nombre-canal p {
        margin-bottom: 3.5px;
    }
}

