@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.otf); }

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.otf); }

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf); }

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.otf); }

@font-face {
  font-family: GothamHTF-Bold;
  src: url(../fonts/GothamHTF-Bold.otf); }

@font-face {
  font-family: GothamHTF-Book;
  src: url(../fonts/GothamHTF-Book.otf); }

@font-face {
  font-family: GothamHTF-Light;
  src: url(../fonts/GothamHTF-Light.otf); }

body, html {
  background-color: #2a242c;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
    outline: none;
    border: none;
}

* {
  font-family: "Montserrat-Medium";
  outline: none !important; }

#main-content {
  margin-left: 280px; }

.container {
  padding: 40px 0px;
  width: 100%;
  max-width: 824px; }

h4.user {
  float: right;
  display: inline-block;
  font-size: 14px;
  color: #a8fa00;
  font-family: "Montserrat-Regular"; }
  h4.user .svg {
    width: 12px;
    height: 14px;
    fill: #a8fa00;
    position: relative;
    top: 2px;
    margin-right: 12px; }
  h4.user span {
    display: block;
    color: #727077;
    font-size: 20px;
    font-family: "Montserrat-Light";
    text-align: right;
    margin-top: 13px; }

h2.title_carousel {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: GothamHTF-Bold;
  margin-bottom: 50px; }
  h2.title_carousel span {
    font-family: GothamHTF-Light; }

hr {
  border-color: #3d3f41;
  margin: 40px 0; }

#diario .col-md-8 {
  padding-right: 10%;
  border-right: 1px solid #3d3f41; }

#diario .col-md-4 {
  padding-left: 7%; }

h3, h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: GothamHTF-Bold; }
  h3.title_section, h4.title_section {
    margin-bottom: 30px; }

span.text_green {
  color: #a8fa00;
  font-size: 18px; }

.input-group {
  width: 380px; }
  .input-group input {
    box-shadow: none !important;
    border-color: initial !important;
    height: 35px;
    border-radius: 15px;
    border: none;
    background: url(../img/search.png) no-repeat;
    background-color: #fff;
    background-position-y: 8px;
    background-position-x: 12px;
    padding-left: 45px; }
  .input-group button {
    background-color: #a8fa00 !important;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    outline: none !important;
    border: none;
    border-radius: 15px;
    padding: 6.1px 12px; }

a.fav .svg {
  fill: transparent !important;
  stroke: #9d9d9d;
  stroke-linecap: round;
  stroke-width: 3px;
  transition: all .5s; }

a.fav:hover .svg, a.fav.selected .svg {
  fill: #cf3239 !important;
  stroke: #cf3239 !important; }

.no_margin_top {
  margin-top: 0; }

.no_padding_top {
  padding-top: 0 !important; }

.no_padding {
  padding: 0; }

.search .input-group {
  float: left; }

.search .options {
  float: right; }
  .search .options button {
    line-height: 0;
    background-color: transparent;
    border: 1px solid #6a696c;
    margin-right: 14px;
    transition: .5s;
    position: relative; }
    .search .options button .svg {
      height: 34px;
      width: 32px;
      fill: #9d9d9d; }
    .search .options button:last-child {
      margin-right: 0; }
    .search .options button:before {
      content: " ";
      width: 8px;
      height: 8px;
      background-color: #3d3f41;
      border-radius: 50%;
      position: absolute;
      left: 4px;
      top: 4px; }
    .search .options button:hover {
      border-color: #a8fa00; }
      .search .options button:hover .svg {
        fill: #a8fa00; }
      .search .options button:hover:before {
        content: " ";
        background-color: #a8fa00; }

.only_mobile {
  display: none; }

.no_scroll {
  overflow: hidden; }

@media only screen and (max-width: 760px) {
  .only_mobile {
    display: block; }
  h4 {
    font-size: 20px; }
  h4.title_section {
    text-align: center;
    font-size: 14px; }
  h3.title_section {
    text-align: center;
    font-size: 20px; }
  hr {
    margin: 20px 0; }
  #main-content {
    margin-left: 0; }
  .no_mostrar_mobile {
    display: none !important; }
  .container {
    padding: 28px 20px 0; }
  .navbar-toggle {
    padding: 0;
    margin: 0; }
  header {
    margin-bottom: 40px;
    min-height: 45px;
    position: relative; }
    header .navbar-toggle {
      float: left; }
      header .navbar-toggle .svg {
        width: 27px;
        height: 23px;
        fill: #fff; }
    header a {
      display: inline-block !important; }
      header a img {
        max-width: 50px;
        position: absolute;
        top: 0; }
    header h4.user {
      font-size: 9px;
      text-transform: none;
      margin: 0; }
      header h4.user .svg {
        display: none; }
      header h4.user span {
        font-size: 11px;
        margin-top: 4px; }
  section h4 .input-group {
    float: none !important;
    width: 100%;
    margin-top: 25px; }
  .search {
    display: table; }
    .search .input-group {
      float: none;
      display: table-footer-group; }
    .search .options {
      float: none;
      display: table-caption;
      text-align: center;
      margin-bottom: 17px; } }

.sidebar {
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  overflow-x: hidden;
  padding-top: 50px;
  background-color: #161824;
  border-right: 1px solid #3d3f41; }
  .sidebar img.logo {
    margin-bottom: 25px; }
  .sidebar li {
    padding: 15px 30px 0; }
    .sidebar li a {
      text-decoration: none;
      color: #9d9d9d;
      font-size: 13px; }
      .sidebar li a:hover {
        color: #a8fa00; }
        .sidebar li a:hover .svg {
          fill: #a8fa00; }
      .sidebar li a .svg {
        max-width: 30px;
        max-height: 25px;
        fill: #9d9d9d;
        margin-right: 14px;
        position: relative;
        top: 8px; }
      .sidebar li a.notif:after {
        content: var(--content, "1");
        float: right;
        background-color: #cf3239;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        padding: 4px;
        position: relative;
        top: 8px;
        font-family: Montserrat-Bold; }

.slide-menu-style {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: -200px;
  z-index: -1; }
  .slide-menu-style.show {
    left: 280px !important;
    z-index: 100; }
    .slide-menu-style.show .shadow {
      position: absolute;
      display: block;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .slide-menu-style .slide-menu {
    width: 468px;
    background: #11131c;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    padding: 40px 35px; }
    .slide-menu-style .slide-menu li {
      margin: 20px 0;
      display: inline-block;
      width: 100%; }
    .slide-menu-style .slide-menu a {
      text-decoration: none;
      color: #818181;
      transition: 0.3s; }
      .slide-menu-style .slide-menu a:hover {
        color: #f1f1f1; }
        .slide-menu-style .slide-menu a:hover .svg {
          fill: #fff; }
      .slide-menu-style .slide-menu a .svg {
        max-width: 24px;
        fill: #9d9d9d;
        position: relative;
        top: 5px;
        margin-right: 20px; }

.closebtn {
  color: #fff !important;
  margin-bottom: 40px; }
  .closebtn .svg {
    width: auto;
    height: 22px;
    fill: #fff !important;
    margin-right: 10px;
    position: relative;
    top: 6px; }

.switch {
  position: relative;
  display: inline-block;
  width: 115px;
  height: 20px;
  float: right;
  top: 6px; }
  .switch i {
    position: relative;
    top: -30px;
    font-style: normal;
    color: #a8fa00;
    text-transform: uppercase;
    font-size: 10px;
    font-family: GothamHTF-Light;
    float: right; }
    .switch i:first-child {
      float: left; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5d870e;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider::before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 0;
      bottom: -4px;
      background-color: #a8fa00;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%; }
  .switch input:checked + .slider {
    background-color: #374d15; }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(88px);
    -ms-transform: translateX(88px);
    transform: translateX(88px); }

@media only screen and (max-width: 760px) {
  .sidebar {
    padding-top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: right 3s;
    transition: right .3s;
    display: none;
    right: 100%;
    display: block;
    left: auto; }
    .sidebar.open {
      right: 0;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear; }
    .sidebar .mobile {
      height: 100%;
      width: 316px;
      padding-top: 22px;
      background-color: #161824; }
      .sidebar .mobile .text-center {
        vertical-align: top;
        padding: 0 24px; }
        .sidebar .mobile .text-center button {
          float: left; }
          .sidebar .mobile .text-center button .svg {
            fill: #fff;
            width: 27px;
            height: 22px; }
        .sidebar .mobile .text-center img {
          max-width: 64px;
          margin-bottom: 10px; }
      .sidebar .mobile .menu {
        background-color: #161824;
        padding-bottom: 30px; }
        .sidebar .mobile .menu li {
          padding: 15px 24px 0; }
      .sidebar .mobile .config_mobile {
        display: none; }
        .sidebar .mobile .config_mobile a:hover {
          color: #fff; }
          .sidebar .mobile .config_mobile a:hover .svg {
            fill: #fff; }
      .sidebar .mobile .switch {
        width: 180px;
        float: none;
        margin-top: 25px;
        margin-left: 42px; }
        .sidebar .mobile .switch i {
          top: -20px;
          font-size: 9px; }
        .sidebar .mobile .switch input:checked + .slider:before {
          -webkit-transform: translateX(152px);
          -ms-transform: translateX(152px);
          transform: translateX(152px); } }

.nav-tabs {
  border: none;
  margin-top: 12px;
  display: inline-flex; }
  .nav-tabs li a {
    border: none;
    padding: 0;
    margin-right: 60px; }
    .nav-tabs li a .svg {
      width: 38px;
      height: 40px;
      fill: #fff; }
    .nav-tabs li a:hover, .nav-tabs li a:focus {
      background-color: transparent !important;
      border: none !important;
      outline: none; }
  .nav-tabs li.active a {
    background-color: transparent;
    border: none; }
    .nav-tabs li.active a .svg {
      fill: #a8fa00; }

.tab-content {
  margin-top: 44px; }

.svg-wrap {
  position: relative;
  display: inline-block;
}

.datepicker_inline {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #3d3f41;
  padding-bottom: 15px; }
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:first-child th {
    font-family: GothamHTF-Bold;
    font-size: 38px; }
    .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
      background-color: transparent; }
    .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:first-child th span.glyphicon {
      font-size: 0; }
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:nth-child(2) th {
    color: #a8fa00;
    font-family: GothamHTF-Light; }
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr th.prev {
    background: url("../img/arrow-left.png") no-repeat center;
    background-size: contain;}
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr th.next {
    background: url("../img/arrow-right.png") no-repeat center;
      background-size: contain;}
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:last-child th {
    padding: 40px 5px 8px; }
  .datepicker_inline .bootstrap-datetimepicker-widget table tbody td {
    font-family: GothamHTF-Bold;
    font-size: 30px;
    position: relative;
    padding: 28px 0; }
    .datepicker_inline .bootstrap-datetimepicker-widget table tbody td:hover {
      background-color: transparent; }
      .datepicker_inline .bootstrap-datetimepicker-widget table tbody td:hover:after {
        display: block; }
    .datepicker_inline .bootstrap-datetimepicker-widget table tbody td:after {
      content: "";
      width: 46px;
      height: 50px;
      border: 2px solid #8cd000;
      position: absolute;
      margin: auto;
      transition: 2s;
      left: 0;
      right: 0;
      top: 14px;
      border-radius: 50%;
      display: none; }
    .datepicker_inline .bootstrap-datetimepicker-widget table tbody td.day.active.today {
      background-color: #18151c;
      border-radius: 50%;
      color: #a8fa00; }
      .datepicker_inline .bootstrap-datetimepicker-widget table tbody td.day.active.today:before {
        content: "";
        display: none; }
      .datepicker_inline .bootstrap-datetimepicker-widget table tbody td.day.active.today:hover:after {
        content: "";
        display: none; }

h3.title_graphic {
  color: #fff;
  font-family: GothamHTF-Bold;
  margin-bottom: 20px;
  font-size: 21px;
  text-align: left}
   h3.title_graphic .svg {
    fill: #9d9d9d;
    max-height: 20px;
    max-width: 20px;
    display: inline-block;
    margin-right: 10px;
       position: relative;
       top: 4px;}
    h3.title_graphic i {
      font-size: 16px;
      font-style: normal;
      margin-left: 8px;}
    h3.title_graphic .svg.red {
      fill: #cf3239;
      margin-left: 10px;
      margin-right: 0; }
     h3.title_graphic .svg.blue {
      fill: #07b7c2;
      margin-left: 10px;
      margin-right: 0; }

.ritmos_pulsos ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  display: inline-block; }
  .ritmos_pulsos ol li {
    counter-increment: step-counter;
    color: #9d9d9d;
    margin-bottom: 5px; }
    .ritmos_pulsos ol li:before {
      content: "Z" counter(step-counter);
      margin-right: 55px;
      color: #cf3239; }
  .ritmos_pulsos ol.pulsos:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 90;
    left: 2.75rem;
    margin-left: 1.5px;
    height: 100%;
    width: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#cf3239, #97252a); }
  .ritmos_pulsos ol.ritmos:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 90;
    left: 2.5rem;
    height: 100%;
    width: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#07b7c2, #034d51); }
  .ritmos_pulsos ol.ritmos li:before {
    content: "Z" counter(step-counter);
    margin-right: 55px;
    color: #07b7c2; }

.ritmos_pulsos ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  padding-left: 40px;
  position: relative; }
  .ritmos_pulsos ul li {
    color: #9d9d9d;
    margin-bottom: 5px; }
    .ritmos_pulsos ul li::before {
      content: "-";
      position: absolute;
      left: 14px; }

.ritmos_pulsos table {
  width: 100%;
  color: #9d9d9d;
  position: relative; }
  .ritmos_pulsos table tr th {
    text-align: center; }
    .ritmos_pulsos table tr th .svg {
      width: 17px;
      height: 17px; }
  .ritmos_pulsos table tbody {
    position: relative; }
    .ritmos_pulsos table tbody td {
      padding-bottom: 5px;
      text-align: center; }
  .ritmos_pulsos table.pulsos tbody td:first-child {
    color: #cf3239;
    text-align: left; }
  .ritmos_pulsos table.pulsos tbody:after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 90;
    left: 2.75rem;
    height: 100%;
    width: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#cf3239, #97252a); }
  .ritmos_pulsos table.pulsos .svg {
    fill: #cf3239; }
  .ritmos_pulsos table.ritmos tbody td:first-child {
    color: #07b7c2;
    text-align: left; }
  .ritmos_pulsos table.ritmos tbody:after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 90;
    left: 2.75rem;
    height: 100%;
    width: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#07b7c2, #034d51); }
  .ritmos_pulsos table.ritmos .svg {
    fill: #07b7c2; }

.datos_semanales li {
  color: #fff;
  font-size: 16px;
  font-family: GothamHTF-Book;
  text-transform: uppercase;
  border-bottom: 1px solid #3d3f41;
  padding: 14px 0;}
.datos_semanales li:first-child {
  padding-top: 0;}
  .datos_semanales li label {
    font-weight: normal; }
    .datos_semanales li label strong {
      font-size: 22px;
      margin-right: 10px; }
    .datos_semanales li label .svg {
      width: 20px;
      height: 22px;
      fill: #9d9d9d;
      margin-right: 14px;
      top: 3px;
      position: relative; }
  .datos_semanales li p {
    font-size: 30px; }
    .datos_semanales li p.green {
      color: #a8fa00; }
      .datos_semanales li p.green .svg {
        fill: #a8fa00; }
    .datos_semanales li p.orange {
      color: #ff9c00; }
      .datos_semanales li p.orange .svg {
        fill: #ff9c00; }
    .datos_semanales li p .svg {
      width: 20px;
      max-height: 22px;
      margin-right: 14px; }
    .datos_semanales li p strong {
      font-family: GothamHTF-Bold; }
  .datos_semanales li:last-child {
    border: none; }

section.ritmos_tiempo .box_tiempo {
  border: 1px solid #3d3f41;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 18px; }
  section.ritmos_tiempo .box_tiempo .svg {
    width: 20px;
    height: 26px;
    fill: #fff; }
  section.ritmos_tiempo .box_tiempo .svg .st0 {
      fill: #fff;
  }
  section.ritmos_tiempo .box_tiempo span {
    font-size: 20px;
    display: block;
    font-family: GothamHTF-Bold;
    text-shadow: 0 0px 5px #fff; }
    section.ritmos_tiempo .box_tiempo span i {
      font-family: GothamHTF-Book;
      text-transform: uppercase;
      font-style: normal; }
  section.ritmos_tiempo .box_tiempo .col-xs-7 span:first-child {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0px 3px 4px -4px #fff;
    -moz-box-shadow: 0px 3px 4px -4px #fff;
    box-shadow: 0px 3px 4px -4px #fff; }
  section.ritmos_tiempo .box_tiempo:nth-child(4n + 4) {
    margin-right: 0; }

.icons {
  float: right;
  display: inline-block; }
  .icons .svg {
    height: 26px;
    width: auto;
    fill: #9d9d9d;
    margin-right: 30px; }
    .icons .svg .st1 {
        fill: #9d9d9d;}
    .icons .svg:last-child {
      margin-right: 0; }
  .icons span {
    color: #9d9d9d;
    margin-right: 30px;
    font-size: 20px;
    display: inline-flex; }

.panel-group {
  margin-top: 24px; }
  .panel-group .panel {
    background-color: transparent;
    border: none; }
    .panel-group .panel .panel-heading.ph-1:before {
      content: " ";
      background-color: #a8fa00;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
    .panel-group .panel .panel-heading.ph-2:before {
      content: " ";
      background-color: #fa7f21;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
    .panel-group .panel .panel-heading.ph-3:before {
      content: " ";
      background-color: #cf3239;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
    .panel-group .panel .panel-heading {
      background-color: #161824;
      border-radius: 5px;
      padding: 20px;
      display: block;
      position: relative; }
      .panel-group .panel .panel-heading a {
        text-decoration: none; }
        .panel-group .panel .panel-heading a[aria-expanded="true"] h3 {
          color: #a8fa00; }
        .panel-group .panel .panel-heading a[aria-expanded="true"] .svg.arrow {
          fill: #a8fa00;
          transform: rotate(-180deg);
          transition: all .5s;
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s; }
        .panel-group .panel .panel-heading a[aria-expanded="false"] .svg.arrow {
          transform: rotate(0deg);
          transition: all .5s;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s; }
      .panel-group .panel .panel-heading h3 {
        margin: 0;
        display: inline-block;
        padding-left: 12px; }
        .panel-group .panel .panel-heading h3 .mas_menos {
          float: right;
          margin-left: 60px;
          bottom: 3px;
          position: relative; }
          .panel-group .panel .panel-heading h3 .mas_menos .svg {
            width: 30px;
            height: 30px;
            fill: #9d9d9d;
            margin-right: 12px; }
            .panel-group .panel .panel-heading h3 .mas_menos .svg:last-child {
              margin-right: 0 !important; }
    .panel-group .panel .panel-body {
      border: none !important; }
      .panel-group .panel .panel-body ul.datos li {
        font-size: 17px;
        color: #9d9d9d;
        margin-bottom: 14px;
        position: relative;
        width: 50%; }
        .panel-group .panel .panel-body ul.datos li .svg {
          max-height: 24px;
          fill: #9d9d9d;
          max-width: 25px;
          display: inline-block;
          position: relative;
          top: 5px;
          margin-right: 12px; }
            .panel-group .panel .panel-body ul.datos li .svg .st0 {
                fill: #9d9d9d !important;}
          .panel-group .panel .panel-body ul.datos li .svg.help {
            position: absolute !important;
            right: 0;
            margin: 0 !important; }
      .panel-group .panel .panel-body .panel {
        margin: 0 -15px 0 0; }
        .panel-group .panel .panel-body .panel .panel-heading {
          padding: 20px 20px 20px 0px;
          background-color: transparent;
          border-top: 1px solid #3d3f41;
          border-radius: 0; }
          .panel-group .panel .panel-body .panel .panel-heading:before {
            content: " ";
            display: none; }
          .panel-group .panel .panel-body .panel .panel-heading h3 {
            padding-left: 0; }
        .panel-group .panel .panel-body .panel .panel-body {
          padding: 0; }
          .panel-group .panel .panel-body .panel .panel-body ul.principal {
            margin-top: 30px; }
            .panel-group .panel .panel-body .panel .panel-body ul.principal li {
              margin-bottom: 30px; }
              .panel-group .panel .panel-body .panel .panel-body ul.principal li .svg {
                height: 25px;
                width: auto;
                fill: #9d9d9d;
                position: relative;
                bottom: 12px; }
              .panel-group .panel .panel-body .panel .panel-body ul.principal li .title {
                display: inline-block;
                font-size: 18px;
                font-family: GothamHTF-Book;
                color: #fff;
                margin-left: 5px;
                margin-bottom: 0; }
                .panel-group .panel .panel-body .panel .panel-body ul.principal li .title span {
                  display: block;
                  color: #9d9d9d; }

#carousel-semanal {
  margin-bottom: 30px; }
  #carousel-semanal .owl-stage-outer {
    overflow: visible; }
  #carousel-semanal .owl-item {
    opacity: 0;
    transition: opacity 500ms; }
    #carousel-semanal .owl-item.active {
      opacity: 1 !important; }
  #carousel-semanal .owl-nav {
    display: block;
    position: absolute;
    top: -89px;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center; }
    #carousel-semanal .owl-nav .owl-prev {
      outline: none;
      background: url(../img/arrow-left.png) no-repeat center;
      font-size: 0;
      width: 44px;
      height: 44px;
      margin-right: 44%;
      background-size: contain; }
    #carousel-semanal .owl-nav .owl-next {
      outline: none;
      background: url(../img/arrow-right.png) no-repeat center;
      font-size: 0;
      width: 44px;
      height: 44px;
      background-size: contain; }
  #carousel-semanal .item {
    width: 263px;
    background-color: #171926;
    -webkit-box-shadow: 5px 5px 22px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 22px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 22px -1px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    overflow: auto;
    transition: .5s; }
    #carousel-semanal .item .title {
      background-color: #1d2030;
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      font-family: GothamHTF-Bold;
      padding: 8px 17px;
      transition: .5s;
      cursor: pointer;
      -webkit-box-shadow: 0px 9px 14px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 9px 14px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 9px 14px -9px rgba(0, 0, 0, 0.75); }
    #carousel-semanal .item .body-card {
      padding: 20px 14px; }
      #carousel-semanal .item .body-card .dias {
        color: #9d9d9d;
        text-align: right;
        font-size: 11px;
        transition: .5s; }
        #carousel-semanal .item .body-card .dias .svg {
          width: 14px;
          height: auto;
          fill: #9d9d9d;
          position: relative;
          top: 2px;
          margin-left: 14px; }
      #carousel-semanal .item .body-card ul {
        border-bottom: 1px solid #3d3f41; }
        #carousel-semanal .item .body-card ul li {
          font-size: 12px;
          color: #9d9d9d;
          position: relative;
          margin-bottom: 8px;
          width: 50%; }
          #carousel-semanal .item .body-card ul li .svg {
            max-height: 18px;
            max-width: 18px;
            fill: #9d9d9d;
            margin-right: 8px;
            position: relative;
            top: 4px; }
            #carousel-semanal .item .body-card ul li .svg.help {
              position: absolute;
              right: 0; }
      #carousel-semanal .item .body-card .mini-panel {
        border-bottom: 1px solid #3d3f41;
        cursor: pointer; }
        #carousel-semanal .item .body-card .mini-panel span {
          color: #9d9d9d;
          text-transform: uppercase;
          font-family: GothamHTF-Bold;
          font-size: 10px; }
          #carousel-semanal .item .body-card .mini-panel span .svg {
            width: 12px;
            height: 12px;
            fill: #9d9d9d;
            margin-left: 5px;
            position: relative;
            top: 1px;
            transform: rotate(-90deg);
            transition: all .5s; }
        #carousel-semanal .item .body-card .mini-panel .time {
          display: inline-block;
          color: #fff;
          float: right; }
          #carousel-semanal .item .body-card .mini-panel .time .svg {
            width: 12px;
            height: 12px;
            fill: #9d9d9d;
            margin-right: 10px;
            position: relative;
            top: 2px; }
        #carousel-semanal .item .body-card .mini-panel.active .svg {
          fill: #a8fa00;
          transform: rotate(0deg); }
    #carousel-semanal .item.selected, #carousel-semanal .item:hover {
      position: relative;
      bottom: 22px; }
      #carousel-semanal .item.selected .title, #carousel-semanal .item:hover .title {
        color: #a8fa00;
        font-size: 28px; }
      #carousel-semanal .item.selected .dias, #carousel-semanal .item:hover .dias {
        color: #a8fa00; }
      #carousel-semanal .item.selected .mini-panel, #carousel-semanal .item:hover .mini-panel {
        padding: 3px 0; }
        #carousel-semanal .item.selected .mini-panel span, #carousel-semanal .item:hover .mini-panel span {
          font-size: 11px; }

@media only screen and (max-width: 760px) {
  .nav-tabs {
    text-align: center;
    display: block; }
    .nav-tabs li {
      display: inline-block;
      float: none; }
      .nav-tabs li a {
        margin-right: 50px; }
        .nav-tabs li a .svg {
          width: 30px;
          height: 32px; }
      .nav-tabs li:last-child a {
        margin-right: 0; }
  .tab-content {
    margin-top: 14px; }
  span.text_green {
    font-size: 14px; }
  .panel-group {
    margin-bottom: 0; }
    .panel-group .panel .panel-heading {
      padding: 14px 10px; }
      .panel-group .panel .panel-heading h3 {
        font-size: 14px; }
        .panel-group .panel .panel-heading h3 .mas_menos {
          margin-left: 16px;
          bottom: 0px; }
          .panel-group .panel .panel-heading h3 .mas_menos .svg {
            width: 17px;
            height: 17px; }
      .panel-group .panel .panel-heading .icons .svg {
        margin-right: 12px;
        height: 18px;
        max-height: 16px; }
      .panel-group .panel .panel-heading .icons span {
        margin-right: 16px;
        font-size: 13px; }
    .panel-group .panel .panel-body {
      padding: 15px 0; }
      .panel-group .panel .panel-body ul.datos li {
        font-size: 14px;
        margin-bottom: 5px; }
        .panel-group .panel .panel-body ul.datos li .svg {
          max-width: 20px; }
      .panel-group .panel .panel-body .panel {
        margin: 0; }
        .panel-group .panel .panel-body .panel .panel-heading {
          padding: 6px 0; }
          .panel-group .panel .panel-body .panel .panel-heading h3 {
            font-size: 12px; }
            .panel-group .panel .panel-body .panel .panel-heading h3 .mas_menos {
              margin-left: 8px; }
              .panel-group .panel .panel-body .panel .panel-heading h3 .mas_menos .svg {
                width: 17px;
                height: 17px;
                margin-right: 8px; }
        .panel-group .panel .panel-body .panel .panel-body {
          padding: 0 0 10px; }
          .panel-group .panel .panel-body .panel .panel-body ul.principal {
            margin-top: 5px; }
            .panel-group .panel .panel-body .panel .panel-body ul.principal li {
              margin-bottom: 5px; }
              .panel-group .panel .panel-body .panel .panel-body ul.principal li .svg {
                height: 20px; }
              .panel-group .panel .panel-body .panel .panel-body ul.principal li .title {
                font-size: 14px; }
  #diario .col-md-8, #diario .col-md-4 {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    border: none; }
  .ritmos_pulsos {
    display: inline-block;
    width: 100%; }
     h3.title_graphic {
      font-size: 14px;
      text-align: left; }
    .ritmos_pulsos table {
      text-align: left; }
  .datos_semanales {
    margin-top: 30px; }
    .datos_semanales li {
      border: none; }
      .datos_semanales li label {
        font-size: 10px; }
        .datos_semanales li label strong {
          font-size: 14px; }
        .datos_semanales li label .svg {
          width: 15px;
          height: 17px; }
      .datos_semanales li p {
        font-size: 18px; }
        .datos_semanales li p .svg {
          width: 15px;
          height: 14px; }
  section.ritmos_tiempo {
    text-align: center; }
    section.ritmos_tiempo .box_tiempo {
      width: 100%;
      padding: 5px 10px; }
      section.ritmos_tiempo .box_tiempo .col-xs-7 {
        margin-top: 4px; }
      section.ritmos_tiempo .box_tiempo .text-center {
        padding: 0; }
      section.ritmos_tiempo .box_tiempo span {
        font-size: 10px; }
      section.ritmos_tiempo .box_tiempo .svg {
        width: 12px;
        height: 12px; }
  h2.title_carousel {
    font-size: 20px; }
  #carousel-semanal .owl-nav {
    top: -78px; }
    #carousel-semanal .owl-nav button {
      width: 32px !important;
      height: 32px !important;
      position: absolute; }
      #carousel-semanal .owl-nav button.owl-prev {
        left: 0; }
      #carousel-semanal .owl-nav button.owl-next {
        right: 0; }
  #carousel-semanal .item {
    margin: auto; }
    #carousel-semanal .item.selected, #carousel-semanal .item:hover {
      bottom: auto; }
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:first-child th {
    font-size: 25px; }
  .datepicker_inline .bootstrap-datetimepicker-widget table thead tr:last-child th {
    padding: 22px 5px 8px; }
  .datepicker_inline .bootstrap-datetimepicker-widget table tbody td {
    padding: 12px 0;
    font-size: 20px; }
    .datepicker_inline .bootstrap-datetimepicker-widget table tbody td:after {
      width: 38px;
      height: 38px;
      top: 4px; } }

@media only screen and (max-width: 760px) and (min-width: 450px) {
  section.ritmos_tiempo .box_tiempo span {
    font-size: 16px; } }

.material-diario {
  display: inline-block;
  width: 100%; }
  .material-diario .material {
    height: 202px;
    display: block;
    margin-top: 26px; }
    .material-diario .material .content_img {
      display: inline-block;
      width: 220px;
      height: 100%;
      background: url(../img/ejercicio.png) no-repeat center;
      background-size: cover; }
    .material-diario .material .content_text {
      display: inline-block;
      width: 530px;
      height: 100%;
      position: relative; }
      .material-diario .material .content_text .title {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-left: 50px; }
        .material-diario .material .content_text .title h4 {
          font-family: GothamHTF-Book;
          font-size: 24px;
          text-transform: none;
          display: table-cell;
          vertical-align: middle;
          padding-left: 46px;
          position: relative; }
          .material-diario .material .content_text .title h4 span {
            display: block;
            color: #9d9d9d;
            margin-top: 10px; }
          .material-diario .material .content_text .title h4 .svg {
            max-width: 26px;
            height: 44px;
            fill: #9d9d9d;
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto; }

.resultado_material ul li {
  display: inline-block;
  margin-bottom: 24px;
}
  .resultado_material ul li .card {
    overflow: auto;
    border-radius: 10px; }
    .resultado_material ul li .card .video {
      width: 100%;
      height: 148px;
      background: url(../img/video.png) no-repeat center;
      position: relative;
      background-size: cover; }
      .resultado_material ul li .card .video .svg {
        width: 65px;
        height: 65px;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
    .resultado_material ul li .card .box_text {
      background-color: #1e1a21;
      padding: 38px 15px; }
      .resultado_material ul li .card .box_text h3 {
        font-size: 14px;
        font-family: GothamHTF-Light;
        margin: 0;
        color: #9d9d9d; }
        .resultado_material ul li .card .box_text h3 .svg {
          width: 25px;
          height: 25px;
          float: right;
          position: relative;
          bottom: 5px; }

.resultados {
  display: inline-block;
  width: 100%; }
  .resultados li {
    color: #9d9d9d;
    font-family: GothamHTF-Light;
    font-size: 18px;
    border-bottom: 1px solid #3d3f41;
    padding: 28px 35px; }
    .resultados li .svg {
      fill: #9d9d9d;
      display: inline-block; }
      .resultados li .svg.material {
        height: 55px;
        max-width: 45px;
        margin-right: 54px; }
    .resultados li a.fav .svg {
      width: 26px;
      height: 24px;
      margin-left: 100px; }
    .resultados li .time {
      display: inline-block; }
      .resultados li .time .svg {
        width: 24px;
        height: 24px;
        margin-right: 20px; }
    .resultados li > * {
      vertical-align: middle; }
    .resultados li .pull-right {
      float: right !important;
      position: relative;
      top: 9px; }
      .resultados li .pull-right .svg {
        position: relative;
        top: 5px; }

.moreview {
  width: 50px;
  height: 30px;
  fill: #a8fa00;
  cursor: pointer; }

@media only screen and (max-width: 760px) {
  .material-diario .material {
    height: 92px; }
    .material-diario .material .content_img {
      width: 32%; }
    .material-diario .material .content_text {
      width: 66%; }
      .material-diario .material .content_text .title {
        padding-left: 40px; }
        .material-diario .material .content_text .title h4 {
          font-size: 14px;
          padding-left: 35px; }
  .resultado_material ul li {
    margin-bottom: 20px; }
    .resultado_material ul li .card .video {
      height: 90px; }
    .resultado_material ul li .card .box_text {
      padding: 22px 10px; }
      .resultado_material ul li .card .box_text h3 {
        font-size: 10px; }
        .resultado_material ul li .card .box_text h3 .svg {
          width: 16px;
          height: 16px; }
  .resultados li {
    padding: 18px 0;
    font-size: 14px; }
    .resultados li .svg.material {
      height: 30px;
      max-width: 20px;
      margin-right: 13px; }
    .resultados li a.fav .svg {
      margin-left: 28px;
      width: 22px;
      height: 18px; }
    .resultados li span {
      width: 127px;
      display: inline-block; }
    .resultados li .time .svg {
      width: 22px;
      height: 22px;
      margin-right: 10px; }
    .resultados li .pull-right .time span {
      width: auto; } }

.content-videoteca {
  display: inline-block;
  width: 100%; }
  .content-videoteca h4 {
    font-size: 35px;
    margin-bottom: 65px; }
  .content-videoteca .owl-carousel .owl-stage-outer {
    overflow: initial; }
  .content-videoteca .owl-carousel .owl-item {
    width: 212px;
    height: 162px;
    position: relative; }
    .content-videoteca .owl-carousel .owl-item .item {
      width: 100%;
      height: 100%;
      background: url(../img/videoteca.png) no-repeat center;
      border-radius: 9px;
      background-size: cover;
      opacity: 0.2;
      position: absolute;
      overflow: hidden; }
      .content-videoteca .owl-carousel .owl-item .item .title {
        position: absolute;
        background-color: #4a474e;
        color: #fff;
        width: 100%;
        text-align: center;
        bottom: 0;
        text-transform: uppercase;
        font-family: GothamHTF-Light;
        padding: 5px 10px; }
    .content-videoteca .owl-carousel .owl-item.center {
      height: 202px;
      -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.8);
      top: -22px; }
      .content-videoteca .owl-carousel .owl-item.center .item {
        opacity: 1; }
        .content-videoteca .owl-carousel .owl-item.center .item .title {
          padding: 16px 10px; }
  .content-videoteca .owl-carousel .owl-nav {
    position: absolute;
    top: -106px;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center; }
    .content-videoteca .owl-carousel .owl-nav .owl-prev {
      outline: none;
      background: url(../img/arrow-left2.png) no-repeat center;
      font-size: 0;
      width: 44px;
      height: 44px;
      margin-right: 28%;
      background-size: contain; }
    .content-videoteca .owl-carousel .owl-nav .owl-next {
      outline: none;
      background: url(../img/arrow-right2.png) no-repeat center;
      font-size: 0;
      width: 44px;
      height: 44px;
      background-size: contain; }

.slider-container {
  margin-bottom: 40px; }
  .slider-container .range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #32362a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; }
    .slider-container .range-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 76px;
      height: 19px;
      background: url("../img/slider.png") no-repeat;
      cursor: pointer; }
    .slider-container .range-slider::-moz-range-thumb {
      width: 76px;
      height: 19px;
      background: url("../img/slider.png") no-repeat;
      cursor: pointer; }

section h4 {
  margin-bottom: 40px; }
  section h4 .svg {
    fill: #fff;
    max-width: 28px;
    max-height: 23px;
    margin-right: 14px;
    position: relative;
    top: 4px; }
  section h4 .input-group {
    float: right; }

section #moreFav {
  margin-top: 30px; }

@media only screen and (max-width: 760px) {
  .content-videoteca h4 {
    font-size: 20px;
    margin-bottom: 38px; }
  .content-videoteca .owl-carousel .owl-nav {
    top: -64px; }
    .content-videoteca .owl-carousel .owl-nav .owl-prev {
      width: 32px;
      height: 32px;
      position: absolute;
      left: 24px; }
    .content-videoteca .owl-carousel .owl-nav .owl-next {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 24px; }
  section h4 {
    margin-bottom: 20px;
    font-size: 14px; }
    section h4 .svg {
      max-width: 18px;
      max-height: 16px; } }

  svg.ico{
    cursor: pointer !important;
  }

  .rutina-cli #diario .svg-color-nota{
    fill: #ddf515 !important;
  }

.svg-wrap{
  cursor: pointer;
}

.botTempo-hd{
  display: none;
}

.menu-not-allowed{
  color: #9d9d9d6e !important;
  cursor: not-allowed;
}

.menu-not-allowed:hover{
  color: #A8FA00 !important;
}

.dv-consejos-favs{
  margin-top: 50px;
}

ul#ulMdlSubirConsejo {
  display: flex;
  padding:0px;
}

ul#ulMdlSubirConsejo span {
  font-size: 1.1em;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
}


ul#ulMdlSubirConsejo li:first-of-type{
  margin-left: auto !important;
}

ul#ulMdlSubirConsejo li{
  padding: 0 15px !important;
}

ul#ulMdlSubirConsejo div#pills-tabConsejosContent{
}

div#mdlAgregarConsejo .modal-body{
  padding:0px;
}

div#mdlAgregarConsejo .tab-content{
  padding: 15px;
}

div#mdlAgregarConsejo .input-group input,  div#mdlVerConsejoAudio .input-group input {
  background:none !important;
  width: 25.1em;
  border: 0.04em solid #c4c4c4 !important;

}

div#mdlAgregarConsejo .btn-choose{
  float:left;
}

div#mdlAgregarConsejo span:before, div#mdlVerConsejoAudio span:before {
  content:unset;
}

div#mdlAgregarConsejo .input-group button,
div#mdlVerConsejoAudio .input-group button{
  padding: 6.5px 12px;
}

div#mdlVerConsejoAudio  .input-group input{
  padding-left: 1em;
}


div#mdlAgregarConsejo .modal-footer button , div#mdlVerConsejoTexto .modal-footer button,
div#mdlVerConsejoAudio .modal-footer button
{
  margin-left: 12px;
}

div#mdlAgregarConsejo .modal-footer button.btn-dark:hover{
  color: #ffffff!important;
}


div#mdlAgregarConsejo input#inpTitulo , div#registroTexto input , div#registroTexto textarea,
div#mdlVerConsejoAudio input#mdlAudioTitulo{
  border-radius: 15px;
}


div#mdlAgregarConsejo .input-group input, div#mdlAgregarConsejo .input-group input {
  padding: 6px 12px;!important;
}


section.consejos .txt-descripcion, section.consejos-favs .txt-descripcion{
  width: 300px;
  word-break: break-word;
  text-align: justify;
  padding-left: 40px;
  display: inline-block;
}

section.consejos .txt-descripcion span, section.consejos-favs .txt-descripcion span {
  font-size: 0.8em;
}


section.consejos span:before , section.consejos-favs span:before{
  content : unset;
}

section.consejos .resultados ul .material,
section.consejos-favs .resultados ul .material{
  cursor: pointer;
}

section.consejos .resultados ul .material:hover,
section.consejos-favs .resultados ul .material:hover{
  fill : #a8fa00;
}

section.consejos a.delete svg{
  cursor: pointer;

}

section.consejos a.edit{
  color:inherit;
  cursor:pointer;
}

section.consejos-favs .resultados li a.fav .svg {
  margin-left: 20px;
}

section.consejos span.msj-no-data{
  text-align: center;
  display: block;
  margin-top: 80px;
  color: #ffff;
}

/* SPINNER */
.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: relative;
  left: 39.5%;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #a8fa00;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #a8fa00;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 420px) {
  .half-circle-spinner {
    left: 30.5%;
  }
}

/* END SPINNER */

/* CUSTOM FANCY BOX STYLE*/
.fancybox-thumbs__list > a{
  background-size: contain !important;
}

.fancybox-button--play{
  display: none !important;
}
/* END FANCY BOX */

/*----CHAT----*/
.container-chat{
  padding: 40px 0px;
  width: 100%;
}

.container-chat {
  color: #ccc;
  padding: 0;
  background: #423750;
}
.chat h3 {
  padding: 20px 10px;
  margin: 0;
  font-size: 20px;
  text-transform: none;
}
.chat h3 span {
  font-size: 13px;
  font-family: "Montserrat-Light";
  float: right;
  margin-top: 5px;
}
.chat .contacts {
  border-top: 1px solid #ccc;
  overflow: auto;
  max-height: 489px;
}
.chat .cnt {
  padding: 10px;
  display: flex;
}

.chat .perfil {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}

.perfil > img {
  height: 100%;
  border-radius: 50%;
}

.chat .cnt .datos {
  display: inline-block;
  margin-left: 10px;
  width: 78%;
}
.chat .cnt .datos h4 {
  font-size: 16px;
  text-transform: none !important;
  font-family: GothamHTF-Light;
  margin: 0;
}
.chat .cnt .datos h4 span {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.chat .contacts .cnt:hover{
  cursor: pointer;
  opacity: 0.8;
  background: #161824;
}
.chat .cvs {
  background-color: #ccc;
  overflow: auto;
  padding-right: 10px;
}
.chat .name-cvs {
  background-color: #ccc;
  padding: 14px 10px;
}
.chat .name-cvs h4 {
  font-size: 24px !important;
  font-family: GothamHTF-Bold !important;
  margin-top: 4px !important;
  color: #423750;
}

.cvs ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.cvs ul li .perfil {
  margin: 0 10px;
}
.cvs ul li.received .message-received,
.cvs ul li.received .perfil
{
  float: left;
}
.cvs ul li.sent .message-sent,
.cvs ul li.sent .perfil
{
  float: right;
}

.cvs ul li.received .user {
  border: 1px solid white;
}

.cvs ul li.sent .perfil > img{
  border: 1px solid white;
}

.message-received {
  background-color: #ddd;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #423750;
}
.message-received:last-child{
   border-bottom-left-radius: 15px;
 }
.message-sent {
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #423750;
}
.message-sent:last-child{
   border-bottom-right-radius: 15px;
 }
.messages {
  max-width: 300px;
  display: inline-block;
  padding: 7px 13px;
}
.messages p{
  font-size: 11px;
  color: #717171;
  margin-bottom: 5px;
}
.messages p span {
  margin-left: 12px;
}
.message-sent p span {
  margin-left: 0;
  margin-right: 12px;
  color: #b7b7b7;
}
.message{
  clear: both;
  font-size: 12px;
  border-radius: 15px;
  line-height: 1.4;
  word-break: break-word;
}

.message-lateral{
  word-break: break-word;
}
.chat input {
  border-radius: 0;
  box-shadow: none;
}

.chat-unread img{
  border: 2px solid #a8fa00;
}

.chat-unread h4{
  font-weight: bold;
}

