.nav-pills {
    background-color: #202127;
}
.nav-pills li {
    margin: 0 !important;
    text-align: center;
}
.nav-pills li a {
    display: inline-flex;
    text-transform: uppercase;
    font-family: GothamHTF-Bold;
    font-size: 15px;
    padding: 10px 0;
    background-color: transparent !important;
    color: #fff;
}
.nav-pills li.active a {
    background-color: transparent;
    border-top: 3px solid #a8fa00;
    border-radius: 0;
}
.container-t {
    padding: 0 30px;
}
.options {
    text-align: right;
    margin-top: 20px;
}
.options .svg{
    width: auto;
    height: 17px;
    fill: #fff;
    display: inline-block;
}
.table#tblRegistros {
    color: #a9a7ab;
    margin-top: 30px;
}
.table#tblRegistros th {
    padding: 5px 10px !important;
    color: #fff;
}
.table#tblRegistros th .th-inner {
    font-family: GothamHTF-Light;
}
.table#tblRegistros th .svg {
    width: auto;
    height: 26px;
    fill: #fff;
}
.table#tblRegistros th .svg .st4 {
    stroke: #fff;
}
.table-hover > tbody > tr:hover {
    background-color: transparent;
}
.table#tblRegistros.table-bordered {
    border-color: #525056;
}
.table#tblRegistros.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
.table#tblRegistros.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th,
.table#tblRegistros.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #525056;
}
.table#tblRegistros tbody td {
    font-family: GothamHTF-Bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 5px;
    position: relative;
}

.mg-bt-6{
    margin-bottom: 6px !important;
}
.mg-bt-10{
    margin-bottom: 10px;
}

.fa-15x{
    font-size: 1.5em;
}

.svc-focus{
    color: #a8fa00 !important;
}

.servicio:not(.svc-focus):hover  {
    color: #337ab7 !important;
    cursor: pointer !important;
}

.div-fichas{
    cursor: pointer;
}

.mod-term-cond:hover{
    background: #00C853 !important;
    color: white;
}

.ficha-pick{
    border: 4px solid #a8fa00 !important;
}

.tarifa-svc-pick {
    border-bottom: 5px solid #a8fa00;
    border-radius: 20%;
}

.fa-plus-cs{
    cursor:pointer;
}

.img-cc{
    opacity: 0.3;
}

.div-fichas:hover{
    color: #a8fa00;
}

.padding-0{
    padding: 0px;
}

#pac-input{
    margin: 10px;
    width: 45%;
}

.svg-opcs{
    cursor: pointer;
}

.elegir-plantilla h6 {
    font-size: 11px;
}

.elegir-plantilla:hover {
    background: #feff8c !important;
}

.br-sp {
    border-radius: 60% !important;
    padding: 4px;
}

.sidebar li.active a {
    color: #a8fa00;

}
.sidebar li.active svg {
    fill: #a8fa00;
}

#tblRegistros svg:hover {
    cursor: pointer;
}

tbody svg {
    fill: #daffc6 !important;
}

.chat-lf{
    background: #f2f3f5;
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;
}

.chat-rg{
    background: rgba(230,242,245,.5);
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 20%;
}

.div-fichas{
    cursor: pointer;
}

.ico-upd-flag{
    cursor: pointer;
}
