<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <meta name="_ctx" th:content="@{/}"/>
    <meta charset="utf-8"/>
    <title> Runfit</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/font-awesome.min.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/style.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/smartadmin-production-plugins.min.css}+'?'+${version}" media="screen"/>


    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- #FAVICONS -->
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/img/favicon/favicon.ico}" type="image/x-icon"/>

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>
    <style>
        .hidden{
            display: none;
        }

        .usuario label{
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="login active">
    <a class="back" th:classappend="${usso != null ? 'hidden': ''}"
    th:href="@{/p/inicio}"><span class="fa fa-chevron-left"></span></a>
    <div class="avatar">
        <img th:src="@{/img/public/logo.png}+'?'+${version}"/>
    </div>
    <th:block th:if="${usso != null}">
    <div id="SsoLogin" class="" style="
        text-align: center;
        color: #a8fa00;">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    </th:block>
    <div class="login-sesion-alt" th:classappend="${usso != null ? 'hidden': ''}">
        <form id="login-form" action="#" th:action="@{/loginCheck}" method="post">
            <div class="form-group usuario"><span class="fa fa-user-o"></span>
                <label>Usuario</label>
                <input type="text" th:value="${usso != null ? usso.email : ''}" id="username" name="username" placeholder="Username" maxlength="40"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
            <div class="form-group password"><span class="fa fa-unlock-alt"></span>
                <label>Contraseña</label>
                <span class="show-pass fa fa-eye"></span>
                <input type="password" th:value="${usso != null ? usso.secret : ''}" id="password" name="password" placeholder="Password" maxlength="30"/>
            </div>
            <div class="form-group text-right"><a th:href="@{/p/recuperar/password}">¿Olvido su contraseña?</a></div>
            <div th:if="${error =='error'}" class="alert alert-danger text-center" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                    class="fa fa-fw fa-warning"></i> Inválido username, password o cuenta inactiva
            </div>
            <div th:if="${error =='disabled'}" class="alert alert-danger text-center" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                    class="fa fa-fw fa-warning"></i> Cuenta inactiva
            </div>
            <div th:if="${error =='expired'}" class="alert alert-danger" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                    class="fa fa-fw fa-warning"></i> Inválido cliente o password
            </div>
            <div class="actions">
                <button class="btn-login" id="btn-login" type="submit">INGRESAR</button>
                <button class="btn-face" type="button"
                onclick="javascript: window.location.href = 'https://52.186.67.112:8081/oauth2/authorize/facebook?redirect_uri=http://52.186.67.112:8080/oauth2/redirect'">INGRESA CON FACEBOOK</button>
                <a id="btn-nuevo" class="btn-nuevo" href="javascript:goRegister()">SOY NUEVO</a>
            </div>
        </form>
    </div>
    <div class="register-guest">
        <form id="register-form" method="post">

            <div class="login-register-alt hidden">
                <div class="form-group form-alt usuario"><span class="fa fa-user-o"></span>
                    <label>Nombres</label>
                    <input id="Nombres" name="Nombres" type="text">
                </div>
                <div class="form-group form-alt usuario"><span class="fa fa-user-o"></span>
                    <label>Apellidos</label>
                    <input id="Apellidos" name="Apellidos" type="text">
                </div>
                <div class="form-group form-alt mail"><span class="fa fa-envelope-o"></span>
                    <label>Correo electrónico</label>
                    <input id="Correo" name="Correo" type="text">
                </div>
                <div class="form-group form-alt password"><span class="fa fa-unlock-alt"></span>
                    <label>Contraseña</label>
                    <input id="PasswordRegister" name="PasswordRegister" type="password">
                </div>
                <div class="form-group  password"><span class="fa fa-unlock-alt"></span>
                    <label>Confirmar Contraseña</label>
                    <input id="PasswordConfirmation" name="PasswordConfirmation"  type="password">
                </div>
                <div class="actions">
                    <button class="btn-guest-register" id="btn-register" name="btn-register" type="button">REGISTRAR</button>
                    <p>¿Ya es miembro de RunFit?</p><a class="btn-nuevo" href="javascript:goLogin()">INICIAR SESIÓN</a>
                </div>

            </div>

        </form>
    </div>

</div>



</body>
<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script th:src="@{/js/plugin/pace/pace.min.js}+'?'+${version}"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Remueve los 2 scrollers verticales -->


<script th:inline="javascript">
    /*<![CDATA[*/
    if (!window.jQuery) { var _ctx = document.querySelector('head meta[name="_ctx"]').getAttribute("content"); document.write('<script src=\"'+_ctx+'js/libs/jquery-3.2.1.min.js"><\/script>');}
    /*]]>*/
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    if (!window.jQuery.ui) { var _ctx = document.querySelector('head meta[name="_ctx"]').getAttribute("content"); document.write('<script src=\"'+_ctx+'js/libs/jquery-ui.min.js"><\/script>');}
    /*]]>*/
</script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->


<!-- BOOTSTRAP JS -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}+'?'+${version}"></script>
<script th:src="@{/js/jsfuente.js}+'?'+${version}"></script>
<script th:src="@{/js/forms.js}+'?'+${version}"></script>
<script th:src="@{/js/notification/SmartNotification.min.js}+'?'+${version}"></script>

<!-- JQUERY VALIDATE -->
<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}+'?'+${version}"></script>
<script th:src="@{/js/public/login.js}+'?'+${version}"></script>


<script>
    const ssoLogin = document.getElementById('SsoLogin');

    $(function () {

        const btnLogin = document.getElementById('btn-login');

        btnLogin.addEventListener('click',(e)=>{
            e.preventDefault();
            if($("#login-form").valid()){
                const btn = e.target;
                btn.setAttribute('disabled','disabled');
                document.getElementById('login-form').submit();
            }

        });
        const testing = false;
        // Validation
        $("#login-form").validate({
            // Rules for form validation}
            errorClass: 'help-block',
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                username: {
                    required: true,
                    rangelength: [7, 40]
                },
                password: {
                    required: true,
                    rangelength: [8, 30]
                },
            },
            // Messages for form validation
            messages: {
                username : {
                    required: "Por favor ingresa tu nombre de usuario"
                },
                password: {
                    required: "Por favor ingresa tu password"
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        if(testing) {
            document.querySelector('input[name="username"]').value = "trainer1@runfit.pe";
            document.querySelector('input[name="password"]').value = "runfit";
            document.getElementById('login-form').submit();
        }

        if(ssoLogin){
            btnLogin.click();
        }
    });

    //For show password button
    var passField = $('input[type=password]');
    $('.show-pass').hover(function() {
        passField.attr('type', 'text');
    }, function() {
        passField.attr('type', 'password');
    })


</script>


</body>
</html>
