<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <meta name="_ctx" th:content="@{/}"/>
    <meta charset="utf-8"/>
    <title> Runfit</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/font-awesome.min.css}+'?'+${version}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/style.css}+'?'+${version}"/>

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- #FAVICONS -->
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/img/favicon/favicon.ico}" type="image/x-icon"/>

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>
    <style>
        .hidden{
            display: none;
        }
        .help-block{
            color: #E54C4B;
        }
    </style>
</head>
<body>
    <div class="login active">
        <a class="back" th:href="@{/p/inicio}"><span class="fa fa-chevron-left"></span></a>
        <div class="login-bg"></div>
        <div class="avatar">
            <img th:src="@{/img/public/logo.png}+'?'+${version}"/>
        </div>
        <div class="login-sesion">
            <form id="login-form" action="#" th:action="@{/loginCheck}" method="post">
                <div class="form-group usuario"><span class="fa fa-user-o"></span>
                    <label>Usuario</label>
                    <input type="text" id="username" name="username" placeholder="Username" maxlength="30"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
                <div class="form-group password"><span class="fa fa-unlock-alt"></span>
                    <label>Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Password" maxlength="30"/>
                </div>
                <div class="form-group text-right"><a th:href="@{/p/recuperar/password}">¿Olvido su contraseña?</a></div>
                <div th:if="${error =='error'}" class="alert alert-danger text-center" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                        class="fa fa-fw fa-warning"></i> Inválido username, password o cuenta inactiva
                </div>
                <div th:if="${error =='disabled'}" class="alert alert-danger text-center" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                        class="fa fa-fw fa-warning"></i> Cuenta inactiva
                </div>
                <div th:if="${error =='expired'}" class="alert alert-danger" role="alert" style="padding-bottom: 13px;color:#f9382a"><i
                        class="fa fa-fw fa-warning"></i> Inválido cliente o password
                </div>
                <div class="actions">
                    <button class="btn-login" id="btn-login" type="submit">INGRESAR</button>
                    <a class="btn-nuevo" href="javascript:goRegister()">SOY NUEVO</a>
                </div>
            </form>
        </div>

        <form id="register-form" method="post">

        <div class="login-register hidden">
            <div class="form-group usuario"><span class="fa fa-user-o"></span>
                <label>Nombres</label>
                <input id="nombres" name="nombres" type="text">
            </div>
            <div class="form-group usuario"><span class="fa fa-user-o"></span>
                <label>Apellidos</label>
                <input id="apellidos" name="apellidos" type="text">
            </div>
            <div class="form-group mail"><span class="fa fa-envelope-o"></span>
                <label>Correo electrónico</label>
                <input id="email" name="email" type="text">
            </div>
            <div class="form-group password"><span class="fa fa-unlock-alt"></span>
                <label>Contraseña</label>
                <input id="passwordRegister" name="passwordRegister" type="password">
            </div>
            <div class="form-group password"><span class="fa fa-unlock-alt"></span>
                <label>Confirmar Contraseña</label>
                <input id="passwordConfirmation" name="passwordConfirmation"  type="password">
            </div>
            <div class="actions">
                <button class="btn-login" id="btn-register" name="btn-register" type="button">REGISTRAR</button>
                <p>¿Ya es miembro RunFit?</p><a class="btn-nuevo" href="javascript:goLogin()">INICIAR SESIÓN</a>
            </div>

         </form>
        </div>
    </div>
<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script th:src="@{/js/plugin/pace/pace.min.js}+'?'+${version}"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    if (!window.jQuery) { var _ctx = document.querySelector('head meta[name="_ctx"]').getAttribute("content"); document.write('<script src=\"'+_ctx+'js/libs/jquery-3.2.1.min.js"><\/script>');}
    /*]]>*/
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    if (!window.jQuery.ui) { var _ctx = document.querySelector('head meta[name="_ctx"]').getAttribute("content"); document.write('<script src=\"'+_ctx+'js/libs/jquery-ui.min.js"><\/script>');}
    /*]]>*/
</script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}+'?'+${version}"></script>

<!-- JQUERY VALIDATE -->
<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}+'?'+${version}"></script>
<script th:src="@{/js/jsfuente.js}+'?'+${version}"></script>
<script th:src="@{/js/public/login.js}+'?'+${version}"></script>

<script>
    $(function () {

        const btnLogin = document.getElementById('btn-login');

        btnLogin.addEventListener('click',(e)=>{
            e.preventDefault();
            if($("#login-form").valid()){
                const btn = e.target;
                btn.setAttribute('disabled','disabled');
                document.getElementById('login-form').submit();
            }

        });
        const testing = false;
        // Validation
        $("#login-form").validate({
            // Rules for form validation}
            ignore: ".ignore",
            highlight: function (element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');
            },
            rules: {
                username: {
                    required: true,
                    rangelength: [7, 30]
                },
                password: {
                    required: true,
                    rangelength: [8, 30]
                },
            },

            // Messages for form validation
            messages: {
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        if(testing) {
            document.querySelector('input[name="username"]').value = "trainer1@runfit.pe";
            document.querySelector('input[name="password"]').value = "runfit";
            document.getElementById('login-form').submit();
        }


    });
</script>


</body>
</html>
