<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
<span class="pull-left">
                <i data-placement="bottom" rel="tooltip" data-original-title="Reproducir" class="reprod-video fa fa-video-camera fa-fw padding-top-3" data-media="/1/36a25880-ed66-47f1-ac79-8d2ee5fbf418.mp4"></i>
                <i data-placement="bottom" rel="tooltip" data-original-title="Reproducir" class="reprod-audio fa fa-play fa-fw padding-top-3" data-media="/1/3ac011a8-90b7-46d2-9b87-795899174b79.mp3"></i>
                <i class="fa fa-star txt-color-blue ele-ops padding-top-3" rel="popover" data-placement="right" data-content="
                <div class='row ops-r'>
                    <i rel='tooltip' data-original-title='Agregar nota' data-trigger='hover' class='fa fa-sticky-note agregar-nota fa-15x txt-color-yellow padding-5 clickable' data-index='10' data-dia-index='1'></i>
                    <i rel='tooltip' data-original-title='Eliminar audio' data-trigger='hover' class='fa fa-music fa-15x txt-color-grayDark padding-5 clickable trash-audio' data-index='10' data-dia-index='1'></i>
                    <i rel='tooltip' data-original-title='Eliminar video' data-trigger='hover' class='fa fa-video-camera fa-15x txt-color-blue padding-5 clickable trash-video' data-index='10' data-dia-index='1'></i>
                    <i rel='tooltip' data-original-title='Insertar encima del elemento' data-trigger='hover' class='fa fa-arrow-up fa-15x txt-color-black padding-5 clickable insertar-encima' data-index='10' data-dia-index='1'></i>
                    <i rel='tooltip' data-original-title='Reemplazar elemento' data-trigger='hover' class='fa fa-refresh fa-15x txt-color-green padding-5 clickable' data-index='10'></i>
                    <i rel='tooltip' data-original-title='Insertar debajo del elemento' data-trigger='hover' class='fa fa-arrow-down fa-15x txt-color-black padding-5 clickable insertar-debajo' data-index='10' data-dia-index='1'></i>
                    <span rel='tooltip' data-original-title='Agregar KM's data-trigger='hover' class='fa-15x txt-color-black padding-5 clickable agregar-kms' data-index='10' data-dia-index='1' contenteditable='true'>KM</span>
                    <i rel='tooltip' data-original-title='Eliminar elemento' data-placement='top' data-dia-index='1' data-index='10' class='fa fa-trash fa-15x padding-5 txt-color-redLight trash-elemento'></i>
                </div>
            " data-html="true" data-dia-index="1" data-index="10" data-toggle="popover" data-original-title="" title=""></i>
                                                            </span>
</body>
</html>