<!DOCTYPE html>
<html lang="en-us" style="background-color: #fff;"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Gestión - Planes prediseñados</title>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>
</head>
<style>
    .btn-circle {
        float: right!important;
        border-radius: 50%;
        font-size: 20px;
        background-color: #bcbcbc;
        color: #fff;
        top: -70px;
        position: relative;
        right: 220px;
    }
    .btn-dark{
        color:#ffffff!important;
        background-color: #000000;
    }
    .title-categoria,.title-subcategoria{
        word-wrap: break-word;
        width: 200px;
        /* text-align: center; */
        margin: auto;
        /* height: 100px; */
        font-family: GothamHTF-Book;
        color: #daffc6;
        font-size: 28px;
        line-height: 1;
        font-weight: 600;
    }
    .title-categoria.sm, .title-subcategoria.sm {
        font-size: 16.5px;
        line-height: 1.2;
    }
    .title-categoria.md,.title-subcategoria.md{
        font-size: 25px;
    }
    .title-categoria.lg, .title-subcategoria.lg
    {
        font-size: 48px;
    }
    .owl-dots {
        max-width: 45%;
    }

    .pb-100{
        padding-bottom: 60px;
    }
</style>
<body style="background-color: #fff;">
<div id="wrapper">

    <div class="modal fade" id="modalNuevaCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="nuevaCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>NUEVA CATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="nuevaCategoria">
                            <form id="nueva_categoria_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreCategoria" name="nombreCategoria" type="text" class="form-control">
                                </div>
                                <div class="form-group form-alt">
                                    <label> TIPO DE RUTINA </label>
                                   <div class="text-center">
                                    <ul class="checks text-center">
                                        <li>
                                            <label class="chk-content">PLANTILLA ESTÁNDAR
                                                <input type="checkbox" name="cbNuevaCategoria" value="2"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="chk-content">PLANTILLA RUNNING
                                                <input type="checkbox" name="cbNuevaCategoria" value="1"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                   </div>


                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-darkgrey" onclick="agregarCategoria()">AGREGAR CATEGORIA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalEditarCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="editarCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>EDITAR CATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="editarCategoria">
                            <form id="editar_categoria_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreCategoriaEdit" name="nombreCategoriaEdit" class="form-control" type="text">
                                </div>
                                <div class="form-group form-alt">
                                    <label> TIPO DE RUTINA </label>
                                  <div class="text-center">
                                    <ul class="checks text-center">
                                        <li>
                                            <label class="chk-content">PLANTILLA ESTÁNDAR
                                                <input type="checkbox" name="cbEditarCategoria" value="2"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="chk-content">PLANTILLA RUNNING
                                                <input type="checkbox" name="cbEditarCategoria" value="1"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                  </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-dark" onclick="eliminarCategoria()" id="btnEliminarCategoria">ELIMINAR CATEGORIA </button>
                        <button class="btn btn-md btn-darkgrey"  id="btnEditarCategoria" onclick="actualizarCategoriaPlantilla()">GUARDAR CAMBIOS</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalNuevaSubCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="nuevaSubCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>NUEVA SUBCATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="nuevaSubCategoria">
                            <form id="nueva_sub_categoria_frm"  method="post">
                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreSubCategoria" name="nombreSubCategoria" type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-darkgrey" onclick="agregarSubCategoria()">AGREGAR SUBCATEGORIA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalEditarSubCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="editarSubCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>EDITAR SUBCATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="editarSubCategoria">
                            <form id="editar_subcategoria_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreSubCategoriaEdit" name="nombreSubCategoriaEdit" class="form-control" type="text">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-dark" onclick="eliminarSubCategoria()" id="btnEliminarSubCategoria">ELIMINAR SUBCATEGORIA </button>
                        <button class="btn btn-md btn-darkgrey"  id="btnEditarSubCategoria" onclick="actualizarSubCategoriaPlantilla()">GUARDAR CAMBIOS</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalNuevaRutina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="nuevaRutinaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>NUEVA RUTINA PREDISEÑADA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="nuevaRutina">
                            <form id="nueva_rutina_pred_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label> NOMBRE </label>
                                    <input id="nombreRutina" class="form-control" name="nombreRutina" type="text">
                                </div>

                                <div class="form-group form-alt">
                                    <label> SEMANAS </label>
                                    <input id="semanasRutina" class="form-control" name="semanasRutina" type="number">
                                </div>



                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md" onclick="agregarRutina()">AGREGAR RUTINA PREDISEÑADA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalEditarRutina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="editarRutinaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>EDITAR RUTINA PREDISEÑADA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="editarRutina">
                            <form id="editar_rutina_pred_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label> NOMBRE </label>
                                    <input id="nombreRutinaEdit" class="form-control" name="nombreRutinaEdit" type="text">
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md" onclick="actualizarRutina()" id="btnEditarRutina">EDITAR RUTINA PREDISEÑADA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <header>
        <ul class="nav nav-pills">
            <li class="icons"><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_guardar.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_abc.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-left.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-right.svg}"></a></li>
            <li class="active"><a href="#">listado</a></li>
            <li><a href="#">g. videos</a></li>
            <li><a href="#">rutinario</a></li>
            <li><a href="#">g. audios</a></li>
            <li><a href="#">planes prediseñados</a></li>
        </ul>
    </header>

    <section id="listaCategoria">
        <div class="container-t">
            <a th:href="@{/bienvenido}" class="logo-link">
               <img class="logoBlack"  th:src="@{/img/logo_black.png}">
            </a>
            <h2 class="title_carousel dots">planes<span>- pre diseñados</span></h2>

            <a data-toggle="modal" data-target="#modalNuevaCategoria" type="button" class="btn btn-circle btn-lg"  title="Registrar">

                <div>
                    <i class="fa fa-plus fa-2x"></i>
                </div>

            </a>

            <ul class="checks text-center">
                <li>
                    <label class="chk-content">PLANTILLA ESTÁNDAR
                        <input type="checkbox" class="radio" name="cbSeleccionTipo" value="2"><span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="chk-content">PLANTILLA RUNNING
                        <input type="checkbox" class="radio" name="cbSeleccionTipo" value="1"><span class="checkmark"></span>
                    </label>
                </li>
            </ul>
            <div class="flechas">
                <span class="pull-left"><img th:src="@{/img/right-scroll.png}"></span>
                <span class="pull-right"><img th:src="@{/img/left-scroll.png}"></span>
            </div>
            <div class="owl-carousel owl-theme" id="categoriaPlantillaCarousel">
            </div>

        </div>
        <div class="shadow-gris" style="background: unset">
            <div class="container-t">
                <div class="slider-container">
                    <input class="range-slider" type="range" id="range" value="0" name="range" min="0" step="1" max="5">
                </div>
            </div>
        </div>
    </section>


    <section id="listaSubCategoria">
        <div class="container-t">
            <div class="text-center pb-100">
             <a class="scroll" href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-top.svg}"></a>
            </div>
            <a th:href="@{/bienvenido}" class="logo-link">
                <img class="logoBlack"  th:src="@{/img/logo_black.png}">
            </a>
            <h1 class="title_big"> </h1>

            <a data-toggle="modal" data-target="#modalNuevaSubCategoria" type="button" class="btn btn-circle btn-lg" id="btnNuevaSubCategoria"  title="Registrar">
                <div>
                    <i class="fa fa-plus fa-2x"></i>
                </div>

            </a>

            <div class="flechas">
                <span class="pull-left"><img th:src="@{/img/right-scroll.png}"></span>
                <span class="pull-right"><img th:src="@{/img/left-scroll.png}"></span>
            </div>
            <div class="owl-carousel owl-theme" id="subCategoriaPlantillaCarousel">
            </div>

        </div>
        <div class="shadow-gris">
            <div class="container-t">
                <div class="slider-container">
                    <input class="range-slider" type="range" id="rangeSubCategoria" value="0" name="range" min="0" step="1" max="5">
                </div>
            </div>
        </div>
    </section>


    <section id="info">
        <div class="container-t">
            <div class="text-center">
                <div class="form-group pull-left">
                    <div class="search">
                        <div class="input-group">
                            <input class="form-control" type="text" id="inpSearch">
                        </div>
                    </div>
                </div><a class="scroll" href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-top.svg}"></a>
                <div class="form-group pull-right">
                    <select class="form-control">
                        <option>1 - plan de 1 semanas</option>
                    </select>

                    <a data-toggle="modal" data-target="#modalNuevaRutina" type="button" href="#" class="btn btn-circle btn-lg" id="btnNuevaRutina" title="Nueva Rutina">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>

                </div>
            </div>
            <div class="clearfix"></div>
            <h1 class="title_big">15<span>km - </span><i>intermedios</i></h1>
            <ul class="list-plan">
            </ul>
            <div class="clearfix"></div>
        </div>
    </section>

</div>


<th:block th:insert="html-commons/tr/js :: fg-js"></th:block>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->

<script th:src="@{/js/planes-prediseniados.js}+'?'+${version}"></script>

</body>
</html>
