<!DOCTYPE html>
<html lang="en-us" style="background-color: #fff;"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>
</head>
<style>

    .btn-circle {
        float: right!important;
        border-radius: 50%;
        font-size: 20px;
        background-color: gainsboro;
        color: #fff;
        top: -70px;
        position: relative;
        right: 220px;
    }

    .title-categoria
    {
        word-wrap: break-word;
        width: 200px;
        /* text-align: center; */
        margin: auto;
        /* height: 100px; */
        font-family: GothamHTF-Book;
        color: #daffc6;
        font-size: 28px;
        line-height: 1;
        font-weight: 600;
    }

    .title-categoria.sm
    {
        font-size: 18px;
    }

    .title-categoria.md
    {
        font-size: 28px;
    }

    .title-categoria.lg
    {
        font-size: 48px;
    }

    .owl-dots {
        max-width: 45%;
    }
</style>
<body style="background-color: #fff;">
<div id="wrapper">

    <div class="modal fade" id="modalNuevaCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="nuevaCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>NUEVA CATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="nuevaCategoria">
                            <form id="nueva_categoria_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreCategoria" name="nombreCategoria" type="text" class="form-control">
                                </div>
                                <div class="form-group form-alt">
                                    <label> TIPO DE RUTINA </label>

                                    <ul class="checks text-center">
                                        <li>
                                            <label class="chk-content">PLANTILLA ESTÁNDAR
                                                <input type="radio" name="cbNuevaCategoria" value="2" checked><span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="chk-content">PLANTILLA RUNNING
                                                <input type="radio" name="cbNuevaCategoria" value="1"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>


                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md" onclick="agregarCategoria()">AGREGAR CATEGORIA</button>
                    </div>
         </div>
        </section>

     </div>
</div>

    <div class="modal fade" id="modalEditarCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="editarCategoriaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>EDITAR CATEGORÍA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="editarCategoria">
                            <form id="editar_categoria_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label>NOMBRE </label>
                                    <input id="nombreCategoriaEdit" name="nombreCategoriaEdit" class="form-control" type="text">
                                </div>
                                <div class="form-group form-alt">
                                    <label> TIPO DE RUTINA </label>

                                    <ul class="checks text-center">
                                        <li>
                                            <label class="chk-content">PLANTILLA ESTÁNDAR
                                                <input type="radio" name="cbEditarCategoria" value="2"  checked><span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="chk-content">PLANTILLA RUNNING
                                                <input type="radio" name="cbEditarCategoria" value="1"><span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>


                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md"  id="btnEditarCategoria" onclick="actualizarCategoriaPlantilla()">EDITAR CATEGORIA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalNuevaRutina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="nuevaRutinaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>NUEVA RUTINA PREDISEÑADA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="nuevaRutina">
                            <form id="nueva_rutina_pred_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label> NOMBRE </label>
                                    <input id="nombreRutina" class="form-control" name="nombreRutina" type="text">
                                </div>

                                <div class="form-group form-alt">
                                    <label> SEMANAS </label>
                                    <input id="semanasRutina" class="form-control" name="semanasRutina" type="number">
                                </div>

                                <div class="form-group form-alt">
                                    <label> DIAS </label>
                                    <input id="diasRutina" class="form-control" name="diasRutina" type="number">
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md" onclick="agregarRutina()">AGREGAR RUTINA PREDISEÑADA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modalEditarRutina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <section id="editarRutinaPlantilla">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black">
                        <strong>EDITAR RUTINA PREDISEÑADA</strong>  <i class="i-btn fa fa-close fa-15x mdl-dark-header pull-right" data-dismiss="modal"></i>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid padding-0 text-align-center" id="editarRutina">
                            <form id="editar_rutina_pred_frm"  method="post">

                                <div class="form-group form-alt">
                                    <label> NOMBRE </label>
                                    <input id="nombreRutinaEdit" class="form-control" name="nombreRutinaEdit" type="text">
                                </div>

                                <div class="form-group form-alt">
                                    <label> SEMANAS </label>
                                    <input id="semanasRutinaEdit" class="form-control" name="semanasRutinaEdit" type="number">
                                </div>

                                <div class="form-group form-alt">
                                    <label> DIAS </label>
                                    <input id="diasRutinaEdit" class="form-control" name="diasRutinaEdit" type="number">
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md" onclick="actualizarRutina()" id="btnEditarRutina">EDITAR RUTINA PREDISEÑADA</button>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <header>
        <ul class="nav nav-pills">
            <li class="col-md-3 icons"><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_guardar.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_abc.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-left.svg}"></a><a href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-right.svg}"></a></li>
            <li class="active col-md-1"><a href="#">listado</a></li>
            <li class="col-md-2"><a href="#">g. videos</a></li>
            <li class="col-md-2"><a href="#">rutinario</a></li>
            <li class="col-md-2"><a href="#">g. audios</a></li>
            <li class="col-md-2"><a href="#">planes prediseñados</a></li>
        </ul>
    </header>

    <section id="listaCategoria">
      <div class="container-t"><img class="logoBlack" th:src="@{/img/logo_black.png}">
        <h2 class="title_carousel dots">planes<span>- pre diseñados</span></h2>

        <a data-toggle="modal" data-target="#modalNuevaCategoria" type="button" class="btn btn-circle btn-lg"  title="Registrar">
          <div>
                     <i class="fa fa-plus fa-2x"></i>
          </div>

        </a>

        <ul class="checks text-center">
            <li>
                <label class="chk-content">PLANTILLA ESTÁNDAR
                    <input type="checkbox" class="radio" name="cbSeleccionTipo" value="2"><span class="checkmark"></span>
                </label>
            </li>
            <li>
                <label class="chk-content">PLANTILLA RUNNING
                    <input type="checkbox" class="radio" name="cbSeleccionTipo" value="1"><span class="checkmark"></span>
                </label>
            </li>
        </ul>
        <div class="owl-carousel owl-theme" id="planesCarousel">
        </div>

    </div>
    </section>

    <div class="shadow-gris">
        <div class="container-t">
            <div class="slider-container">
                <input class="range-slider" type="range" id="range" value="0" name="range" min="0" step="1" max="5">
            </div>
        </div>
    </div>

    <section id="info">
        <div class="container-t">
            <div class="text-center">
                <div class="form-group pull-left">
                    <div class="search">
                        <div class="input-group">
                            <input class="form-control" type="text" id="inpSearch">
                        </div>
                    </div>
                </div><a class="scroll" href="#"><img class="svg" th:src="@{/img/iconos-trainers/icon_arrow-top.svg}"></a>
                <div class="form-group pull-right">
                    <select class="form-control">
                        <option>1 - plan de 1 semanas</option>
                    </select>

                    <a data-toggle="modal" data-target="#modalNuevaRutina" type="button" href="#" class="btn btn-circle btn-lg" id="btnNuevaRutina" title="Nueva Rutina">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>

                </div>
            </div>
            <div class="clearfix"></div>
            <h1 class="title_big">15<span>km - </span><i>intermedios</i></h1>
            <ul class="list_plan">
          </ul>
            <div class="clearfix"></div>
        </div>
    </section>

</div>


<th:block th:insert="html-commons/tr/js :: fg-js"></th:block>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->

<script th:inline="javascript">

    const body = document.getElementsByTagName("body")[0];
    const owl = $('.owl-carousel');
    const cbox = $('input[type="radio"][name="cbNuevaCategoria"]');
    const mdlEditarCat = document.getElementById("modalEditarCategoria");
    const mdlEditarRutina = document.getElementById("modalEditarRutina");
    const mdlAgregarCat = document.getElementById("modalNuevaCategoria");
    const btnEditarCat = document.getElementById("btnEditarCategoria");
    const mdlAgregarRutina = document.getElementById("modalNuevaRutina");
    const btnEditarRutina = document.getElementById("btnEditarRutina");
    const btnNuevaRutina = document.getElementById("btnNuevaRutina");
    const ulListRutina = $('.list_plan');
    const anchorItemBody = $('.item-body a');

    const inpSearchRutina = document.getElementById('inpSearch');
    let currentRutinasData;
    const favoritos = [];

    let dataCategorias;

    $(function(){
        onInit();
    })

    function onInit(){
        checkBoxTipoChangeEvent();
        checkBoxasRadioButtons();
        obtenerCategorias();
        owl.on('click', '.item-header', categoriaClickListenerEvent);
        ulListRutina.on('click', 'li', rutinaClickListenerEvent);
        inpSearchRutina.addEventListener('input', searchRutinaEvent);
        owl.on('click', '.item-body', seleccionCategoriaEvent);
        constraintsValidation();
    }

    function seleccionCategoriaEvent(e){

            const input = e.target;
            let categoriaId;
            let catNombre;

            if(input.tagName.toUpperCase() === 'SVG'){

                const dsCategoria = e.currentTarget.dataset;
                categoriaId = dsCategoria.categoriaId;
                catNombre = dsCategoria.nombre;

            }else if (input.tagName.toUpperCase() === 'A'){

                categoriaId = input.getAttribute('data-categoria-id');
                catNombre = input.getAttribute('data-nombre');
            }

            $('section#info .title_big').text(catNombre);

            btnNuevaRutina.setAttribute('data-categoria-id' , categoriaId);

            obtenerRutinas(categoriaId);


            $("section#info").slideDown(200);
            $( 'html, body' ).stop().animate({
                scrollTop: $("section#info").offset().top
            });
            return false;

    }

    function scrollEvent(){

        $(".scroll").click(function() {
            $("section#info").slideUp(200);
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    }

    function agregarCategoria() {


        if ($('#nueva_categoria_frm').valid()) {
            const nombre = $('#nombreCategoria').val()
            const tipoRutina = $('input[type="radio"][name="cbNuevaCategoria"]:checked').val();

            $.ajax({
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                url: _ctx + 'gestion/categoria-plantilla/agregar',
                data: {
                    nombre: nombre,
                    tipo: tipoRutina,
                    favorito : false
                },
                dataType: 'json',
                success: (data) => {


                },
                error: (d) => {

                },
                complete: (d) => {
                    $(mdlAgregarCat).modal('hide');
                    obtenerCategorias();
                }


            })

        }

    }

    function obtenerCategorias(){

   //     const nombre = $('#nombreCategoria').val()
   //     const tipoRutina = $('input[type="checkbox"][name="cbSeleccionTipo"]:checked').val();

        $.ajax({
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx+'gestion/categoria-plantilla/obtener',
            dataType: 'json',
            success: (data) =>  {
                dataCategorias = data;
                if(dataCategorias.length>0){
                    obtenerCategoriasPlantillas(dataCategorias);
                }
            } ,
            error: (d) =>{

            },
            complete: (d) =>{


            }
        })

    }

    function actualizarCategoriaPlantilla() {

        if ($('#editar_categoria_frm').valid()) {

            const nombre = $('#nombreCategoriaEdit').val()
            const tipoRutina = $('input[type="radio"][name="cbEditarCategoria"]:checked').val();
            const categoriaId = Number(btnEditarCat.getAttribute("data-categoria-id"));

            $.ajax({
                type: 'PUT',
                url: _ctx + "gestion/categoria-plantilla/actualizar",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {id: categoriaId, nombre: nombre, tipo: tipoRutina},
                dataType: 'json',
                success: (d) => {
                    console.log(d);
                },
                error: (e) => {
                },
                complete: (c) => {
                    obtenerCategorias();
                    $(mdlEditarCat).modal('hide');
                }

            })
        }
    }

    function obtenerCategoriasPlantillas(dataCategorias){

        dataCategorias = dataCategorias.sort( function(a,b){
            if (a.favorito > b.favorito) return -1;
            if (a.favorito < b.favorito) return 1;
            if (a.id < b.id) return -1;
            if (a.id > b.id) return 1;
            return 0;
        });

        let itemsCategoria = "";
        dataCategorias.forEach(function(element) {
        let claseCategoria = "title-categoria";
        let tamanio = element.nombre.length <= 5 && 1 <= (element.nombre).split("").length <= 2  ? "lg" :
            (element.nombre.length < 18 && 1 <= (element.nombre).split("").length <= 4  ?  "md" : "sm");
        claseCategoria += " "+ tamanio;
         if(element.favorito){

            favoritos.push(element.id);
             itemsCategoria += `
              <div class="item" >
                <div class="item-header"><a class="star selected" data-categoria-id = "${element.id}"><img class="svg" src="/img/iconos-trainers/icon_star.svg"></a><a data-toggle="modal" class="icon-edit" data-target="#modalEditarCategoria" type="button" href="#"  data-categoria-id ="${element.id}"  data-nombre="${element.nombre}" data-tipo ="${element.tipo}"><img class="svg" src="/img/iconos-trainers/icon_edit.svg"  ></a><div class="${claseCategoria}"> <p> ${element.nombre} </> </div> </div>
                <div class="item-body"><img class="svg" src="/img/iconos-trainers/icon_tablero.svg"><a data-categoria-id ="${element.id}"  data-nombre="${element.nombre}"><img class="svg" src="/img/iconos-trainers/icon_add.svg">Agregar</a></div>
              </div>
              `;
         }else{
             itemsCategoria += `
             <div class="item" >
                <div class="item-header"><a class="star" data-categoria-id = "${element.id}"><img class="svg" src="/img/iconos-trainers/icon_star.svg"></a><a data-toggle="modal" class="icon-edit" data-target="#modalEditarCategoria" type="button" href="#" data-categoria-id ="${element.id}"  data-nombre="${element.nombre}" data-tipo ="${element.tipo}"><img class="svg" src="/img/iconos-trainers/icon_edit.svg" ></a><div class="${claseCategoria}"> <p> ${element.nombre} </p> </div> </div>
                <div class="item-body"><img class="svg" src="/img/iconos-trainers/icon_tablero.svg"><a data-categoria-id ="${element.id}"  data-nombre="${element.nombre}"><img class="svg" src="/img/iconos-trainers/icon_add.svg">Agregar</a></div>
             </div>
           `;

         }
        });
        $('.owl-carousel').trigger('replace.owl.carousel', itemsCategoria).trigger('refresh.owl.carousel');
        $('.owl-item').css('width','229.8px');
        $('.owl-item').css('margin-right','10px');
         imgtoSvgEvent();

    }


    function actualizarFavoritoCategoria(categoriaId) {

            $.ajax({
                type: 'PUT',
                url: _ctx + "gestion/categoria-plantilla/actualizar-favorito",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {id: categoriaId},
                dataType: 'json',
                success: (d) => {

                },
                error: (e) => {

                },
                complete: (c) => {
               //     obtenerCategorias();
               //     $(mdlEditarCat).modal('hide');
                }

            })
    }

    function checkBoxasRadioButtons(){

        $("input:checkbox").on('click', function() {
            let $box = $(this);
            if ($box.is(":checked")) {
                let group = "input:checkbox[name='" + $box.attr("name") + "']";
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });

    }

    function checkBoxTipoChangeEvent() {

        $("input:checkbox").on('change', function () {


            let cbSeleccionado = $(this)[0].value;

           if($("input:checkbox[name='cbSeleccionTipo']:checked").length === 0){
               obtenerCategoriasPlantillas(dataCategorias);
           }else{
                console.log(cbSeleccionado);
                let dataCategoriasTipo = dataCategorias.filter( (e) => e.tipo ===  Number(cbSeleccionado) );
                obtenerCategoriasPlantillas(dataCategoriasTipo);
           }
        })
    }


    function categoriaClickListenerEvent(e){
        const input = e.target;
        const parentStarDOM = ($(input).parent().closest('.star'));
        const parentEditDOM = ($(input).parent().closest('.icon-edit'));

        const starElement = parentStarDOM[0];
        const editElement = parentEditDOM[0];

        if(starElement){

            const starClases = starElement.classList;
            const categoriaId =  Number(starElement.getAttribute('data-categoria-id'));
            actualizarFavoritoCategoria(categoriaId);
            let dataCategoriaIx = dataCategorias.findIndex( e => e.id === categoriaId );

            if(starClases.contains('selected')){
              //  const categoriaId =  Number(starElement.getAttribute('data-categoria-id');
                starClases.remove('selected');
                let index = favoritos.findIndex( e => e === categoriaId);
                favoritos.splice(index,1);
                dataCategorias[dataCategoriaIx].favorito =  false;


            }else{
                starClases.add('selected');
                const categoriaId =  starElement.getAttribute('data-categoria-id');
                !favoritos.includes('categoriaId') ? favoritos.push(Number(categoriaId)) : null;
                dataCategorias[dataCategoriaIx].favorito =  true;

            }

            obtenerCategoriasPlantillas(dataCategorias);

        }

        else if(editElement){
            const nombre = editElement.getAttribute("data-nombre");
            const categoriaId = editElement.getAttribute("data-categoria-id");
            const tipoCategoria = Number(editElement.getAttribute("data-tipo"));
            const txtNombre = mdlEditarCat.querySelector('#nombreCategoriaEdit');
            const cbTipoCategoria = mdlEditarCat.querySelectorAll('input[name="cbEditarCategoria"][value="'+ tipoCategoria+'"]');
            txtNombre.value = nombre;
            console.log(nombre);
            $(cbTipoCategoria).prop('checked','true');
            btnEditarCat.setAttribute("data-categoria-id",categoriaId);
        }
    }

    function rutinaClickListenerEvent(e){
        const input = e.target;
        const parentEditDOM = ($(input).parent().closest('.edit'));
        const editElement = parentEditDOM[0];
        const txtNombre = mdlEditarRutina.querySelector('#nombreRutinaEdit');
        const txtSem = mdlEditarRutina.querySelector('#semanasRutinaEdit');
        const txtDias = mdlEditarRutina.querySelector('#diasRutinaEdit');
        let id,nombre,semanas,dias;

        if(editElement) {
            nombre = editElement.getAttribute('data-rutina-nombre');
            semanas = editElement.getAttribute('data-rutina-sem');
            dias = editElement.getAttribute('data-rutina-dias');
            id = editElement.getAttribute('data-rutina-id');

            txtNombre.value = nombre;
            txtSem.value = semanas;
            txtDias.value = dias;

            btnEditarRutina.setAttribute('data-rutina-id',id);
            $(mdlEditarRutina).modal('show');
        }
    }

    function searchSvg(path){
        let svg = path;
        while(svg.tagName.toUpperCase() !== "SVG"){
            svg = svg.parentElement;
        }
        return svg;
    }

    function agregarRutina(){

    if( $('#nueva_rutina_pred_frm').valid()){

     const nombreRotulo = $('#nombreRutina').val();
     const semanas = $('#semanasRutina').val();
     const dias = $('#diasRutina').val();
     const id = btnNuevaRutina.getAttribute('data-categoria-id');
     const obj = {
                   nombre : nombreRotulo,
                   totalSemanas : semanas,
                   dias : dias,
                   anios : Math.floor(dias/365),
                   meses : Math.floor(dias/30),
                   categoriaPlantilla : id
                }

       $.ajax({
          type: 'POST',
          url: _ctx + 'gestion/rutina-plantilla/agregar',
          dataType:'json',
          contentType: 'application/json',
          data : JSON.stringify(obj),
          success: (s) =>{
              obtenerRutinas(id);
              $(mdlAgregarRutina).modal('hide');
              $("html, body").animate({ scrollTop: $(document).height() }, 1000);
          },
          error: (e) =>{
          },
          complete: (c) =>{
                    }
        });
     }
    }
    function actualizarRutina() {


        if ($('#editar_categoria_frm').valid()) {

            const nombreRotulo = $('#nombreRutinaEdit').val();
            const semanas = $('#semanasRutinaEdit').val();
            const dias = $('#diasRutinaEdit').val();
            const id = btnEditarRutina.getAttribute('data-rutina-id');
            const categoriaId = btnNuevaRutina.getAttribute('data-categoria-id');

            const obj = {
                id: id,
                nombre: nombreRotulo,
                totalSemanas: semanas,
                dias: dias,
                anios: Math.floor(dias / 365),
                meses: Math.floor(dias / 30),
                categoriaPlantilla: categoriaId
            }


            $.ajax({
                type: 'PUT',
                url: _ctx + 'gestion/rutina-plantilla/actualizar',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: (s) => {
                    obtenerRutinas(categoriaId);
                    $(mdlEditarRutina).modal('hide');
                },
                error: (e) => {
                },
                complete: (c) => {
                }
            });
        }

    }

    function obtenerRutinas(catId){

        $.ajax({
            type: 'GET',
            url: _ctx + 'gestion/rutina-plantilla/listar',
            data: { catId: catId
              },
            dataType:'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
           success: (data) => {
                generarRutinasCategoriaDOM(data);
                currentRutinasData = data;
            },
            error: (e) =>{
            },
            complete: (c) =>{
            }
        });
    }

    function generarRutinasCategoriaDOM(dataRutina){

      const ulListadoRutinas = document.getElementsByClassName('list_plan')[0];
      ulListadoRutinas.innerHTML ="";

      dataRutina.forEach( (element) =>{

          const rutina = htmlStringToElement(`
                                       <li class="col-md-4">
                                        <img class="plantilla svg" src="/img/iconos-trainers/icon_leyenda.svg"> ${element.nombre.toUpperCase()}
                                        <a class="edit" data-rutina-id="${element.id}" data-rutina-sem="${element.totalSemanas}" data-rutina-nombre="${element.nombre}" data-rutina-dias="${element.dias}"><img class="svg" src="/img/iconos-trainers/icon_edit.svg"></a>
                                        </li>
          `);

           ulListadoRutinas.appendChild(rutina);
      })
      imgtoSvgEvent();
    }

    function constraintsValidation()
    {
        $('#nueva_categoria_frm').validate({
            rules:{
                nombreCategoria : {
                    required: true,
                    rangelength: [1, 30]
                }
            },
            messages: {
            }
        });

        $('#editar_categoria_frm').validate({
            rules:{
                nombreCategoriaEdit : {
                    required: true,
                    rangelength: [1, 30]
                }
            },
            messages: {
            }
        });

        $('#nueva_rutina_pred_frm').validate({
            rules:{
                nombreRutina : {
                    required: true,
                    maxlength : 30
                },
                semanasRutina : {
                    required: true,
                    range: [6, 84]
                },
                diasRutina : {
                    required : true,
                    range : function(){
                         let semanaValue = Number($('#semanasRutina').val());
                         return [semanaValue * 7 - 6 , semanaValue * 7];
                     }
                }
            },
            messages: {
                diasRutina : {
                   range : function (e) {

                        if($('#semanasRutina').valid()) {
                            return `Se requiere que la cantidad de días esté entre ${e[0]} y ${e[1]} de acuerdo a la cantidad de semanas indicada`;
                        }else{
                            return 'Complete primero el campo semana de manera correcta';
                        }
                         }}}
        });

        $('#editar_rutina_pred_frm').validate({
            rules:{
                nombreRutinaEdit : {
                    required: true,
                   maxlength : 30
                },
                semanasRutinaEdit : {
                    required: true,
                    range: [6, 84]
                },
                diasRutinaEdit : {
                    required : true,
                    range : function(){
                        let semanaValue = Number($('#semanasRutinaEdit').val());
                        return [semanaValue * 7 - 6 , semanaValue * 7];
                    }
                }
            },
            messages: {
                diasRutinaEdit : {
                    range : function (e) {

                        if($('#semanasRutinaEdit').valid()) {
                            return `Se requiere que la cantidad de días esté entre ${e[0]} y ${e[1]} de acuerdo a la cantidad de semanas indicada`;
                        }else{
                            return 'Complete primero el campo semana de manera correcta';
                        }
                    }}}
        });
    }

    function searchRutinaEvent(filterInp){
        if(filterInp.data) {
            let filterText = filterInp.data.toUpperCase();
            const filteredData = currentRutinasData.filter( (el,index) => el.nombre.toUpperCase().indexOf(filterText) > -1);
            console.log(filteredData);
            generarRutinasCategoriaDOM(filteredData);
        }else{
            generarRutinasCategoriaDOM(currentRutinasData);
        }
    }

</script>
</body>
</html>

