<!DOCTYPE html>
<html lang="en-us"
	  xmlns:th="http://www.thymeleaf.org"
	  th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/in/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/in/css  :: fg-css"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/trainer.css}+'?'+${version}">
</head>
<style>
    .elegir-plantilla h6{
        font-size: 11px;
    }

    .elegir-plantilla:hover{
        background: #feff8c !important;
    }

    .br-sp{
        border-radius: 60% !important;
        padding: 4px;
    }

    .sidebar li.active a{
        color: #a8fa00;

    }
    .sidebar li.active svg{
        fill: #a8fa00;
    }

</style>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>

<!-- MAIN PANEL -->
<div id="main-content" role="main">
    <!-- MAIN CONTENT -->
    <div id="wrapper">
        <header>
            <!--<div class="text-center">
                <button class="navbar-toggle only_mobile" onclick="showMenuMobile()"><img class="svg" th:src="@{/img/iconos/icon_programas.svg}+'?'+${version}"></button><a class="only_mobile" th:href="@{/}"><img class="logo" th:src="@{/img/logo.png}+'?'+${version}" alt=""></a>
                <h4 class="user" th:inline="text"><img class="svg" th:src="@{img/iconos/icon_perfil.svg}+'?'+${version}">[[${#authentication.name}]]</h4>
            </div>-->
            <ul class="nav nav-pills">
                <li class="active col-md-2"><a href="#">listado</a></li>
                <li class="col-md-2"><a href="#">g. videos</a></li>
                <li class="col-md-3"><a href="#">rutinario</a></li>
                <li class="col-md-2"><a href="#">g. audios</a></li>
                <li class="col-md-3"><a href="#">planes prediseñados</a></li>
            </ul>
        </header>
        <div class="container-t">
            <div class="options">
                <img class="svg" th:src="@{/img/iconos/icon_chat.svg}+'?'+${version}">
                <img class="svg" th:src="@{/img/iconos/icon_candado.svg}+'?'+${version}">
            </div>
            <div class="input-group">
                <input class="form-control" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">BUSCAR</button>
                </div>
            </div>
            <fieldset>
                <section>
                    <!--<div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <h1 class="page-title txt-color-blueDark">
                                        <i class="fa fa-group fa-fw"></i>
                                        Gestión
                                        <span>>
                                                <b>Red Fitness</b>
                                            </span>
                                    </h1>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <div class="container-fluid text-align-right">
                                        <div class="col-md-2 col-sm-2 col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="padding-10 btn btn-circle bg-color-redLight"><i class="fa fa-phone fa-15x txt-color-white"></i></a>
                                            <a href="javascript:void(0);" class="padding-10 btn btn-circle bg-color-orange"><i class="fa fa-cloud-download fa-15x txt-color-white"></i></a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="btn btn-success text-align-center" style="width: 100%">
                                                <i class="fa fa-money fa-fw txt-color-green"></i> Pagos
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="btn btn-primary text-align-center" style="width: 100%">
                                                <i class="fa fa-database fa-fw txt-color-redLight"></i> Base de Datos
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="btn btn-default" style="width: 100%">
                                                <i class="fa fa-bar-chart-o fa-fw txt-color-darken"></i> Estadísticas
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="btn btn-danger" style="width: 100%">
                                                <i class="fa fa-male fa-fw txt-color-white"></i>Consejos
                                            </a>
                                        </div>
                                        <div class="col-md-2 col-sm-2  col-xs-12 padding-5">
                                            <a href="javascript:void(0);" class="btn btn-primary" style="width: 100%">
                                                <i class="fa fa-calendar fa-fw txt-color-lighten"></i>Mis Rutinas
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row" id="view_list">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <form id="frm_busqueda">
                                <div class="form-horizontal">
                                    <div class="row margin-bottom-10">
                                        <div class="col col-md-6 col-sm-12 col-xs-12">
                                            <div class="col-md-3 col-xs-12">
                                            <label class="col-md-1 control-label-right"><b>Estado:</b></label>
                                            </div>
                                            <div class="col-md-5 col-xs-10">
                                                <select name="Estado" id="Estado" class="form-control input-sm ignore">
                                                    <option value="-1"> -- Todos --</option>
                                                    <option value="true">Activo</option>
                                                    <option value="false">Inactivo</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-xs-2">
                                                <a id="btnFiltrar" href="#" class="btn btn-primary" title="Buscar"><i
                                                        class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="col col-md-6 col-sm-12 col-xs-12 text-align-right">
                                            <h6><span class="padding-7">Pendientes Por Plan: <span class="txt-color-white bg-color-orange br-sp total-pp">0</span></span><span class="padding-7">Pendientes por enviar: <span class="txt-color-white bg-color-orange br-sp total-pe">0</span></span></h6>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--<div class="col-sm-12 col-md-12 col-lg-12">
                            <table id="tblRegistros" data-mobile-responsive="true">
                                <thead>
                                <tr>

                                    <th data-formatter="Opciones" data-halign="center" data-valign="middle"
                                        data-align="center" data-width="175">Acciones
                                    </th>
                                    <th data-formatter="estadoPlan" data-halign="center" data-valign="middle"
                                             data-align="center" data-width="70">Plan Status
                                    </th>
                                    <th data-formatter="formatterFechaFinalPlanificacion" data-field="fechaFinalPlanificacion" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="80">Fecha Fin Planificación
                                    </th>
                                    <th data-field="cliNombreCompleto" data-class="nombre-cliente" data-formatter="linkFormatter" data-halign="left" data-valign="middle" data-align="left">Nombre
                                    </th>
                                    <th data-field="cliMovil" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="115">Móvil
                                    </th>
                                    <th data-field="cliFechaUltimoAcceso" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="140">Último Acceso
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>-->
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table id="tblRegistros" data-mobile-responsive="true" class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th data-formatter="nota" data-halign="center" data-valign="middle"
                                        data-align="center" data-width="5%">Notas
                                    </th>
                                    <th data-formatter="fechaInicio" data-halign="center" data-valign="middle"
                                        data-align="center" data-width="10%"><img class="svg" th:src="@{/img/iconos/icon_calendar.svg}+'?'+${version}">
                                    </th>
                                    <th data-formatter="fechaFin" data-halign="center" data-valign="middle"
                                        data-align="center" data-width="10%"><img class="svg" th:src="@{/img/iconos/icon_calendar.svg}+'?'+${version}">
                                    </th>
                                    <th data-field="cliNombreCompleto" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="25%">Nombre y apellidos
                                    </th>
                                    <th data-field="NP" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="5%">N.P
                                    </th>
                                    <th data-field="Plantillas" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="5%">Plantillas
                                    </th>
                                    <th data-field="meses" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="10%">Meses
                                    </th>
                                    <th data-field="temporada" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="10%">Temporada
                                    </th>
                                    <th data-field="enviar" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="10%">Enviar
                                    </th>
                                    <th data-field="cliMovil" data-halign="center" data-valign="middle" data-align="center"
                                        data-width="10%">Teléfono
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </section>
            </fieldset>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- MODALS -->
<!-- MODAL MOSTRAR RUTINAS PLANTILLA -->
<div class="modal fade" id="myModalPlantillas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header txt-color-white bg-color-teal">
                <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-align-center"><strong>Mis Plantillas Rutina</strong></h4>
                <span id="CorreoCliente" hidden="hidden"></span>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <div id="Plantillas" class="row">
                    <!-- CONTENIDO DE LA MINI PLANTILLA -->
                </div>
                <div id="spRaw3" class="form-group">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL CREAR MINI RUTINA -->
<!-- MODAL PARA RUTINAS DE TIPO GENERAL -->
<div class="modal fade" id="myModalRutGen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header txt-color-white bg-color-teal">
                <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-align-center"><strong>Generación de rutina</strong></h4>

            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="col col-md-6">
                            <label for="RutFechaInicio">Fecha Inicio:</label>
                            <input id="RutFechaInicio" type="date" class="form-control">
                        </div>
                        <div class="col col-md-6">
                            <label for="RutFechaFinal">Fecha Inicio:</label>
                            <input id="RutFechaFinal" type="date" class="form-control">
                        </div>
                        <div style="" class="row text-center col-md-12 padding-top-10">Total semanas: <span id="MacroTotalSemanas">0</span></div>
                    </div>
                </div>
                <div id="spRaw4" class="form-group">
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="crearNuevaRutinaGeneral()" class="btn btn-primary">CREAR RUTINA</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL PARA RUTINAS DE TIPO GENERAL -->
<!-- END MODALS -->
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->

<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<th:block th:insert="html-commons/in/js :: fg-js"></th:block>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
<script th:src="@{/js/bootstrap-table.min.js}+'?'+${version}"></script>
<script th:src="@{/js/plugin/moment/moment.min.js}+'?'+${version}"></script>
<script th:src="@{/js/hashids.min.js}+'?'+${version}"></script>
<script th:src="@{/js/rutina.js}+'?'+${version}"></script>

<script th:inline="javascript">
    const fInitRutGen = document.getElementById('RutFechaInicio');
    const fFinRutGen = document.getElementById('RutFechaFinal');

    let $table = $('#tblRegistros');
    let $index = $('#Id');
    let $nota = '';
    let objForRutina = {};
    const modalPlantillas = document.querySelector('#myModalPlantillas');

    $(function () {        $countSinPlan = 0;
        $countPendientesEnvio = 0;

        listarRegistros();
        init();

        fInitRutGen.addEventListener('change', setTotalSemanas);
        fFinRutGen.addEventListener('change', setTotalSemanas);
        modalPlantillas.addEventListener('click', eventosClickModalPlantillas);
        $table[0].addEventListener('focusout', eventosGeneralesFocusOut);

        $("#btnNuevo").click(function () {
            irRegistro();
        });

        $("#btnFiltrar").click(function () {
            listarRegistros();
        });

        $('#frm_busqueda').submit(function (e) {
            e.preventDefault();
        });

    });

    function init(){
        const dt = new Date();

        let dateToString = d => `${d.getFullYear()}-${('00' + (d.getMonth() + 1)).slice(-2)}-${('00' + d.getDate()).slice(-2)}`;
        $('#RutFechaInicio').val(dateToString(dt));
        $('#RutFechaFinal').val(dateToString(dt));
    }

    function setTotalSemanas(){
        const fechaInicio = parseFromStringToDate(fInitRutGen.value);
        const fechaFin = parseFromStringToDate(fFinRutGen.value);
        const totDias = moment(fechaFin).diff(fechaInicio, 'days') + 1;
        const diasPrimeraSemana = fechaInicio.getDay() == 0 ? 1 : 7 - fechaInicio.getDay() + 1;
        document.querySelector('#MacroTotalSemanas').textContent = diasPrimeraSemana == 7 ? Math.ceil(totDias / 7) : 1 + Math.ceil((totDias - diasPrimeraSemana) / 7);
    }

    function eventosGeneralesFocusOut(e){

        if(e.target.classList.contains('nota-cliente')){
            let id = e.target.getAttribute('data-id');
            let nota = e.target.value.trim();
            let params = {};
            params.id = id;
            params.nota = nota;
            if($nota != nota){
                $.ajax({
                    type: 'PUT',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    url: _ctx+'gestion/trainer/red/anadir-nota',
                    data: params,
                    dataType: 'json',
                    success: (d)=>{
                        if(d=="-2"){

                            if($nota != ""){
                                if(nota == ""){
                                    e.target.parentElement.parentElement.querySelector('.ico-nota').children[0].classList.toggle('txt-color-grayDark');
                                    e.target.parentElement.parentElement.querySelector('.ico-nota').children[0].classList.toggle('txt-color-yellow');
                                }
                            }else{
                                e.target.parentElement.parentElement.querySelector('.ico-nota').children[0].classList.toggle('txt-color-grayDark');
                                e.target.parentElement.parentElement.querySelector('.ico-nota').children[0].classList.toggle('txt-color-yellow');
                            }
                            //Actualizando campo nota popover
                            e.target.parentElement.parentElement.querySelector('.ico-nota').setAttribute('data-content', nota);
                            e.target.parentElement.remove();
                        }
                    },error: (xhr)=>{
                        exception(xhr);
                    }
                    ,complete: ()=>{}
                })
            }else{
                e.target.parentElement.remove();
            }

        }
    }

    function listarRegistros() {

        if ($("#frm_busqueda").valid()) {

            $table.bootstrapTable('destroy');
            $table.bootstrapTable({
                url: _ctx + 'gestion/trainer/red/obtenerListado',
                pagination: true,
                sidePagination: 'client',
                pageSize: 10,
                onLoadSuccess: d => {
                    console.log(d);
                    //Activando los popover y tooltips
                    d.forEach(r=>{
                        r.estadoPlan == 1 ? ++$countSinPlan : '';
                        r.estadoPlan == 2 ? ++$countPendientesEnvio : '';
                    })
                    $('[data-toggle="popover"]').popover();
                    $('[rel="tooltip"]').tooltip();
                    $('.total-pe').text($countPendientesEnvio);
                    $('.total-pp').text($countSinPlan);
                    imgToSvg();
                },
                onLoadError: function (xhr) {
                    exception(xhr);
                },
            });
        }
    }

    function noCuentaConPrograma(){
        $.smallBox({color: "info", content: "<i>El atleta aún no cuenta con ninguna rutina asignada...</i>"})
    }

    function linkFormatter(value, row) {
        if(row.contadorRutinas == 0){
            return String('<a class="" href="#" onclick="javascript:noCuentaConPrograma()" title="El atleta aún no cuenta con ninguna rutina asignada">' + row.cliNombreCompleto + '</a>', value);
        }else{
            return String('<a class="" href="#" onclick="javascript:verUltimoPrograma(' + row.id +','+ row.cliId +',\''+ btoa(row.cliFechaNacimiento) +'\',\''+ btoa(row.cliNombreCompleto) + '\')" title="Ir al último programa">' + row.cliNombreCompleto + '</a>', value);
        }
    }

    function Opciones(value, row, index) {
        let opciones = '';
        let nota = row.nota == null?"":row.nota;
        if(nota == ""){
            opciones = `<a href='#' onclick='preAgregarNota(${row.id}, ${index}, this);' class="ico-nota" data-placement="top" data-toggle="popover" data-content="${nota}" data-trigger="hover"><i class='fa fa-sticky-note fa-2x txt-color-grayDark'></i></a> &nbsp &nbsp`;
        }else{
            opciones = `<a href='#' onclick='preAgregarNota(${row.id}, ${index}, this);' class="ico-nota" data-placement="top" data-toggle="popover" data-content="${nota}" data-trigger="hover"><i class='fa fa-sticky-note fa-2x txt-color-yellow'></i></a> &nbsp &nbsp`;
        }

        switch(row.estadoPlan) {

            case EstadoPlan.SIN_PLAN:
                let fnNuevoRutina = "crearNuevaRutina";
                if(row.predeterminadaFichaId == TipoFicha.GENERAL){
                    objForRutina.redFitId = row.id;
                    objForRutina.cliId = row.cliId;
                    objForRutina.ix = index;
                    objForRutina.contadorRutinas = row.contadorRutinas;
                    fnNuevoRutina = "abrirModalRutinaGen";
                }
                opciones += `<a data-toggle="modal" data-target="#myModalPlantillas"  onclick='javascript:asignarPlantilla(${row.id}, ${row.cliId},"${row.cliCorreo}",${index});' title='Asignar Rutina'><i class='fa fa-file-text fa-2x'></i></a> &nbsp &nbsp
                             <a href='#' onclick='javascript:${fnNuevoRutina}(${row.id},${row.cliId},${index}, ${row.contadorRutinas}, ${"\""+btoa(row.cliFechaNacimiento)+"\""}, ${"\""+btoa(row.cliNombreCompleto)+"\""});' title='Crear Rutina'><i class='fa fa-plus fa-2x'></i></a> &nbsp &nbsp`

                break;
            case EstadoPlan.EN_REVISION:
                opciones +=`<a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class="fa fa-file-text fa-2x"></i></a> &nbsp &nbsp
                            <a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class='fa fa-plus fa-2x'></i></a> &nbsp &nbsp`;
                break;
            case EstadoPlan.POR_ENVIAR:
                opciones +=`<a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class="fa fa-file-text fa-2x"></i></a> &nbsp &nbsp
                            <a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class='fa fa-plus fa-2x'></i></a> &nbsp &nbsp`;
                break;
            case EstadoPlan.INICIADO:
                opciones +=`<a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class="fa fa-file-text fa-2x"></i></a> &nbsp &nbsp
                            <a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class='fa fa-plus fa-2x'></i></a> &nbsp &nbsp`;
                break;
            default://EstadoPlan.COLMINADO
                opciones +=`<a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class="fa fa-file-text fa-2x"></i></a> &nbsp &nbsp
                            <a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="Ya se ha asignado una rutina al cliente" rel="tooltip"><i class='fa fa-plus fa-2x'></i></a> &nbsp &nbsp`;
                break;
        }
        opciones +=`<a href='javascript:void(0);' class="txt-color-grayDark" data-placement="top" data-original-title="La revisión de la rutina aún no ha sido aprobada" rel="tooltip"><i class="fa fa-send-o fa-2x"></i></a> &nbsp &nbsp`;
        opciones +=`<a href='#' onclick='javascript:crearNuevaRutina(${row.id},${row.cliId},${index}, ${row.contadorRutinas}, ${"\""+btoa(row.cliFechaNacimiento)+"\""}, ${"\""+btoa(row.cliNombreCompleto)+"\""});' title='Crear Rutina'><i class='fa fa-check fa-2x'></i></a>`;
        return opciones;
    }

    function abrirModalRutinaGen(){
        $('#myModalRutGen').modal('show');
    }

    function crearNuevaRutinaGeneral(){
        const rutina = getBasicosNueRutGen();
        rutina.redFitnessId = objForRutina.redFitId;
        rutina.clienteId = objForRutina.cliId;
        rutina.control = {};
        rutina.control.avanceSemanas = new Array(rutina.totalSemanas).fill("");

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: _ctx + "gestion/rutina/nueva/general",
            dataType: "json",
            bridgeMultipart: false,
            data: JSON.stringify(rutina),
            success: function (data) {
                const id = data.res;
                const rn = data.rdm;
                window.location.href = _ctx + 'rutina/edicion?key=' + id + '&rn=' + rn;//res.id para el caso = redFitnessId;
            },
            error: function (xhr) {
                exception(xhr);
            },
            complete: function () {}
        })

    }

    function getBasicosNueRutGen(){
        const $chelmoMacro = [];
        const totalSemanas = $('#MacroTotalSemanas').text().trim();
        //Semanas
        const fIni = parseFromStringToDate(document.querySelector('#RutFechaInicio').value);
        let fFin = parseFromStringToDate(document.querySelector('#RutFechaFinal').value);
        console.log(fIni, fFin);
        for(let i=0; i<totalSemanas;i++){
            const refDia = fIni.getDay();
            let diasParaFull = refDia==0?0:7-refDia;
            if(i == 0){
                const objFirtsWeek = {};
                objFirtsWeek.fechaInicio = moment(fIni).add((i*7), 'd').format('DD/MM/YYYY');
                objFirtsWeek.fechaFin = moment(fIni).add((i*7)+diasParaFull, 'd').format('DD/MM/YYYY');
                objFirtsWeek.flagFull = refDia == 1 ? true : false;
                const literales = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo"];//Artificio temporal(2 domingos)
                const dias = [];
                for(let i=0; i<diasParaFull+1; i++){
                    const fechaParse = parseFromStringToDate2(moment(fIni).add((i), 'd').format('DD/MM/YYYY'));
                    dias.push({fecha: moment(fIni).add((i), 'd').format('DD/MM/YYYY'), dia: fechaParse.getDate(), flagDescanso: false, literal: literales[fechaParse.getDay()], diaLiteral: fechaParse.getDate() + " "+ literales[fechaParse.getDay()]});
                }
                objFirtsWeek.lstDia = dias;
                $chelmoMacro.push(new Semana(objFirtsWeek))
            }else{
                $chelmoMacro.push(new Semana(undefined, parseFromStringToDate(moment($chelmoMacro[i-1].fechaFin).add(1, 'd').format('YYYY-MM-DD')),parseFromStringToDate(moment($chelmoMacro[i-1].fechaFin).add(7, 'd').format('YYYY-MM-DD'))));
            }
        }

        //Modificando fecha fin de la ultima semana en caso esta no se encuentre mapeada con los 7 días calendarios
        $chelmoMacro[totalSemanas-1].fechaFin = fFin;
        //Rutina
        const r = {};
        r.fechaInicio = fIni;
        r.fechaFin = fFin;
        r.dias = moment(fFin).diff(fIni, 'days') + 1;
        r.meses = Math.floor(r.dias/30);
        r.anios = Math.floor(r.meses/12);
        r.totalSemanas = Number(totalSemanas);
        r.semanas = $chelmoMacro;
        return r;
    }

    function crearNuevaRutina(id, clienteId, index, contadorRutinas, fechaNac, cliFullNombre){
        const datosAsURI = '&fn=' + fechaNac + '&nm=' + cliFullNombre;
        id = getHash32Id('rf-rutina', id);
        clienteId = getHash16Id('rf-rutina', clienteId);
        $.SmartMessageBox({
            title: "<i class='fa fa-bullhorn'></i> Workout Notification",
            content: "" +
                "<br/><h6>Confirmar:</h6>",
            buttons: '[NO][SI]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "SI") {
               window.location.href = _ctx+'rutina/pre?key='+id + '&rn='+clienteId + datosAsURI;//res.id para el caso = redFitnessId;
            }
        });

        setFechaActual(document.querySelectorAll('input[type="date"]'));

    }

    function verUltimoPrograma(redFitnessId, clienteId, fechaNac, cliFullNombre){
        const datosAsURI = '&fn=' + fechaNac + '&nm=' + cliFullNombre;
       window.location.href = _ctx+'rutina/edicion?key='+ getHash32Id('rf-rutina', redFitnessId) + '&rn='+ getHash16Id('rf-rutina', clienteId)+datosAsURI;
    }

    function estadoPlan(value, row){
        let icon = '';
        switch(row.estadoPlan){
            case EstadoPlan.SIN_PLAN:
                icon = `<span href="#" class="label label-danger"><i class="fa fa-warning fa-fw"></i> Sin Plan</span>`;
                break;
            case EstadoPlan.EN_REVISION:
                icon = `<span href="#" class="label label-info"><i class="fa fa-dot-circle-o fa-fw"></i> En Revisión</span>`;
                break;
            case EstadoPlan.POR_ENVIAR:
                icon = `<span href="#" class="label label-warning"><i class="fa fa-send fa-fw"></i> Pendiente de Envío</span>`;
                break;
            case EstadoPlan.INICIADO:
                icon = `<span href="#" class="label label-default bg-color-orange"><i class="fa fa-bolt fa-fw"></i> Plan Iniciado</span>`;
                break;
            default://EstadoPlan.COLMINADO
                icon = `<span href="#" class="label label-success"><i class="fa fa-check fa-fw"></i> Plan Finalizado</span>`;
                break;
        }
        return icon;
    }

    function formatterFechaFinalPlanificacion(value){
        if(value != undefined){
            let fecha = parseFromStringToDate2(value);
            let diasParaUltimaFecha = moment(fecha).diff(new Date(), 'days');
            if(diasParaUltimaFecha <8){
                return `<span href="#" class="label txt-color-red">${value}</span>`
            }else if(diasParaUltimaFecha <15){
                return `<span href="#" class="label txt-color-orangeDark">${value}</span>`
            }else{
                return `<span href="#" class="label txt-color-greenLight">${value}</span>`
            }
        }
        return "-";
    }

    function asignarPlantilla(redId, clienteId, correo , index){
        let plantillas = document.querySelector('#Plantillas');
        document.querySelector('#spRaw3').innerHTML = spinnerHTMLRawCsMessage('Cargando...');
        let params = {};
        params.clienteId = clienteId;
        params.redFitnessId = redId;
        $('#CorreoCliente').text(correo);
        $.ajax({
            type: 'GET',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx + 'gestion/rutina-plantilla/trainer/red/obtenerListado',
            dataType: 'json',
            data: params,
            success: function(data){
                if(data.length>0){
                    let htmlRaw = '';
                    data.forEach((plantilla,i)=>{
                        htmlRaw += `    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="row" style="border-radius: 5%;margin:5px;background: #cae6b9 !important;">
                                                <a href="#" onclick="javascript:elegirPlantillaParaCliente(${plantilla.id}, ${index});" class="elegir-plantilla" data-plantilla-id="${plantilla.id}" >
                                                    <h6 class="text-align-center bg-color-lighten txt-color-orangeDark">${i+1}</h6>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                                        <h6>Años: </h6>
                                                        <h6>Meses: </h6>
                                                        <h6>Semanas: </h6>
                                                        <h6>Dias: </h6>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                        <h6 class="text-align-center">${plantilla.anios} </h6>
                                                        <h6 class="text-align-center">${plantilla.meses} </h6>
                                                        <h6 class="text-align-center">${plantilla.totalSemanas} </h6>
                                                        <h6 class="text-align-center">${plantilla.dias}  </h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>`
                    })

                    plantillas.innerHTML = htmlRaw;
                }else{
                    plantillas.innerHTML = '<h6 class="text-align-center"><b>No se encontraron plantillas registradas...</b></h6>'
                }
            },
            error: function(xhr){
            },
            complete: function(){
                document.querySelector('#spRaw3').innerHTML = '';
            }
        })
    }

    function elegirPlantillaParaCliente(rutinaPlantillaId, ix){
        document.querySelector('#myModalPlantillas #Plantillas').innerHTML = spinnerHTMLRawCsMessage('Notificando a cliente... Espere por favor...');
        //ix: Nos servira para actualizar en el dom el flagEnActividad
        var actualStatus = document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').textContent;
        let params = {};
        params.rutinaPlantillaId = rutinaPlantillaId;
        params.correo = document.querySelector('#CorreoCliente').textContent.trim();

        $.ajax({
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            url: _ctx + 'gestion/rutina/agregar',
            dataType: 'json',
            data: params,
            success: function(){
                $.smallBox({content: '<i>Se le ha asignado exitosamente la rutina al cliente...</i>'})
                actualStatus == "Activo" ?
                    document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML = '<span class="label label-success">Activo</span>'
                    :
                    document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\'] .td-status').innerHTML= '<span class="label label-success">Activo</span>'
                //Removiendo la accion al boton de asignar
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[0].removeAttribute('onclick');
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[0].removeAttribute('data-toggle');
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[0].removeAttribute('data-target');
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[0].style.color="gray";
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[0].title="Ya se ha asignado una rutina al cliente";
                //2.
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[1].removeAttribute('onclick');
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[1].style.color="gray";
                document.querySelector('#tblRegistros tbody tr[data-index=\'' + ix + '\']').lastChild.children[1].title="Ya se ha asignado una rutina al cliente";
                $('#myModalPlantillas').modal('hide');
            },
            error: function(xhr){
            },
            complete: function(){
            }
        })
    }

    function preAgregarNota(clienteId, ix, e){
        let nota = e.getAttribute('data-content');
        var d1 = document.createElement('div');
        d1.className = 'row';
        d1.innerHTML = `<textarea class="nota-cliente" data-index="${ix}" data-id="${clienteId}" type="text" class="form-control" rows="3">${nota}</textarea>`;
        d1.style.margin = '4px 0 0';
        //Agregando el textarea para modificar la nota
        $table[0].querySelector('tbody').children[ix].children[0].appendChild(d1);
        $nota = nota.trim();
        //Pasando el foco al textarea creado
        $table[0].querySelector('tbody').children[ix].children[0].lastElementChild.children[0].focus()
    }

    function eventosClickModalPlantillas(e){}//No implemetada
</script>

</body>

</html>
