
<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
<head>
    <title>Mis clientes</title>
    <th:block th:insert="html-commons/tr/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/tr/css  :: fg-css"></th:block>

    <style>
        .help-block {
            display: block !important;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #de4747;
            width: 420px;
            font-size: 1.1em;
        }

        .fa-2x {
            font-size: 1.5em;
        }

    </style>
</head>
<style>


</style>
<body>
<th:block th:insert="html-commons/in/left-panel::fg-menu-desk"></th:block>
<th:block th:insert="html-commons/in/left-panel::fg-menu-mob"></th:block>
<div id="main-content">
    <div id="wrapper">
        <header>
            <ul class="nav nav-pills">
                <li class="active col-md-2"><a href="#">listado</a></li>
                <li class="col-md-2"><a href="#">videos</a></li>
                <li class="col-md-3"><a href="#">rutinario</a></li>
                <li class="col-md-2"><a href="#">audios</a></li>
                <li class="col-md-3"><a href="#">planes prediseñados</a></li>

            </ul>


        </header>
        <section id="suspendidos">
            <div class="container-t">
                <h2 id="tituloGestionSuspendidos" class="title_carousel"></h2>
                <div class="owl-carousel owl-theme" id="carouselSuspendidos">
                    <div class="item row" id="dvItemsSuspendidos">
                        <div id="dvCalendario" class="col-md-5">
                            <div class="panel-group">
                                <div class="panel panel-default" id="calendarioSuspendidos">

                                </div>
                            </div>

                            <div id="colores_suspendidos">



                                <!--          <span class='one'>Seleccionado</span>
                                          <span class='two'>Con cliente(s) suspendido(s)</span>
                                          <span class='three'>Sin cliente(s) suspendido(s)</span>
                                          <span class='four'>Inválido</span>"> -->

                                <a   class="fa fa-question-circle fa-2x" title=" <h4>Guía- Calendario </h4>  <span class='one'>Seleccionado</span>
                                    <span class='two'>Con cliente(s) suspendido(s)</span>
                                    <span class='three'>Sin cliente(s) suspendido(s)</span>
                                    <span class='four'>Inválido</span></div>" data-html="true" rel="tooltip"  data-placement="bottom" href="#"></a>

                            </div>
                        </div>
                        <div id="dvClientes" class="col-md-7">

                            <form id="filtroPeriodo-form" method="get">
                                <div class="input-group">
                                    <input id="inputPeriodo" name="inputPeriodo" class="form-control" type="text" placeholder="EJEMPLO: 01 / 2019">
                                    <div class="input-group-btn">
                                        <button id="btnBuscarPeriodo" class="btn btn-default" type="button">BUSCAR</button>
                                    </div>

                                </div>
                            </form>

                            <h3 id="fechaListaSuspendidos" class="date">enero 2019</h3>

                            <div id="dvSuspendidos">

                                <ul id="listaSuspendidos" class="users">

                                </ul>


                            </div>


                        </div>
                    </div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item">5</div>
                    <div class="item">6</div>
                    <div class="item">7</div>
                    <div class="item">8</div>
                    <div class="item">9</div>
                    <div class="item">10</div>
                    <div class="item">11</div>
                    <div class="item">12</div>


                </div>
            </div>
        </section>

    </div>
</div>
<th:block th:insert="html-commons/tr/js :: fg-js"></th:block>
<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->

<script th:src="@{/js/suspendido.js} + '?'+  ${version}"></script>

</body>
</html>
