<!DOCTYPE html>
<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org"
      th:with="version = ${#servletContext.getAttribute('version')}">
  <head>
    <title>Elección para pertenecer al staff Runfit | Fitness | Runfit</title>
    <th:block th:insert="html-commons/p/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/p/css  :: fg-css"></th:block>
  </head>
  <body>
    <nav th:replace="html-commons/p/header :: fg-header"></nav>
    <div th:replace="html-commons/reu-login :: fg-login"></div>
    <div id="wrapper">
      <div class="section banner home">
        <div class="bg-image"><img class="banner-home" th:src="@{/img/public/emprende.jpg}">
          <div class="container">
            <div class="title-page">
              <h1> <i>INTÉGRATE</i><span class="no-watch">000</span></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="trainers-form">
        <div class="row emprende-form">
          <div class="container"><img class="bg-image" th:src="@{/img/public/emprende_form.png}">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <h3>SI DESEAS FORMAR PARTE DE NUESTRA FAMILIA<span>DE ASESORES, CONTACTE CON NOSOTROS.</span></h3>
              <hr>
              <form class="row" id="frm_registro">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Correo">CORREO ELECTRÓNICO<span class="obligatorio">*</span></label>
                    <input name="Correo" id="Correo" class="form-control" type="text" disabled="disabled" th:value="${post.correo}">
                  </div>
                  <div class="form-group">
                    <label for="Movil">TELÉFONO<span class="obligatorio">*</span></label>
                    <input id="Movil" name="Movil" class="form-control" type="text" disabled="disabled" th:value="${post.movil}">
                  </div>
                  <div class="form-group">
                    <label for="NombreFull">NOMBRE COMPLETO<span class="obligatorio">*</span></label>
                    <input id="NombreFull" name="NombreFull" class="form-control" type="text" disabled="disabled" th:value="${post.nombreFull}">
                  </div>
                  <div class="form-group">
                    <label>TIPO DE PARNER: <span class="obligatorio">*</span></label>
                      <input class="form-control" type="text" th:value="${post.tipoTrainerId == 1 ? 'Asesor particular':'Asesor empresa'}" name="TipoTrainerId" id="TipoTrainerId" disabled="disabled"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mensaje">DEJANOS UN MENSAJE Y COMÉNTANOS SOBRE TUS INTERESES</label>
                    <textarea id="Mensaje" name="Mensaje" class="form-control" disabled="disabled" th:utext="${post.mensaje}"></textarea>
                  </div>
                </div>
                <div class="text-right">

                  <button class="btn btn-black" type="button" id="btnAprobar"><i class="fa fa-fw fa-check"></i>Aprobar</button>
                  <button class="btn btn-black" type="button" id="btnRechazar">Rechazar<i class="fa-fw fa fa-close"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer th:replace="html-commons/p/footer :: fg-footer"></footer>
    <th:block th:insert="html-commons/p/js :: fg-js"></th:block>
    <script th:inline="javascript">
      const btnAprobar = document.querySelector('#btnAprobar');
      const btnRechazar = document.querySelector('#btnRechazar');
      const body = document.querySelector('body');

      (function () {
        btnAprobar.addEventListener('click', enviarForm);
        btnRechazar.addEventListener('click', enviarForm);
        if (flag_form_populate) {
          btnAprobar.click();
        }
      })();

      function enviarForm(e){
          let decision = 0;
          if(e.target.id == "btnAprobar"){
            decision = 1;
          }
          sendForm(decision);
      }

      function sendForm(decision){
        const arrURI = window.location.href.split("/");
        const arenaHash = arrURI[arrURI.length-1];
        const i = decision;//num 0 o 1
        $.ajax({
          type: 'PUT',
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          url: _ctx + 'postulacion/decision?key=' + arenaHash + "&o="+i,
          dataType: "json",
          blockLoading: true,
          success: function (data, textStatus) {
            if (textStatus == "success") {
              reqSuccess(data);
              if(flag_form_populate){
                window.location.href = _ctx + "p/bandeja";
              }
            }
          },
          error: function (xhr) {
            exception(xhr);
          },
          complete: function () {

          }
        });
      }

    </script>
  </body>
</html>
