<th:block th:fragment="fg-js">
    <script th:src="@{/js/vendor/vendor_all.js}+'?'+${version}"></script>
    <script th:src="@{/js/plugin/fancybox/fancybox.js}+'?'+${version}"></script>
    <script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}+'?'+${version}"></script>
    <script th:src="@{/js/init.js}+'?'+${version}"></script>
    <script th:src="@{/js/notification/SmartNotification.min.js}+'?'+${version}"></script>
    <script th:src="@{/js/jsfuente.js}+'?'+${version}"></script>
</th:block>
